[2018-10-24 16:32] pi0 commented on #4177
Will be landed with #4160 :)

[2018-10-24 18:49] daspete commented on #2777
An easy and working way would be a fs.readdirSync which scans a specific directory, which contains all components which should be imported automatically, in the nuxt.config.js file...

nuxt.config.js example:

[code]

and then make a plugin, and include it in the nuxt.config.js file. This plugin loads all the components:

[code]

That way all Components located in the ~/components folder are loade

[2018-10-24 18:55] daspete commented on #2777
An easy and working way would be a fs.readdirSync which scans a specific directory, which contains all components which should be imported automatically, in the nuxt.config.js file...

nuxt.config.js example:

[code]

and then make a plugin, and include it in the nuxt.config.js file. This plugin loads all the components:

[code]

That way all Components located in the ~/components folder are loade

[2018-10-24 21:19] rejifald opened #4191 "Error page or error layout"
### What problem does this feature solve?

Error page is nor layout nor page.
Problem of this becomes when you have many different layouts, and error occurs.
Problem is error page looks different on each layout.
So problem is, that error page that looks same on every layout.

### What does the proposed changes look like?

I believe that we need be able to specify layout of error page, or have trul

[2018-10-24 21:47] pauldariye commented on #2777
This doesn't really solve it though @daspete. Have a look at nextjs' dynamic imports. A use case for which I've used dynamic imports is you're building components for content blocks in a cms. A page in the cms may contain any number of components, so you'd want to only require those components used in the content blocks of the page.

[2018-10-25 02:57] sh commented on #4177
thanks! :)

[2018-10-25 05:52] comuttun opened #4192 "Unscoped style in layouts is exposed to global with Nuxt.js 2.x"
### Version

[2](https://github.com/nuxt.js/releases/tag/2)

### Reproduction link

[https://github.com/comuttun/nuxt-css-scope-problem-example](https://github.com/comuttun/nuxt-css-scope-problem-example)

### Steps to reproduce

1. Clone https://github.com/comuttun/nuxt-css-scope-problem-example
2. cd `nuxt-css-scope-problem-example/nuxt-1.4`
3. `yarn install && yarn dev`
4. Open http://localhost

[2018-10-25 09:59] vedmaque commented on #3496
same happens on 2.2.0

[2018-10-25 11:53] ruslankonev commented on #4052
I am for today have the same issue on v.1.4, but community not fix that.
Now I test a production site on v2, and then we'll see how vue-meta works.

[2018-10-25 12:38] manniL commented on #4177
Now on Edge 👏

[2018-10-25 12:38] #4177 closed

[2018-10-25 12:42] kiwicopple commented on #1819
Looks like this is solved by https://github.com/nuxt/nuxt.js/issues/1509

You'll need to use `nuxt-edge`

[2018-10-25 12:47] manniL commented on #4191
As explained in [the docs](https://nuxtjs.org/guide/views#error-page), the "error layout" is actually an **error page**. You can set a layout for it as well. The easiest way would be adding an "empty" layout that just contains `<template><nuxt/></template>` and use that.

[2018-10-25 12:47] #4191 closed

[2018-10-25 12:49] manniL opened #4196 "[BREAKING] Error page should use empty layout by default"
### What problem does this feature solve?

There are several issues (eg https://github.com/nuxt/nuxt.js/issues/4191 or https://github.com/nuxt/nuxt.js/issues/2537#issuecomment-356340772) where people want the error page to have it's own "empty layout".

Maybe it wouldn't be bad to have an empty layout for the error page by default for Nuxt 3?

<div align="right"><sub><em>This feature request is av

[2018-10-25 13:37] manniL commented on #4011
Sounds good! Please make sure to not introduce breaking changes for it (even though it's not documented 🙈)

[2018-10-25 13:45] awronski commented on #4011
@manniL It is not possible, because `shouldPush` accept only single file and I need to pass req, res and the array of all push assets.

The present signature is:
`shouldPush(fileWithoutQuery, asType)`

I need something like this:
`shouldPush(req, res, publicPath, preloadFiles)`

I can introduce one more option to `http2` to make it backward compatible.

What do you suggest?

[2018-10-25 13:51] AndrewBogdanovTSS commented on #3994
@pi0 any updates on this one?

[2018-10-25 13:55] galvez commented on #1819
@kiwicopple Nuxt 2 has already been released :)

[2018-10-25 14:07] MrWook opened #4197 "Page mounted twice on redirect in SPA"
### Version

[v2.2.0](https://github.com/nuxt.js/releases/tag/v2.2.0)

### Reproduction link

[https://codesandbox.io/s/40y7x1l0p4](https://codesandbox.io/s/40y7x1l0p4)

### Steps to reproduce

1. Open reproduction link
2. Open console
3. Add /random_string to the codesandbox project url like this `https://40y7x1l0p4.sse.codesandbox.io/randome_string`

### What is expected ?

Inside the console th

[2018-10-25 14:17] manniL commented on #2033
https://github.com/nuxt-community/separate-env-module

[2018-10-25 14:42] clarkdo commented on #4011
@awronski Thank you for the good idea.

I want to know a bit further what's the reason for using a batched `shouldPush` instead of current one ?

If it's really necessary, I suggest you add a new method `pushAssets` which is more semantic and won't break the compatibility and may add a `deprecated` log info in `shouldPush`.

[2018-10-25 14:46] tillkruss commented on #4011
Using the existing shouldPush function wouldn't allow for much flexibility. Passing all assets to a http2.push function would be great and it avoids breaking changes.

[2018-10-25 14:49] clarkdo commented on #4011
@tillkruss Agree

[2018-10-25 15:20] awronski commented on #4011
@clarkdo Now you can only filter the assets that you want to push but you don't know the user state.

If we add a third parameter, which is a function `pushAssets(req, res, publicPath, preloadFiles)` we can conditionally push assets to the user (based on the cookie value, user type etc)

If the user has already some assets why to push them again. It will make the app faster.

If you agree, I will

[2018-10-25 15:37] Erreke commented on #1145
Unfortunately the example has moved. Could you give a new link if you have one?

[2018-10-25 17:42] #4115 closed

[2018-10-25 17:55] svnba commented on #3957
Updating the dependency **nuxt** from `2.0.0` to `2.2.0` did it.

[2018-10-25 18:22] tillkruss opened #4201 "Too many SHA256 hashes"
### Version

[v1.4.4](https://github.com/nuxt.js/releases/tag/v1.4.4)

### Reproduction link

[https://invuekelowna.condos/](https://invuekelowna.condos/)

### Steps to reproduce

We're seeing way too many SHA256 hashes in production. The SSR HTML only contains a single `<script>` tag, but 39 hashes are cramped into the header.

[code]

[code]

### What is expected ?

A single SHA256 hash.

### Wh

[2018-10-25 18:59] xpuu commented on #1863
as it states in this [comment](https://github.com/nuxt/nuxt.js/issues/4087#issuecomment-428971143) it only happens when developers tools are opened

[2018-10-25 21:53] manniL commented on #3957
Shouldn't be related to a nuxt upgrade as nuxt doesn't pin versions. A `yarn upgrade` or `npm update` would be sufficient.

[2018-10-25 21:55] fbrbovic commented on #3877
Still experiencing this problem too,  any solutions? ,  layouts true doesn't fix it.

[2018-10-26 06:07] kiwicopple commented on #1819
sorry! new to Nuxt and I was using boilerplates which were on 1.0

Someone may want to inform [all ](https://medium.com/@chanlitohem/march-29th-and-now-were-in-almost-august-still-nuxt-2-hasn-t-been-officially-released-and-lots-2320c87c68fc) [these ](https://medium.com/@cong.nguyen/hi-e00d7cb7b3fd) [people ](https://medium.com/@dmikester1/were-sneaking-up-on-september-now-any-updates-on-2-0-thanks

[2018-10-26 07:08] zhj135 commented on #1349
Thanks for your issue, I made the same mistake.

[2018-10-26 08:25] nikkwong opened #4203 "Programmatic usage of nuxt with express serverMiddleware as API doesn't share or update req.session"
### Version

[2.1 ](https://github.com/nuxt.js/releases/tag/2.1 )

### Reproduction link

[https://google.com](https://google.com)

### Steps to reproduce

Hi, I am using nuxt programmatically and using serverMiddleware with it's own express instance which modifies req.user on some api endpoints.

However, when I navigate to different routes after mutating req.user, nuxt is overriding req.user wit

[2018-10-26 08:36] nikkwong commented on #4203
Here are steps to repro, adding a few route handlers to the auth example:

[code]

1. Navigate to a nuxt route, like ```/page/123```.
2. Navigate to ```/user``` // outputs "jimmy"
3. Navigate to ```/mutate``` // OK
4. Navigate to ```/user``` // outputs "bob" — good!
5. Navigate to ```/page/123```
5. Navigate to ```/user``` // outputs "jimmy" — ???

So it seems as though nuxt is not picking up the

[2018-10-26 09:10] manniL commented on #4203
@nikkwong Can you add a Codesandbox please (just fork the referred example and add your changes)?

[2018-10-26 09:24] adi-zz opened #4204 "Inconsistent css in dev vs prod"
### Version

[v2.2.0](https://github.com/nuxt.js/releases/tag/v2.2.0)

### Reproduction link

[https://github.com/adi-zz/nuxt-css-dev-vs-prod](https://github.com/adi-zz/nuxt-css-dev-vs-prod)

### Steps to reproduce

1. git clone https://github.com/adi-zz/nuxt-css-dev-vs-prod
1. cd nuxt-css-dev-vs-prod
1. npm i
    1. npm run dev
    1. npm run build && npm run start
1. open http://localhost:3000/

[2018-10-26 09:47] AndrewBogdanovTSS commented on #1863
Why this issue is marked as closed? It's still reproducible with Nuxt 2.2.0 when the console is opened.  Please, reopen. Console should not affect Nuxt internal behavior.

[2018-10-26 17:59] #4011 closed

[2018-10-26 21:04] GerardRodes opened #4209 "beforeRouteUpdate is binded to old component instance"
### Version

[v2.1.0](https://github.com/nuxt.js/releases/tag/v2.1.0)

### Reproduction link

[https://codesandbox.io/s/1yq543wjq7](https://codesandbox.io/s/1yq543wjq7)

### Steps to reproduce

- Reproduction link: [![Edit codesandbox-nuxt](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/1yq543wjq7)
- click on `go To A`
- click on `go To B`

### What is expected ?

[2018-10-27 16:08] jefrydco opened #4211 "Add File Loader to Head Link or Meta Section in Nuxt Config"
### What problem does this feature solve?

We can add custom css to nuxt config using `~/assets/style.css`, but currently it cannot add image or another asset using that way in link or meta in head section.

<div align="right"><sub><em>This feature request is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/nuxt.js/issues/c8049">#c8049</a>)</em></sub>

[2018-10-27 18:01] manniL commented on #4211
@jefrydco Could you provide an example what would be possible with this feature?

[2018-10-27 19:04] sibbngheid opened #4213 "Return random port in nuxt.options.server"
### What problem does this feature solve?

[code]
If use [random port](https://github.com/nuxt/docs/pull/864) in application it is work properly on random port if I start my application on command line. But when I use nuxt programmatically (e.g `const nuxt = new Nuxt(config)`) nuxt.options.server is returns
[code]
If this had return randomly generated port should be better.

<div align="right"><su

[2018-10-27 19:08] jefrydco commented on #4211
@manniL For instance adding apple touch icon or chrome icon, like this

[code]

[2018-10-28 09:08] AndrewBogdanovTSS opened #4219 "CSS Order is different when extractCSS is used"
### Version

[2.2.0](https://github.com/nuxt.js/releases/tag/2.2.0)

### Reproduction link

[https://github.com/AndrewBogdanovTSS/nuxt-css-order](https://github.com/AndrewBogdanovTSS/nuxt-css-order)

### Steps to reproduce

- Clone the repo
- $ nuxt build
- $ nuxt start

### What is expected ?

Swiper active control has orange color and positioned at the bottom http://take.ms/UsNSR

### What is ac

[2018-10-28 13:19] jjhesk opened #4221 "nuxt + threejs"
nuxt has the error responding from the header code "x-shader/x-fragment" like so..

[code]

then will get error in here

[code]

[2018-10-28 13:19] #4221 closed

[2018-10-28 15:00] daspete commented on #2777
hmm... i thought, that only that components, which are just in the current page are imported for that specific page. Of course, the vendor file, or app file will be a little bit bigger, but that way, the user has to wait just one time to load it all and then there is no more loading time (or much less) then to load a new custom app or vendor file for each page...

[2018-10-28 18:10] RichAyotte commented on #2835
Which files need to be deployed after the build? I'm seeing errors.

Here's what I've tried from info in this thread. Ran `build` on dev server and then copied the following folders/files to my production server.
[code]
On the production server, ran yarn to install packages and now have the additional files/folders.
[code]

Running `yarn start` on production server gives me:

[code]

[2018-10-28 18:43] RichAyotte commented on #2835
I am using Koa with Nuxt. Created the app with Nuxt 2.2.0 by following https://nuxtjs.org/guide/installation

Maybe a bug is 2.2.0?

[2018-10-28 18:49] RichAyotte commented on #2835
I just noticed that your start script is `node_modules/nuxt/bin/nuxt-start` which works. Thanks for that gist!

[2018-10-29 01:53] WangHansen opened #4224 "Middleware not invoked correctly"
### Version

[2.0.0](https://github.com/nuxt.js/releases/tag/2.0.0)

### Reproduction link

[https://jsfiddle.net/boilerplate/vue](https://jsfiddle.net/boilerplate/vue)

### Steps to reproduce

Middleware not called correctly
I have a middleware named `load-auth` which essentially check the login status of the user by making a call to `/verify` api, which returns true if the user credential is val

[2018-10-29 03:20] ntvuong1709it opened #4225 "CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory"
### Version

[2](https://github.com/nuxt.js/releases/tag/2)

### Reproduction link

[https://github.com/ntvuong1709it/crawler-nuxt](https://github.com/ntvuong1709it/crawler-nuxt)

### Steps to reproduce

yarn run build

### What is expected ?

Build complete and be able to run using command yarn run start

### What is actually happening?

I received this error as following:
<--- Last few GCs --->

[2018-10-29 04:36] ntvuong1709it commented on #4225
I created a fresh project(using express as server) and run command:
`yarn run build`
=> successfully
But after adding a serverMiddleware into nuxt.config.js file as following:
module.exports = {
  mode: 'spa',
  ...

  **serverMiddleware: [
    '~/server/index.js'
  ]**
}

and run build again, the Server listening on http://127.0.0.1:3000 like forever and consume my RAM so much

[2018-10-29 07:42] AndrewBogdanovTSS commented on #4131
@manniL @aldarund I think it's a great idea, current behavior of `mini-css-extract-plugin` as well as `sass-loader` causes a lot of issues as well as very slow recompilation of sass assets

[2018-10-29 08:54] flamner opened #4226 "nuxt generate error"
### Version

[v1.4.4](https://github.com/nuxt.js/releases/tag/v1.4.4)

### Reproduction link

[http://thisisstupidfield.com](http://thisisstupidfield.com)

### Steps to reproduce

run next generate

### What is expected ?

generating project

### What is actually happening?

get an error, no idea, what is wrong, and how to fix it :/

### Additional comments?

######/node_modules/esm/esm.js:1
const

[2018-10-29 09:09] flamner commented on #4226
also same error on run next build

[2018-10-29 09:34] davision commented on #2701
I have a similar question. Previously, I was importing intersection-observer polyfill with a vendor like this:

[code]

How to include it in Nuxt 2, since a vendor is deprecated?

[2018-10-29 09:44] aldarund commented on #3573
@WangHansen this question doesnt make sense because middleware executed on page refresh too. If u run in universal mode it will be executed on server

[2018-10-29 09:47] aldarund commented on #4225
@ntvuong1709it your server middleware doesnt make sense. Inside it you import nuxt config etc. So u get an infinite recursion.
Server middleware should look like this
[code]
https://nuxtjs.org/api/configuration-servermiddleware/

[2018-10-29 09:47] #4225 closed

[2018-10-29 09:48] aldarund commented on #4167
@hjaiim create a reproduction

[2018-10-29 09:49] aldarund commented on #4226
create a reproduction example either on https://template.nuxtjs.org or github repo. Otherwise its hard to say

[2018-10-29 09:49] aldarund commented on #2701
@davision just import it in plugin for example

[2018-10-29 09:50] hjaiim commented on #4167
@aldarund What do you mean, I don't understand

[2018-10-29 09:52] aldarund commented on #4167
@hjaiim i mean thats its impossible to say whats wrong and how to fix without actual code that cause this. So you need to provide not working setup either in github repo or https://template.nuxtjs.org

[2018-10-29 09:53] flamner commented on #4226
I think that the problem is in create-nuxt-app, I make a new project, witch no changes, and try to run nuxt build and... got that same error :/ node version 8.10.0

[2018-10-29 09:55] aldarund commented on #4226
@flamner upload your created project on https://template.nuxtjs.org/  or github repo. There a lot of diferent setups that can be genereted via create nuxt app

[2018-10-29 09:59] su1924 commented on #4173
God, can no one solve this problem? Torture me for two weeks.

[2018-10-29 10:07] flamner commented on #4226
https://github.com/flamner/konkurs

[2018-10-29 10:16] hjaiim commented on #4167
I was following the official scaffolding, following the official steps, and then opening the local service when this error occurred.

[2018-10-29 10:16] aldarund commented on #4226
@flamner i did build & generate your project and there was no errors

[2018-10-29 10:33] manniL commented on #4225
Hey @ntvuong1709it :wave:

You are mixing two things up here.

If you want to use **Nuxt on top of Express*, you'd have to start the `server.js` (by running `node -r esm server/index.js` in your project root).

If you want to use **Express in Nuxt**, you can easily leverage `serverMiddleware` but not with the generated `server/index.js` For a live example you can look into https://github.com/manni

[2018-10-29 10:39] flamner commented on #4226
npm cache clean --force
remove node modules and install again
npm install -g npm@latest
even tried this: https://www.npmjs.com/package/reinstall

nothing works :(

[2018-10-29 10:42] ntvuong1709it commented on #4225
Thanks @manniL for quick response, I'll have a look into your useful link

[2018-10-29 10:42] flamner commented on #4226
also upgrade node to v8.12.0 :/

[2018-10-29 12:01] manniL commented on #4224
@WangHansen I don't think HTTPS should be a problem. Do you use `Brotli` compression? That might be a problem

[2018-10-29 12:35] emokhles commented on #3566
any updates? I use only axios a plugin

[2018-10-29 12:40] Timkor commented on #3566
@emokhles
How do you inject axios as plugin to the Nuxt `app` context and Vue context?

I fixed my memory leaks bij injecting it using the `inject` method:

[code]

Memory leaks were causing this issue in my case.

[2018-10-29 12:43] emokhles commented on #3566
So you're not using the nuxt's axios

[2018-10-29 12:46] emokhles commented on #3566
This is my plugin code

[code]

[2018-10-29 12:57] WangHansen commented on #4224
@manniL I use https and proxy, I think the problem is the axios called at middleware is from server side, which doesn't go through the proxy, so I need to do `$axios.get('https://127.0.0.1/verify')` instead of `$axios.get('/verify')`. Another problem I noticed is that I use self signed cert, so it gets blocked. I need to do `axios.defaults.httpsAgent = new https.Agent({ rejectUnauthorized: false }

[2018-10-29 12:59] manniL commented on #4224
@WangHansen The middleware will be called from server-side once (on SSR) and then from the client-side, yes.

[2018-10-29 13:00] aldarund commented on #3566
@emokhles mixins? directives? something causing leak in your app.

[2018-10-29 13:01] WangHansen commented on #4224
@manniL I don't think it will be called from client side anymore since 2.0.0, I tried to console.log but nothing showed up. So I doubt that

[2018-10-29 13:05] manniL commented on #4224
@WangHansen It will. Please refer to my CSB and look in the terminal/console when navigating from "/" to "/about" https://codesandbox.io/s/l6o20jmw7

[2018-10-29 13:08] WangHansen commented on #4224
@manniL I see that, but that would be called from server, right? not client. If you try `process.client` or `process.browser`, i dont think it works.

[2018-10-29 13:10] manniL commented on #4224
[code]
If you access `/` (the "entrypoint" for your request), the middleware will be executed on server side

![image](https://user-images.githubusercontent.com/640208/47651720-dd983400-db7b-11e8-8a72-8c037dcf89dd.png)

If you navigate, on client side

![image](https://user-images.githubusercontent.com/640208/47651737-e7219c00-db7b-11e8-8631-5a11bf9dc47f.png)

[2018-10-29 13:10] #4224 closed

[2018-10-29 13:12] WangHansen commented on #4224
I see, I was mainly focused on the reload, because that is where i need to have the middleware running, but when you reload, the middleware is not called from the client side.
![image](https://user-images.githubusercontent.com/15679461/47651860-bb41ee80-db5a-11e8-9e55-e68291756a60.png)
But you were right, if you navigate, it would work.

[2018-10-29 13:13] manniL commented on #4224
Exactly, if you do a hard reload your request will be server-side rendered, so the middleware will be called on server-side

[2018-10-29 13:15] aldarund commented on #4224
@WangHansen middleware called either on client or server. not on both

[2018-10-29 13:18] emokhles commented on #3566
How can i test if a have memory leak or not? because I am not really adding a lot of code to the starter code

[2018-10-29 13:18] WangHansen commented on #4224
@aldarund I see, I guess the documents can be made better about it, I will submit a PR to improve the doc

[2018-10-29 14:04] Timkor commented on #3566
The code I posted was an example for any plugin, not axios related. I actually use Nuxt's axios module which works for me without leaking.

For fixing memory leaks:
https://medium.com/tech-tajawal/memory-leaks-in-nodejs-quick-overview-988c23b24dba

You need to run your application using node --inspect. That means you cannot use `nuxt` command-line.
You will need a file for starting nuxt programmat

[2018-10-29 14:37] wsakka commented on #1706
Having same issues as @ramstein74 -- no fix or workaround for this issue? This seriously hinders back button behaviour and gives off a glitchy experience.

[2018-10-29 16:14] blowsie commented on #2788
According to this doc, `isDev` is available on client and server.

How do you access it on client?

[2018-10-29 16:46] microcipcip commented on #2788
@blowsie have you tried `process.isDev` or `process.env.isDev`?

[2018-10-29 16:46] emokhles commented on #3566
![capture du 2018-10-29 17-40-57](https://user-images.githubusercontent.com/41120590/47665919-97a29680-dba2-11e8-8a0a-7dcb1599cbfd.png)
Does this prove that i have memory leak ?

[2018-10-29 17:36] nicolashmln commented on #2701
@davision importing the plugin like that in the `nuxt.config.js` works for me
[code]
And the content in the `~/plugins/intersection-observer.js` file
[code]

[2018-10-29 19:46] AndrewBogdanovTSS commented on #3994
Guys, I've came across very disturbing issue. It's related to using `build.styleResources` option that built into Nuxt. When it's enabled all dependent sass modules are being recompiled twice on every change even if the change happened in some unrelated js file. In my project I have quite a lot of resources I need to inject into Vue files so just give you some numbers.
`build.styleResources` - `of

[2018-10-29 20:05] AndrewBogdanovTSS commented on #3994
@XavierLeTohic I tried your config with `fast-sass-loader` but I didn't notice any significant build speed increase. For my project it was even slower, 49s - `sass-loader` 50s - `fast-sass-loader` (though I also have a lot of SCSS assets)
What I did notice is that your config doesn't play nice when `nuxt-sass-resources-loader` is in use maybe because it also uses `sass-loader`
I'm getting
[code]
f

[2018-10-30 08:48] blowsie commented on #2788
Quote from @manniL via discord.

You also can access it in nuxtServerInit
And in plugins as well

 https://codesandbox.io/s/m3xqj4joky

[2018-10-30 09:28] ymssrikanth commented on #785
If you required nested layout, we should import components to the single layout file. That is a possible thing, by the way, Nextjs also did not have nested layouts.

[2018-10-30 09:33] davision commented on #2701
Thank you for a hint! `ssr: false` did the trick. Cheers!

[2018-10-30 09:44] pimlie commented on #4226
Can you try running nuxt directly instead of through npm?
[code]

The build args in line 10 of your output seem strange, where is that `-c` coming from? Its not in the package.json in your repo

[2018-10-30 11:07] rubenclaes commented on #1429
@jameshhood @camilodelvasto How did you guys solve this?

[2018-10-30 13:28] camilodelvasto commented on #1429
@rubenclaes I couldn't find a solution... but I found a workaround. I wanted to load a child route with external content that was taking a long time to be generated, so it was too slow when I was coming from the home page. I ended up pre-fetching the data for that route, so when the user is coming from the home page, the data is already in the store and ready to use. The navigation is now snappier

[2018-10-30 14:13] danchristian commented on #1552
I ran into this using Nuxt `2.2.0`. I managed to drill down and find the piece of code that was causing the problem...

[code]

There were other list items above these that also had `v-if` on them, but for some reason, these two appearing together caused the error. The error only happened on production, which added to the fun.

I tired reformatting them a million ways but no luck. I tried a few of

[2018-10-30 14:17] aldarund commented on #1552
@danchristian its most likely because isAuthenticated on server have different value that on client

[2018-10-30 14:39] AndrewMcMillan opened #4230 "¸"

[2018-10-30 14:39] #4230 closed

[2018-10-30 14:44] pi0 commented on #4230
bb c vv ?

[2018-10-30 14:58] aldarund commented on #4230
doha aopz pzzbl pz mvy?

[2018-10-30 15:28] danchristian commented on #1552
@aldarund I can do the following just fine though:

ol
[code]

[2018-10-30 15:46] zadavan commented on #1789
How exactly?

[2018-10-30 16:00] aldarund commented on #1789
https://www.npmjs.com/package/env-cmd

[2018-10-30 16:04] AndrewMcMillan commented on #4230
damnit

[2018-10-30 21:47] manniL commented on #3067
Implemented with #4202

[2018-10-30 21:47] #3067 closed

[2018-10-30 21:51] manniL commented on #1709
Resolved by #4163 and #4116. For e2e: https://github.com/melrefaie/nuxt-cypress

[2018-10-30 21:51] #1709 closed

[2018-10-30 22:22] Mikkou opened #4232 "module namespace not found in mapState() (vuex, typescript)"
Hello everyone!

I have some small problem with vuex typescript module. I can't work with him states.
Error:
`[vuex] module namespace not found in mapState(): popup/`

/store/popup.ts
[code]

some vue component

[code]

Someone know what i do wrong?

[2018-10-30 22:22] #4232 closed

[2018-10-31 03:12] duanpf opened #4233 "Load all files at once, causing slow loading"
![image](https://user-images.githubusercontent.com/24790085/47763910-ad789e80-dcfd-11e8-870a-dfc3b6f7ccb3.png)

How to improve the loading speed?

[2018-10-31 03:12] #4233 closed

[2018-10-31 06:41] hinaloe opened #4234 "link[rel="preload"] header is always generate as [as="script"]"
### Version

[v2.3.0](https://github.com/nuxt.js/releases/tag/v2.3.0)

### Reproduction link

[https://codesandbox.io/s/8y3z57538j](https://codesandbox.io/s/8y3z57538j)

### Steps to reproduce

1. create project
2. set `build.extractCSS: true` on `nuxt.config.js`
3. `nuxt  generate`
4. open generated file (index.html)

### What is expected ?

found `<link rel="preload" href="/_nuxt/csshash.css" as

[2018-10-31 10:57] apro23 commented on #3542
Hi @lupas can you also make a tutorial for nuxtjs 2 and firestore? thank's in advance :)

[2018-10-31 11:01] lupas commented on #3542
@apro23
It should work pretty much the same as with v1, no big changes. However, I'll create an article & GitHub repo for v2 to make it easy to follow with v2, good idea =)

[2018-10-31 11:08] apro23 commented on #3542
@lupas thank you very much sir! :) I don't know where to start in nuxt 2 and firebase. I can't also find a tutorial in youtube and google. I found some in udemy but I have to pay $12. if you would create an article you may help a lot of beginners :)

[2018-10-31 11:10] lupas commented on #3542
glad to hear that :) I'll publish the article for v2 by Friday! Hope you can wait until then :)

[2018-10-31 11:10] manniL commented on #2177
Because this question seems to be inactive for quite some time, I'll close it now. If you feel like it deserves some attention because it's not fixed, feel free to ping me and I'll reopen it.

[2018-10-31 11:10] #2177 closed

[2018-10-31 15:49] benjamindedonder commented on #3231
I am having the same issue and I can't seem to solve it,
I found a solution for the 'no config' error here: https://github.com/akveo/ngx-admin/issues/604#issuecomment-271974780
I have no errors, but my style is not processed by the postcss-loader

![screenshot from 2018-10-31 16-39-42](https://user-images.githubusercontent.com/25371305/47799961-a2d4fe00-dd2b-11e8-8cc8-40fe8c86af69.png)

**nuxt.con

[2018-10-31 15:56] clarkdo commented on #3810
https://github.com/nuxt/nuxt.js/pull/4231

[2018-10-31 15:56] #3810 closed

[2018-10-31 16:18] RandomPiche commented on #2593
@raphaelaitelalim What do you mean by "wrapped my container in component" ? What container / component are you talking about ? We don't even know the structure you're working on.

[2018-10-31 17:40] samir-araujo commented on #2378
I know its a century old issue, but I have stumbled upon this thread so many times when searching for exactly the same problem, that I wanted to share what I did to solve my problem.

As @irrg, we are building an saas with SSR, so we do not know before hand all the possible subdomains, so req.headers.host returns "localhost:$port" (we use NGINX as a reverse proxy) instead of "subdomain.domain.com"

[2018-10-31 17:50] cawa-93 commented on #3099
Activity! Wait answer!

[2018-10-31 19:04] tmorehouse commented on #1321
Note `tappable` has been deprecated in Node.

[2018-10-31 19:21] djbingham commented on #3887
So, I guess no one has been able to reproduce this issue? This stopped me from using Nuxt for the time being, so I would really appreciate any pointers to how I might resolve this issue.

[2018-10-31 20:04] luishdz1010 commented on #3510
This is still a problem in v2

[2018-10-31 20:04] luishdz1010 commented on #3776
This is still a problem in v2

[2018-10-31 22:02] danielroe commented on #3868
This is a live issue for us as well. At the moment CSS modules and component caching are not compatible.

[2018-10-31 23:39] manniL commented on #3868
If it reproduces without nuxt as @prog666 said, it's no nuxt issue :|

[2018-10-31 23:42] #3900 closed

[2018-11-01 00:44] raphaelaitelalim commented on #2593
@RandomPiche Sorry about that, so i wanted to say "wrapped my container in <no-ssr/> component".

My code look like this :

`<template>
     <no-ssr>
        <div>
            some content...
        </div>
      </no-ssr>
</template>`

[2018-11-01 00:45] ishitatsuyuki commented on #2517
This is still a valid issue.

[2018-11-01 02:16] jamsch commented on #4094
I came across this issue too and spent a few hours trying to pinpoint the exact cause. Setting `options.build.parallel: true` with allChunks enabled causes the error: `Cannot read property 'outputOptions' of undefined`

[2018-11-01 02:29] potato4d commented on #3938
I'm doing it now!

[2018-11-01 04:47] y2x33 commented on #240
@Atinux thanks for solution!
Also I add `process.static` to avoid that `nuxtClientInit` and `nuxtServerInit` are both called in ssr mode.

[code]

[2018-11-01 05:05] remarks commented on #3091
I'd also be interested in this feature.

[2018-11-01 07:29] bovas85 commented on #3091
There's a nuxt-purgecss package that will strip unused css, but this is related to the css in the head. Not sure if that package would help here.

[2018-11-01 07:33] CoolGoose commented on #3764
Bumping for activity (and will try to re reproduce on 2.0)

[2018-11-01 09:31] falstack commented on #3994
Has there been any progress in this matter?

[2018-11-01 10:32] manniL commented on #3764
@CoolGoose I'd suggest https://template.nuxtjs.org/ for that ☺️

[2018-11-01 10:33] manniL commented on #3091
@bovas85 The problem is that it will only remove *unused* CSS. If you still have a lot of CSS left you might want to extract the critical CSS to head anyway to improve perf 🙈

[2018-11-01 10:50] opgbaudouin commented on #2705
I have the same with using Vuetify and Nuxt 2.2.0 nuxtServerInit is called Many times for a single page load causing all kinds of issues. I added the
build: {
        cssSourceMap: false
}
but i still got other _nuxt/...js.map sourcemaps as well.
so i now do:
const actions = {
   async nuxtServerInit({commit, dispatch}, {req, route}) {
        if(route.name === null) {
            return;   //you

[2018-11-01 10:57] MinosIE opened #4249 "Error: Plugin/Preset files are not allowed to export objects, only functions."
package.json:
{
  "name": "nuxtTest",
  "version": "1.0.0",
  "description": "My test Nuxt.js project",
  "author": "test",
  "private": true,
  "scripts": {
    "dev": "cross-env NODE_ENV=development nodemon server/index.js --watch server",
    "build": "nuxt build",
    "start": "cross-env NODE_ENV=production node server/index.js",
    "generate": "nuxt generate",
    "lint": "eslint --ext .js,.

[2018-11-01 10:57] #4249 closed

[2018-11-01 10:58] IGassmann commented on #3948
@galvez have you been able to fix this?

[2018-11-01 10:59] fugroup commented on #2821
This works, $filters becomes available in the component template and methods:
[code]

[2018-11-01 11:01] manniL commented on #3887
@djbingham Quoting @lbogdan here:

Using [watchOptions](https://webpack.js.org/configuration/watch/#watchoptions-poll) (with `poll`) could help you. You can change the options directly through the `watchers.webpack` key in your `nuxt.config.js` ([docs](https://nuxtjs.org/api/configuration-watchers#webpack))

[2018-11-01 11:18] LeoMartinDev commented on #2517
Yes it is, it is not okay to serve static files using NodeJS...

[2018-11-01 12:11] manniL commented on #3396
related: https://github.com/nuxt/nuxt.js/issues/3872

[2018-11-01 12:16] manniL commented on #3937
Small follow-up: PurgeCSS **without extractCSS** is a thing. Easy usage with https://github.com/Developmint/nuxt-purgecss

[2018-11-01 12:17] manniL commented on #3943
Not stale ⛔️

[2018-11-01 12:19] manniL commented on #3828
Not stale :(

[2018-11-01 12:20] manniL commented on #4060
Not stale

[2018-11-01 12:29] bovas85 commented on #3091
Yes precisely. That's why I meant it wouldn't be the best option

[2018-11-01 12:34] ishitatsuyuki commented on #2517
To provide an update, we no longer need the exclusion because we now put them into a separate directory. It's much simpler, just need a documentation (and maybe changelogs) on which directory we should mount.

[2018-11-01 12:54] CoolGoose commented on #3764
@manniL https://codesandbox.io/s/0qw4vx239n?initialpath=%2Fabout&module=%2Fpages%2Fabout.vue
go to /about and then you'll notice the error still exists :D (renders fine in the page, not the layout)

[2018-11-01 12:56] danielroe commented on #3868
@prog666 - I've been unable to reproduce with a plain Vue SSR setup using CSS modules and component caching. Would you help me reproduce it?

[2018-11-01 13:50] bart opened #4250 "Import json file into nuxt.config.js"
Hey folks,

I'm trying to import a json file of blog posts into my nuxt.config.js file like this to use it for dynamic route generation:

[code]

When I run ``npm run generate`` I'm getting ``Cannot find module '~/posts.json``

I'm on the latest nuxtjs version. Think it has something to do with Webpack 4. Do you have any solution for it?

Thanks a lot!

[2018-11-01 13:50] #4250 closed

[2018-11-01 14:00] manniL commented on #3764
@CoolGoose Could you try to reproduce it *without that library*?

[2018-11-01 14:28] henriqemalheiros commented on #3868
@manniL @danielroe it is reproducible without Nuxt. I created a new issue (vuejs/vue#9010) and I'm closing this one.

[2018-11-01 14:28] #3868 closed

[2018-11-01 14:33] CoolGoose commented on #3764
@manniL it seems that committing and displaying manually works. will try a bit later today to see if somehow vuex in single store mode with namespaced calls makes it weird.

[2018-11-01 14:36] laugharn opened #4252 "Google Cache Links Redirect to /search in Nuxt applications"
### Version

[v2.2.0](https://github.com/nuxt.js/releases/tag/v2.2.0)

### Reproduction link

[http://webcache.googleusercontent.com/search?q=cache:https://www.nuxtjs.org](http://webcache.googleusercontent.com/search?q=cache:https://www.nuxtjs.org)

### Steps to reproduce

Do a Google search for a site running on Nuxt.js and use the cached link in the search result.

### What is expected ?

The vi

[2018-11-01 14:46] serivt commented on #4167
https://github.com/nuxt/nuxt.js/issues/2927#issuecomment-369728581

[2018-11-01 14:51] manniL commented on #3868
@henriqemalheiros Thanks for the effort!

[2018-11-01 14:53] manniL commented on #4252
Interesting! Can reproduce this.

[2018-11-01 15:05] manniL commented on #4252
This is an issue with `vue-router`: https://github.com/vuejs/vue-router/issues/2042

[2018-11-01 15:06] #4252 closed

[2018-11-01 18:16] fmoessle commented on #4250
Try to import post with its relative path like

import posts from './posts.json'

or importing posts from a .js file like this with its relative path

import posts from './posts.js'

[2018-11-02 06:31] BH-GeGe opened #4255 "npm run dev error"
![a 08vkjovu5ufbihlcpdy](https://user-images.githubusercontent.com/31873439/47897255-f3736500-deab-11e8-9a1f-a6ee7b4925f6.png)

[2018-11-02 06:31] #4255 closed

[2018-11-02 07:12] Atinux commented on #4158
Agree for deprecating it (expect serverMiddleware like @pi0 said), great idea @manniL

[2018-11-02 07:40] MinosIE commented on #4255
我也遇到同样的问题了 把index.vue这个文件 36行开头的空格去掉 就可以了
项目用了 prettier 这个工具做格式校验， https://prettier.io/docs/en/options.html 这边有配置，可以看一下

[2018-11-02 07:46] BH-GeGe commented on #4255
好像是生成项目的时候下载esLint导致的，我又重新生成一个项目安装的时候没有下载elLint，然后运行就没有报错了。

[2018-11-02 09:48] manniL commented on #1776
An interactive CodeSandbox that shows how to use the [pipeline-proposal](https://www.npmjs.com/package/@babel/plugin-proposal-pipeline-operator) babel plugin with Nuxt 2 can be found [here](https://codesandbox.io/s/18j0jkn72q).

[2018-11-02 09:48] #1776 closed

[2018-11-02 14:16] makiten opened #4260 "make opencollective optional when installing nuxt"
### What problem does this feature solve?

This is a request based on [this comment](https://github.com/nuxt/nuxt.js/pull/3836#issuecomment-429046655). Currently, the postinstall script lags when behind a corporate proxy that blocks access to stats from OpenCollective inside the firewall. This stalls nuxt installations and makes it difficult to adopt Nuxt in a corporate/enterprise setting.

Simply

[2018-11-02 18:18] Globerada commented on #2378
@samir-araujo , shouldn't be req.headers['real-host'] !== undefined ??

[2018-11-02 18:20] StefKors opened #4262 "Sass variables that "cascade" down to it's child components"
### What problem does this feature solve?

This feature would be a way to set / override a Sass variable for a page and all its child components?

You could use this as following:
Set a global $font_color variable in your main.scss file which will be globally available.
Then on one specific page you can set the $font_color variable for every child component in the page, thus making that pages easi

[2018-11-02 20:20] spnc-omz commented on #4204
I'm also seeing this. For the time being I've pinned my version to v2.1.0 of nuxt and it works.

I suspect that this may have something to do with the following commit but have not tested enough to be 100% certain to say yes or no.
 https://github.com/clarkdo/nuxt.js/commit/ec63cfc83529444189f47c16227d8e31842d4d32#diff-e08c5c9779ed38bdf6e44f502bb1e732

[2018-11-02 22:47] manniL commented on #4204
@spnc-omz Oh, so it worked with 2.1?

[2018-11-02 23:10] manniL commented on #4260
This should already work: https://github.com/nuxt-community/opencollective/blob/master/src/utils/misc.js#L23

[2018-11-02 23:13] makiten commented on #4260
Is there documentation on using that environment variable? I figured there was one, but I had to guess and got it wrong.

[2018-11-02 23:14] manniL commented on #4260
@makiten There is.

https://github.com/nuxt-community/opencollective#disable-message

[2018-11-02 23:17] makiten commented on #4260
Thanks. I'll try that when I test my project at work again.

[2018-11-02 23:17] #4260 closed

[2018-11-02 23:43] amritk commented on #3589
Ah, I have been looking to switch to nuxt.js lately, is it possible to do nested named routing?

For example:
[code]
Now I would like to be able to simply access this with `:to="{ name: 'Sport', params: { id: 2} }"` without having to figure out what the current locale is all the time with the full path ```:to="`${locale}/sports/2`"```

Is this currently possible? Or are we waiting for this issue t

[2018-11-03 02:02] luanwulin commented on #2638
@hqqxxf sorry, i dont know either

[2018-11-03 02:29] dylanmcgowan commented on #190
To complete the trifecta of cartoon network avatars +1 for layout slots!

[2018-11-03 16:50] spnc-omz commented on #4204
This gets even more weird. I think I had a dependency issue. Everything worked for me after I updated my postcss preset ebb to ~6.3.0

[2018-11-03 18:08] xxyyzz2050 opened #4266 "access DOM elements in SSR templates"
how can I access DOM elements in data object

example:

[code]

this code is inside pages/someFile.vue and rendering in he server

[2018-11-03 18:08] #4266 closed

[2018-11-04 14:49] aaldrin23 commented on #4016
Any updates here?
I'm stuck with this issue.
![image](https://user-images.githubusercontent.com/22129997/47965560-c2e62380-e083-11e8-81fb-aa52a6262b15.png)

[2018-11-04 21:00] manniL commented on #4119
Not stale.

[2018-11-05 09:12] manniL commented on #4107
@benfavre We have to wait for mzgoddard/hard-source-webpack-plugin#444 or Webpack 5 🤷‍♂️

[2018-11-05 12:34] MaxKostenko commented on #2444
It helps me, but looks hacky

[2018-11-05 12:38] MaxKostenko commented on #2444
Lifecycle also looks strange.  It fires updated lifehook and then call data() method

[2018-11-05 12:44] djbingham commented on #3887
Hi @manniL. Thank you for looking at this for me, although I think you misunderstood the issue. I'm already using the polling feature as you suggested and Webpack is detecting changes. The problem is with the builds that Webpack produces after it has detected a change.

This is the content of `nuxt.config.js` in the repository I linked above for reproducing the issue:
[code]

[2018-11-05 12:49] alexbonhomme commented on #3934
Totally agree with you. This feature is missing and the lack of documentation require reverse engineering on other module.
For the record and to complete your explanations, you can also use a side effect off `addPlugin` to auto-register you middleware code :

index.js
[code]

middleware.js
[code]

Not that much sexy, but that avoid an useless file.

[2018-11-05 15:01] nathanchase opened #4273 "Add function to nuxt.config that passes current instance to enable access to URL path"
### What problem does this feature solve?

I want to try to add a canonical URL declaration like so:
[code]
but it doesn't seem that there's anyway to access `this.$route` from within nuxt.config

@manniL suggested in Discord that creating a function that passes the current instance would enable this.

Having a single place in the config to declare a canonical URL structure would prevent having to

[2018-11-05 15:14] #4273 closed

[2018-11-05 15:30] manniL commented on #3934
@alexbonhomme Unfortunately integrating that function isn't as straightforward. 🙈

[2018-11-05 15:49] manniL commented on #3231
Solution: https://codesandbox.io/s/5kr8nrlz5l

Nesting operator needs stage `0` of `preset-env` or a plugin.

[2018-11-05 18:51] TesalVector opened #4274 "Translate into Serbian"
Hello Guys!

I want translate Nuxt.js docs on Serbian language, but I don't know how to get authority to create directories and files:grey_question: :smirk:

Pozz

[2018-11-05 18:51] #4274 closed

[2018-11-05 23:09] sam3d commented on #2568
Just checking for any progress?

Warding off the stale bot.

[2018-11-05 23:14] aldarund opened #4275 "Code duplication on hot reload"
### Version
2.3.0-25689543.1a154e8
[edge](https://github.com/nuxt.js/releases/tag/edge)

### Reproduction link

[https://cmty.app](https://cmty.app)

### Steps to reproduce

During editing of page sometime hot reload fails and produce double imports in generated code
https://gist.github.com/aldarund/033b51b211d4d764fda12e36ed8ad3d0
https://i.imgur.com/Pzv43Se.png

Seems like a race condition someh

[2018-11-05 23:32] sam3d commented on #2568
## Current loading method

### First page render
1. Server runs `asyncData()` to get data
2. Sends entirely rendered page to the client

### After initial page load
1. A link is clicked to a different page
2. That page calls _its_ `asyncData()`, the progress bar starts showing
3. Nuxt only navigates to the different page _after_ the asyncData has loaded

## Desired state for reactive loading

###

[2018-11-06 01:20] reilue opened #4276 "Nasty silent bug, in store.js in convert Object to Array using Firebase"
![screenshot from 2018-11-05 21-08-12](https://user-images.githubusercontent.com/12874996/48036636-9db6eb00-e13f-11e8-8b11-62193e6d8afd.png)
do this it will redirect to error.vue template

So, this is a thing to pay attencion even for experience developers.

Always assing your "object" to "res.data". I know its a obvious juniors mistakes, but "obvious" things, makes them invisible to our eyes.
Hap

[2018-11-06 01:20] #4276 closed

[2018-11-06 06:18] TesalVector opened #4277 "Transalte Nuxt.js on Serbia Language"
Hay Man!

I want to translate Nuxt.js documents into Serbian, but I can not push the translated text to rep to GitHub!
Can you give me the right to put translation?

Pozz,
Miloš Pantelinac

<script>
   console.log('%cHello World', 'color: blue; font-size: 20px');
</script>

[2018-11-06 06:18] #4277 closed

[2018-11-06 09:47] AndrewBogdanovTSS commented on #4275
@aldarund your png link doesn't work

[2018-11-06 09:54] aldarund commented on #4275
@AndrewBogdanovTSS it works.. maybe your isp blocking it.

[2018-11-06 09:56] AndrewBogdanovTSS commented on #4275
yeah, damn blockers))

[2018-11-06 10:01] manniL commented on #4275
![image](https://user-images.githubusercontent.com/640208/48057020-efe12600-e1aa-11e8-8ddd-af1d35be3c25.png)
For accessibility ☺️

[2018-11-06 10:50] #4275 closed

[2018-11-06 10:56] TesalVector commented on #4277
Hey @aldarund!
Thank you I succeeded! :)

[2018-11-06 11:16] Linjiayu6 opened #4279 "how to drop vue-meta & Core-js"
![screenshot](https://user-images.githubusercontent.com/13708045/48060920-49237680-e1f8-11e8-929f-b364ad427a26.png)
I don't wanna and use vue-meta and core-js in my vendors.
how Can i drop them?

[2018-11-06 11:16] #4279 closed

[2018-11-06 12:40] marco-gattelli opened #4281 "Error registering vuex module without preserveState prop"
### Version

[v2.2.0](https://github.com/nuxt.js/releases/tag/v2.2.0)

### Reproduction link

[https://codesandbox.io/s/4z2v7poop0](https://codesandbox.io/s/4z2v7poop0)

### Steps to reproduce

1) Register the father module dynamically.
`this.$store.registerModule('moduleA', {});`

2) Register the nested module dynamically.
`this.$store.registerModule(['moduleA', 'moduleAB'], storeObject); // It f

[2018-11-06 13:02] #4158 closed

[2018-11-06 13:47] gnuletik opened #4282 "Duplicated meta tags on SSR"
### Version

[v2.2.0](https://github.com/nuxt.js/releases/tag/v2.2.0)

### Reproduction link

[https://github.com/gnuletik/nuxt-duplicate-meta](https://github.com/gnuletik/nuxt-duplicate-meta)

### Steps to reproduce

Here is how to reproduce from the official template:

In `layouts/default.vue`
[code]

Then, refresh your pages several times or navigate through some pages.

In your browser's conso

[2018-11-06 14:01] aldarund commented on #146
@mv5 its not quite clear how\where u running your app. You said s3+cloudfront but its for static files. ARe u using generate mode?

[2018-11-06 14:08] aldarund commented on #4281
What prevent you from passing preserveState false if u need it?

[2018-11-06 14:14] lucpotage opened #4284 "Can't use Sass Dart in Nuxt config."
### Version

[v2.2.0](https://github.com/nuxt.js/releases/tag/v2.2.0)

### Reproduction link

[https://nuxtjs.org](https://nuxtjs.org)

### Steps to reproduce

I'm trying to use Sass Dart in my Nuxt project.

1. I added **sass** (Dart version),  [**sass-loader**](https://github.com/webpack-contrib/sass-loader) 7.1.0 and **fibers** dev dependencies.
2. I changed the **nuxt.config.js** file as follo

[2018-11-06 14:23] lucpotage commented on #4284
When I log `sass.options` I do have this:

[code]

[2018-11-06 14:38] mv5 commented on #146
@aldarund yes, that's right

[2018-11-06 14:56] aldarund commented on #146
@mv5 then it has nothing to do wiht nuxt and u dont need nuxt https at all. It should be configured at cloudfront level

[2018-11-06 15:06] marco-gattelli commented on #4281
I don't need the preserveState effect so I don't want to pass it as option.
The problem is that in the previous version of nuxt I used to register many modules in this way and now I have to refactor all these occurrences.

[2018-11-06 15:08] manniL commented on #4284
Solution: https://codesandbox.io/s/kk70v7217

1. `build.extends` has the signature `(config, webpackContext)` while the latter has the `loaders` object
2. `build.extends` is too late to change the behavior, so we must override the default values in the config
3. This is where `build.loaders` comes in handy ☺️

[2018-11-06 15:08] #4284 closed

[2018-11-06 15:36] manniL commented on #4282
This is no bug.
(Repro: https://codesandbox.io/s/527zv3no7k)

As you define state outside of the component it will be persisted through every server-side rendering. You definitely **should avoid doing that**. instead, you might want to use `VueX` or similar.

[2018-11-06 15:46] gnuletik commented on #4282
I totally understand that the state is persisted through every server-side rendering.
However vue-meta shouldn't remove duplicates of meta entries who have the same `hid` ?

[2018-11-06 15:58] aldarund commented on #4281
Well, that was intended change because thats the usual way its expected to work with SSR
https://github.com/nuxt/nuxt.js/pull/3909

[2018-11-06 16:00] manniL commented on #4282
Whoops. You are right, if you set duplicates on SSR it won't clear them there (updated my sandbox). Investigating

[2018-11-06 16:01] luishdz1010 commented on #3948
Is there any workaround?

[2018-11-06 16:19] manniL commented on #4282
I can confirm this only happens on SSR, not in `SPA` mode or on CSR.

[2018-11-06 16:24] manniL commented on #3504
Not stale

[2018-11-06 16:56] manniL commented on #4282
So, after testing it with `vue-meta` itself (simple test case [here](https://github.com/manniL/vue-meta/commit/4020bf1d6d7a78bf67d551d383665b50a94777a9)) it looks like that functionality is not supported by `vue-meta`. Only information that are dupes in `child` components will be merged.

Please create an issue in the `vue-meta` repository or filter your info directly in your component.

[2018-11-06 16:56] #4282 closed

[2018-11-06 17:33] gnuletik commented on #4282
Thanks for investigating !

[2018-11-06 18:21] mv5 commented on #146
@aldarund what should be configured?
when I upload an image for example to the s3 bucket I can access it through https, so it seems to me the configuration of the ssl certificate is correct. however, the warning about the self signed certificate shows up in the console during the deployment process which I configured based on this:
https://nuxtjs.org/faq/deployment-aws-s3-cloudfront/

[2018-11-06 18:39] sergiocastrovale commented on #3994
This would definitely be the better option. To be honest, I went back to picking Laravel in a recent project solely because of how frustrating the wait is. Having to wait 20-30 seconds _every time you save_ is a huge deal breaker.

What are the alternatives we can use as of now?

[2018-11-06 22:08] kevinmarrec commented on #4184
@pi0 I'm not using Lerna but just Yarn workspaces, I'm facing the same issue (see Update 2 of @zelid), making Nuxt not usable as described.

I think it's really important to solve this issue quick if it's possible, cause everyone using Yarn workspaces will be stuck and not being able to use Nuxt at all if they use at least one module from @nuxtjs or community (and a lot of them will probably use t

[2018-11-06 22:43] kevinmarrec commented on #4184
I found this issue https://github.com/nuxt/nuxt.js/issues/2765, referencing this https://github.com/algolia/vue-instantsearch-examples/pull/15/commits.

I tried
[code]

It makes everything built. I've another issue
![screenshot_4](https://user-images.githubusercontent.com/25272043/48098614-9bc35980-e21d-11e8-9c36-63f86ed96527.png), but I think it's related to something else.

[2018-11-07 00:18] manniL commented on #3994
Hey folks! :wave:

For anyone having problems, could you please:

1. Run `yarn build --profile` (or the npm equivalent) and drop the stats in here?
2. Provide a reproduction repository (if possible, I know not everyone can share code)

[2018-11-07 05:27] amoshydra opened #4286 "Expose resolved webpack config for external tool"
### What problem does this feature solve?

I am trying to add unit test with ava in this project. However, webpack alias is not understood by ava. This problem with ava could be resolved by providing a webpack config.

As of now, we need to create the webpack config by hand and try to match it with what nuxt is using.

If a resolved webpack config is produced and exposed, we could use this config

[2018-11-07 07:33] Awais-cb opened #4287 "Help needed how am i suppose to use store in a plugin"
I have a file with the name of nativeHelpers.js inside plugins folder and i am using it as a plugin in my nuxt.config.js
`'~/plugins/nativeHelpers.js'`
how ever i am unable to access store inside this file as i want to use store inside one of my helpers,is there any way i can achieve it?
here is my helper
[code]

[2018-11-07 07:33] #4287 closed

[2018-11-07 09:01] amoshydra commented on #4286
This issue appear to be semi hackable by making use of nuxt hook and its api.

Let say we are making a build for SSR that will output webpack config for both client and server, this could be done.

## How
Write a script to collect the compiler options via the `build:compile` hook. Once we have collected enough options (we need 2 options in this case), we will call `resolve()` and return all the co

[2018-11-07 09:06] amoshydra commented on #4286
This is a good news for me, at least now I am able to generate a resolved webpack config.

However, perhaps, Nuxt can add some kind of API to just trigger and return the `compilersOptions` without running Webpack?

https://github.com/nuxt/nuxt.js/blob/bed0714fad9cafc770f8c0c1eed7c85001855acd/packages/webpack/src/builder.js#L92-L102

In this case, `process.exit()` hack will not be required.

[2018-11-07 09:35] Defite commented on #3231
@manniL well, I messed up features, all I needed is in this plugin:

`import postcssNested from 'postcss-nested';`

[code]

Then everything works as I expect.

[2018-11-07 09:48] manniL commented on #3231
@Defite This is a bit cumbersome, isn't it? 🙉

I'd use the `build.postcss` object for that ([docs](https://nuxtjs.org/faq/postcss-plugins#how-to-add-postcss-plugins-))

[2018-11-07 11:41] aldarund commented on #3994
@melrefaie so in your case when u save in dev its longer than  build? if so - do u have a component\page with a lot of nested tags?

[2018-11-07 12:40] sergiocastrovale commented on #3994
@manniL I'm not able to share the code but the use case is pretty simple:

1. I have a _variables.scss file which I need to load on a bunch of components in order to get access to scss vars like $dark, $light, $header_gradient, etc.

2. I can do so manually (include + full path) or use something like [sass-resources-loader](https://github.com/shakacode/sass-resources-loader)

3. Every time I save

[2018-11-07 12:45] melrefaie commented on #3994
in your case when u save in dev its longer than build?
Yes it takes longer time than build.

I don't have a lot of nested tags. but i have:
186 pages
75 component

I don't face this problem with small projects. but in large projects its nightmare to work with .

[2018-11-07 13:20] sergiocastrovale commented on #3994
@melrefaie  Is your issue similar to mine? Are you injecting SCSS into those components?

[2018-11-07 14:06] melrefaie commented on #3994
@sergiocastrovale

I inject stylus in layouts,  i use
<style lang="stylus">
inside pages and components and global file includes variables and mixins file inside nuxt.config

[2018-11-07 14:12] manniL commented on #3994
@melrefaie do you use `style-resources-loader`?

[2018-11-07 14:39] manniL commented on #3994
@melrefaie Could you try out something like https://github.com/BKWLD/nuxt-stylus-resources-loader as substitute?

[2018-11-07 14:41] melrefaie commented on #3994
@manniL ok i will try it

[2018-11-07 14:56] Pinegin commented on #3994
@manniL

faced the same problem.

Just tried instead:
`
styleResources: {
      scss: './assets/scss/all.scss',
    },
`

use:
`  modules: [
    ['nuxt-sass-resources-loader', '@/assets/scss/all.scss'],
  ],`

speed has increased many times.

[2018-11-07 14:57] manniL commented on #3994
@Pinegin Thanks for the ping back!

[2018-11-07 15:05] AndrewBogdanovTSS commented on #3994
@manniL that is the exact issue we were discussing some time ago. `styleResources` are not usable at this point due to some severe internal bug though external libs for same functionality handles it well!
The requirements for `styleResources`
1. It should cache the result of injection and only rebuild when it's really necessary
2. It should not compile code at all, only inject variables, functions

[2018-11-07 15:07] manniL commented on #3994
@AndrewBogdanovTSS Yeah, I saw you comment above too. I might have a solution for that ☺️

[2018-11-07 15:10] zuohuadong opened #4290 "support nuxt build:amp"
Use `nuxt build:amp` to generate an AMP Web page for the NUXT project.

[2018-11-07 15:10] #4290 closed

[2018-11-07 15:13] zuohuadong opened #4291 "support nuxt build:amp"
### What problem does this feature solve?

Use `nuxt build:amp`  to generate an AMP Web page for the NUXT project.

<div align="right"><sub><em>This feature request is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/nuxt.js/issues/c8106">#c8106</a>)</em></sub></div>

[2018-11-07 15:15] melrefaie commented on #3994
@manniL Wow thank you.

Using [nuxt-stylus-resources-loader](https://github.com/BKWLD/nuxt-stylus-resources-loader) solve my save time problem form 2.30 min on save to 1 or 2 second.

[code]
To any one see this comment don't use styleResources.

[2018-11-07 15:20] manniL commented on #3994
@melrefaie I'm working on a module to overcome all perf issues for that ☺️ (Supporting SCSS, LESS and Stylus)

[2018-11-07 16:13] uptownhr commented on #4090
Chiming in here, as I'm also experiencing a similar issue in regards to chunk error messages in production. After deployment of new code, I have to force cache clears for the error to disappear.

[2018-11-07 17:56] #3929 closed

[2018-11-07 17:56] #3858 closed

[2018-11-07 17:56] #3945 closed

[2018-11-07 17:56] #3921 closed

[2018-11-07 17:56] #1768 closed

[2018-11-07 17:56] #2769 closed

[2018-11-07 17:56] #3471 closed

[2018-11-07 17:56] #3767 closed

[2018-11-07 17:56] #3951 closed

[2018-11-07 17:56] #3267 closed

[2018-11-07 18:34] manniL commented on #3994
Will release a module as drop-in replacement that should be faster than the current solution 📦 🙌

[2018-11-07 18:56] #1960 closed

[2018-11-07 18:56] #3453 closed

[2018-11-07 18:56] #2962 closed

[2018-11-07 18:56] #3512 closed

[2018-11-07 18:56] #3541 closed

[2018-11-07 18:56] #2734 closed

[2018-11-07 18:56] #3663 closed

[2018-11-07 18:56] #3021 closed

[2018-11-07 18:56] #2825 closed

[2018-11-07 18:56] #2833 closed

[2018-11-07 18:56] #3135 closed

[2018-11-07 18:56] #3302 closed

[2018-11-07 18:56] #3441 closed

[2018-11-07 18:56] #2924 closed

[2018-11-07 18:57] #3823 closed

[2018-11-07 18:57] #3098 closed

[2018-11-07 18:57] #3844 closed

[2018-11-07 18:57] #1603 closed

[2018-11-07 19:56] #2887 closed

[2018-11-07 19:56] #1674 closed

[2018-11-07 19:56] #1795 closed

[2018-11-07 19:56] #3210 closed

[2018-11-07 19:56] #3241 closed

[2018-11-07 19:56] #2478 closed

[2018-11-07 21:48] AndrewBogdanovTSS commented on #3994
@manniL waiting for it! :) Will it be any different from `nuxt-stylus-resources-loader` or `sass-resource-loeader` ?

[2018-11-07 21:49] manniL commented on #3994
@AndrewBogdanovTSS It uses `sass-resource-loader` under the hood, but not exclusively :)

[2018-11-07 22:02] manniL commented on #3870
Nooo!

[2018-11-08 02:19] falstack commented on #3994
should upgrade nuxt to v2.2.1, use nuxt-stylus-resources-loader as default?

[2018-11-08 04:51] sh commented on #3994
@manniL looking forward to your module 🎉

I ran into #4278 when making changes to our `_vars.scss`, `fast-sass-loader` fixed this but it is still taking around 50-70s.

I've replaced `style-resources-loader` with `sass-resources-loader@2.0.0` (note: not `nuxt-sass-resources-loader`), but it seems to have issues with threads / webpack on the second change to vars.scss the whole process broke with a

[2018-11-08 05:48] #3914 closed

[2018-11-08 07:28] johnyluyte commented on #3687
@cdunlap The solutions in both #2892 and #1052 work for me. (which are the essentially the same solution)

My asset paths are no broken with those settings.  Maybe you can try again. I'm using nuxt 1.4.2

[2018-11-08 08:32] iwata commented on #4050
@NickBolles  @kevinmarrec
Here is my improvements.

[code]

[2018-11-08 09:06] kevinmarrec commented on #4050
@iwata Thanks for sharing, did you see my last version ?
https://github.com/nuxt/nuxt.js/pull/4164/files

To be honest here are my thoughts about it :

[-] `env` and `nuxtState` need to be dictionnariess, otherwise you will have error when typing `env.something`.

[-] My `beforeNuxtRender` seems to be better defined

[+] Your `redirect` definitions made me see that my `query?` param is defined as

[2018-11-08 10:02] manniL commented on #4291
Take a look at https://github.com/nuxt/nuxt.js/tree/dev/examples/with-amp ☺️

[2018-11-08 10:05] Defite commented on #3231
@manniL your solutions look better than mine, I'll fix it in my project, thank you)

[2018-11-08 10:11] iwata commented on #4050
@kevinmarrec
Thanks for your kind feedback.

Oh, sorry. I'll check it later.

Agree 👍

I checked your latest definition.
Yeah, that's great ✨

👍

Yes, you can check it in this article.
[typing \- Is there a way to "extract" the type of TypeScript interface property? \- Stack Overflow](https://stackoverflow.com/questions/36311284/is-there-a-way-to-extract-the-type-of-typescript-interface-property)

[2018-11-08 11:05] manniL commented on #3948
Moving the `serverMiddleware` in the dist folder would lead to broken relative imports, which is somewhat hard to "prevent"/"avoid".

Instead, the documentation will include which files have to be present on the server soon:tm:.

[2018-11-08 11:44] kevinmarrec commented on #4050
@iwata Perfect.

The only thing that still get me confused if that I'm not sure that the the source you mentionned is the good one to take in account.

Anyway, I'll test with making them optional, and try the different cases like only giving either the status or the message, and see how Nuxt handle it.

[2018-11-08 12:01] sam3d commented on #2568
There could be a potential quirk here.

In the past, it's always been safe to assume that `asyncData()` will always run before `mounted()` (so you can trust that the data you expect to be there _is there_).

Let's say you want to poll an API endpoint to retrieve data every 5 seconds, and you start that method when the component is mounted, you're gonna be running the `asyncData()` method at the sa

[2018-11-08 14:13] sam3d opened #4296 "When globalName is set to something other than "nuxt", there is an Uncaught TypeError"
### Version

[v2.2.0](https://github.com/nuxt.js/releases/tag/v2.2.0)

### Reproduction link

[https://codesandbox.io/s/430mvo2zo0](https://codesandbox.io/s/430mvo2zo0)

### Steps to reproduce

1. Create the most basic `nuxt.js` app that can be created (with a single `pages/index.vue`)
2. In the `nuxt.config.js` set the following:

[code]

3. The web console will now throw the following error:

[c

[2018-11-08 14:20] sam3d commented on #4296
Ah, okay. This appears to happen on interaction with Vue DevTools, otherwise it doesn't occur. It likely isn't an error with Nuxt.

[2018-11-08 14:47] manniL commented on #3887
@djbingham Can you retry it with the latest `nuxt-edge` build?

[2018-11-08 15:20] NickBolles commented on #4050
Looking good! I've been meaning to look at this but been busy on a big fix to another framework.

If your looking for Vue examples Vue Apollo has pretty good typings
https://github.com/Akryum/vue-apollo/blob/97d317e765e2be3b751d35ba82d373cfd694c61a/types/vue.d.ts

[2018-11-08 15:47] manniL commented on #3994
Everyone who used `style-resources-loader` can try out https://github.com/nuxt-community/style-resources-module ☺️ Feedback very welcome!

[2018-11-08 16:09] AndrewBogdanovTSS commented on #3994
@manniL not working for me.
[code]

[2018-11-08 16:15] manniL commented on #3994
@AndrewBogdanovTSS Ah, consola. Hmm. 1 sec. will update the pkg version and upgrade consola

[2018-11-08 16:16] AndrewBogdanovTSS commented on #3994
After I replaced `withTag` with `withScope` I'm proceeding to this error:
[code]

[2018-11-08 16:17] manniL commented on #3994
@AndrewBogdanovTSS 0.0.2 released with upgraded consola.

You try it with Nuxt 2.2, right?
Could you try it with `nuxt-edge`?

[2018-11-08 16:18] AndrewBogdanovTSS commented on #3994
Yes, I'm trying with Nuxt 2.2
You got quite a lot of outdated dependencies http://take.ms/o0lWs

[2018-11-08 17:05] hashinteractive commented on #4100
Does anyone have any idea on how this implementation would be possible?

[2018-11-08 17:16] galvez commented on #4296
Thanks guys, I'll take a look at this tonight.

[2018-11-08 18:36] AndrewBogdanovTSS commented on #3994
Can confirm that this package only work with Nuxt 2.3 (edge) as of now

[2018-11-08 18:37] AndrewBogdanovTSS commented on #3994
Can't provide comparisons of speed since `--profile` mode is currently broken in Nuxt 2.3

[2018-11-08 18:38] manniL commented on #3994
Works with `2.2` as well since `v0.1.1`

[2018-11-08 18:43] #3870 closed

[2018-11-09 09:13] yenesey commented on #3875
Having the same issue:

[2018-11-09 09:46] Atinux commented on #3877
We are currently working on a solution that could work without any changes, for both critical CSS and extractCSS modes. Stay tuned :)

[2018-11-09 10:08] DQvsRA opened #4300 "Animation on main page nuxtjs.org"
Hello Nuxt.js team.

I just wanted to ask you to remove logo animation from the main page on nuxtjs.org and leave only logo of NuxtJS, the animation looks really cheap, IMHO.

Thanks.

[2018-11-09 10:08] #4300 closed

[2018-11-09 10:35] manniL opened #4301 "Custom watchers + imports don't update nuxt.config.js"
### Version

[v2.2.0](https://github.com/nuxt.js/releases/tag/v2.2.0)

### Reproduction link

[https://codesandbox.io/s/8kzyro678j](https://codesandbox.io/s/8kzyro678j)

### Steps to reproduce

1. Open sandbox
2. Go to / (opened by default)
3. Change the secret in config/secret.js
4. Reload the / page
5. See the old secret

### What is expected ?

Changes are correctly applied

### What is actuall

[2018-11-09 10:39] manniL commented on #3938
@potato4d Any update? ☺️

[2018-11-09 11:48] AndrewBogdanovTSS opened #4304 "Modern mode should alter css generation to avoid generating of unneeded vendor prefixes"
### What problem does this feature solve?

Since modern mode was placed on the root level of the config (in Nuxt-edge) and creates a js bundle version that can be used only by the modern browsers it would be logical to also generate CSS that is free from all unneeded stuff such as vendor prefixes for old browser versions.

### What does the proposed changes look like?

No additional external setti

[2018-11-09 12:16] manniL commented on #4304
Likely related: https://github.com/webpack-contrib/mini-css-extract-plugin/issues/202

[2018-11-09 12:39] djbingham commented on #3887
Sure, I'll give it a go when I next have a spare half hour.

[2018-11-09 14:39] galvez commented on #4301
@manniL adding this to my queue for the weekend, thanks.

[2018-11-09 15:05] fbrbovic commented on #3877
Thanks,  my temporary solution was to import scss or styl file inside <script> tag which doesn't seem to leak css

[2018-11-09 15:32] AndrewBogdanovTSS commented on #4204
@spnc-omz which exact module are you referring to? I only see `postcss-env-function` in my node_modules folder

[2018-11-09 16:41] Skasi opened #4306 "Nuxt-child sometimes mounted before click event that opens it"
### Version

[v2.2.0](https://github.com/nuxt.js/releases/tag/v2.2.0)

### Reproduction link

[https://codesandbox.io/s/vm3okyjyol](https://codesandbox.io/s/vm3okyjyol)

Additional reproduction and debugging examples provided by manniL (small edits by me):

https://codesandbox.io/s/5zwmmxqzvl (nuxt 2.2.0)
https://codesandbox.io/s/k02x548j45 (nuxt 1.4.4 - same code as above, but BUG NOT OCCURRING H

[2018-11-09 18:31] dsmurl commented on #2769
No fixy???

[2018-11-09 19:35] dweldon commented on #3875
@yenesey Yes but `core-js` alone may not be enough. You can see the details of what I did [here](https://stackoverflow.com/questions/52452501). The short version is that I ended up using polyfill.io with some app-specific arguments.

I'd be curious to know if there's a way to **not** include `core-js` for those of us using other polyfills.

[2018-11-10 08:03] ben-richardson-moneysmart commented on #1863
I had this issue where my NuxtServerInit was being called twice when I was loading up a page. The first call had the correct query params I was trying to load, the second call did not. When I had the dev tools open I had 3 calls. 1 with the query params of the page I was opening, 2 without.

After viewing more of the `context` too see what was going on. I realised the additional call was for an im

[2018-11-10 08:34] ben-richardson-moneysmart commented on #4016
Are you sure the map file exists? I found in Chrome it will have a guess as to where the map files are. If the map file is not found, it will generate a 404 instead which the Nuxt server will serve as a normal page, going though the whole NuxtServerInit/middleware for the 404 page. If a 404 is encountered, then the request will not be shown in the Chrome dev tools, only successful `.map` requests

[2018-11-10 08:43] P4sca1 commented on #1863
I also noticed having dev tools open is causing about 20-30 request. Ist loads things from the node_modules and _nuxt folder. I am wondering whether these requests for static ressources really require to call nuxtServerInit?

[2018-11-10 08:55] #3890 closed

[2018-11-10 13:30] #4112 closed

[2018-11-10 15:29] xxRockOnxx opened #4309 "Page styles not overriding functional component styles when visited from different route"
### Version

[v2.2.0](https://github.com/nuxt.js/releases/tag/v2.2.0)

### Reproduction link

[https://codesandbox.io/s/k3y402xpyv](https://codesandbox.io/s/k3y402xpyv)

### Steps to reproduce

# Bug:

- visit `Other`
- visit `Bug`

# No Bug

visit `Bug` directly or if you came from `Other` to `Bug`, just refresh it.

### What is expected ?

Functional component's style gets overridden by page's s

[2018-11-11 10:44] manniL commented on #4309
Likely related: https://github.com/vuejs/vue-loader/issues/1136

[2018-11-11 13:36] xxRockOnxx commented on #4309
@manniL it doesn't exist if i turn it into a non-functional component

[2018-11-11 15:09] ishitatsuyuki commented on #3068
@pi0 #3711 stalled?

[2018-11-11 15:11] bjunc commented on #4219
I noticed this as well.  It messes with styling when the selector order is what determines specificity.  For instance, we use tiny reset.  That should be the very first CSS loaded, but in our case (when using extractCSS), it wasn't – making `extractCSS` completely unusable.

[2018-11-11 15:46] Atinux commented on #3174
Should no be closed :)

[2018-11-11 17:58] galvez commented on #4296
Fixed via #4305

[2018-11-11 17:58] #4296 closed

[2018-11-11 18:14] manniL commented on #3994
I'll close this issue and suggest everyone that uses `build.styleResources` to switch to https://github.com/nuxt-community/style-resources-module/ instead. `build.styleResources` will be deprecated in 2.3 and likely removed/made optional in 3.0.

All other perf problems with preprocessors should be addressed in a new issue.

[2018-11-11 18:14] #3994 closed

[2018-11-11 18:35] kevcodez commented on #2701
I am getting

in Safari. Did you run into this @davision @nicolashmln

[2018-11-11 20:23] chrisvfritz opened #4312 "Hotfix for double escaping static class"
This [will be fixed](https://github.com/vuejs/vue/pull/8037) in the next release of Vue, but currently, new lines, tabs, and other escape characters are escaped twice by Vue's SSR. The result is this:

[code]

compiles to:

[code]

so the styles for `foo` and `bar` are not applied.

I just wanted to share that this can be worked around with the following hotfix in Nuxt projects:

[code]

It might

[2018-11-11 23:03] kevcodez commented on #2701
I took another approach. I included this in my nuxt.config.js

[code]

Worked like a charm.

[2018-11-12 05:54] potato4d commented on #3938
@manniL
I am trying hard but I am a bit struggling.
The goal is to submit a pull request next week!

[2018-11-12 09:02] manniL commented on #3938
@potato4d Take your time and don't hesitate to ask for help if you get stuck ☺️

[2018-11-12 11:04] AndrewBogdanovTSS opened #4317 "Ngrok module fires 2 duplicate messages to the terminal in dev mode"
### Version

[v2.2.0](https://github.com/nuxt.js/releases/tag/v2.2.0)

### Reproduction link

[https://github.com/nuxt-community/modules/tree/master/packages/ngrok](https://github.com/nuxt-community/modules/tree/master/packages/ngrok)

### Steps to reproduce

- Add ngrok module to the project as described in the documentation here: https://github.com/nuxt-community/modules/tree/master/packages/ngr

[2018-11-12 13:16] rchl opened #4319 "Clicking nuxt-link within transition-group triggers page loading error"
### Version

[v1.4.4](https://github.com/nuxt.js/releases/tag/v1.4.4)

### Reproduction link

[https://codesandbox.io/s/6x1ww89xon](https://codesandbox.io/s/6x1ww89xon)

### Steps to reproduce

1. Create list of `<nuxt-link>` elements wrapped within `<transition-group>`
2. Click any of the links to navigate to another page

### What is expected ?

For target page to load

### What is actually happ

[2018-11-12 13:17] AndrewBogdanovTSS commented on #4317
@manniL yeah, I think you're right, will push a PR now

[2018-11-12 13:32] davision commented on #2701
Also an elegant solution. I didn't have issues with Safari tough but will keep an eye on that. Thanks!

[2018-11-12 13:51] #4317 closed

[2018-11-12 15:11] Atinux commented on #4319
Hi @rchl

I tried your example by downloading it and running it locally and it works perfectly. It may be a bug related to CodeSandBox directly 🤔

Usually, the error `Cannot read property 'length' of undefined` is when you forget to give the `to` property to `nuxt-link` directly.

[2018-11-12 15:15] rchl commented on #4319
I'll get back to you shortly because I also can't reproduce in my testcase now but I can locally in my app. So I'm figuring out repro steps now.

[2018-11-12 15:32] rchl commented on #4319
Please try with new sandbox testcase - https://codesandbox.io/s/6x1ww89xon

To reproduce, I had to add dependency on `nuxt-i18n` with lazy loading of translations. Not sure if there is anything specific about nuxt-i18n that causes this (maybe it triggers some updates at wrong moment) or it's just the fact that it delays loading.

[2018-11-12 15:54] rchl commented on #4319
In this case it seems that render() of the TransitionGroup is not called for that instance that errors because this.prevChildren is undefined (it's only set from `render`). So maybe it would be enough to just do a null check there.

[2018-11-12 16:08] clarkdo commented on #4204
@AndrewBogdanovTSS 😸

I understand and I didn't mean that we must use `scoped` here.

Since the injection of css files is asynchronous, so the order of css files are not guaranteed, the root problem is more related to the way how we should organize css.

My point is that it's not a proper way to prioritize styles depending on the order of selector location in file.

If we want make a selector prio

[2018-11-12 16:20] AndrewBogdanovTSS commented on #4204
@clarkdo yeah, I also understand that, but you know, people been controlling css priority by defining specific order for years and  practically getting rid of this habit will mean rewriting thousands of already existing css selectors whereas just switching the file order will fix it in a finger snap (you don't even need to be a Thanos to do that)

[2018-11-12 17:06] sebmor opened #4320 "Default pre-processor language"
### What problem does this feature solve?

Currently, if you use a certain pre-processor (cfr.
https://nuxtjs.org/faq/pre-processors/), you most likely use it predominantly in your app. It would potentially make sense to have the option to declare a default so you don't have to repeat yourself. Of course always possible to be overridden on a per component basis.

For example; I use in every compon

[2018-11-12 17:06] Atinux commented on #4312
Fixed for the next version of Nuxt.js coming (v2.3.0) :)

[2018-11-12 17:06] #4312 closed

[2018-11-12 22:02] Extarys commented on #1776
@manniL the codesandbox returns `Something went wrong`

[2018-11-12 23:43] manniL commented on #3682
Side note: The proposed method signature can't be implemented before Nuxt 3 as the 2nd arg is a callback variable (to avoid breaking changes).

`asnycData(ctx, cb, Component)` would be theoretically possible.

[2018-11-13 08:55] AndrewBogdanovTSS commented on #4139
Any updates regarding this issue? I tried to use `babel-polyfill` as a plugin to workaround this issue, but it's still has no effect. The only way it can be mitigated right now is by including `https://cdn.polyfill.io/v2/polyfill.min.js` as a blocking script before main js bundle will be loaded

[2018-11-13 09:05] kpturner commented on #2705
Why is this closed?   I have components that crash because `css.map` requests find their way to the `asyncData` functions even if I try to filter them out in `nuxtServerInit` so this cannot be right can it?  It begs the question, where exactly is the browser supposed to get the maps from because it must be failing to do so.

[2018-11-13 11:02] opgbaudouin commented on #2705
Also noted these tend to get to any middleware (i.e. your /middleware 'router' plugins) as well. Apparantly this only occurs when debugging your application (i.e. a browser with production should not request them even if they are listed). I believe the dev team are aware of this though...

[2018-11-13 11:15] aldarund commented on #2705
https://github.com/nuxt/nuxt.js/pull/4323

[2018-11-13 12:15] manniL commented on #4139
The code comes from the original lib. Further discussion on https://github.com/Rich-Harris/devalue/issues/16

[2018-11-13 12:15] #4139 closed

[2018-11-13 13:15] Lahori-Jawan commented on #618
okay. I have strange problem. I am passing `env` variables from file to docker which passes them down to `process.env`. Now the problem is the `env` variables are being passed down in `development` phase but not in `production` phase. Isn't it interesting? here is the [repo](https://github.com/Lahori-Jawan/Nuxt-Apollo)

[2018-11-13 13:19] awronski commented on #4154
@clarkdo could you help with it? Thanks!

[2018-11-13 13:23] aldarund commented on #618
@Lahori-Jawan env variables are set at BUILD time.

[2018-11-13 14:35] ChandruCR opened #4326 "Nuxt application(2.0) doesn't work on IE"
### Version

[v2.2.0](https://github.com/nuxt.js/releases/tag/v2.2.0)

### Reproduction link

[https://github.com/ChandruCR/nuxt-vueitfy-ie](https://github.com/ChandruCR/nuxt-vueitfy-ie)

### Steps to reproduce

git clone https://github.com/ChandruCR/nuxt-vueitfy-ie
yarn
yarn dev
open localhost:3000 on Internet explorer

### What is expected ?

Nuxt app to load

### What is actually happening?

Nu

[2018-11-13 14:56] axetroy opened #4327 "Memory leak"
### Version

[v1.4.4](https://github.com/nuxt.js/releases/tag/v1.4.4)

### Reproduction link

[https://no.example.com](https://no.example.com)

### Steps to reproduce

1. run the command

[code]

2. Change the file and nuxt detect the change and rebuild

3. memory leak and process crash

I am very sorry, I can't reproduce it.

Here is the snapshot for memory usage. It may help.

![屏幕快照 2018-11-13

[2018-11-13 15:11] aldarund commented on #4327
First you need to use latest version of nuxt e.g. 2.2

[2018-11-13 15:14] axetroy commented on #4327
@aldarund

I hope so.

But history reason. Some library doesn't update for `vue-loader@15`. so they can work in `nuxt@2.x`

I can only use `nuxt@1.x`

[2018-11-13 15:22] aldarund commented on #4327
well, the issue is that development of 1.4 is stopped and only security fixes can happen to 1.x and its not viable to fix anything other in it, especially with the amount of info you provided. And its likely something in your code that cause it.

[2018-11-13 15:22] #4327 closed

[2018-11-13 15:45] Lahori-Jawan commented on #618
@aldarund no. ARG & ENV both variables are set at build time but `ENV` varialbes can be used to reset/override values at runtime too e.g. [more](https://vsupalov.com/docker-arg-vs-env/), but that is not the point here. My container when run in `development` mode shows different result than when in `production` mode. you can test that form my repo. In development, I have access to `process.env` con

[2018-11-13 15:50] aldarund commented on #618
@Lahori-Jawan you are missing what im saying. I`m not talking about docker envs. Nuxt bundle environment variables into bundle at build time. So what is matter what variables are set when u do nuxt build, not a nuxt start

[2018-11-13 15:53] Lahori-Jawan commented on #618
@aldarund I surely missed that. I will try it & update you on this.

[2018-11-13 15:55] aldarund commented on #618
If u need runtime env variables you can use https://github.com/samtgarson/nuxt-env  ( ⚠️ WARNING: As with the config.env option in Nuxt config, environment variables used in nuxt-env are exposed client side, so don't use it for storing secrets! ⚠️ (

[2018-11-13 16:02] Cu3e opened #4328 "Deploy to Zeit Now v2.0"
A few days ago, zeit now has been upgraded to version 2.0, so deploy (https://nuxtjs.org/faq/now-deployment/) has stopped working. It is not clear from the Zeit documentation what needs to be done.

Does anyone know how to deploy on version 2?

[2018-11-13 16:02] #4328 closed

[2018-11-13 16:19] vDupindev opened #4329 "Use service and $router.push before html rendering"
Hi guys,

It is possible to load data and use it to redirect to another page ?

Example of my page code :

<script>
  import MyService from '../services/my.services'

  export default {
    beforeCreate(){
      MyService.getData().then(res =>{
        this.$router.push({path: "/path/" + res})
      })
    },
    components: {
      MyService,
    }
  }
</script>

I have a problem with this code.

[2018-11-13 16:19] #4329 closed

[2018-11-13 16:25] Lahori-Jawan commented on #618
@aldarund I think the only best option I have right now is to NOT run build while building the image instead do it when creating container. Do you think its good practice? which I guess is good when there is no 2nd way of doing this.

[2018-11-13 16:29] Lahori-Jawan commented on #618
my use case is to set live environment credentials for `nuxt-apollo` module to set `httpEndpoint` for which apollo module requires to set via plugins.

[2018-11-13 17:23] rafaelmagalhaes commented on #4052
I installed vue-meta version is 1.5.5  and it's working fine with nuxt ,both title and description all show on the first load

[2018-11-13 23:03] aldarund commented on #4326
It errors on Array.createRange from vuetify. its not related to nuxt. And creating bug report is not  a way to ask questions :) You an ask questions in discord or cmty
You can just import polyfill in your code e.g. plugins or include polyfill from cdn into head in nuxt config

[2018-11-13 23:03] #4326 closed

[2018-11-13 23:48] manniL commented on #4309
@xxRockOnxx I think opening a bug report in the vue repo too wouldn't hurt. I'm unsure whether this is a Nuxt or Vue bug :thinking:

[2018-11-14 09:36] xxRockOnxx commented on #4309
@manniL I'm not sure either. As for opening another issue, the one you linked describes it almost the same. I guess that will do. You can see there that there's a lot of similar issues referenced also.

[2018-11-14 09:46] manniL commented on #4309
@xxRockOnxx Agreed.

[2018-11-14 15:13] lee-sangyoung commented on #4197
I have a same issue

[2018-11-14 16:50] #4188 closed

[2018-11-14 19:21] aldarund commented on #4197
asyncadata/fetch trigger only once in this case.
mounted and created twice. so component got created twice for some reason

[2018-11-14 19:32] #1863 closed

[2018-11-14 19:32] #4016 closed

[2018-11-14 23:38] Azleal opened #4333 "how to change the context path when running the app"
hi~  i'm new to nuxt and encountering some problems: when building the app, using `npm run build` to build and `npm run pm2` run the app. now I can use `http://localhost:20898/` to visit my app. because the server side uses nginx to do reverse-proxy, and nginx reverse-proxied many apps, this nuxt app is one of them. now that the nuxt app has no context path or the context is `/`, and this may caus

[2018-11-14 23:38] #4333 closed

[2018-11-15 07:15] awronski commented on #4132
@pi0 Could you look at it?

Because now you are closing the reports without even checking it :(

[2018-11-15 09:17] simonhermann commented on #4320
That'd be nice, but how would your text editor know that you use scss?

[2018-11-15 09:35] amoshydra opened #4334 "Automatically resolve scoped module slash in Windows when specified in transpile block"
### What problem does this feature solve?

Related to: https://github.com/nuxt/docs/pull/985

---

On Windows, the filepath that received by JavaScript uses backslash `\`.

At first it might be tempting to use
[code]

However, this will fail on Windows.

Related code:
[code]
https://github.com/nuxt/nuxt.js/blob/3702dfe5dcb5c4fdeb03fcd3025f5a5ae39232be/packages/webpack/src/config/base.js#L176

Whic

[2018-11-15 09:52] amoshydra commented on #4334
Digging throught the test file, it seems like, user are expected to write RegExp friendly string too

https://github.com/nuxt/nuxt.js/blob/dev/test/unit/basic.dev.test.js#L28-L31
[code]

Perhaps, this shouldn't be the case too?

**Suggestion:**
User should be able to write normal string that represent a filepath and have their provided string sanitized for regex later.

In conjunction to the above

[2018-11-15 13:55] Cstrl commented on #4024
Same problem here. Any updates?

[2018-11-15 14:14] djbingham commented on #3887
`nuxt-edge` gives me a different issue. In case it helps, I've tried the latest `1.x` and `2.x` builds too.

**`nuxt:1.4.4`**
Exactly the same issues described above.

**`nuxt:2.2.0`**
Different issue - the following error appears in the Nuxt logs:
[code]
The web page also shows the same error:
[code]

**`nuxt-edge:latest`**
The following error is shown from the Client compiler and overlaid on the

[2018-11-15 15:10] MrToxy commented on #4329
yes, use asyncData with redirect, basically what you'll do is:

async asyncData({redirect,store}){

//get data from store or from api with app.$axios
redirect('/route here')
}

https://nuxtjs.org/api/

[2018-11-15 16:30] thariddler commented on #3954
I still would sole to see the fix. How can you close this only if it's not active, if this is a bug?

[2018-11-15 16:49] Guizzoni commented on #3954
I believe this is related to #4132 which was also closed without a solution.

[2018-11-15 17:03] amoshydra commented on #4334
Resolved by #4335

[2018-11-15 17:03] #4334 closed

[2018-11-15 17:54] davidpmccormick commented on #2738
I'd be sad if this fell off the radar – I'm still looking for a solution.

[2018-11-15 19:01] karakum commented on #4100
Have the same problem. Need support of named views in nuxt

[2018-11-15 21:20] aldarund opened #4340 "feat: support http2 out of the box / with minimal configuration"
### What problem does this feature solve?

Support http2 out of the box :)

<div align="right"><sub><em>This feature request is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/nuxt.js/issues/c8145">#c8145</a>)</em></sub></div>

[2018-11-15 22:54] thariddler commented on #4132
Frustrating to see how bug reports are closing automatically.

[2018-11-16 05:17] freddysidauruk opened #4342 "nuxt link doesn't work while having middleware"
Hey i'm new :)

i don't know why why middleware made nuxt-link become not working, this is my middleware

[code]

This is my nuxt.config.js

[code]

this is my looks like screen shoot
![screenshot from 2018-11-16 12-03-52](https://user-images.githubusercontent.com/44688534/48599099-cc7f5d80-e998-11e8-8e2f-372abe3f1edd.png)

and this is my template login.vue

[code]

Whenever i click link register

[2018-11-16 05:17] #4342 closed

[2018-11-16 08:19] hareku commented on #3877
I want to use splitChunks with extractCSS option.

[2018-11-16 08:36] karakum commented on #4100
I've got a workaround by custom template of router.js. Try to make PR..

[2018-11-16 09:46] davision commented on #2738
The only acceptable solution for me right now is to use a vue-scrollto plugin. On a default template or _slug I'm having:

[code]

It's ugly hack but currently, the only way to go, sadly.

[2018-11-16 09:51] aldarund commented on #4342
Because your middleware redirect you back to login

[2018-11-16 09:55] awronski commented on #3954
It is discouraging that the error reports with reproduction steps are being closed without any check :(

[2018-11-16 11:09] folamy opened #4343 "I can't npm install on keystonejs/nuxt starter"
### Reproduction link

[https://github.com/keycircle/keyuxt](https://github.com/keycircle/keyuxt)

### Steps to reproduce

to run: npm install, npm dev or npm start successfully

### What is expected ?

to run: npm install, npm dev or npm start successfully

### What is actually happening?

A whole lot of warnings and errors and at the end the app won't run

### Additional comments?

to run: npm i

[2018-11-16 11:11] #4343 closed

[2018-11-16 11:22] folamy commented on #4343
whoops! sorry

[2018-11-16 11:43] samir-araujo commented on #2378
Whoops! Thanks! I have updated my comment

[2018-11-16 13:47] davision commented on #2738
The case is, that you are on one page, scroll down, click on some link in the footer, you go to another page positioned at the bottom. You should come to the top of that new page. But you don't.

[2018-11-16 13:50] bovas85 commented on #2738
Can you not use window.scrollTo(0, 0) then?

[2018-11-16 14:57] reskwer opened #4347 "rem"
Thank you very much for rem in css, this is what was missing, you are the best 😍😍😍😍😍

[2018-11-16 14:57] #4347 closed

[2018-11-16 15:53] bradleyridge opened #4349 "`boxen` dependency error on install"
### Version

[v2.3.0](https://github.com/nuxt.js/releases/tag/v2.3.0)

### Reproduction link

[https://www.google.com](https://www.google.com)

### Steps to reproduce

`npm install nuxt`

### What is expected ?

"No matching version found for boxen@^2.0.0" error

### What is actually happening?

nuxt 2.3.0 requires a package that is either private, deprecated, or erroneous.

### Additional comment

[2018-11-16 17:32] silverbackdan opened #4350 "Lodash templates no longer have lodash functions"
### Version

[v2.3.0](https://github.com/nuxt.js/releases/tag/v2.3.0)

### Reproduction link

[https://codesandbox.io/s/ko1j0qryvv](https://codesandbox.io/s/ko1j0qryvv)

### Steps to reproduce

Create a lodash template using a lodash function to compile a javascript file. The function does not exist. Only _.escape exists.

### What is expected ?

Lodash functions to exist still - this is a breakin

[2018-11-16 17:45] silverbackdan commented on #4350
Of course there's a workaround - sorry it's late on Friday - I'll just use regular es6 for/of syntax. I think this still may count as a breaking change though and possibly worth a fix?

[2018-11-16 17:59] scott-joe commented on #4349
+1 For whatever reason, npm doesn't like `^` dependencies if the version specified with the `^` _is_ the newest version. I updated npm but it persisted. The offending line is here https://github.com/nuxt/nuxt.js/blob/dev/packages/cli/package.json

[2018-11-16 18:59] aldarund commented on #4349
What version of node/npm? I cant reproduce it with npm 6.4.1

[2018-11-16 19:01] bradleyridge commented on #4349
## Additional Information:
_(following further digging)_ I am behind a corporate proxy and also leverage artifactory for private packages. It appears when removing the artifactory .npmrc, it installs fine - indicative of an issue with artifactory, not nuxt.
* npm v6.4.1

[2018-11-16 21:20] #4349 closed

[2018-11-16 21:44] stefanjudis opened #4351 "Modern build assets are cached and loaded by nuxt-pwa workbox"
### What problem does this feature solve?

I just enabled the "client modern" build and it works great! Good job friends.

Additionally, I'm running with nuxt-pwa which grabs all files generated in `_nuxt`. This doubles the files loaded by the service worker where half of the files will never be requested due to the client-side "module"/"nomodule" bridge.

### What does the proposed changes look l

[2018-11-16 22:20] Mikkou opened #4352 "UnhandledPromiseRejectionWarning: TypeError: _consola2.default.withTag is not a function"
Have this error

`(node:17818) UnhandledPromiseRejectionWarning: TypeError: _consola2.default.withTag is not a function
    at Object.<anonymous> (/home/mikkou/PhpstormProjects/5element-front/node_modules/webpackbar/dist/utils/cli.js:29:53)
    at Module._compile (module.js:649:30)
    at Object.Module._extensions..js (module.js:660:10)
    at Module.load (module.js:561:32)
    at tryModuleLoad (m

[2018-11-16 22:20] #4352 closed

[2018-11-17 02:08] cesasol opened #4353 "Nuxt v2.3.0 broke pnpm usage"
### Version

[v2.3.1](https://github.com/nuxt.js/releases/tag/v2.3.1)

### Reproduction link

[https://codesandbox.io/s/pk56vvqonx](https://codesandbox.io/s/pk56vvqonx)

### Steps to reproduce

Use pnpm as your package manager `pnpm install`
Any command will fail with a vue-loader error because it could not find babel-loader when compiling vue templates.

### What is expected ?

To find the babel-

[2018-11-17 07:48] luatnd commented on #146
Hi, the link is not working, can you update this doc link?

[2018-11-17 08:59] aldarund commented on #4352
`Please note that for upgrading Nuxt.js just changing version inside package.json is not enough. Please use yarn upgrade or npm upgrade so that the final directory structure of node_modules will be correct. In case of problems clean up node_modules and yarn.lock/package-lock.json.

`

[2018-11-17 09:53] pi0 commented on #4353
@cesasol sorry for inconsistencies. Actually, pnpm or (similar package managers) was not being tested/listed as nuxt official supported package managers and now fixing yarn breaks pnpm! Trying to find a universal workaround that webpack behaves better with loaders.

[2018-11-17 09:59] clarkdo opened #4355 "Support http2 push modern assets for client type modern mode"

[2018-11-17 09:59] #4355 closed

[2018-11-17 10:00] clarkdo opened #4356 "Modern mode improvements"
### What problem does this feature solve?

1. In `client` modern mode, serve modern assets in http2.push header
1. Auto detect modern mode in nuxt start

Relate to  https://github.com/nuxt/docs/pull/987#issuecomment-439603499

<div align="right"><sub><em>This feature request is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/nuxt.js/issues/c8163">#c8

[2018-11-17 10:00] CoolGoose commented on #3764
@manniL finally, I could reproduce it cleanly.
Please go to https://codesandbox.io/s/0qw4vx239n and click about.

[2018-11-17 10:50] rikoz commented on #3877
Any solution yet, I'm experiencing same here. Please I'm seeing a lot of temporaty fix but no detailed explanation of them. I need your help

Thanks

[2018-11-17 11:15] kevinmarrec commented on #4050
Resolved in #4164

@pi0 Could you add the `cmty:status:implemented` label ? Thanks !

[2018-11-17 11:15] #4050 closed

[2018-11-17 15:59] manniL commented on #4356
Another suggestion: Detect `client`/`server` modern mode when `modern: true`.

[2018-11-17 23:56] alex88 commented on #4301
In my case this also impacts the server middleware which were supposed to be hot reloaded by https://github.com/nuxt/nuxt.js/pull/3718 right

[2018-11-18 03:32] noodv opened #4359 "I get 'Cannot read property 'extend' of undefined' when customize component"

[2018-11-18 03:32] #4359 closed

[2018-11-18 07:23] farhadniaz opened #4360 "duplicate script link in head and body, because of preloading them"
nuxt.config.js
[code]

When preloading  scripts, Nuxt put them as preload script in head and also in body as normal script link .
[code]

[2018-11-18 07:23] #4360 closed

[2018-11-18 08:48] awronski commented on #4356
Hi Guys!

Did you check performance between transpiled and modern version on the new browser like chrome?
Is the es6-modules faster than transpiled one? I know it may depends on the application type but in general?

[2018-11-18 10:51] davision commented on #2738
That could also work, but then you'll have quite an ugly jump from the bottom of the page to the top.

[2018-11-18 11:06] manniL commented on #4356
@awronski So, the non-transpiled version *should* be smaller and faster. I haven't done any testing on that but as transpiled code has to "rebuild" natively available functions, it can't be as small and as fast as un-transpiled code for a "general application".

[2018-11-18 11:07] manniL commented on #4301
@alex88 Could be affected, yup

[2018-11-18 11:33] #2894 closed

[2018-11-18 12:03] nmfzone commented on #4219
Whopps. I'm not sure, but I think this issue is solved in Nuxt 2.3.1.
I'm using Nuxt 2.2.0 when experiencing this issue, but after I rebuild node_modules and lock file, the issue has gone.

[2018-11-18 12:39] chanlito opened #4361 "feat: honor .ts/.tsx pages"
### What problem does this feature solve?

This will allow us to have better DX when developing application with Nuxt.js and be able to use these file extensions.

Currently Nuxt pages only pick up .js/.vue files.

### What does the proposed changes look like?

Since Nuxt.js `2.0` is already using Babel 7. I currently manage to use Typescript by just adding `@babel/preset-typescript` and a few oth

[2018-11-18 12:58] nmfzone commented on #3943
Do you have a solution for this issue? @manniL

[2018-11-18 12:59] manniL commented on #3764
@CoolGoose it seems like wrapping it in a computed property will work fine :thinking: (https://codesandbox.io/s/ykxr52rr8x)

[2018-11-18 13:07] manniL commented on #4350
Likely related to https://github.com/nuxt/nuxt.js/pull/4099

Didn't know that lodash was available there by default :thinking:

It is kind of a breaking change, though I'm not sure if that behavior is either wanted/planned or documented somewhere :thinking:

cc @pi0

[2018-11-18 13:15] manniL commented on #3943
@nmfzone This depends on https://github.com/webpack-contrib/mini-css-extract-plugin as #4219

[2018-11-18 13:35] nmfzone commented on #3943
So, I think, this is VueServerRenderer problem. Let's take a look https://github.com/webpack-contrib/mini-css-extract-plugin/issues/90#issuecomment-439405759

[2018-11-18 14:16] CoolGoose commented on #3764
@manniL
From my testing simple keys with integers work fine even without computed. The problem is for objects.
Please see https://codesandbox.io/s/r019y31qrm and notice the `{ "info": [ "error" ] } ` message (also made it a computed in that component, but still no luck)

[2018-11-18 19:03] manniL commented on #3764
@CoolGoose Please check my CSB :relaxed: It works fine with objects as well

[2018-11-18 20:57] RichAyotte commented on #2835
@DreaMinder The latest version of Nuxt broke your script. `node_modules/nuxt-start/bin/nuxt-start` no longer exists.

It can now all be run in a single node process now too instead of splitting the api out.

[2018-11-18 21:01] DreaMinder commented on #2835
@RichAyotte no, I believe you wrong.
`node_modules/nuxt/bin/nuxt-start` - this doesn't exist in new nuxt version, yes.
`node_modules/nuxt-start/bin/nuxt-start` - but this should work. Note that you should have separate package installed called nuxt-start (lite production version of nuxt).

[2018-11-18 21:07] RichAyotte commented on #2835
Oh geez, I didn't notice that nuxt-start package - I thought I was running `/nuxt/bin/nuxt-start`. Thanks again.

[2018-11-19 09:11] awronski commented on #4356
@manniL Thanks! I will do some testing

But it would be great to see A/B testing on a real site :)

[2018-11-19 09:49] Avcajaraville commented on #3943
I can confirm Im having the same problems.

I filled issues on [here](https://github.com/webpack-contrib/mini-css-extract-plugin/issues/307) and [here](https://github.com/webpack-contrib/mini-css-extract-plugin/issues/90) but no luck so far :(

This is breaking all our deployments at the moment...

[2018-11-19 10:32] tarreislam commented on #3924
This should fix that

[code]

[2018-11-19 13:16] manniL commented on #3943
@Avcajaraville A workaround would be not using extractCSS for now :|

[2018-11-19 13:18] manniL commented on #4356
@awronski I'll add that to my list of blog posts to do :relaxed:

[2018-11-19 13:42] Avcajaraville commented on #3943
@manniL and what would you recommend as an alternative?

[2018-11-19 15:30] manniL commented on #4356
@husayt Please create a new issue for that as it's clearly not related to that one.

[2018-11-19 16:17] nmfzone commented on #3943
![carbon](https://user-images.githubusercontent.com/10361906/48719977-50fc0580-ec51-11e8-9e7c-c648a4d41611.png)
 My configuration right now :|

[2018-11-19 16:36] manniL commented on #3943
@nmfzone any particular reason you’d need to extract it?

[2018-11-19 17:01] NoClipDigital opened #4364 "Validating publicPath value in Nuxt Config [v2.3.1]"
### Version

[v2.3.1](https://github.com/nuxt.js/releases/tag/v2.3.1)

### Reproduction link

[https://codesandbox.io/s/pxxv9r660](https://codesandbox.io/s/pxxv9r660)

### Steps to reproduce

In the `build` section of the nuxt.config.js file, set the `publicPath` value to an empty string, or false.

Then re-run `npm run dev`

### What is expected ?

Nuxt should default to `/_nuxt/` in the event of

[2018-11-19 17:45] Avcajaraville commented on #3943
@manniL  I would say probably caching issues is the biggest one.

We dont wanna put all our modules/routes css in a style tag. Depending on the view it can be quite big.

[2018-11-19 21:52] manniL commented on #3943
@Avcajaraville You can completely cache the component files which include the CSS. If you build it up modularly as well (moving component CSS into component files via `<style>` tags) you'll also only load what's needed.

[2018-11-19 22:05] Avcajaraville commented on #3943
I don't think I quite understand you. To be honest, I came across this issue from mini css, but not using nuxt.

I found out I can have the css in js, but thats not satisfing for us, as we need CSS independent from JS (so JS is not needed to browse our site). The only solution so far, is to inject all the CSS into a style tag, which is impossible to cache, isn't?

Is there anything Im missing ?

T

[2018-11-19 22:07] manniL commented on #3943
@Avcajaraville Oh, I see, wasn't aware of that :| In this case, you'll likely have to wait for a fix.

[2018-11-19 23:37] manniL commented on #4340
Will only work (natively) with Node 11.1++ (https://nodejs.org/api/http2.html#http2_core_api)

[2018-11-20 03:58] johnyluyte commented on #3687
@cdunlap
Here are my `nuxt.config.js` settings:

[code]
The setting works for me because I'm fine with the "SPA mode", and because I'm fine with the "router hash mode".

The problem is that, just like you, I also had to implement a `catchall` rule to redirect all the missing routes to the front page of my SPA.

The solution we have for **relative path** right now is not enough, and only works for

[2018-11-20 04:14] cdunlap commented on #3687
I actually use `nuxt generate` to produce my builds. I'm in SPA mode with no server-side code at all, similar to you. Nuxt appears to still require the router regardless.

The only difference as far as I can tell, between your solution and mine, is that you're in hash mode. I bet if I went to hash mode I'd be ok since at that point the URL is broken apart by the `#` character and won't matter wher

[2018-11-20 05:57] JacobWay opened #4367 "do not lose url parameter in the entire site when one url has the parameter."
Do not lose the url parameter in the entire site when one url has the parameters. For example, a url has a parameter like this: some.url?akey=avalue, then attach the parameter to all urls in the site, like below: then.url?akey=avalue. How can I achieve this?

[2018-11-20 05:57] #4367 closed

[2018-11-20 08:43] johnyluyte commented on #3687
@cdunlap Yes, it should work since that's how hash mode works for vue-routers.
But still there might be cases where hash mode is not desired, so a more general solution is always welcome.

[2018-11-20 10:54] ricardogobbosouza opened #4369 "New directory to errors"
### What problem does this feature solve?

1 - With this new feature, I believe that the structure of the app stay more organized.
2 - It is no longer necessary to contain the `error.vue` file inside` layouts`, because it is not a layout. (We could keep to not contain breaking change)
3 - We could customize each type of error in each corresponding file, without the need to create conditions.

###

[2018-11-20 11:12] aszaffranietz opened #4370 "Dynamic store has undefined state"
### Version

[v2.3.1](https://github.com/nuxt.js/releases/tag/v2.3.1)

### Reproduction link

[https://codesandbox.io/s/xrkwnonowo](https://codesandbox.io/s/xrkwnonowo)

### Steps to reproduce

- Check out the Reproduction Link
- In `dynamic-store/dynamic.js` is a `console.log(state)`
- On initial page load you will see the state is filled (logged on console)
- Navigate to "About" with the Nuxt-Li

[2018-11-20 13:42] ricardogobbosouza commented on #4370
Hi @aszaffranietz
This problem is with a `Vuex` not `nuxt`

[2018-11-20 16:12] manniL commented on #4369
Hey @ricardogobbosouza

We are already thinking about how to avoid the quirky setup with the error-page.
Unfortunately, we can't introduce any breaking changes, so the default behavior will stay until Nuxt 3 as you already realized.

I think it'd be a nice addition! 👍

[2018-11-20 16:29] manniL commented on #4291
I guess that'd be a nice module idea.

[2018-11-20 16:33] manniL commented on #4211
You have a few options there:

* Use something like https://github.com/nuxt-community/pwa-module
* Write your own implementation/module that does that.

As an easy way is already given with the first solution, I'm closing here ☺️

[2018-11-20 16:33] #4211 closed

[2018-11-20 16:41] aszaffranietz commented on #4370
but it worked with Nuxt v1.x as I said and even the example shows. And the Vuex version is the same in both examples.

[2018-11-20 16:45] manniL commented on #4370
@aszaffranietz Pass in ` { preserveState: false }` as third argument when registering the module ☺️

https://3rwj436405.sse.codesandbox.io/

[2018-11-20 17:06] aszaffranietz commented on #4370
Thank you!! That seems to fix my problem. I will test it in more detail tomorrow.

[2018-11-20 17:08] manniL commented on #4370
@aszaffranietz you are welcome ;)

Closing here, if you still have issues ping back here ☺️

[2018-11-20 17:08] #4370 closed

[2018-11-20 17:12] #4364 closed

[2018-11-20 17:20] ricardogobbosouza commented on #4350
@manniL This can be closed, right?

[2018-11-20 17:36] victor192 opened #4371 "Chunkhash is not added to the app.js in production mode"
### Version

[v2.3.1](https://github.com/nuxt.js/releases/tag/v2.3.1)

### Reproduction link

[https://www.example.org](https://www.example.org)

### Steps to reproduce

`npm run build`

### What is expected ?

Whats to `app.js` will be added chunkhash

### What is actually happening?

In `nuxt.config.js` I have the following setting of the option `build.filenames`:
[code]
However, in production m

[2018-11-20 18:12] manniL commented on #4350
@ricardogobbosouza Right, thanks :relaxed:

Will be released in next patch.

[2018-11-20 18:12] #4350 closed

[2018-11-20 20:05] vedmaque commented on #3496
bump

[2018-11-20 20:32] victor192 commented on #4371
How do I reproduce the build? I can give URL where the project will be launched. Is it possible?

[2018-11-21 01:20] ekanant opened #4375 "Google Lighthouse: Critical Request Chain"
I create the nuxtjs with custom baseUrl, create font.css, and put it in nuxt.config.js,
When I run test it with Lighthouse, It has a warning about critical chain request from
the font file imported in font.css

How can I fix this?

nuxt.config.js
[code]
font.css
[code]

[2018-11-21 01:20] #4375 closed

[2018-11-21 03:50] freddysidauruk opened #4376 "ENV variables in head link rel CSS"
How do i calling env variables in link rel css section, i have success call it in component but hard calling in rel CSS cause i need to call it as prevent cache

this is my directive
[code]
and this is my href css

 `{ rel: 'stylesheet', href: `/css/spark.css${CSS_VERSIONS}` }`

but alway got an error

`CSS_VERSIONS is not defined`

do i miss something ?

[2018-11-21 03:50] #4376 closed

[2018-11-21 04:52] rlindskog opened #4377 "Nuxt node_modules exceeds 100mb in production and could be a lot smaller"
### What problem does this feature solve?

Cold starts on serverless platforms like Now 2.0 would be more efficient.

### What does the proposed changes look like?

When I have a `package.json` file that looks like this ([working example](https://github.com/rlindskog/nuxt-server-size/tree/master))

[code]
Run with `nuxt-start`

`npm ci —production`

`nu -sch ./node_modules`: > **100mb**

When I ha

[2018-11-21 08:36] shuaqiu commented on #4060
I also encountered this problem when I migrated the version from 1.4 to 2.x.  It seems that it can be temporarily solved by the above method.

[2018-11-21 11:05] AndrewBogdanovTSS commented on #4356
@husayt I just upgraded one of our projects to 2.3.2, will let you know how modern mode affected js performance for us

[2018-11-21 11:52] husayt commented on #4356
@manniL sure I will raise new issue, I thought this is related to item 2 in the description:

[2018-11-21 14:37] husayt opened #4383 "nuxt-start tries to build the project"
### Version

[v2.3.1](https://github.com/nuxt.js/releases/tag/v2.3.1)

### Reproduction link

[https://github.com/nuxt/nuxt.js](https://github.com/nuxt/nuxt.js)

### Steps to reproduce

I tried using `nuxt-start 2.3.1` in Google Appengine, as I was using `2.2.0` before without problems. For some reason it tries to do the build. How can `nuxt-start` initiate the build? I switched to `nuxt start` an

[2018-11-21 15:47] manniL commented on #4383
Can reproduce that 🤔

1. Build project `yarn build`
2. Add dependency `yarn add nuxt-start`
3. Run start `yarn nuxt-start`
4.

![image](https://user-images.githubusercontent.com/640208/48852178-b01e5f00-eda4-11e8-92f0-c2b79f418977.png)

[2018-11-21 16:09] #4383 closed

[2018-11-21 16:14] aldarund commented on #4377
That shouldnt happen. It work without nuxt and im using it for aws lambda serverless.

[2018-11-21 22:05] rlindskog commented on #4377
@aldarund I was able to get `nuxt-start` with the recent updates, but also had to run `npm install --production core-js` to get it to work. Even with `nuxt-start`, the `node_modules` output is still **26mb** (it's basically the same as the [@nuxt/core implementation](https://github.com/rlindskog/nuxt-server-size/tree/standard)), which seems relatively large compared to what it could be.

[2018-11-21 22:55] aldarund commented on #4377
@rlindskog its not 26mb even with core-js. Its 15,7 MB (16 561 152 bytes)  Other is your deps.

[2018-11-22 00:12] rlindskog commented on #4377
If you calculate it with `du -sh ./node_modules` (finds the logical filesize), it will be **26mb** with _just_ `nuxt-start` and `core-js` as dependencies.

Anyway, I found that `next-server` should've been installed as `next-server@canary`, which brings up the NextJS production `node_modules` up to **12mb** (just `react`, `react-dom`, `next-server@canary` dependencies).

That's **26mb** for Nuxt a

[2018-11-22 07:37] podlebar commented on #4291
i guess most people don't want to setup a new project just to deliver amp pages.. so i solved this by adding this to to the nuxt.config:
[code]

ampify module example: https://gist.github.com/podlebar/c671b431f3eda6a6135760c237de2940

adding a middleware like isAmp.js:
[code]

than in your pages you can switch layouts like:
`layout: ({ isAmp }) => (isAmp ? 'amp' : 'default'),` while amp layout doe

[2018-11-22 08:20] zuohuadong commented on #4291
@podlebar
That's great. Can a project using APOLLO-GRAPHQL also work properly?

[2018-11-22 08:51] podlebar commented on #4291
i guess u just need https://github.com/nuxt-community/apollo-module for that

[2018-11-22 08:58] manniL commented on #4291
@podlebar Would you be interested in developing a module for that behavior?

[2018-11-22 09:22] aldarund commented on #4377
@rlindskog core-js shouldnt be needed. its a bug in babel that should be fixes in next release of preset-env.
As for size. Its 16mb with core js. Less than 11mb without core-js. And yes, its logical filesize. Here my node modules archive so you can compare ( with core-js). https://www.dropbox.com/s/4t09a5u0pz2rbn8/node_modules_nuxt-start.zip?dl=0

[2018-11-22 09:29] podlebar commented on #4291
interested yes.. but short in time.. also there need to be a lot of flexibility because some use url.com/amp/foo/bar some amp.url.com/foo/bar or url.com/foo/bar?amp=true so all this would need some handling..
the module would need to be super flexible also in sense of transforming the markup..

i can try but it will be christmas time i guess

[2018-11-22 09:52] manniL commented on #4291
@podlebar Take your time ☺️
Also, not all functionality has to be included in 1.0 :P

[2018-11-22 13:46] abh153k commented on #2230
FTFY

[2018-11-22 14:40] Gofurjon opened #4387 "serverMiddleware causing error in compiling"
- 🚨 Bug report - https://bug.nuxtjs.org/

I think there is some bug with `serverMiddleware`. I am facing  this problem on almost fresh NuxtJs template. How?

I created a fresh Nuxtjs template using `create-nuxt-app`:

![capture](https://user-images.githubusercontent.com/26648861/48908390-e84c9d00-ee8b-11e8-96e9-6e6cbf1ee393.PNG)

Then just inserted only these line at the end of `server/index.js`:

[2018-11-22 14:40] #4387 closed

[2018-11-22 14:51] Gofurjon commented on #4387
@pi0

[2018-11-22 15:13] aszaffranietz commented on #4370
yeah thanks, man. It worked like a charm. :+1:

[2018-11-22 15:42] husayt commented on #4383
@manniL  did you say can or can't reproduce. From the picture I can see that "nuxt-start" is indeed trying to build, which it shouldn't. So this is indeed a bug

[2018-11-22 15:44] manniL commented on #4383
@husayt Can!
But it's fixed already ☺️

[2018-11-22 15:45] husayt commented on #4383
please ignore above comment. I didn't see comment about  hotfix from cmty.io.

Thank you very much. @clarkdo and @manniL

[2018-11-22 19:18] siberiadev commented on #2921
Hey guys! Who can provide me any manuals how to migrate from nuxt 1.4 to nuxt-edge?
We have a project based on nuxt kit (I got this package from github, with some preinstalled modules and properities). Now I got the same 91% problem. So if migration to nuxt 2 will resolve my problem I will give it a try. But I can't find any manuals for migration...
Help!!! Please...

[2018-11-23 02:48] hinaloe commented on #4234
it should not close

[2018-11-23 03:32] OliverVin opened #4388 "@nuxtjs/axios always request twice issure!"
Important !!!
below is my config :
  axios: {
    proxy: true,
    proxyHeaders: true,
    https: isProdMode ? true : false,
    debug: false,
    credentials: true,
    retry: { retries: 2 },
    prefix: '/',
    redirectError: {
      401: '/'
    }
  },
  proxy: {
    '/api': apiConfig.baseUrl
  }

but server render call api one,  client call again ,this is wrong ! but i don't know why . In fac

[2018-11-23 03:32] #4388 closed

[2018-11-23 04:35] oyhanyu opened #4389 "only errors in iphone safari(production): [nuxt] Error while initializing app,HierarchyRequestError (DOM Exception 3): The operation would yield an incorrect node tree. other browser of iphone or mac is ok. Who can help me, tx!"

[2018-11-23 04:35] #4389 closed

[2018-11-23 04:37] oyhanyu commented on #4389
only errors in iphone safari(production): [nuxt] Error while initializing app,HierarchyRequestError (DOM Exception 3): The operation would yield an incorrect node tree. other browser of iphone or mac is ok. Who can help me, tx! In development all is ok.

[2018-11-23 09:34] manniL commented on #4234
Should be resolved with https://github.com/nuxt/nuxt.js/commit/70f0dc38254f1f3745e57f0f41d761484a3256bb#diff-94fe659fbf41671ebea3982b249d2fd3R134

[2018-11-23 09:34] #4234 closed

[2018-11-23 09:37] manniL commented on #3828
We still need a way to reliably reproduce this I think :|

[2018-11-23 09:46] OliverVin opened #4390 "Important bug: api called twice !!!"
for seo , i replace some extra data , below :

        sS = '<script>window.__NUXT__'
        eS = ';</script><script src='
        page.html = page.html.substring(0, page.html.indexOf(sS)) + page.html.substring(page.html.indexOf(eS) + eS.length-12) //<script src=

but , client call api again . I guess nuxt refer to the data whether server rendered . Please switch let me remove this data , for seo

[2018-11-23 09:46] #4390 closed

[2018-11-23 09:59] OliverVin opened #4391 "Important bug: api will called twice !!! if i do ..."
### Version

[2.2.0](https://github.com/nuxt.js/releases/tag/2.2.0)

### Reproduction link

[https://codepen.io/olivervin/pen/yQKZKJ](https://codepen.io/olivervin/pen/yQKZKJ)

### Steps to reproduce

for seo , i replace some extra data , below :(it produce by server render ,but seo / client no need.)

    sS = '<script>window.__NUXT__'
    eS = ';</script><script src='
    page.html = page.html.su

[2018-11-23 10:15] manniL commented on #4391
Hey @OliverVin

I'm afraid I don't understand your bug report :(

[2018-11-23 10:36] manniL commented on #4234
@hinaloe You can try it with the latest `nuxt-edge` if you want ☺️

[2018-11-23 11:21] OliverVin commented on #4391
oh,  i want to remove "window.__NUXT__" data .
![qq20181123-0](https://user-images.githubusercontent.com/20222136/48941062-f61a2500-ef54-11e8-913c-1f5be6b2d887.png)

[2018-11-23 11:43] manniL commented on #4391
@OliverVin Okay, that is a clear request now 🙊

However, that's not a good idea at all as `window.__NUXT__` is used to "transfer" data from SSR to the client (called serialization, more info: https://github.com/nuxt/nuxt.js/issues/2083)

[2018-11-23 11:50] OliverVin commented on #4391
oh, may be not have a good way to avoid. ?!
I don't hope seprate into a new file,  only  want to remove .

[2018-11-23 11:52] manniL commented on #4391
@OliverVin Why do you want to avoid that behavior? A way to reduce the amount is explained in https://github.com/nuxt/nuxt.js/issues/2083#issuecomment-343731230

[2018-11-23 11:55] OliverVin commented on #4391
SEO !!!  if i use isClient , spider can't get full content. Because many spiders don't support JS .

[2018-11-23 11:57] manniL commented on #4391
@OliverVin Exclamation marks are no pack animals 😝

It's not relevant for SEO at all as the content there is already included in the SSR'ed HTML.

[2018-11-23 11:58] OliverVin commented on #4391
ok， i try .

[2018-11-23 12:03] OliverVin commented on #4391
Don't work . Store data & Server data will write into serialization . I add  isClient, but other store data will still write again.

[2018-11-23 14:00] manniL commented on #4391
That's what serialization is for.

However, the crawler sees the server-side rendered HTML where that info (eg. store) is **already rendered into**

[2018-11-23 14:00] #4391 closed

[2018-11-23 15:12] siberiadev commented on #2921
resolved with migrate to nuxt edge

[2018-11-23 18:30] alanaasmaa commented on #2921
I think its memory issue

[2018-11-24 00:07] manniL commented on #2921
Disabling minification (`build.optimization.minimize`) can help. https://nuxtjs.org/api/configuration-build/#optimization

[2018-11-24 00:11] siberiadev commented on #2921
migration on nuxt 2 resolved my problem

сб, 24 нояб. 2018 г. в 8:08, Alexander Lichter <notifications@github.com>:

[2018-11-24 00:15] manniL commented on #4117
resolved by #4357

[2018-11-24 00:15] #4117 closed

[2018-11-24 00:18] manniL commented on #4052
Because this issue seems to be inactive for quite some time, I'll close it now. If you feel like it deserves some attention because it's not fixed, feel free to ping me and I'll reopen it.

[2018-11-24 00:18] #4052 closed

[2018-11-24 02:23] avil13 opened #4395 "When registering a dynamic store, there is no access to it."
### Version

[v2.3.2](https://github.com/nuxt.js/releases/tag/v2.3.2)

### Reproduction link

[https://codesandbox.io/s/2wq4w9mm3r](https://codesandbox.io/s/2wq4w9mm3r)

### Steps to reproduce

Hi.
After upgrading to Nuxt v2, there were problems with the dynamic addition of the store.

In version v1, everything worked perfectly.

### What is expected ?

Correct work
`this.$store.registerModule` an

[2018-11-24 13:37] chentianyuan commented on #3943
same issue here

[2018-11-24 16:16] Gehbrial commented on #2921
That's how I fixed the issue (along with updating to 2.3.2) :)

[2018-11-24 16:17] manniL commented on #4080
All: can you try it with updated node modules (`npm update`/`yarn upgrade`)? Vue Router had released a new version.

[2018-11-24 16:17] manniL commented on #2738
All: can you try it with updated node modules (`npm update`/`yarn upgrade`)? Vue Router had released a new version.

[2018-11-24 16:17] manniL commented on #4024
All: can you try it with updated node modules (`npm update`/`yarn upgrade`)? Vue Router had released a new version.

[2018-11-24 16:30] davidpmccormick commented on #2738
Thanks @manniL – I just upgraded, but sadly the issue is still present (same steps as in the initial post).

[2018-11-24 16:33] bovas85 commented on #2738
I don't think nuxt uses vue-router from your node_modules. I think it's internally built in?
Or perhaps try installing it in your dependancies

[2018-11-24 16:55] manniL commented on #2738
@bovas85 Nuxt depends on vue-router

[2018-11-24 19:04] bovas85 commented on #2738
interesting, looks fixed for me

[2018-11-24 19:11] manniL commented on #2738
@bovas85 Same here, though https://github.com/nuxt/nuxt.js/issues/4080 is still there

[2018-11-24 21:11] #4104 closed

[2018-11-24 21:35] #4080 closed

[2018-11-24 21:40] bovas85 commented on #2738
I'll try that.

[2018-11-24 23:06] carmas123 opened #4401 "Vuetify and Nuxt production problem"
### Version

[v2.3.2](https://github.com/nuxt.js/releases/tag/v2.3.2)

### Reproduction link

[https://www.isigest.net/webapp/login](https://www.isigest.net/webapp/login)

### Steps to reproduce

Hi, I'm try to develop an app with NuxtJS and Vuetify, I start all from a nuxt-vuetify template, my app work very well in develop mode, but when I try to run it in production I got many problems.
In devel

[2018-11-24 23:10] manniL commented on #2738
Problem is still reproducable. My guess is because of `nuxt-child` usage:

[code]

[2018-11-24 23:36] manniL commented on #3970
There is no screen clearing anymore ;)
https://github.com/nuxt/webpackbar/releases

[2018-11-24 23:36] #3970 closed

[2018-11-24 23:59] manniL commented on #4395
Duplicate of https://github.com/nuxt/nuxt.js/issues/4370

[2018-11-24 23:59] #4395 closed

[2018-11-25 00:05] manniL commented on #2738
As the majority of the problems of this mega-issue is solved, I'll close hear and open a specific one for the problem related to the reproduction of @davidpmccormick

[2018-11-25 00:05] #2738 closed

[2018-11-25 00:05] #4024 closed

[2018-11-25 00:07] manniL opened #4404 "no scrollBehavior on route-change with nested nuxt-child"
### Version

[v2.3.2](https://github.com/nuxt.js/releases/tag/v2.3.2)

### Reproduction link

[https://github.com/davidpmccormick/btmat-nuxt](https://github.com/davidpmccormick/btmat-nuxt)

### Steps to reproduce

### Steps to reproduce
1. scroll down this page: http://next.btmat.org.uk/2012
2. click on an article excerpt link
3. see the article render half way down the page

[Here's the repo](htt

[2018-11-25 00:16] manniL commented on #4404
Fixed if you use an `index.vue` file in the subfolder. (PR incoming for the repo)

[2018-11-25 00:16] #4404 closed

[2018-11-25 01:03] manniL commented on #3396
Loading external scripts through the head function works fine for me. I'd suggest to do this on a `layout` basis anyway.

For pages there is the caveat that you can't ensure the readiness easily.

Answers to @docmattman

You could do a check in your head function for `window.XYZ` (whatever your script loads) and prevent duplicate loading with that.

Can't reproduce.

[2018-11-25 01:03] #3396 closed

[2018-11-25 01:04] manniL commented on #3872
Duplicate of #3396
See my last comment there

[2018-11-25 09:08] karakum commented on #4100
@manniL PR linked!

[2018-11-25 10:09] #3872 closed

[2018-11-25 10:16] manniL commented on #4401
Hey :wave:

1. Please properly format your issue (especially the code part)
2. Use `build.publicPath` to set your extension properly (https://nuxtjs.org/api/configuration-build#publicpath)
3. use `ProxyPass "/webapp" "http://localhost:3003/webapp"` (and same for the reverse)
4. This is not a bug report but a question.

[2018-11-25 10:16] #4401 closed

[2018-11-25 11:02] manniL commented on #3469
https://github.com/nuxt/nuxt.js/pull/4409

Pug works out of the box again :relaxed:

[2018-11-25 12:13] karakum commented on #4100
@manniL new PR in dev branch + example added

[2018-11-25 13:35] manniL commented on #4371
@victor192 Try https://template.nutxjs.org for reproduction :relaxed:

[2018-11-25 14:37] zlzdp opened #4414 "nuxt 2.3.2 transpile node_modules error: Cannot assign to read only property 'exports' of object '#<Object>'"
it's lot many time!
if I not set nuxtConfig.build.transpile, some node_module not translate to ES5.

any other way to transpile node_modules in nuxt.js?

[2018-11-25 14:37] #4414 closed

[2018-11-25 14:52] #2888 closed

[2018-11-25 16:11] carmas123 commented on #4401
Thank you for your reply, I solved with your help and setting
[code]

Regards

[2018-11-25 17:45] #3211 closed

[2018-11-25 18:52] rlindskog commented on #4377
@aldarund Good work! I think `lodash` is still being installed in `@nuxtjs/core` because of [`consola@1.4.5`](https://www.npmjs.com/package/consola/v/1.4.5) `@nuxtjs/opencollective`

After `npm install` in `nuxt/packages/core`

[code]

It looks like `consola`, has been already updated in  [`@nuxtjs/opencollective`](https://github.com/nuxt/opencollective/blob/master/package.json#L44) to 2.0.7, [whi

[2018-11-25 18:57] pi0 commented on #4377
@rlindskog Good catch!

[2018-11-25 21:07] evry-johber commented on #3970
@manniL Can you elaborate how that update affects this issue? I tried using Nuxt 2.32 in spa-mode and get "compiled successfully" regardless of any errors in my files. Do I need to adjust my config?

[2018-11-25 21:16] manniL commented on #3970
![showcase](https://user-images.githubusercontent.com/640208/48984710-4c26ce00-f0f7-11e8-9e6d-6caa84c8fb1f.gif)

Errors will be clearly shown but there is no screen clear anymore ;)

[2018-11-25 21:31] evry-johber commented on #3970
@manniL Sure, I'll see what I can do to create a minimal reproducible example

[2018-11-25 21:57] evry-johber commented on #3970
@manniL Hmm, did a fresh `npx create-nuxt-app`, did the very same change as you did in universal mode, and still no error reported. I'm using Node 10.13 on Windows 10. Should be enough to add eslint in the `create-nuxt-app` wizard, right?

[2018-11-25 21:59] manniL commented on #3970
@evry-johber That should even work without eslint as a component couldn't be found while building :thinking:

[2018-11-25 22:30] manniL commented on #3970
Sure. Make your eslint-config more strict ;)

![image](https://user-images.githubusercontent.com/640208/48985654-9f058300-f101-11e8-9797-e3c9cd46ab9e.png)

I'd suggest our setup (https://github.com/nuxt/eslint-config)

[2018-11-25 22:43] evry-johber commented on #3970
@manniL Aaah, thank you!!

[2018-11-25 23:29] manniL commented on #4320
This might be a better issue for `vue-loader` instead :relaxed: (rel: https://github.com/vuejs/vue-loader/pull/500).

[2018-11-25 23:29] #4320 closed

[2018-11-26 00:04] manniL commented on #4377
Current nuxt-start-edge size: [![current nuxt-start-edge size](https://packagephobia.now.sh/badge?p=nuxt-start-edge)](https://packagephobia.now.sh/result?p=nuxt-start-edge)

[2018-11-26 00:17] manniL commented on #3764
@CoolGoose Any update? Does it work for you as well now?

[2018-11-26 00:20] manniL commented on #4262
This might be a better feature request directly for `vue-loader` instead :relaxed:

https://github.com/vuejs/vue-loader/

[2018-11-26 00:20] #4262 closed

[2018-11-26 02:01] Jsen0926 opened #4418 "How to read 'apple-app-site-association' file in IOS application?"

[2018-11-26 02:01] #4418 closed

[2018-11-26 02:06] Jsen0926 commented on #4418
When IOS application used 'Universal Links' to instead of the old links , it must exist 'apple-app-site-association' file in root for web site, i tried to put this file in root path, but can not read directly .

[2018-11-26 06:20] CoolGoose commented on #3764
@manniL I apologize for the delay, was a crazy last week and this weekend we went to an e-commerce connference. Will test these days and get back

[2018-11-26 08:42] falstack opened #4420 "feat: downgrade SSR to SPA, when node server crashes"
### What problem does this feature solve?

when Node server is crashed, Nginx will send error page to client, i want custom the error page and use index.spa.html, how should i do?

### What does the proposed changes look like?

when Node server crashed, Nginx send **Project/.nuxt/dist/server/index.spa.html** to client

<div align="right"><sub><em>This feature request is available on <a href="https

[2018-11-26 09:50] samuells opened #4421 "Nuxt could check if localhost is free"
### What problem does this feature solve?

If you run nuxt in dev mode and on the localhost is already running another nuxt instance, than you get very strange error. Maybe it will be nice to have cleaner error. Nice to have ;)

### What does the proposed changes look like?

Human readable error

<div align="right"><sub><em>This feature request is available on <a href="https://cmty.app/nuxt">Nuxt<

[2018-11-26 10:32] aldarund commented on #4421
What strange error are u getting?

[2018-11-26 10:36] samuells commented on #4421
I mean I see there `listen EADDRINUSE 127.0.0.1:3000`, but still took me a time to get the point. :) Especially as I was adding some new packages, so my first thoughts were that problem is somewhere there. ;) Also the link to yarn documentation is misleading...

[code]

[2018-11-26 10:43] falstack commented on #4420
@manniL Nuxt can build resource for SSR & SPA both, and use WebpackHtmlPlugin create spa.index.html for this（downgrade SSR to SPA），of course Nginx's error response template path should use nginx.conf to set

create another application is a wrong

[2018-11-26 11:47] manniL commented on #4420
Sorry, guess I misunderstood your description!

[2018-11-26 12:09] #4351 closed

[2018-11-26 16:05] Pavel-Mishalov opened #4423 "Vuex stores past last user data"
### Version

[v2.3.2](https://github.com/nuxt.js/releases/tag/v2.3.2)

### Reproduction link

[https://github.com/Pavel-Mishalov/test-vuex](https://github.com/Pavel-Mishalov/test-vuex)

### Steps to reproduce

The initial storage value of the module options corresponds to

`` `
{
val: 0
}
`` `

when updating the page, the value of the repository should also remain
`` `
{
val: 0
}
`` `

but since I

[2018-11-26 16:12] lucpotage opened #4424 "WARN Cannot stringify a function"
### Version

[v2.3.2](https://github.com/nuxt.js/releases/tag/v2.3.2)

### Reproduction link

[https://nuxtjs.org](https://nuxtjs.org)

### Steps to reproduce

Refresh a page.

### What is expected ?

No warn.

### What is actually happening?

A warn in the console: Cannot stringify a function

### Additional comments?

I used the latest version of Nuxt with some modules (i18n, style resources, an

[2018-11-26 16:35] nicothin opened #4426 "Add vue-draggable-resizable plugin"
### What problem does this feature solve?

https://github.com/mauricius/vue-draggable-resizable/issues/125

<div align="right"><sub><em>This feature request is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/nuxt.js/issues/c8210">#c8210</a>)</em></sub></div>

[2018-11-26 20:04] njtnestor opened #4429 "Issue with validate in dynamic routes"
This is my pages directory:

pages/
--| _knifes
-----| index.vue
--| index.vue

I have a validate method in _knifes/index.vue with return false.
In develop mode (npm run dev) everything is ok, but when i deploy into netlify the validate method doesn't return a 404 in routes with index.html, for example:

 mydomain.netlify.com/index.html  => render _knifes/index.vue

[2018-11-26 20:04] #4429 closed

[2018-11-26 20:10] justindasilva opened #4430 "Multi-variant Nuxt App"
### What problem does this feature solve?

Currently, I have an application that can be viewed as a "core" product, but the application itself can be skinned/themed for different clients/organizations.

A new Nuxt module/plugin that would be able to help in a situation like this would be most ideal.

### What does the proposed changes look like?

So the "core" product has core templates (HTML), co

[2018-11-26 21:03] njtnestor opened #4431 "Bug with validate in dynamic routes"
### Version

[v2.3.4](https://github.com/nuxt.js/releases/tag/v2.3.4)

### Reproduction link

[https://bugnuxt.netlify.com/index.html](https://bugnuxt.netlify.com/index.html)

### Steps to reproduce

Create a new project with this pages directory:

pages/
--| _knifes
-----| index.vue
--| index.vue

Create a validate method in pages/_knifes/index.vue:

      validate ({ params, query, store}) {

[2018-11-26 21:06] #4426 closed

[2018-11-26 23:21] ettchan opened #4432 "Nuxt 2.3.1 modern build issues on IE11/Edge"
### Version

[v2.3.1](https://github.com/nuxt.js/releases/tag/v2.3.1)

### Reproduction link

[https://codesandbox.io/s/3xx5176565](https://codesandbox.io/s/3xx5176565)

### Steps to reproduce

Open link in either IE or Edge. Open the developer tools and click on console tab. Script error should appear in console.

### What is expected ?

IE11/Edge should not have any scripting errors in developer

[2018-11-27 02:43] FengLin2016 opened #4433 "Rewrite URL"
因为项目开始前没有统一的url，后面需要重写，但是我看到服务器渲染回来了，但是很快就跳转到404了，请问这是为啥？ 我是在server.js中通过中间件重写路由的
Because there is no unified URL before the project starts, it needs to be rewritten later, but I saw the server rendering back, but soon jumped to 404. Why? I rewrite routing through Middleware in server.js

[2018-11-27 02:43] #4433 closed

[2018-11-27 09:14] davision commented on #4080
Finally! Thanks, @pi0!

[2018-11-27 10:15] GeneralworksInc commented on #4008
I found same case.(Maybe)
I avoided this problem that I moved 'computed' variable in component to 'method'.

[2018-11-27 10:47] #4226 closed

[2018-11-27 16:14] njtnestor commented on #4431
This is the repo with the issue: https://github.com/njtnestor/bugNuxt . You can install it and check it the issue.
In dev mode(npm run dev) the route: localhost:3000/index.html return a correct 404(by validate method) but in netifly(https://bugnuxt.netlify.com/index.html) return 200 because validate method doesn't work with index.html and i dont know the reason.

[2018-11-27 16:46] hartmut-co-uk commented on #3504
Not stale

[2018-11-27 18:05] matamune94 opened #4437 "Module not found: Error: Can't resolve"
Module not found: Error: Can't resolve '~/components/admin/types/Types' in '/root/animesb3/pages/admin/types'
 @ ./pages/admin/types/index.vue?vue&type=script&lang=js& (./node_modules/babel-loader/lib??ref--2-0!./node_modules/vue-loader/lib??vue-loader-options!./pages/admin/types/index.vue?vue&type=script&lang=js&) 10:0-51 15:11-16
 @ ./pages/admin/types/index.vue?vue&type=script&lang=js&
 @ ./pag

[2018-11-27 18:05] #4437 closed

[2018-11-27 19:04] wargt opened #4438 "how get nuxt webpack config"
Hello, i want use nightwatchjs, but i need webpack config. How i can get it?

Or exists example or boilerplate?

Thank you!

[2018-11-27 19:04] #4438 closed

[2018-11-27 19:06] aldarund commented on #4431
@njtnestor so you are using generate. When u do generate dynamic routes dont generated at all. See docs https://nuxtjs.org/api/configuration-generate/#routes

[2018-11-27 19:06] #4431 closed

[2018-11-27 19:08] aldarund commented on #4424
It should output function name
https://github.com/nuxt-community/devalue/blob/master/src/index.ts#L27
Your store/asyncData object shouldnt contain functions, symbols and other non serializable datas

[2018-11-27 21:15] lucpotage commented on #4424
Thank you for leading me to the right direction!

I tested few things and realized the problem was linked to the nuxt-i18n module. The documentation [suggests](https://nuxt-community.github.io/nuxt-i18n/lazy-load-translations.html) to return an object or a function and in my case, returning a function outputs this warning. I changed all my locale files and now export objects.

[2018-11-27 21:57] ettchan commented on #4432
Interesting, I wonder if there is something different between our environments. I also downloaded an ran the test app on my windows vm and this is what I received.
<img width="534" alt="screen shot 2018-11-27 at 11 51 29 am" src="https://user-images.githubusercontent.com/1266877/49107528-cf047180-f23a-11e8-81e3-156ae7819653.png">

I also found the possible cause of my dev errors on IE. It looks to

[2018-11-27 22:30] ettchan commented on #4432
I figured out the dev issue on IE. It was what I said in the previous comment where we were only producing the modern javascript bundles which caused the IE issue. Just ended up using the same filename rules used in https://github.com/nuxt/nuxt.js/pull/4231/files

Unfortunately, the Edge issue still exists.

[2018-11-28 09:15] jochouen opened #4440 "有关于extractCss的问题"
version: 2.3.2
我在nuxt.config.js里设置了extractCSS: true

最后用generate，但是我得到的结果是这样的

test.html
[code]

因为是test.html
所以index.css, users/_id.css我不想被导入这个页面，我想要的结果是
[code]

我该如何做？

我也试了extract-text-webpack-plugin这个插件，但是出现错误，还有没有更好的办法来解决这个问题？

[2018-11-28 09:15] #4440 closed

[2018-11-28 09:43] jochouen opened #4441 "extractCSS problem"
### Version
v2.3.2

### Reproduction link
https://nuxtjs.org

### Steps to reproduce
 I set extractCSS: true，generate
The result is like this
test.html
[code]

### What is expected ?

like this↓
test.html
[code]

### What is actually happening?
please see Steps to reproduce

### Additional comments?
what should I do？
https://github.com/nuxt/nuxt.js/issues/4440

<div align="right"><sub><em>This que

[2018-11-28 11:55] manniL commented on #4441
Duplicate of https://github.com/nuxt/nuxt.js/issues/3943

[2018-11-28 11:55] #4441 closed

[2018-11-28 13:01] njtnestor commented on #4431
@aldarund This is another example: https://knifeproyect.netlify.com/

I am generating dynamic routes from an array as ['cuchillos-jamoneros', 'cuchillos-cocineros', ...]

So in validate method of _cuchillos/index.vue i check params with that names.

    export default {
       validate ({ params }) {
           return ...//check params
       }
    }

All of  this routes work perfectly:
https://kn

[2018-11-28 13:45] alanaasmaa opened #4443 "process.isModern or equivalent variable."
### What problem does this feature solve?

Hi,

When using modern build with legacy one it would be nice to add custom poly fills to one of them (probably always legacy).

For example I would like to add `custom-event-polyfill` to my project. But I would only like to import it into legacy build.

This feature would help us to support old browsers without making package size bigger for newer one.

[2018-11-28 15:22] rnenjoy commented on #4432
You're not running Edge in legacy mode right?

[2018-11-28 17:35] ettchan commented on #4432
I am assuming you mean Emulating IE11 on Edge? Not doing that.

[2018-11-28 18:00] #4424 closed

[2018-11-28 18:01] lucpotage commented on #4424
This may interest you @manniL.

[2018-11-28 19:15] rnenjoy commented on #4432
Exactly!

[2018-11-28 19:19] rnenjoy commented on #4432
Im having sinilar issues. Edge gets modern build. But ie gets object.assign missing polyfill error and i cant get the polyfill to work.

[2018-11-28 20:42] begueradj opened #4447 "Can not launch the server when using Nuxt.js + Axios + Eslint + Vuetify.js"
### Version

[v2.3.4](https://github.com/nuxt.js/releases/tag/v2.3.4)

### Reproduction link

[https://github.com/begueradj/bug-nuxt-axios-eslint-config](https://github.com/begueradj/bug-nuxt-axios-eslint-config)

### Steps to reproduce

Clone my repository and move to the subsequent directory to run the following commands:

[code]

### What is expected ?

I expect to launch the server normally

#

[2018-11-28 22:42] FistMeNaruto opened #4449 "Transitions not working in nuxt-child"
### Version

[v2.3.4](https://github.com/nuxt.js/releases/tag/v2.3.4)

### Reproduction link

[https://codesandbox.io/s/737pplq1n1](https://codesandbox.io/s/737pplq1n1)

### Steps to reproduce

1. Create a simple nested page
2. Render it using `nuxt-child`
3. Apply a transition to it

### What is expected ?

Page transitioning in smoothly

### What is actually happening?

No transition is applied

[2018-11-29 00:40] manniL commented on #3956
Maybe because of `compression`? :thinking:
We should try it with disabled compression.

[2018-11-29 06:33] jochouen commented on #3943
@manniL
how about remove other link with hooks?
I tried it and did it.
May be not a good idea.

[2018-11-29 09:40] eikhunter opened #4450 "Nuxt not generating multiple routes for contentful + nuxt website"
### Version

[v1.4.5](https://github.com/nuxt.js/releases/tag/v1.4.5)

### Reproduction link

[https://jsfiddle.net/09cws8x7/](https://jsfiddle.net/09cws8x7/)

### Steps to reproduce

Added a fiddle for my nuxt.config.js file. Create two dynamic routes for different lists on a website, in my case I have 3 and then try and generate the routes when running npm run generate

### What is expected ?

G

[2018-11-29 10:00] #4450 closed

[2018-11-29 10:03] manniL commented on #3943
@jochouen can you share your code for that?

It might affect perf but it could be a "workaround"

[2018-11-29 11:07] IGassmann opened #4451 "Nuxt tags should accept PascalCase"
### Version

[v2.3.4](https://github.com/nuxt.js/releases/tag/v2.3.4)

### Reproduction link

[https://notnecessary.io/](https://notnecessary.io/)

### Steps to reproduce

- Rename tags `<nuxt`> and `<nuxt-link> as `<Nuxt>` and `<NuxtLink>`
- Run the app

### What is expected ?

Nuxt custom tags such as `<nuxt`> and `<nuxt-link>` should work when PascalCased.

PascalCase is the recommended Vue.JS

[2018-11-29 11:44] rnenjoy commented on #4432
Is my .babelrc screwing stuff up?

`{
  "presets": [],
  "plugins": [
    "babel-plugin-inline-import",
  }`

[2018-11-29 12:06] clarkdo commented on #4432
Can you paste your `nuxt.config` ?

[2018-11-29 13:35] gongzhibin opened #4452 "middleware redirect page, nuxt loading dont finish"
When using a custom loading component, router to one page, `start` in nuxt loading components excute, but middleware redirect to other page( eg: login page ), so `finish` in nuxt loding components dont excute.

So how should I do it? (My English is poor)

[2018-11-29 13:35] #4452 closed

[2018-11-29 13:49] manniL commented on #4451
Already present in latest `nuxt-edge` #4396

[2018-11-29 13:49] #4451 closed

[2018-11-29 13:58] manniL commented on #4447
`"webpack": "3.11.0"`

Nuxt 2 uses webpack 4. You should remove that from your dependencies (same goes for `vue` which is a Nuxt dependency too).

[2018-11-29 13:58] #4447 closed

[2018-11-29 14:01] manniL commented on #2921
As described in the other issues linked above, it's a RAM issue. You can fix it by:

* Adding more RAM
* Adding a Disk Swap
* Probably disabling minification

[2018-11-29 14:01] #2921 closed

[2018-11-29 14:02] manniL commented on #4353
Rel: https://twitter.com/Cesasol/status/1067283037011025926

Waiting for a ping back ☺️

[2018-11-29 14:22] nassosyian commented on #3896
i'm using nuxt 2.3.4 and this still occurs.
what is worse is that the 2nd time asyncData() is called, the context.route.params are undefined
(they had proper values the 1st time)

has there been any progress on finding a solution to this?

[2018-11-29 17:35] yamsellem opened #4454 "Legacy builds usage (node < 8)"
Since 2.0, `nuxt-legacy` and `nuxt-legacy-build` have been introduced to support node < 8.

But it seems that there ain't any documentation on how to use both them / and what differences exist between them.

Are they supposed to be use as a replacement of nuxt, are they supposed to be used alongside a nuxt dependency (with the same version), is there some configuration to update?

May you please,

[2018-11-29 17:35] #4454 closed

[2018-11-29 19:51] yuanwei92 opened #4455 "Middleware not running on direct access and page refresh"
_Originally posted by @jameshhood in https://github.com/nuxt/nuxt.js/issues/2492#issuecomment-409371889_

I'm experiencing the same issue here, any page access through nuxt-link works fine. Middleware not running when access a page via direct access or <a> tag

[2018-11-29 19:51] #4455 closed

[2018-11-30 01:11] jochouen commented on #3943
@manniL
[code]

before:
test.html
[code]

after:
test.html
[code]

[2018-11-30 02:03] gongzhibin opened #4456 "middleware redirect page, nuxt loading dont finish"
### Version

[v2.3.4](https://github.com/nuxt.js/releases/tag/v2.3.4)

### Reproduction link

[https://nuxtjs.org](https://nuxtjs.org)

### Steps to reproduce

When using a custom loading component, router to one pageA, start in nuxt loading components excute, but middleware redirect to pageB( eg: login page )

### What is expected ?

pageA: `finish` in nuxt loding components should excute.

### W

[2018-11-30 04:55] YogiLiu opened #4457 "When the titleTemplate is function, pkg is not defined in the titleTemplate ."
### Version

[v2.3.4](https://github.com/nuxt.js/releases/tag/v2.3.4)

### Reproduction link

[https://nuxtjs.org/](https://nuxtjs.org/)

### Steps to reproduce

in nuxt.config.js:
[code]
![code](https://i.loli.net/2018/11/30/5c00c3510bf8c.png)
Then execute `yarn run dev`.

### What is expected ?

pkg.name is replaced with the project name.

### What is actually happening?

pkg is not defined.
![e

[2018-11-30 05:12] jochouen opened #4458 "nuxt generate comment handling"
### Version

[v2.3.2](https://github.com/nuxt.js/releases/tag/v2.3.2)

### Reproduction link

[https://nuxtjs.org](https://nuxtjs.org)

### Steps to reproduce

[code]
[code]
1. Write a comment on the page
2. Yarn generate
3. The comment was deleted

### What is expected ?

test.vue
[code]

test.html
[code]

### What is actually happening?

test.html
[code]
The comment was deleted

<div align="righ

[2018-11-30 07:14] yoyo837 commented on #3828
Same issue here. (safari only)
I am using safari for the first time today to debug nuxt.js, I found it so late.
![default](https://user-images.githubusercontent.com/6134547/49274217-9c64ae00-f4b2-11e8-8f46-a64e7b5d8024.gif)

[2018-11-30 08:43] aaronransley commented on #2033
@nitwhiz I believe that the serverMiddleware bits referenced by @bitk0der should do the trick:
https://nuxtjs.org/api/configuration-servermiddleware#the-servermiddleware-property

[2018-11-30 09:38] aldarund commented on #4456
Please create a reproduction

[2018-11-30 09:46] aaronransley commented on #3589
Bumping this one so `stalebot` doesn't swoop in and ruin our dreams 😢

[2018-11-30 10:09] yamsellem commented on #4454
Duplicate of https://cmty.app/nuxt/nuxt.js/issues/c8242

[2018-11-30 10:53] manniL commented on #3589
@aaronransley Stale bot isn't closing feature request anymore.

[2018-11-30 11:12] FistMeNaruto opened #4459 "Generate failing when nesting pages under index"
### Version

[v2.3.4](https://github.com/nuxt.js/releases/tag/v2.3.4)

### Reproduction link

[https://codesandbox.io/s/nn3lmv36pp](https://codesandbox.io/s/nn3lmv36pp)

### Steps to reproduce

Go to the reproduction link. We have two routes there - `/team/memberOne` and `/team/memberTwo` and they do sort of work on universal mode (locally navigation works on client-side, for some reason codesandb

[2018-11-30 13:41] awronski opened #4460 "error({ .. }) - cannot pass custom properties to error function after 2.2.0"
### Version

[v2.3.4](https://github.com/nuxt.js/releases/tag/v2.3.4)

### Reproduction link

[https://codesandbox.io/s/xov3nnopmw](https://codesandbox.io/s/xov3nnopmw)

### Steps to reproduce

Check the reproduction link

### What is expected ?

In Nuxt 2.2.0 I could add custom properties like this:
[code]

I am expecting:
[code]

### What is actually happening?

[code]

### Additional comments?

[2018-11-30 13:45] konstantinsteinmiller commented on #3994
Hey,
how did you make this report? Cause I would like to analyse where our long compile times coming from.

[2018-11-30 14:01] manniL commented on #3994
@konstantinsteinmiller  https://twitter.com/TheAlexLichter/status/1059398193186832385

[2018-11-30 15:32] #4421 closed

[2018-11-30 16:47] #4356 closed

[2018-11-30 17:07] sebmor opened #4461 "cssModules loader fails to build with multiple options"
### Version

[v2.3.4](https://github.com/nuxt.js/releases/tag/v2.3.4)

### Reproduction link

[https://github.com/sebmor/modulesbug](https://github.com/sebmor/modulesbug)

### Steps to reproduce

Add multiple options to the cssModules loader in nuxt.config.js

[code]

References:
https://nuxtjs.org/api/configuration-build/#loaders-css-and-loaders-cssmodules
https://vue-loader.vuejs.org/guide/css-m

[2018-11-30 17:15] pi0 commented on #3589
[nuxt-router-extras](https://www.npmjs.com/package/nuxt-router-extras) may be related 😊

[2018-11-30 18:13] sebmor commented on #4461
Should not have been placed in extend(), but in loaders: {}

[2018-11-30 18:13] #4461 closed

[2018-11-30 19:15] #4460 closed

[2018-11-30 21:34] ettchan commented on #4432
@rnenjoy for the legacy mode you were describing earlier, does IE11 have to be uninstalled from the Windows machine as well?

[2018-11-30 22:18] bmains911 opened #4465 "Head serialize logic - regex breaking vue meta innerHTML custom script"
### Version

[v2.3.4](https://github.com/nuxt.js/releases/tag/v2.3.4)

### Reproduction link

[http://jsfiddle.net/bmains911/y1kxgo5v/](http://jsfiddle.net/bmains911/y1kxgo5v/)

### Steps to reproduce

1.) Set some minified script in the head via vue-meta innerHTML option. e.g. `function xyz(){};a=false?true:xyz();`

### What is expected ?

When the app is built, the custom script should be intact

[2018-12-01 10:05] davidpmccormick commented on #4404
@manniL I found I was having the same issue on another page so attempted to replicate what you had done in davidpmccormick/btmat-nuxt#1 – basically changing a `_pageSlug.vue` file to an `index.vue` inside a `_pageSlug` directory ([see here](https://github.com/davidpmccormick/btmat-nuxt/blob/master/pages/_year/_month/_pageSlug/index.vue)).

But while I can see the `routeChanged` even being emitted,

[2018-12-01 19:44] manniL commented on #4404
@davidpmccormick for the latter, use `watchQuery`

[2018-12-02 00:04] HapLifeMan opened #4466 "Store: Add Dynamic Module Registration support"
Hi, do you have any plan to support Dynamic Module Registration as said in a previous issue? #3162

<div align="right"><sub><em>This question is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/nuxt.js/issues/c8260">#c8260</a>)</em></sub></div>

[2018-12-02 05:05] geocine commented on #190
I hope this issue could be reopened

[2018-12-02 08:11] chetanmajithiya28 opened #4468 "tag <head> add attribute like itemscope"
[code]

--> it's not working anyone help please
--> it will not changes but body's and other attributes working

<div align="right"><sub><em>This question is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/nuxt.js/issues/c8261">#c8261</a>)</em></sub></div>

[2018-12-02 10:00] aldarund commented on #4466
As said in previous issue you can do it already. What kind of support do u expect?

[2018-12-02 16:40] davidpmccormick commented on #4404
The pagination relies on a path parameter (`/page/x`) rather than a query string, so I don't think `watchQuery` is the right fit.

It's like this because I didn't want to change the URL structure of an old WordPress install (I'd have used a query for pagination if I was setting it up from scratch).

[2018-12-02 16:57] HapLifeMan commented on #4466
I tried to register a module when a component is created, it works well but I the state of the module is undefined when I try to commit some modifications from actions/mutations...

It throws an error `Cannot set property 'config' of undefined`, what I'm doing:

In my component:
[code]

Then in my module's store:
[code]

As said previously, `state` is undefined when trying to update the state from

[2018-12-02 17:03] begueradj commented on #4466
@HapLifeMan
Welcome.
This is a bug tracker, if you have a question, this is not the right place.
You can for instance ask on StackOverflow
Thanks.

[2018-12-03 01:33] ishitatsuyuki commented on #3068
Ping @clarkdo @pi0

[2018-12-03 01:35] xliyq opened #4473 "flatmap-stream"
npm install

 Not Found: flatmap-stream@http://registry.npm.taobao.org/flatmap-stream/download/flatmap-stream-0.1.1.tgz

[2018-12-03 01:36] #4473 closed

[2018-12-03 01:38] gongzhibin commented on #4456
Custom nuxtLoading component:
[code]

global middleware:
export default (ctx) => {
    ctx.redirect(pageB)
};

when go to pageA, I find nuxtLoading of pageA start but dont finish

[2018-12-03 02:07] jefrydco opened #4474 "JavaScipt Heap out of Memory while Running Nuxt.js on Development for a Long Time"
### Version

[v2.3.4](https://github.com/nuxt.js/releases/tag/v2.3.4)

### Reproduction link

[-](-)

### Steps to reproduce

Take a look this screencapt:
![1.png](https://cmty.s3.eu-west-1.amazonaws.com/71995937/d74079c0-f69f-11e8-be62-09748112d9d3.png)
![2.png](https://cmty.s3.eu-west-1.amazonaws.com/71995937/dae9aba0-f69f-11e8-be62-09748112d9d3.png)
![3.png](https://cmty.s3.eu-west-1.amazonaws.

[2018-12-03 08:31] manniL commented on #3566
Closing this as we have a perf-related issue at #3956. Other memory leak issues are mostly unrelated to Nuxt itself but to own code. If that's *not* the case, please open a new issue

[2018-12-03 08:31] #3566 closed

[2018-12-03 08:34] manniL commented on #4474
@jefrydco Can you try it with latest `nuxt-edge`? Unfortunately there are memory leaks (due to dev middleware, HMR, ...) that can't be easily avoided on our side.

https://github.com/nuxt/nuxt.js/pull/4439 should mitigate it.

**This does not affect production mode**

[2018-12-03 08:34] #4474 closed

[2018-12-03 08:37] pi0 commented on #4377
It is now https://packagephobia.now.sh/result?p=nuxt-start-edge@2.4.0-25727703.6589670 after #4439. More optimizations on the way.

[2018-12-03 10:02] awronski commented on #4132
Hi Guys, anyone can help with it?

Is it a problem with a nuxt lifecycle or with the vue-router? Could we do something about it? Thanks!
Ping @clarkdo @pi0

[2018-12-03 10:08] awronski commented on #4154
@Atinux Is it a bug or `route.meta` is not implemented?

Thanks!

[2018-12-03 10:12] clarkdo commented on #4154
@awronski Sorry for the late reply, I'll have a look

[2018-12-03 10:34] jefrydco commented on #4474
@manniL Oke, gotcha, thanks for explaining. Let me try `nuxt-edge` vesion.

[2018-12-03 10:51] #4154 closed

[2018-12-03 11:32] aldarund commented on #4473
Nuxt dont have deps to flatmap stream. Its your dep. Maybe nodemon. Update to latest versions

[2018-12-03 11:51] nicooprat commented on #3210
I think I'm getting the same error. Here's my workaround:

[code]

It just prevents two root element to be visible at once, by hiding the old one.

[2018-12-03 16:46] rchl commented on #4319
Still valid

[2018-12-03 22:23] kamontat opened #4480 "nuxt generate cause connect ECONNREFUSED error"
### Version

[v2.3.4](https://github.com/nuxt.js/releases/tag/v2.3.4)

### Reproduction link

[https://codesandbox.io/s/38n4nxkn76](https://codesandbox.io/s/38n4nxkn76)

### Steps to reproduce

1. create nuxt starter
2. use axios to current path (`axios.get("/user.json")`)
3. try to generate static files

### What is expected ?

Complete static files

### What is actually happening?

Error

[code]

[2018-12-03 23:00] manniL commented on #4480
While generating your app no server is running (compared to SSR mode).

What you want to do then is either requiring the json manually (which should be fine) or using a mounted hook (but then the info isn't included in the HTML)

Example (would probably move it to assets):

[code]

[2018-12-03 23:00] #4480 closed

[2018-12-03 23:48] manniL commented on #4465
related: https://github.com/nuxt/nuxt.js/pull/4079

[2018-12-04 00:34] manniL commented on #4457
Can't be avoided as the function is bound to the component's context (where it is executed. In this case the root instance).

More in the vue-meta source code.

[2018-12-04 00:34] #4457 closed

[2018-12-04 09:39] xliyq opened #4481 "layout中 props数据怎么传递"

[2018-12-04 09:39] #4481 closed

[2018-12-04 12:36] rnenjoy commented on #4432
No IE legacy / compatible mode is turned on/off inside Settings menu. Compatible menu.
There is also a menu when clicking F12 to emulate the browser.

[2018-12-04 20:04] hartmut-co-uk commented on #3956
@manniL just noticed there's a diff in _Document Length_ between your tested versions which might influence results to some degree?
Note that express on the left is 12.9% bigger though still performs slightly better.

[2018-12-04 20:19] davidpmccormick commented on #4404
What's the right approach for bug reporting on this? I don't want to just open another issue, but would really like to try and figure out why `triggerScroll` still isn't getting called after `routeChanged` for certain routes.

[2018-12-04 23:02] manniL commented on #4404
@davidpmccormick I'd suggest to open a new Issue with a *minimal* reproduction repo again.

[2018-12-04 23:53] #4184 closed

[2018-12-05 04:04] falstack opened #4484 "custom app template"
### What problem does this feature solve?

My app have day-night mode for user.

and this mode control by request-url or cooke, like this：

**url：**`https:/note/1?read_mode=night`

or

**cookie：**`read_mode=night`

I want cache page use Redis, the cache key prefix use `read_mode`, like this：

**day-homepage**，**night-homepage**，**day-note-1**，**night-note-1**

app.template extend can't do this, i

[2018-12-05 08:11] sumeshkmp commented on #3389
Have seen this issue on V2.2.0

[2018-12-05 12:06] manniL commented on #3956
@hartmut-co-uk That could support my theory: Express has no compression "by default", Nuxt has. Compression -> smaller size but takes longer per request

[2018-12-05 12:13] pi0 commented on #3956
@manniL When using express (programmatic usage) we still register nuxt middleware **stack** which includes compression and other middleware.

[2018-12-05 12:16] manniL commented on #3956
@pi0 Ah, dang 🙈

# Current status

![image](https://user-images.githubusercontent.com/640208/49512998-7dd22e80-f887-11e8-8461-2de0c4d5a3ea.png)

Tested on a VM with latest Ubuntu and quite decent hardware

**Left**: *pure* create-nuxt-app project
**Right**: *Express* create-nuxt-app project

[2018-12-05 13:43] manniL commented on #3956
@hartmut-co-uk
![image](https://user-images.githubusercontent.com/640208/49517282-b7109b80-f893-11e8-9b98-1162c878cec9.png)

[2018-12-05 13:44] manniL commented on #3956
I'd close the issue for now as it looks decent. What do you think @pi0 @Atinux @aldarund ? 🤔

[2018-12-05 14:32] hartmut-co-uk commented on #3956
Thanks a lot @manniL!
+1 for closing the issue

[2018-12-05 15:19] luisfavila commented on #2537
I'm using nuxt-edge 2.4.0 and this still happens.

[2018-12-06 03:23] Sumeshkumar opened #4486 "Dynamic layout not working properly on the page refresh in Nuxt generate"
### Version

[2.2.0](https://github.com/nuxt.js/releases/tag/2.2.0)

### Reproduction link

[https://github.com/Sumeshkumar/DL](https://github.com/Sumeshkumar/DL)

### Steps to reproduce

Issue: On mobile devices when refresh page/fist load, the desktop layout is loading instead of mobile.

This project is created from scratch by following below link: https://nuxtjs.org/guide/installation

Note: T

[2018-12-06 09:38] Magnum5234 opened #4487 "generate with spa mode generates html with no static content"
### Version

[v2.3.4](https://github.com/nuxt.js/releases/tag/v2.3.4)

### Reproduction link

[generate --spa](generate --spa)

### Steps to reproduce

Run ```generate --spa``` to produce static html files

### What is expected ?

html files with static pre rendered content for seo, bots, etc...

### What is actually happening?

html files generated only contains the minimal basic of javascript fi

[2018-12-06 13:10] Nandiin commented on #4184
@kevinmarrec Have you solved the `tsconfig.json` problem? I'm facing same problem and grateful to hear some advice.

[2018-12-06 13:54] pingzidong opened #4488 "使用axios网络请求库的时候，如何向后端服务器传递header信息呢？客户端向服务器端发网络请求可以向后端传递header信息，服务端渲如何才能想客户端那样传递header信息"

[2018-12-06 13:54] #4488 closed

[2018-12-06 13:55] pingzidong commented on #4488
![image](https://user-images.githubusercontent.com/12740207/49588395-89b21380-f9a1-11e8-8b47-121c2d194520.png)

[2018-12-06 13:58] pingzidong opened #4489 "i cannot send header message to api server"
how can i send header message to backend server by axios network?please

[2018-12-06 13:58] #4489 closed

[2018-12-06 16:11] sangemi commented on #2921
I add 4G swap.
And then I ran nuxt build.

Before
![image](https://user-images.githubusercontent.com/8413799/49596081-d6efae80-f9bc-11e8-8590-5b7b4fecf032.png)

Building..
![image](https://user-images.githubusercontent.com/8413799/49596125-f25ab980-f9bc-11e8-82b8-75011465f5b4.png)

it was stopped at 91%.
![image](https://user-images.githubusercontent.com/8413799/49596177-11f1e200-f9bd-11e8-849c-21

[2018-12-06 17:52] Romick2005 opened #4490 "Improve logging"
### What problem does this feature solve?

Hi I spend an hour to discover that I have a problem in nuxt buildDir config. (When I started app from webstorm it works, but when via pm2 it doesn't not say anything just do not work). So I have hard times to debug it. First I discovered there are endless loop in page render `await renderRoute(url, context)` and then finally discover that vue-renderer si

[2018-12-06 18:13] pi0 commented on #4490
@Romick2005 Warning is added in `nuxt-edge`. Will be improved in next release :)

[2018-12-06 21:07] martinesdevelop opened #4491 "Redirect doesn't work in SPA mode from plugin"
### Version

[v2.3.4](https://github.com/nuxt.js/releases/tag/v2.3.4)

### Reproduction link

[https://codesandbox.io/s/5vj0ml10zk](https://codesandbox.io/s/5vj0ml10zk)

### Steps to reproduce

1. Install starter template from https://github.com/nuxt-community/starter-template
2. Update nuxt to 2.3.4
3. Create page about.vue
4. Create plugins/redirect.js with content:

export default ctx => {
  co

[2018-12-07 01:11] kevinmarrec commented on #4184
@Nandiin No sorry.. I ended up not using lerna and/or yarn workspaces, there're still issues using Nuxt when node_modules are not in the same directory as the Nuxt Project. Maybe it's all about knowing how setup well the `nuxt.config.js` with different options like `modulesDir`. I don't know :/

[2018-12-07 02:47] falstack opened #4492 "official docs site javascript load error"
### Version

[v2.3.4](https://github.com/nuxt.js/releases/tag/v2.3.4)

### Reproduction link

[https://nuxtjs.org/](https://nuxtjs.org/)

### Steps to reproduce

![image](https://user-images.githubusercontent.com/16357724/49624535-c1a27080-fa0c-11e8-8da4-92b8bf782d38.png)

### What is expected ?

because CDN?

### What is actually happening?

axios module load error, page can not switch

### Addit

[2018-12-07 02:52] falstack commented on #4492
I found nuxt/docs repo, and create issue：https://github.com/nuxt/docs/issues/1028

[2018-12-07 02:52] #4492 closed

[2018-12-07 07:54] kevinmarrec commented on #4184
@Nandiin The error is cause `ts-loader` is not able to find the correct path of `tsconfig.json` with yarn workspaces ? I thought it was something else

Anyway If you're able to setup a Nuxt project with TypeScript and Yarn Workspaces, please share !

[2018-12-07 09:22] clarkdo commented on #4131
It's a good idea for, I'll try to work on it and use a compatible way to implement it.

[2018-12-07 09:37] clarkdo commented on #4131
After discussion with @pi0 , we decide to replace it completely.

[2018-12-07 10:13] cotufaloschiflones opened #4493 "nuxtServerInit server data is overrided by previous stored front data"
Hello,

I have read to some other users having this issue but I have not found any solution...this is my version of nuxt and libraries involved in this particular issue.

"@nuxtjs/axios": "5.3.5",
 "nuxt": "2.2.0",
"vuex-persistedstate": "2.5.4"

I have the nuxtServerInit in `store/index.js` file as the doc says, and I'm using a clasic `export default` with all my mutations, actions...

The proble

[2018-12-07 10:13] #4493 closed

[2018-12-07 13:23] kvanska opened #4496 ""escape" nested route to create new parent"
### What problem does this feature solve?

possibility to "escape" nested route so that new parent can be made deeper in the hierarchy (folder structure)

parent.vue
parent
 - index.vue
 - secondchild.vue
 - subparent.vue
subparent
 - index.vue
 - subparentchild.vue

subparent.vue should not be a child component of the parent.vue

or is this already somehow possible?

<div align="right"><sub><em>T

[2018-12-07 21:47] manniL commented on #4466
Duplicate of #4370

[2018-12-07 21:47] #4466 closed

[2018-12-07 21:51] Romick2005 commented on #4490
Thank you @pi0!

[2018-12-07 21:51] #4490 closed

[2018-12-08 13:10] CKGrafico commented on #4286
Your hack is amazing @amoshydra kudos!

[2018-12-08 13:34] #4306 closed

[2018-12-08 13:34] #3948 closed

[2018-12-08 13:36] Guizzoni commented on #3954
This still happens in the latest nuxt-edge version.

[2018-12-08 14:14] webkws opened #4499 "Property or method is not defined on the instance but referenced"
An error happened in nuxt.js called nested-components example:
`[Vue warn]: Property or method "title" is not defined on the instance but referenced during render`

Version
`nuxt-edge`

link
https://github.com/nuxt/nuxt.js/tree/dev/examples/nested-components

Steps to reproduce
yarn run dev

What is expected ?
no error

<div align="right"><sub><em>This question is available on <a href="https://cmt

[2018-12-08 15:58] eungkyu opened #4500 "In SPA, hash mode, index page mounted is called when redirected twice in asyncData"
### Version

[v2.3.4](https://github.com/nuxt.js/releases/tag/v2.3.4)

### Reproduction link

[https://codesandbox.io/s/rln512mjjq](https://codesandbox.io/s/rln512mjjq)

### Steps to reproduce

Create Nuxt project "spa" mode and set route mode "hash"
make redirect in asyncData of index.vue
make redirect again.

You can see mounted in index.vue called.

You can test in reproduction link

### What i

[2018-12-08 16:15] magisters-org commented on #3389
Up, one more.

[2018-12-08 17:43] kevinmarrec opened #4501 "`build:compile` Nuxt hook seems to not being triggered correctly"
### Version

[v2.3.4](https://github.com/nuxt.js/releases/tag/v2.3.4)

### Reproduction link

[https://github.com/kevinmarrec/nuxt-build-compile-hook-issue](https://github.com/kevinmarrec/nuxt-build-compile-hook-issue)

### Steps to reproduce

Clone the reproduction link repository
Install deps : `yarn` or `npm install`
Run in dev mode : `yarn dev` or `npm run dev`

Look at the `~/modules/test` mo

[2018-12-08 18:32] pi0 commented on #4501
@kevinmarrec, yes you are completely right. But as this hook was working like this at least since [v2.0.0](https://github.com/nuxt/nuxt.js/blob/v2.0.0/lib/builder/builder.js#L507) i suggest introducing correct `webpack:` prefixed hooks. Meanwhile, you can use `build:resources` or directly tapping webpack using `extend`.

[2018-12-08 19:15] kevinmarrec commented on #4501
@pi0 Alright !
Yeah, that's sure we can't change current hooks, cause it will result in breaking change for people using the hook with the current behavior, so introducing correct and new `webpack:` prefixed hooks and keeping the "not so correct" `build:compile` hook will be the best solution 👍

[2018-12-09 00:59] CKGrafico commented on #4286
After the whole day working with this I still have this problem:

[code]

First I've changed the creation of the file to have the webpack config inmenory because sitringifying was not working well for me ( a lot of errors like, plugins[0] has not apply method, etc.)

do you have any idea @amoshydra?

this is how my `update-webpack-configs` looks like:
[code]

and the file using this is something l

[2018-12-09 05:52] yuanwei92 commented on #4455
@aldarund Thanks

[2018-12-09 10:07] manniL commented on #3887
You could try it one more time with the latest nuxt edge build.

[2018-12-09 15:56] nmfzone commented on #4219
Still..

[2018-12-09 20:46] manniL commented on #4219
@nmfzone even with latest nuxt-edge?

[2018-12-09 23:05] aldarund commented on #3932
Hi! I just wanted to let you know about Tenant Report!

Tenant Report makes it easy to get a credit, criminal, and eviction report from potential renters.

This includes:
credit report from TransUnion
a nationwide criminal background check
a nationwide eviction search history

It costs you $0. The applicant will pay a $30 application fee. There are no other fees.
sign up here  http://localhost:300

[2018-12-10 03:05] fe-shinemo commented on #3943
my test, with vue 2.5.19 (2.5.18) released, this bug has been fixed already, @manniL

[2018-12-10 10:13] manniL commented on #3943
@fe-shinemo Indeed. Updated the example and it's working now

[2018-12-10 10:13] #3943 closed

[2018-12-10 10:36] manniL commented on #4219
Looks like it's fixed (https://codesandbox.io/s/github/AndrewBogdanovTSS/nuxt-css-order/tree/master/)

[2018-12-10 10:53] maxneh commented on #2921
RAM 8Gb, swap 24Gb
If exclude minification - fixed, but how whithout it

[2018-12-10 14:15] sh opened #4513 "dev mode throws 404 for fonts if build.cache is enabled"
### Version

[v2.2.0](https://github.com/nuxt.js/releases/tag/v2.2.0)

### Reproduction link

[https://github.com/sh/nuxt-webpack-dev-cache-bug](https://github.com/sh/nuxt-webpack-dev-cache-bug)

### Steps to reproduce

Version is nuxt-edge@2.4.0-25740740.f0cb654

Set `build.cache` to `true`

1. `yarn install`
2. `yarn dev`
3. open http://localhost:3000 - check icon is shown
4. `ctrl + c ` - stop

[2018-12-10 18:10] #4141 closed

[2018-12-10 19:05] DreaMinder commented on #2835
BTW, if someone reading this, for nuxt@2.3.4 there should be new path to start script (with .js extension)
`node_modules/nuxt-start/bin/nuxt-start.js`

[2018-12-11 02:19] williamchong007 commented on #4201
I am having a [live site](https://like.co) with same problem, I use `middleware` and `nuxtServerInit` to pre-populate my store. The CSP header grows to >4kb in few hours.

Working on to reproduce with minimal code now.

[2018-12-11 04:58] cqkgit opened #4517 "About service downtime？"
Whether can timing nuxt generate timer generate static pages, when nuxt service outage, access to static files in another server

[2018-12-11 04:58] #4517 closed

[2018-12-11 06:21] xjinza commented on #4487
I have the same problem ,when I use the mode 'univesal', the page of js can not worked

[2018-12-11 06:33] williamchong007 commented on #4201
@manniL https://github.com/nuxt/nuxt.js/pull/4519 I probably have find out the issue, please take a look

[2018-12-11 08:36] xjinza commented on #4487
I have resolve this problem ,this is my nuxt.config.js
[code]

[2018-12-11 09:31] xxyyzz2050 opened #4520 "Symbol.iterator fail with no error"
I have a library that uses Symbol.iterator to check is an object is array or iterator
when I run this code via node (i.e node test) it runs well without any problem,
but when I run it in th browser (using Nuxt) it exists the code without any error

check.js
console.log("check.js run") //not called when I run it via NUXT
module.exports={ //also using export default gives the same problem
 isArray:f

[2018-12-11 09:31] #4520 closed

[2018-12-11 09:33] xxyyzz2050 opened #4522 "Symbol.iterator fails with no error (only in NUXT) but runs well using console"
I have a library that uses Symbol.iterator to check is an object is array or iterator
when I run this code via node (i.e node test) it runs well without any problem,
but when I run it in th browser (using Nuxt) it exists the code without any error

check.js
[code]

test.js
[code]

pages/test.vue
[code]

[2018-12-11 09:33] #4522 closed

[2018-12-11 09:36] manniL commented on #4487
You probably just want `nuxt generate`, don't you? 🤔

[2018-12-11 09:47] xjinza commented on #4487
yes, ssr consume more server resource，I want prerender html as a skeleton when build app.
but call api in client not server.

[2018-12-11 10:04] xjinza commented on #4487
right,it works well for me

[2018-12-11 10:18] manniL commented on #4173
Still present in latest nuxt-edge.

[2018-12-11 10:18] #4487 closed

[2018-12-11 10:56] manniL commented on #3902
We will have asyncData/fetch everywhere soon ;)

[2018-12-11 10:56] #3902 closed

[2018-12-11 12:16] nmfzone commented on #4219
@manniL Sorry for coming late. I'm not using Nuxt Edge, because it's production environment. So, I must update/upgrade the Vue to make it works?

[2018-12-11 13:21] manniL commented on #4219
@nmfzone Updating Vue should be fine, yes (`yarn upgrade` or `npm update`)

[2018-12-11 16:45] Legym commented on #4107
Just want to bring up that mzgoddard/hard-source-webpack-plugin#444 has been merged

[2018-12-11 18:52] xxyyzz2050 opened #4526 "loading a css file from assets in NUXT layout"
layouts/default.vue :
[code]

the above code generates:
`<link href="~assets/style.css" />`
which is not accessable

navigating to http://localhost/_nuxt/assets/style.css fail, but http://localhost/_nuxt/assets/photo.jpg success

[2018-12-11 18:52] #4526 closed

[2018-12-11 18:52] benfavre commented on #4107
I believe in humanity again thanks

[2018-12-11 19:51] AndrewBogdanovTSS commented on #4219
I checked it on my products and I can confirm that the bug is fixed! Thanks @mannil

[2018-12-11 20:49] #4107 closed

[2018-12-12 00:21] tmorehouse commented on #4204
I'm seeing this issue also.

Using the nuxt.config.js `css` option, I am seeing inconsistent CSS load order, which doesn't follow the order specified. in the CSS array

We are using 3rd party CSS libraries, of which we create an override style sheet, which needs to be loaded last, and sometimes it is being loaded first.

[2018-12-12 01:34] manniL commented on #4443
You can use `req.modernMode` for now (where available):

https://github.com/nuxt/nuxt.js/blob/29c5bb651320f20bc17fea0bdfa4f1d130e83512/packages/server/src/middleware/modern.js#L43

[2018-12-12 01:45] zhangcanfeng612 opened #4533 "How can I get vuex stroe in a noramal js file?"
I am a newbie. I have a problem that has been bothering me for a long time. Trouble can help me answer it. Thanks~ The following is the wrong code, I don't know how to do it.
[code]

[2018-12-12 01:45] #4533 closed

[2018-12-12 05:02] aaronransley commented on #4024
Running into this same issue. Running Nuxt edge w/ up-to-date `yarn upgrade`. My anchor tags appear as the result of a component render, but the hash isn't honored after a hard reload w/ Cmd+R

[2018-12-12 09:33] #4443 closed

[2018-12-12 10:41] manniL commented on #3472
solved with https://github.com/gaven/nuxt-svg-sprite-module/blob/master/index.js

[2018-12-12 10:41] #3472 closed

[2018-12-12 10:54] ricardogobbosouza commented on #4526
You should use `css` property in` nuxt.config.js`

https://nuxtjs.org/api/configuration-css#the-css-property

[2018-12-12 11:00] ricardogobbosouza commented on #4533
See https://github.com/nuxt/nuxt.js/issues/2005#issuecomment-341306250

[2018-12-12 11:14] ricardogobbosouza commented on #4499
Really wrong.
Missing `props` option.

I created a PR for this

[2018-12-12 11:24] manniL commented on #4301
Even after https://github.com/nuxt/nuxt.js/pull/4470 still present.

Updated CSB to latest nuxt-edge

[2018-12-12 11:32] AndrewBogdanovTSS commented on #4204
Wasn't this already been fixed? I had similar issue I logged here https://github.com/nuxt/nuxt.js/issues/4219#issuecomment-437545141
and now it's respecting an order for me

[2018-12-12 11:46] ricardogobbosouza commented on #4468
Hi @chetanmajithiya28

This option does not really exist.

I created a PR https://github.com/nuxt/nuxt.js/pull/4536#issue-238007827

[2018-12-12 13:29] Timkor opened #4539 "ReferenceError: error is not defined"
### Version

[v2.3.4](https://github.com/nuxt.js/releases/tag/v2.3.4)

### Reproduction link

[https://github.com/nuxt/nuxt.js/blob/657a6cc7c99f81b93dcd75f2be5baad0a1e35374/packages/vue-app/template/client.js#L149](https://github.com/nuxt/nuxt.js/blob/657a6cc7c99f81b93dcd75f2be5baad0a1e35374/packages/vue-app/template/client.js#L149)

### Steps to reproduce

Not sure

### What is expected ?

To act

[2018-12-12 14:17] manniL commented on #4539
Please add reproduction (template: https://template.nuxtjs.org/)

[2018-12-12 16:44] aldarund commented on #4539
It was fixed weeks ago, use latest release :)

[2018-12-12 16:44] #4539 closed

[2018-12-12 17:38] manniL commented on #4539
rel: https://github.com/nuxt/nuxt.js/pull/4444

[2018-12-12 18:16] cesasol commented on #4353
Took me some time but here it is. https://github.com/cesasol/nuxt-pnpm
I could not find a way to make cache or parallel work but everything else does.

[2018-12-12 18:37] tsmd commented on #3496
This also happens when navigating from parent to child route.
I found adding `transition: { css: false }` to the child component fixes the problem.
but I don't know why.

[2018-12-12 19:50] cesasol commented on #4353
Ok I fixed the issue with the thread loader

[2018-12-12 22:33] saintech opened #4540 "nuxt generate produces really unexpected result when using */index.html URLs"
### Version

[v2.3.4](https://github.com/nuxt.js/releases/tag/v2.3.4)

### Reproduction link

[https://github.com/nuxt/codesandbox-nuxt](https://github.com/nuxt/codesandbox-nuxt)

### Steps to reproduce

1. `git clone https://github.com/nuxt/codesandbox-nuxt/`
2. `cd codesandbox-nuxt`
3. add code to pages/about.vue component:  `mounted() { console.log('JS CHECK') }`
4. `npm i`
5. `npm run generate

[2018-12-13 07:01] yoyo837 commented on #4488
改写你的ajax 封装，从context拿header

[2018-12-13 07:02] yoyo837 commented on #4488
浏览器 -> node.js server -> backend server,  第一步浏览器传递的东西都在context里

[2018-12-13 08:19] fmay opened #4541 "Error when importing node-sass"
### Version

[v2.3.4](https://github.com/nuxt.js/releases/tag/v2.3.4)

### Reproduction link

[https://codesandbox.io/s/ojwoqvvk69](https://codesandbox.io/s/ojwoqvvk69)

### Steps to reproduce

I need to run node-sass to compile some scss my users enter within the application itself. Initially I got a bunch of unresolved 'fs' errors which I resolved by adding a webpack config.node = { fs: 'empty'

[2018-12-13 09:21] su1924 commented on #4173
In the new version, it should be repeated three times, which is even more serious.

[2018-12-13 09:57] ko1eda opened #4543 "Nuxt router not updating inside docker container when new page is added"
### Version

[v2.3.4](https://github.com/nuxt.js/releases/tag/v2.3.4)

### Reproduction link

[https://github.com/ko1eda/nuxt-issue](https://github.com/ko1eda/nuxt-issue)

### Steps to reproduce

1. Clone the repository
2. Edit the docker-compose volume mount to point to the nuxt application directory on your local machine
3. Run ```docker-compose run --rm vuejs npm install```
+ this will install

[2018-12-13 12:09] aldarund commented on #4543
https://github.com/nuxt/nuxt.js/issues/3887

[2018-12-13 12:58] Loilo opened #4544 "Need a way to use static resources with router.base"
### What problem does this feature solve?

Currently, there's no (documented) way to properly use static assets in sites deployed by Nuxt's `generate` command when the `router.base` coption is set to something other than `/`. Resources requested as `~/path/to/resource` are correctly rewritten to `[router.base]/path/to/resource`. Unfortunately, there's no equivalent to that for static resources req

[2018-12-13 13:59] blowsie opened #4545 "Analyze not generating stats with create-nuxt-app adonis"
### Reproduction link

[https://github.com/blowsie/nuxt-vuetify-adonis](https://github.com/blowsie/nuxt-vuetify-adonis)

### Steps to reproduce

- create-nuxt-app with adonis and vuetify
- add `analyze: true` to build config

### What is expected ?

to see stats

### What is actually happening?

no stats generated

### Additional comments?

I tried for over an hour to get a reproduction working on

[2018-12-13 14:37] clarkdo commented on #4173
@su1924 Will be fixed in #4546 😸

[2018-12-13 15:55] pinders opened #4547 "Configure mode (universal/spa) per page"
### What problem does this feature solve?

We are building a web app which lets users manage different kind of vehicles. And we currently use the spa mode.
Now we want to a basic landing page which showcases the app.

But using the spa mode for an landing page is not optimal due to page load time. We could create a seperate app using the universal mode, but this seems like a big overhead for a sin

[2018-12-13 16:58] blowsie commented on #4545
The example repo uses nuxt edge, but i have confirmed the same issue is present in     "nuxt": "^2.3.4",

[2018-12-13 18:37] #4173 closed

[2018-12-13 20:34] kamontat opened #4549 "Default layout always loaded"
### Version

[v2.3.4](https://github.com/nuxt.js/releases/tag/v2.3.4)

### Reproduction link

[https://github.com/kamontat/Portfolio/blob/dev/pages/cms/net/index.vue](https://github.com/kamontat/Portfolio/blob/dev/pages/cms/net/index.vue)

### Steps to reproduce

1. Create default layout with some css (called `default.vue`)
2. Create another layout with NO css (called `empty.vue`)
3. Create pages

[2018-12-14 02:02] humingchao opened #4550 "ant-design-vue按需引入模块"
nuxt如何支持ant-design-vue按需引入模块

[2018-12-14 02:02] #4550 closed

[2018-12-14 07:55] dschewchenko commented on #4547
You can use async components in your pages. They will load after ssr of layout, and page component.
Or you can set nginx/apache config for serving prerendered LP, and whole app using nuxt in spa mode

[2018-12-14 11:08] AndrewBogdanovTSS opened #4552 "Exclusive Modern Mode Feature"
### What problem does this feature solve?

As a dev who don't need to support old browsers I would like to have a way to build *only* the modern version of the build so I could spend less time on generating the final assets

### What does the proposed changes look like?

I think in addition to `--modern` flag we can have smth. like ` --no-legacy` that will disable standard build generation

<div a

[2018-12-14 11:51] ImreC opened #4553 "Modules do not get injected into context.app when using new Builder(nuxt).build()"
### Version

[v2.3.4](https://github.com/nuxt.js/releases/tag/v2.3.4)

### Reproduction link

[https://github.com/ImreC/nuxt-ava-inject-problem](https://github.com/ImreC/nuxt-ava-inject-problem)

### Steps to reproduce

The problem occurs when you use context.app in NuxtServerInit. You get the error "Cannot read property `injected module` of undefined". This works fine in production or dev builds,

[2018-12-14 14:06] IPRIT commented on #4549
Did you try?
[code]

[2018-12-14 14:56] bovas85 commented on #3828
is there a fix for this? Safari is breaking on prod for me

[2018-12-14 15:00] manniL commented on #3828
This shouldn't happen on prod 😱

@bovas85 can you reproduce it somehow?

[2018-12-14 15:19] smyth64 commented on #3828
I have the same issue, only on Safari 😅

This issue is very important, if it even breaks prod o_O

[2018-12-14 15:41] mrkstwrt commented on #4541
node-sass isn't written to work in the browser. Your best bet is probably something like this https://github.com/medialize/sass.js/

[2018-12-14 15:57] hangaoke1 opened #4554 "memory leak in asyncData on client-side"
### index.vue
[code]
### test.vue
[code]
### node_modules/@nuxt/vue-app/template/utils.js
[code]
/ -> /test -> / -> /test -> / -> /test ....
![image](https://user-images.githubusercontent.com/19623160/50012957-e42f1d80-fffa-11e8-9042-2e1bdedcd5c7.png)

Sometimes this is not what the user wants.

Some simple thoughts of mine
[code]

<div align="right"><sub><em>This question is available on <a href=

[2018-12-14 16:12] OperKH opened #4555 "Nuxt.js cuts some css styles."
### Version

[v2.3.4](https://github.com/nuxt.js/releases/tag/v2.3.4)

### Reproduction link

[https://github.com/OperKH/nuxt-css-bug](https://github.com/OperKH/nuxt-css-bug)

### Steps to reproduce

git clone https://github.com/OperKH/nuxt-css-bug.git
cd nuxt-css-bug
npm i
npm run devnpm run dev

### What is expected ?

div.text-start and div.text-end should have styles "text-align: start;" and "

[2018-12-14 17:39] core01 opened #4556 "Bug with nuxt-router params and computed properties"
### Version

[v2.3.4](https://github.com/nuxt.js/releases/tag/v2.3.4)

### Reproduction link

[https://github.com/core01/nuxt-router-bug](https://github.com/core01/nuxt-router-bug)

### Steps to reproduce

1. Open `http://localhost:3000`
2. Go to Sales or Shops page and check browser URL
3. Go back to INDEX page and select another City from Select.
4. Go to Sales or Shops page and check browser UR

[2018-12-14 17:41] core01 commented on #4556
If you put the navbar component inside PAGE, then everything will work out as it should

[2018-12-14 18:38] core01 commented on #4556
Here is Codesandbox - https://codesandbox.io/s/github/core01/nuxt-router-bug

[2018-12-14 20:15] maxim-usikov commented on #4556
@core01 I think u should use `:key`.

`<navbar :key="...">` or `<navbar> -> <nuxt-link :key="...">`, because they are rendered once with layout component and does not re-render on page changes.

---
Nuxt solve this "issue" same:

https://github.com/nuxt/nuxt.js/blob/99614535b5b4af0e2644ed172d7517804aaa1094/packages/vue-app/template/components/nuxt.js#L33

https://github.com/nuxt/nuxt.js/blob/99614

[2018-12-14 20:49] core01 commented on #4556
@maxim-usikov Thank you. Your suggestion helped me to resolve the issue. It is a strange behaviour and without a complete learning of vue/nuxt it is impossible to understand it.

[2018-12-14 22:41] papakay commented on #3828
Please i'm having the same issue on Safari 12.0

[2018-12-15 03:46] jaredreich opened #4559 "Non-scoped styles inside unused layouts get applied anyway"
### Version

[2.3.4](https://github.com/nuxt.js/releases/tag/2.3.4)

### Reproduction link

[https://codesandbox.io/s/1vm41pzp1l](https://codesandbox.io/s/1vm41pzp1l)

### Steps to reproduce

You can see that there is an `html { ... }` style declaration in the layout file `layouts/test.vue`... even though that layout is never used anywhere, the style is still applied.

Shouldn't styles (non-scoped

[2018-12-15 04:49] galvez commented on #4500
@eungkyu Calling `redirect()` on a page's `asyncData()` is not supposed to cancel its `mounted()` event. Remember `asyncData()` is meant to return data to be merged with the page component's own `data()`. In a SSR context, you can use `asyncData()` to `redirect()` because `mounted()` is _never_ called in SSR *anyway*.

What you probably want to do is create your initialization code in a shared `mo

[2018-12-15 04:49] #4500 closed

[2018-12-15 09:59] Biskor opened #4560 "Problem with SEO. How to change FULL URLS from routes."
Hello,

I got a problem. I've pages, categories, products in my apps.

Each page, products and categories got related URL

Exemple :

Page -> /common/:id
Category -> /common/:id/cateogory/:category
Product -> /common/:id/cateogory/:category/product/:product

I want to change the URL for all.

Exemple :
/common/CtT4lVYrk1ZOU1Dq  to my-index-page.html
/common/XK8VM9KF87IAkSAt  to who-we-are.html

/c

[2018-12-15 09:59] #4560 closed

[2018-12-15 13:40] kamontat commented on #4549
No luck

<img width="505" alt="screen shot 2018-12-15 at 14 40 11" src="https://user-images.githubusercontent.com/14089557/50043596-5fceb000-0077-11e9-9d5f-f0d8ae0a3f60.png">

[2018-12-15 14:15] ishitatsuyuki commented on #2517
The bot is malfunctioning.

[2018-12-15 17:52] Justineo opened #4562 "`nuxt generate` doesn't generate HTML file for pages with child routes"
### Version

[v2.3.4](https://github.com/nuxt.js/releases/tag/v2.3.4)

### Reproduction link

[https://github.com/Justineo/nuxt-generate-bug](https://github.com/Justineo/nuxt-generate-bug)

### Steps to reproduce

1. Creating a project with `create-nuxt-app`
2. Create following pages:

[code]

3. Run `nuxt generate`

### What is expected ?

In `dist` directory, there will be independent entry HTML

[2018-12-16 02:36] Justineo commented on #4562
Thanks, Leo. I'm able to workaround this as you suggested by creating a separate `index.vue` inside the `test` directory. But it did create the route for `/test` without `/test/index.vue` in the `dev` mode (See below).

![image](https://user-images.githubusercontent.com/1726061/50049338-5ba99d80-011e-11e9-9a51-f4b9d2ca4c11.png)

[2018-12-16 09:59] maxim-usikov commented on #4556
I try to [reproduce this behaviour on vue](https://github.com/maxim-usikov/vue-vuex-router-issue-1), but all works.

[2018-12-16 18:13] dhruv-chitkara27 opened #4567 "Image is not displaying in readme.md before Browserstack link."

[2018-12-16 18:13] #4567 closed

[2018-12-16 18:13] kevinmarrec opened #4568 "`modules: ['@@']` behavior no longer works"
### Version

[v2.4.0-25749301.ad286acd](https://github.com/nuxt/nuxt.js/tree/dev) (edge)

### Reproduction link

[https://github.com/Developmint/nuxt-webfontloader/pull/3](https://github.com/Developmint/nuxt-webfontloader/pull/3)

Renovate Bot upgrading to last `nuxt-edge` version make tests fail

https://travis-ci.com/Developmint/nuxt-webfontloader/jobs/165424361

### Steps to reproduce

Upgrade

[2018-12-16 23:07] jaredreich commented on #4559
Related to nuxt.js/issues/1801? This definitely feels like an unresolved bug.

[2018-12-17 06:33] saucxs opened #4570 "nuxt start sh: /home/nodejs/songEagle/node_modules/.bin/nuxt: Permission denied"
`[root@izwzz songEagle]# npm start

sh: /home/nodejs/songEagle/node_modules/.bin/nuxt: Permission denied
`

在本地开发环境ok，但是在服务器上运行的时候出现了这个，服务上执行npm start，其实执行的是nuxt start，但是告知这个nuxt没有权限，已经是root权限，这个具体怎么解决？服务器：centos，node：10.14.2，npm：6.4.1

[2018-12-17 06:33] #4570 closed

[2018-12-17 10:55] manniL commented on #4559
Duplicate of https://github.com/nuxt/nuxt.js/issues/3877

[2018-12-17 10:55] #4559 closed

[2018-12-17 11:20] manniL commented on #4555
Reproducible with SSR and SPA mode

Can't reproduce with Vue only template.

[2018-12-17 11:32] manniL commented on #4468
Closed by #4536

[2018-12-17 11:32] #4468 closed

[2018-12-17 11:46] #4499 closed

[2018-12-17 11:49] manniL commented on #4541
Closed based on @mrkstwrt's comment

[2018-12-17 11:49] #4541 closed

[2018-12-17 14:34] sergioIGZ opened #4571 "@awronski you can use:"
[code]

_Originally posted by @Atinux in https://github.com/nuxt/nuxt.js/issues/1113#issuecomment-316365695_

What if I would like to $emit an event on amounted/created hook of a component? the $emit will be fired before $on is set

[2018-12-17 14:34] #4571 closed

[2018-12-17 15:10] #4568 closed

[2018-12-17 15:21] #4361 closed

[2018-12-17 19:17] jaredreich commented on #3877
Oops Stale Bot - you had one job! 😂

Really excited for the Nuxt team to fix this one. Go team go! 😄
(please don't stale/expire this issue...)

[2018-12-17 21:50] #2835 closed

[2018-12-18 02:34] #4203 closed

[2018-12-18 06:37] LiangNex opened #4576 "Nuxt start accept NODE_ENV externally"
### What problem does this feature solve?

I am currently working on a nuxt project which needs to be deployed to multiple environments, such as ```stage```, ```production-location-a```, ```production-location-b```.

Thus I made a function to load varies properties of each environment, and distinguish them via ```process.env.NODE_ENV```.
[code]

And start my project via below command in ```package

[2018-12-18 07:02] pi0 commented on #4576
@LiangNex We have to consider that `NODE_ENV` is also internally being used by 3rd party modules (Including Vue.js runtime) to check against `production` value too. (Staging env is usually a production build but not running on official domain/host). So what I suggest you if you are not going to intentionally change the behavior, is simply using another env like `NUXT_ENV` like this:

[code]

[2018-12-18 07:12] LiangNex commented on #4576
👍 thanks a lot for your advice. Really appreciate it.

[2018-12-18 07:12] #4576 closed

[2018-12-18 07:19] i1240121619 opened #4578 "nuxt vendor.js文件很大 怎么处理"

[2018-12-18 07:19] #4578 closed

[2018-12-18 07:49] luckyscript commented on #4570
try this:
https://docs.npmjs.com/resolving-eacces-permissions-errors-when-installing-packages-globally

[2018-12-18 12:13] manniL commented on #325
![image](https://user-images.githubusercontent.com/640208/50153407-3d7aa380-02be-11e9-979f-ceec518d87a3.png)

HMR could be improved as a full reload of the page is still necessary to update the module

[2018-12-18 12:15] manniL commented on #325
How to reproduce:

Repo: https://github.com/manniL/nuxt-no-store-module-hmr/tree/master/
CSB: https://codesandbox.io/s/github/manniL/nuxt-no-store-module-hmr/tree/master/

1. Launch with `yarn dev`
2. Uncomment 2nd getter
3. see message from comment before

[2018-12-18 12:16] manniL commented on #325
Possible strategy to implement: https://github.com/chrisvfritz/vue-enterprise-boilerplate/blob/master/src/state/modules/index.js

[2018-12-18 12:38] nmfzone opened #4580 "Cannot use aliases inside serverMiddleware"
### Version

[v2.3.4](https://github.com/nuxt.js/releases/tag/v2.3.4)

### Reproduction link

[https://codesandbox.io/s/vvm38xp7ny](https://codesandbox.io/s/vvm38xp7ny)

### Steps to reproduce

1. Creating a project with `create-nuxt-app`

2. Create the serverMiddleware:
[code]

3. Add some file, something like `util.js`:
[code]

4. Import the `common/util.js` in `api/index.js`
[code]

5. Add the

[2018-12-18 16:51] OfekA commented on #4480
@manniL Wasn't the server running on version 2.1.0 and below?

[2018-12-18 23:08] marvenwilsons opened #4584 "This thread has been automatically locked since there has not been any recent activity after it was closed. Please open a new issue for related bugs."
_Originally posted by @lock in https://github.com/nuxt/nuxt.js/issues/1721#issuecomment-435582723_

[2018-12-18 23:08] #4584 closed

[2018-12-18 23:10] marvenwilsons commented on #4584
I got the very same problem, but the guy the one who posted it didn't show his solution.

[2018-12-19 07:31] George-Tan opened #4586 "a x y n c"

[2018-12-19 11:58] alexdohmen commented on #4580
Upgraded today to 2.3.4, aliases not working for me, too
Last working version is 2.2.0

[2018-12-19 15:22] #325 closed

[2018-12-19 16:06] achtan opened #4590 "cannot disable minifying"
### Version

[v2.3.4](https://github.com/nuxt.js/releases/tag/v2.3.4)

### Reproduction link

[https://jsfiddle.net/](https://jsfiddle.net/)

### Steps to reproduce

i have following config:
[code]

but after running `nuxt generate` js files are still minified...

### What is expected ?

to not minify the generated files

### What is actually happening?

files are minified

<div align="right"><sub

[2018-12-19 16:31] #3174 closed

[2018-12-19 17:49] #3389 closed

[2018-12-19 19:03] luminous8 commented on #4539
Hello,

I have this issue with Nuxt.js v2.3.4

[2018-12-19 20:04] devyaz commented on #4555
here is how i do it in my Nuxt app served to ElectronJs
in your nuxt.config.js
``css: [
    '@/assets/css/global.css','@/assets/font-awesome-4.6.3/css/font-awesome.min.css','@assets/css/w3.css'
  ], ``  or your own CSS file in the assets folder this makes it global so you can call from anywhere
am using [w3.css](https://www.w3schools.com/w3css/) and font awesome its like bootstrap only easier and

[2018-12-19 20:34] devyaz commented on #4580
in the server export it like so
[code]
am on v-2.3.4. then you can go to ``yourServerAddress:3000/api/blah-blah``

[2018-12-19 20:55] nmfzone commented on #4580
@devyaz Sorry, but I think you don't read my explanation carefully :wink: I've explain that.

[2018-12-19 20:56] manniL commented on #4539
@luminous8 Create a new issue then.