[2016-11-09 14:01] Atinux opened #1 "Add pages/_app.vue"
Default:
[code]

Can be for example: https://github.com/vuejs/vue-hackernews-2.0/blob/master/src/App.vue

And replacing:
[code]

By:
[code]

Have to register `Vue.component('nuxt', 'Nuxt.vue')` (actual App.vue)

What about `app.error()` -> `app.nuxt.error()`, same for `app.$loading`

[code]

BOUM :tada:

[2016-11-09 19:46] Atinux opened #2 "config.staticUrl"
Default to `/static/`

If can be useful to change it to `/` when hosting `robots.txt` or `sitemap.xml`

Also move the serveStatic logic for the folder inside lib/nuxt.js, so the middleware will have the same logic.

[2016-11-10 00:07] Atinux commented on #2
Finally, map /static/ to /

[2016-11-10 00:07] #2 closed

[2016-11-16 16:29] niallobrien opened #4 "Add login / authentication example"
Hi, I think a lot of issues faced by Next.js apply to Nuxt.js also, and I believe that ultimately, such a feature will require a way to allow for custom server workflows, with session support etc.
Interested to discuss this.

https://github.com/zeit/next.js/issues/153

[2016-11-16 17:10] Atinux commented on #4
Hi @niallobrien

Thank you for using nuxt.js in it's alpha stage, it's already planned in nuxt.js: https://github.com/nuxt/nuxt.js/projects/1

It will be easier to do with nuxt.js since you can use it as a middleware in express, adonis, etc.

Also, nuxt.js is configurable with a `nuxt.config.js` file instead of next.js

[2016-11-16 23:39] Atinux opened #6 "Issue with vue@2.0.6 and above"
Nuxt has some difficulties since the update of vue@2.0.6, I'm looking into it.

It's due of a change in https://github.com/vuejs/vue/commit/cb4854a50e7a44f52f54dd4707b356e3b8bf0def#diff-b92dd5290072b5c2c54f2515cc1ab572R21

[2016-11-17 10:59] Atinux commented on #6
Fixed in v0.4.4

[2016-11-17 10:59] #6 closed

[2016-11-20 07:13] andyhu opened #9 "It doesn't work on windows"
Here below are the log messages:
[code]
The main problem is that some `import`s / `System.import`s in generated code under `.nuxt` folder doesn't escape the directory path `\`:
[code]

[code]

Can we use relative path and forward slash `/` or escape backslash in the path?

[2016-11-20 10:48] Atinux commented on #9
Hi @andyhu

It's now working in version [v0.5.1](https://github.com/nuxt/nuxt.js/releases/tag/v0.5.1)

[2016-11-20 10:48] #9 closed

[2016-11-20 11:37] andyhu commented on #9
Thanks @Atinux for the prompt response as well as your awesome job. Much appreciated!

[2016-11-20 14:20] andyhu commented on #9
Still have 1 issue:
[code]
now plugins are double escaped

[2016-11-20 16:37] Atinux commented on #9
I will take a look, sorry about this.

[2016-11-21 13:16] Atinux commented on #1
It's now possible in v0.6.0!

See https://www.youtube.com/watch?v=wBhia7uBxDA

[2016-11-21 13:16] #1 closed

[2016-11-21 15:50] Atinux commented on #9
Fixed in @0.6.1

[2016-11-21 17:44] bernardocs opened #10 "How to build from scratch"
Hey guys...

It's not that clear in the docs and the project's link is broken, so I'll ask here...
Do I need to get a basic `vue-cli` project and then go `npm i nuxt --save`?

[2016-11-21 17:45] bernardocs commented on #10
I mean... a basic `webpack+babel` `vue-cli` template?

[2016-11-21 17:52] Atinux commented on #10
Hi @bernardocs, @alexchopin is working pretty hard on the documentation website, as you can see the project is still in development and will be release at the end of this month.

The basic project is really basic, all you need is:
- package.json
- pages/

The `package.json`:
[code]

And then, all your `.vue` files inside your `pages/` folder will become a route, for example, to create the route `/

[2016-11-21 17:56] Atinux commented on #10
I think I will add a `vue-cli` to boostrap a `nuxt.js` application quickly.

[2016-11-21 18:32] jaredreich opened #11 "Allow custom port # through npm config"
First off, great work so far on nuxt.js

For this issue, some documentation here:
https://docs.npmjs.com/files/package.json#config

Ideally, the package.json would then look like this:
[code]

This is critical for folks who want to host multiple nuxt.js apps/sites on one server.

[2016-11-21 18:48] Atinux commented on #11
Hi @jaredreich

Actually you can already configure the port via the `PORT` environment variable.
[code]

I already added the option to add the port in the `package.json` as you suggested, it will be in the next release.

[2016-11-21 18:55] jaredreich commented on #11
Sweet, great work!

[2016-11-21 18:55] #11 closed

[2016-11-21 19:52] Atinux commented on #11
You can now use the version [`0.6.5`](https://github.com/nuxt/nuxt.js/releases/tag/v0.6.5) to set the port with the `package.json`

[2016-11-21 19:58] jaredreich commented on #11
Cool, perhaps this could make it into the docs for others to see?

Cheers.

[2016-11-21 20:05] jaredreich opened #12 "Eliminate external resource requests (above and below the fold)"
What would you think of a nuxt.js app using making no external resource requests for it's own JS and CSS files? It would all be inline injected into `lib/views/app.html`

Before:
[code]

After:
[code]

[2016-11-21 20:07] jaredreich commented on #12
This would make a basic nuxt.js score perfect on Google PageSpeed Insights (https://developers.google.com/speed/pagespeed/insights/)
![image](https://cloud.githubusercontent.com/assets/8563847/20498723/783cd5ce-afeb-11e6-8eef-28d0d35bde10.png)

[2016-11-21 20:08] jaredreich opened #13 "Allow usage of CSS preprecessors"
Not sure the best way to implement this, but just like in a normal Vue app, we should be able to do:

[code]

But as expected, the build fails because of no webpack `sass-loader`

[2016-11-21 20:08] Atinux commented on #11
It's planned :)

[2016-11-21 20:11] jaredreich commented on #11
Awesome. Again great work so far. 👍

[2016-11-21 20:12] Atinux commented on #13
It works but nuxt.js does not pre-install `sass-loader`.

Make sure to install the sass loader with:
[code]

[2016-11-21 20:21] Atinux commented on #12
The problem here will be that the HTML will be too heavy.

The point of the actual configuration is to display the HTML (server-rendered) so the browser can display it before loading the JavaScript and making the page reactive afterwards.

But you're right about the performances, we want Nuxt.js to generate the fastest web apps :-)

[2016-11-21 20:24] jaredreich commented on #12
Right, so then perhaps this should be done only for the style in `<head>`?

[2016-11-21 20:24] #13 closed

[2016-11-21 20:25] jaredreich commented on #13
Amazing! Though this may be README worthy for others as it's a pretty common use for Vue.

👍

[2016-11-21 20:28] Atinux commented on #13
Everything will be in the documentation website, we're working on it to make it as great as Vue.js doc website :)

But we did not expect people to embrace nuxt.js so fast!

[2016-11-21 20:30] Atinux commented on #12
Exactly, that's actually the main issue with Nuxt.js, I will meet Evan You in December to know how I can find a way to extract the CSS of the matched components to inject the minimal CSS in the <head>.

I'll keep you updated!

[2016-11-21 20:31] jaredreich commented on #13
Great to hear. Kudos my friend. You've done a great job and it fits the same need as next.js but satisfies the Vue lovers, which is awesome 😉

[2016-11-21 20:32] jaredreich commented on #12
Cool, best of luck.

[2016-11-21 20:32] Atinux commented on #13
Thank you, I'm glad you like it :)

[2016-11-21 21:45] PatrikLythell opened #14 "How to add postcss plugins"
I ended up adding them to the postcss array in vue-loader.config.js because I couldn't get it to work.

Is there a better way or should we add a hook to the postcss array?

[2016-11-21 22:09] Atinux commented on #14
Can you post your postcss config?

I may add `build.postcss` option in `nuxt.config.js`

[2016-11-21 22:20] PatrikLythell commented on #14
Just added postcss-cssnext to vue-loader.config.js inside my nuxt package for giggles. That made the build complain about double autoprefixer though (think it's included in cssnext).

Think build.postcss in nuxt.config.js would be sweet 👍

[code]

[2016-11-22 23:50] Atinux commented on #14
This option has been added in [v0.6.7](https://github.com/nuxt/nuxt.js/releases/tag/v0.6.7)

Thank you @PatrikLythell for using Nuxt.js 😄

[2016-11-22 23:50] #14 closed

[2016-11-23 18:09] alexchopin commented on #10
Hi @bernardocs,
You can now use the [starter](https://github.com/nuxt/starter) project base with vue-cli.
[code]

[2016-11-23 18:09] #10 closed

[2016-11-25 09:41] fenivana opened #16 "need a resolve.alias "~base" point to the base folder of project"
I want to put the AJAX functions into a folder named "models" or "apis" or whatever. The predefined alias can't meet my needs, and everyone has his own habit, why not adding an alias pointing to the base folder?

[2016-11-25 10:19] Atinux commented on #16
What do you think of ~app instead of ~base?

[2016-11-25 11:04] fenivana commented on #16
Yeah, I think both are great!

BTW, what is the best practice to define environment configs in nuxt? For example, backend api base URL is different between development and production. Before I use webpack.DefinePlugin() to inject different configs when run `npm run dev` vs `npm run build` . Since Nuxt doesn't support custome webpack.DefinePlugin, I think I can approach another way like:
[code]

[2016-11-25 11:33] Atinux commented on #16
Actually, you have access to `process.env` in your `*.vue` components, but they will be filled only when loaded from the server-side.

What if you could configure the environment variables with Nuxt.js with the `nuxt.config.js` file like this:

[code]

They will be merged in the `webpackDefinePlugin()` with the already existing `process.env.NODE_ENV`.

You could then use them trough `process.env`

[2016-11-25 11:35] Atinux commented on #16
The downside of this use is that the environments variables will be exposed in the source code of the client-side, which is a pretty big security issue.

[2016-11-25 14:45] Atinux commented on #16
@fenivana

Here the implementations in the [v0.7.3](https://github.com/nuxt/nuxt.js/releases/tag/v0.7.3)
- You can now define `env` variables in `nuxt.config.js`
- You have access to the base folder with `~`, example: `require('~/models/Foo')`

Thank you for your trying nuxt.js 🔥

[2016-11-25 14:45] #16 closed

[2016-11-25 18:36] fenivana commented on #16
You're awesome!

[2016-11-25 23:33] airtonix opened #17 "Missing deps"
For some reason, just installing `nuxt` doesn't work.

[code]

is also required.

So lets back track here.

### 1. Starting with just `nuxt`:

[code]

[code]

Nope...

### 2. adding `memory-fs`

[code]

[code]

Which spams the terminal with errors forever until `ctrl+c`

### 3. add those missing libs

[code]

[code]

Boom. getting somewhere... but, without loading any pages:

[code]

### 4. instal

[2016-11-26 00:13] Atinux commented on #17
It seems that you are using an old version of npm.

Can you update it with `npm install -g npm` and start again please?

[2016-11-26 10:13] #17 closed

[2016-11-28 13:47] VincentLoy opened #18 "Using Nuxt as a middleware : TypeError: Cannot read property 'renderer' of undefined"
Hello there, I'm trying to create a really basic app using Nuxt as a middleware and I got an issue when I try to access the server.
Here is the complete error message:
*The message appear both in the browser and the terminal*
[code]
The check in the `render` function in `lib/nuxt.js` fails because `this` is actually undefined.

[code]

This may be caused by my code? I'm probably doing something wr

[2016-11-28 15:35] VincentLoy commented on #18
I solved the problem by binding the `render` function :+1:

[code]

[2016-11-28 16:32] Atinux commented on #18
Hi @VincentLoy , thank you for reporting this issue!

You don't have to bind the render function anymore with the last release [v0.7.7](https://github.com/nuxt/nuxt.js/releases/tag/v0.7.7)

You should now be able to do:
[code]

[2016-11-28 16:32] #18 closed

[2016-11-28 18:21] bernardocs commented on #10
Awesome!

Thanks, guys! 😃

[2016-11-28 22:04] dan-gamble opened #19 "Can this be used with github pages?"
I'm looking into multiple static site generators and i love using Vue, would i be able to use this with github pages or would i need to deploy it somewhere like DO? :)

[2016-11-28 22:20] Atinux commented on #19
It is possible :)
The command is nuxt generate, and will generate all the pages for your web application, you can take a look at https://github.com/alexchopin/alexchopin.github.io

[2016-11-28 22:25] Atinux commented on #19
Look especially at the package.json

[2016-11-28 22:25] dan-gamble commented on #19
Awesome 👍 It looks like it has SSR too, didn't think that would be possible!

[2016-11-28 22:26] Atinux commented on #19
For me, it is the most powerful feature of Nuxt.js, we call it with my brother: serverless rendered

[2016-11-28 22:26] #19 closed

[2016-11-28 22:27] dan-gamble commented on #19
Dayum, gonna give it a try now. Thanks :)

[2016-11-28 22:28] Atinux commented on #19
Our documentation website will be generated and hosted on Github pages, backed by AWS lambda to regenerate the website if a commit is pushed to the master branch. Infinite possibilities 🔥

[2016-11-28 22:49] dan-gamble commented on #19
Can't wait to see it :)

[2016-11-29 01:06] beeplin opened #20 "routes don't support "children"?"
I am not sure if I understand it right:

not supporting "children" in routes means we cannot user `<router-view>` in vue components, and therefore means all vue files in `/pages` are parallel stand-alone pages and cannot be nested. Since theres is actually no "parent component" and "child component", we have no way to pass `props` and `slots` into a component in `/pages`. The only way to pass some

[2016-11-29 07:54] ckken opened #21 "window is not defined"
when we import other lib

[2016-11-29 08:03] Atinux commented on #21
Can you tell us which is the library you are importing and how?

[2016-11-29 08:14] Atinux commented on #20
It is 100% correct.

Actually you can implement your own child views easily by watching on $route in the page component and using <component> with the `is` property.

I can create and example if you want to see how to implement it?

[2016-11-29 08:17] beeplin commented on #20
sure, looking forward to the example. Many thanks!

[2016-11-29 08:22] beeplin commented on #20
looks like currently nuxt is mainly for building multiple-page apps? If we are building a single-page app but still want server rendered components according to the router url, I guess the most natual way is to support nested components (children and <router-view>)

[2016-11-29 08:28] ckken commented on #21
[code]

[2016-11-29 10:00] ckken opened #22 "can css add inside the page"
like the next.js

[2016-11-29 10:02] Atinux commented on #22
Hi @ckken

Please take a look at [examples/global-css](https://github.com/nuxt/nuxt.js/tree/master/examples/global-css).

Thank you

[2016-11-29 10:02] #22 closed

[2016-11-29 10:18] ckken commented on #22
I mean the style code is in current page ,for example
index.vue
[code]
curl /index
[code]

thanks for your help

[2016-11-29 10:31] Atinux commented on #22
Actually, when the CSS is added trough the pages/*.vue file, in development mode, it will be in the JavaScript file and added dynamically in the `<head>` of the HTML file.

In production, the CSS will be extracted and injected in `style.css` which will be required in the html file, to see it, please run `nuxt build && nuxt start`

[2016-11-29 10:49] ckken commented on #22
I know, thanks for your help, but I want add it in to page,not the common style! thanks!

[2016-11-29 10:50] Atinux commented on #21
Please take a look at this example with `element-ui`: https://hyperdev.com/#!/project/nuxt-element-ui

Live demo: https://nuxt-element-ui.hyperdev.space/

The only downside of it is the generated HTML which is not the from the server-side and the client-side, which makes Vue.js throw a warning:
[code]

When [ElemenFE/element](https://github.com/ElemeFE/element) will be SSR compatible, we will be a

[2016-11-29 10:50] #21 closed

[2016-11-29 10:54] Atinux commented on #22
I am not sure to understand fully, if you want to add a CDN css for example, you can use the `head` property into your pages component or your `nuxt.config.js` file:
[code]

For more details, see [examples/head-elements](https://github.com/nuxt/nuxt.js/tree/master/examples/head-elements)

[2016-11-29 11:05] ckken commented on #21
can show me the code of the https://nuxt-element-ui.hyperdev.space/

[2016-11-29 11:16] dan-gamble opened #23 "Potential to make it a PWA out of the box"
I know it's very early days, and tbh i'm not even fully sure what a PWA is, but since this does SSR so from the start i wondered if the same was achievable with PWA's.

I've no idea what this entails was just an idea that popped into my head that would make nuxt sites even speedier 👍

[2016-11-29 11:18] ckken commented on #22
![image](https://cloud.githubusercontent.com/assets/3890513/20707928/8bf5b698-b668-11e6-804a-a9bf20c97353.png)

[2016-11-29 11:21] Atinux commented on #22
Please take a look at https://vuejs.org/v2/guide/migration.html#Fragment-Instances-removed to fix this error.

[2016-11-29 11:30] Atinux commented on #23
I was also thinking about it, I will try to make the documentation a PWA, I'm actually using [lighthouse](https://github.com/GoogleChrome/lighthouse) to check the most "tasks" I can.

If some tasks can be achieved trough Nuxt.js, the feature will be added to it.

I keep this issue open to let people add their knowledge about PWA and in which way Nuxt.js can help to create easily progressive web ap

[2016-11-29 11:51] Atinux commented on #20
@beeplin please take a look at this demo: https://hyperdev.com/#!/project/nuxt-children-routes

Live demo: https://nuxt-children-routes.hyperdev.space/parent

I use `<component :is="child"/>` to handle the child component of the given route, I also added a custom route in `nuxt.config.js` to tell Nuxt.js to call the `pages/index.vue` component on the `/parent/:component?` route.

[2016-11-29 11:52] Atinux commented on #20
I am not sure to understand when you are talking about a single-page app, could you describe me what you mean by single-page app?

[2016-11-29 11:59] bernardocs opened #24 "Working with Request Params"
Hey guys... it's me (again)... 😆

I've been wondering on how do I, for example, receive a JSON from a POST request and put it on the request chain, in a way that I can access via some Vue component.

Is that possible?

[2016-11-29 12:33] Atinux commented on #24
Hi @bernardocs

You can use [express](https://github.com/expressjs/express) to create your server and use Nuxt.js to render the routes, this way, you can include the [body-parser](https://github.com/expressjs/body-parser) module to let you handle POST request for you application.

Then, you will be able to access `req.body` from the server-side in your `data` method.

Example: https://hyperdev.com

[2016-11-29 12:33] #24 closed

[2016-11-29 12:49] beeplin commented on #20
Sorry for the vagueness of the term 'single-page app'. Let me take your recent `nuxt-children-routes` as an example:

When we are at `/parent` and click a link to go to  `/parent/foo` , a 'multiple-page app' would re-render both `parent` and `foo` on the server, and then transfer the whole new html page (including both parent and foo) to the browser to replace the whole old page. So if we look fro

[2016-11-29 12:54] Atinux commented on #20
It is indeed the case with `nuxt-children-routes` 😄

[2016-11-29 13:01] dan-gamble commented on #23
Awesome, looking forward to seeing what comes of this 👍

[2016-11-29 13:23] beeplin commented on #20
You mean it's like 'single-page app'? That's wonderful~

If so, is it possible to support `children` in routes and `< router-view>` in template? Using `:is="xxx"` can handle simple cases, but when the router goes complicated, it would be terrible to manually parse the url and handle multiple layers of `:is`. It would be perfect if we could use `vue-router` in the same old way as if we were using c

[2016-11-29 13:43] fenivana opened #25 "Allowing config output.publicPath of webpack (for CDN)"
Currently, I see `output.publicPath` is automatically set to `urlJoin(this.options.router.base, '/_nuxt/')`. But we need to put the static assets to a CDN, something like `cdn.example.com`. So could you add an option in `nuxt.config.js` to allow us set a publicPath manually?

I and my team really like nuxt.js, it made SSR super damn easy. We are using it in our new project.
Keep on guys!

[2016-11-29 14:55] Atinux commented on #25
Hi! I'm happy that your team like nuxt.js :)

To be sure, all files in your static folder will be on the CDN, but not the generated JS and CSS files from Nuxt.js right?

[2016-11-29 16:01] fenivana commented on #25
No, I mean the files generated by Nuxt.js (webpack behind the scene), that is, the `.nuxt/dist` folder. Just as the `output.publicPath` config examples does. (https://webpack.js.org/configuration/output/#output-publicpath)

Maybe I will remove `server-bundle.js` before putting the files on to CDN, as it doesn't need on client side.

[2016-11-29 16:22] fenivana opened #26 "renderToString vs renderToStream"
According to the vue.js docs says:

I see Nuxt is using `renderToString` to yield the html string. I'm interested the reason why Nuxt not using `renderToStream`?

[2016-11-29 17:56] Atinux commented on #26
It was actually to make the code more easy to read and to start with (mostly for the renderRoute function).

Now that Nuxt.js will be soon released in V1, I don't see any inconvenient to use the streams to send back the HTML to the server!

[2016-11-29 18:50] fenivana commented on #26
I think providing a stream handler callback will be very useful.

Consider the following scenario:

![nuxt-hook](https://cloud.githubusercontent.com/assets/11750532/20723981/8f25ded0-b6a7-11e6-9492-c29f9e607339.PNG)

Although Vue.js has a component based cache mechanism, it has several problems:
* Still need to enter the render process.
* Too complicated. One URL corresponding to one cached html f

[2016-11-30 00:58] vladejs commented on #23
I think this feature would put nuxt to another whole level, since a lot of developers will use PWA to fill the gap of missing native apps for their products.

This article explains what a PWA is and shows a detailed example on building one:

https://www.smashingmagazine.com/2016/08/a-beginners-guide-to-progressive-web-apps/#top

[2016-11-30 23:01] declandewet commented on #12
Haven't tested this (rather busy setting up my company atm) but I think this might work - although I think it may be inefficient (it might do multiple `<style>` tag injections) but it is a step in the right direction

https://github.com/kriasoft/isomorphic-style-loader

webpack.config
[code]

If my suspicion that this creates a critical style injection more times than is appropriate, then it might

[2016-12-01 06:19] ckken opened #27 "like the nextjs,the css insert the page head"
how can i add the css inside the pages/index.js like next,and then,we can create many more application in one project,but now , nuxt only add css in one style.css,so we can add many app in one project,because the css is too big to load
![image](https://cloud.githubusercontent.com/assets/3890513/20783762/e32806dc-b7d0-11e6-9da3-ca2fec156f2c.png)

[2016-12-01 10:20] JoeyBurzynski opened #28 "https://nuxtjs.org/ is down"
@alexchopin @Atinux

Heads up -- https://nuxtjs.org/ is down.

[2016-12-01 10:37] Atinux commented on #28
We know, the website is on its way, @alexchopin is working on it :-)

[2016-12-01 11:25] VincentLoy opened #29 "Translation support (or get access to Vue configuration)"
Hi, We are building our new app using nuxt as an Express.js middleware. Our app must be translated in some languages.

We are looking to use [i18next](http://i18next.com/) using the [i18next vuejs build](https://github.com/rse/vue-i18next).
As you can see, to use it, we need to make some Vue configuration.
[code]

Don't know if there is a way to add custom Vue configuration by using Nuxt ?

Many t

[2016-12-01 11:44] alexchopin commented on #29
Hi, thanks to use Nuxt with your team.

You can add it with the plugins option in nuxt.config.js file.
You can see an example here : https://github.com/nuxt/nuxt.js/tree/master/examples/plugins-vendor.

Thanks

[2016-12-01 11:45] #29 closed

[2016-12-01 11:45] Atinux commented on #27
We are aware of this issue, please take a look at the issue #12

[2016-12-01 11:45] #27 closed

[2016-12-01 11:51] ckken commented on #12
i'm looking for~

[2016-12-01 11:57] VincentLoy commented on #29
Hi @alexchopin, thanks a lot, I should see it without opening an issue, my bad :)

[2016-12-01 12:15] alexchopin commented on #29
No worries, the website should be ready soon for a complete documentation.

[2016-12-01 12:40] Atinux commented on #25
What do you think of an `build.cdn` option?

publicPath should not be changed to another directory (because of how Nuxt.js static middleware works), but having a `cdn` option makes it clear it has to be an URL.

Example of `nuxt.config.js`:
[code]

I will also make the generation of the JS files to have a `chunkName` (nuxt.bundle.986293.js) so on the CDN, there won't be any cache problems.

[2016-12-01 12:41] Atinux commented on #29
@VincentLoy you can take a look at this example also, it might help you as well: https://hyperdev.com/#!/project/nuxt-element-ui

[2016-12-01 12:57] VincentLoy commented on #29
Ok I'll check it out.

Can't wait for the release 1.0.0 with the documentation :package:
Keep up the good work !
Thanks again.

[2016-12-01 13:46] fenivana commented on #25
I think CDN and static middleware are mutually exclusive.  If you set publicPath a value begin with `/http(s):/`, then static middleware shouldn't on. Otherwise, middleware should serves files under that path, hard coded a `/_nuxt/` path in URL is not so good. so I think we can reuse publicPath and determine by Regex, whether assets are hosted by self or on CDN.

[2016-12-01 15:46] Atinux commented on #20
I'm re-opening this issue to know what think the community about it.

We will need to find a way to create child route with the pages folder as well and not only in the `nuxt.config.js` configuration.

For example:
[code]

The rule will be:

This would generate:
[code]

And `pages/user.vue` will have to use `<router-view></router-view>` inside its template.

[2016-12-01 17:15] Atinux commented on #25
I added `/_nuxt/` to avoid conflicts between the `static` folder and the generated files of Nuxt.js.

I might be able to add `build.publicPath` but if it's not an url, it can create problems with `nuxt generate` for static web apps generation.

[2016-12-02 00:07] 7ammer opened #30 "'Window is not defined' where do I put client-side only scripts?"
I'm trying to run [a-frame](https://aframe.io) in one of my vue pages but I'm getting an error in my browser:
`ReferenceError: window is not defined`

I'm guessing this is because nuxt is trying to run the aframe module while rendering the page on the server.

[code]

[2016-12-02 01:31] alexchopin commented on #30
Hi,
Yes, this is exactly due to the server-side rendering.
If you need to specify that you want to import a ressource only on the client-side inside, you need to you process.BROWSER_BUILD variable.

[code]

Thanks for your report, the documentation of the website will be completed soon.

[2016-12-02 04:46] 7ammer commented on #30
Ah ha, brilliant! Thanks!

[2016-12-02 04:55] 7ammer commented on #30
Hmm a-frame doesn't play nice with vue. It doesn't load properly.

[2016-12-02 05:31] andyhu commented on #30
I have experinced similar issues as well. I was trying to import a vue UI framework `element-ui`. However, it references window object and several native browser functions like `addEventListener` etc., so it breaks the server rendering. I'm thinking if there is a way to polyfill it somehow. Because for such kind of UI framework, if we cannot render it on server side, it's probably not good for SEO

[2016-12-02 05:36] Atinux commented on #30
I think that every vue plugin should be able to work both client-side and server-side since the version 2.0 of Vue.js.

I asked the team behind `element-ui` but they said it's not their priority, but I don't think it will be complicated to make it compatible with server-side rendering, since we will only have to add `if` statement where a client-side only function is called.

@andyhu what library

[2016-12-02 05:57] andyhu commented on #30
@Atinux I mean I'm pretty sure that `antd` has some windows object references as well. But when I tried it, it does work in `next.js`. However it probably because that `antd` is more modular and I missed the browser specific part of the variable references. Anyway I'm going to test more.

[2016-12-02 08:45] Atinux commented on #30
I hope they will add theses check so `element-ui` could be used on the server-side too and render the proper HTML code!

I'm closing this issue since the question has been answer by @alexchopin by using `process.BROWSER_BUILD`.

[2016-12-02 08:45] #30 closed

[2016-12-02 12:15] tsvetant opened #31 "How can I use webpack.ProvidePlugin ?"
I am trying to put semantic-ui along with the package (newbie here)

[2016-12-02 13:19] #28 closed

[2016-12-02 14:30] Xowap commented on #29
@VincentLoy and myself are trying out Nuxt in a smaller project before rolling it into bigger things if we can find a good workflow with it.

We'd be happy to provide feedback on the docs and on usage if you'd like.

[2016-12-02 15:15] Xowap opened #32 "Async data in nested component"
Hi,

It seems that loading async data is pretty easy from pages, yet I don't find any way to load data asynchronously from nested components.

To explain what I try to do, I made some example project: https://github.com/Xowap/nuxttest

You'll see that data loaded from `index.vue` is correctly rendered server-side yet data in `HttpBin.vue` isn't displayed at all and triggers an error.

Is that an a

[2016-12-02 17:19] Atinux commented on #32
Actually it is not possible because it's not linked to a route, Nuxt.js surcharges the component data() associated to a route to allow async data.

For sub components, there are 2 ways of achieving it:
1. Making the API call in the mounted() hook and setting the data afterwards, downside: no server rendering
2. Making the API call in the data() of the page component and giving the data as a prop t

[2016-12-02 17:21] Atinux commented on #29
@VincentLoy @xowap I would you guys to give me your thoughts on the documentation. Actually some of it is available on https://nuxtjs.org

We are making an e-commerce website with my brother with Nuxt.js, I think it's a big enough project to show that Nuxt.js is reliable for big project.

I you have any question during your project with Nuxt.js, feel free to create an issue :)

[2016-12-02 17:23] Atinux commented on #29
BTW, if you guys are going to the DotJS this Monday or at the VueJs Paris Meetup this weekend, we could meet there and talk about Nuxt.js ;)

[2016-12-02 18:11] Xowap commented on #29
Nope can't get there unfortunately. I'm reaaally sad. Though we could grab some beers at some point if you're Paris-based.

Good to see the doc online! That's kind of new? I recall checking that domain about this morning and not seeing anything.

[2016-12-02 18:21] Xowap commented on #32
This is kind of what I feared.

I've been reading Vue 2's documentation, it looks like Vuex becomes basically mandatory. Which also solves this problem. I guess the real clean solution is to use Vuex, right?

[2016-12-02 18:35] Atinux commented on #32
Yes of course I forgot about vuex, you can integrate the store easily with Nuxt.js, just add a store/index.js (look at examples/vuex-store)

[2016-12-02 18:36] Atinux commented on #29
We just published it few hours ago. I am living in Barcelona but come pretty often to Paris, we will have a moment to catch up and grab a beer!

[2016-12-02 22:40] dan-gamble opened #33 "Please add the mapping params in nuxt.config.js (generate.routeParams)."
When running `yarn run generate` i get: `Could not generate the dynamic route /articles/:slug, please add the mapping params in nuxt.config.js (generate.routeParams).`

I can't seem to tell from the source code and/or other projects what config i actually need for this to work.

[2016-12-02 22:56] dan-gamble commented on #33
Just found this:

https://github.com/nuxt/nuxtjs.org/blob/master/nuxt.config.js#L36
https://github.com/nuxt/docs/blob/master/api/menu.json

And this helped me sort it, thanks 👍

[2016-12-02 22:56] #33 closed

[2016-12-02 22:59] Atinux commented on #33
Great. I'd love to see your project with nuxt generate.

We will add a link on our website to show the projects made with Nuxt.js 🤘🏻

[2016-12-02 23:08] dan-gamble commented on #33
https://github.com/dan-gamble/dan-gamble.github.io/tree/develop (Master is for deployment like your brother :))

This is a link to the repo, hoping to get a bit of work done to it over the weekend :)

Really liking Nuxt so far, the source is very easy to read so lack of docs so far isn't a problem!

[2016-12-02 23:18] Atinux commented on #33
Nice work!

You can add the CNAME in your static/ folder, it will be copied to the dist/ folder automatically with the nuxt generate.

[2016-12-02 23:18] dan-gamble commented on #31
In your `nuxt.config.js`:

[code]

[2016-12-02 23:19] dan-gamble commented on #33
Ah, i thought it would copy `/static/` into `dist/static/`. That would save me doing package.json trickery :)

[2016-12-03 12:50] #32 closed

[2016-12-03 12:51] Atinux commented on #31
@tsvetant can you confirm it's working?

[2016-12-03 21:27] PatrikLythell opened #34 "Routes transitions javascript hooks"
Any way to add the javascript hooks to the `<transition>`?

[code]
Maybe we could simply add `transition: { hooks: true }` as a viable option in nuxt-config? And then add the same as above into `<transition>` (seems overkill to be able to name the hooks yourself).

Thing to watch out for though:
[code]

[2016-12-03 21:34] dan-gamble opened #35 "Lazy loading"
Is it possible to only execute certain bits of code like we can with base webpack or vue-router `require.ensure`, `System.import`? If so would this be possible after `generate` too?

My use case is using `highlight.js` but i'd only wanna load this on certain routes

[2016-12-03 22:56] declandewet commented on #35
Hi @dan-gamble - I haven't used Nuxt.js much but @Atinux and I discussed this a lot a few weeks ago so based on that my assumption is it should be possible - and the in the code it looks like it is the default: https://github.com/nuxt/nuxt.js/blob/master/lib/app/router.js#L9

[2016-12-04 08:23] tsvetant commented on #31
Yes, it worked ! I just needed to put the jquery to get semantic-ui to work without extra effort

[2016-12-04 09:35] ghprod opened #36 "Unexpected token nuxt:3"
Hi today i try nuxt by running this command

[code]

And getting this error

[code]

This is my system

[code]

Thanks

[2016-12-04 10:00] Bin4ryIO commented on #36
+1.

I ran:
[code]

Error:
[code]

Env:
[code]

[2016-12-04 11:11] Atinux commented on #36
Thanks guys for trying Nuxt.js

What is your version of node.js?

[2016-12-04 11:57] VincentLoy commented on #29
That sound great !! Very happy to see the documentation online :)

[2016-12-04 13:20] Bin4ryIO commented on #36
Updated nodejs from v4 to v6.x, it worked.

[2016-12-04 14:06] frankmichel commented on #36
I am getting the same error... using Node v5.12.0 on Mac OS X 10.12

[2016-12-04 15:14] ghprod commented on #36
mine

[code]

Should i upgrade to v6?

[2016-12-04 15:28] Atinux commented on #36
In the meantime upgrade to v6, I will work on make it compatible starting from node v4

[2016-12-04 15:36] ghprod commented on #36
After upgrade to v6 LTS, then its working..

[code]

So the solution just upgrade nodejs :+1:

closed .. Thanks

[2016-12-04 18:44] Atinux commented on #35
@dan-gamble if you want to use highlight.js only on a specific page component, juste import it in your page component:

`pages/about.vue`:
[code]

Make sure that you don't use `highlight.js` in your `config.build.vendor` and `config.plugins`.

This way, highlight.js will be in the bundle of the /about page and we will be imported only when loading this route 👍

This is due to the code splitting we

[2016-12-04 18:44] #35 closed

[2016-12-04 18:45] Atinux commented on #34
Hi @PatrikLythell thanks for creating this issue, I thought about implementing it, it's now in the Roadmap for the 1.0.

I will try to find a nice way to implement it.

[2016-12-04 20:49] dan-gamble commented on #35
Awesome, thanks guys.

[2016-12-04 23:32] jaredreich opened #37 "Custom error pages"
Took a look through the examples and couldn't find anything on creating/controlling error page (404, etc.)

[2016-12-05 00:22] alexchopin commented on #37
Hi, that's right it not on the documentation yet but will comes soon but it's possible.

You juste need to create a /pages/_error.vue file.
You can see an example on nuxtjs.org website source code on github ;)

[2016-12-05 02:51] FrancosLab opened #38 "Deployment not via `now`"
Now is awesome, but how would we go about deploying this on an alternative server?

Is simply running the `start` script enough?

[2016-12-05 08:59] frankmichel commented on #36
I wouldn't consider this "closed" as long as it's not working with Node v4.x (which is stated as the minimum required version for nuxt.js)

[2016-12-05 09:35] Atinux commented on #36
You're right. I did not close this issue but the todo is on the list :)

[2016-12-05 14:11] declandewet commented on #38
Hi @FrancosLab - to successfully deploy a Nuxt.js app on another server, the process is similar to any other Node.js app.

For example, you can `git push` to your remote server, where you might have a git `post-receive` hook that runs `npm install && npm build && npm start`

[2016-12-06 07:46] Atinux commented on #38
In production, you package.json should be like this:
[code]

And then make sure to call `npm run build` before calling `npm start`.

What hosting/deployment platform are you working with @FrancosLab ? I might show you an example of how to do it (like Heroku for example)

The solution @declandewet describe is a good way to automate your deployment with your git repository 👍

[2016-12-06 10:12] dan-gamble commented on #38
I'd love to see an example of how to deploy this to DO. Deployment is something i've always struggled super hard with (Why i'm using Github Pages :D)

[2016-12-06 10:33] declandewet commented on #38
DO has a pretty exhaustive list of tutorials for deploying Node.js apps already: https://www.digitalocean.com/community/tags/node-js?type=tutorials

While none of these particularly describe Nuxt.js _specifically_, an app made with Nuxt.js is just a Node.js app running Express and can be deployed in the exact same way (you just have to make sure to run `npm run build` before you `npm start`).

[2016-12-06 10:41] declandewet commented on #30
I know this issue is closed and all, but I just want to point out an alternate solution - Vue's [lifecycle hooks](https://vuejs.org/v2/api/#Options-Lifecycle-Hooks). All hooks except for `beforeCreate` and `created` do not even run on the server. If you're doing any client-side manipulation or inspection and referencing built-in browser globals like `window` or `document`, then you should do those

[2016-12-06 10:42] dan-gamble commented on #38
Yea maybe what i need is a toddlers version of that, but that isn't Nuxt's problem tbf. Thanks though :)

[2016-12-06 23:11] antcook opened #41 "TypeError: Cannot read property 'path' of undefined"
When I try to run the provided custom-routes example, I get the following error. I've also been able to replicate the bug in my own project by trying to use the hidden pages feature when defining routes.

[code]

 I'm running Node version v6.9.1 on Windows 10.

[2016-12-06 23:33] antcook commented on #41
Update:

I have managed to fix this by providing the route a name key, you may wan't to update the custom-routes example.

[2016-12-07 01:00] alexchopin commented on #41
Hi, thanks for your feedback.
The example is fixed now.

[2016-12-07 01:00] #41 closed

[2016-12-07 01:04] #37 closed

[2016-12-07 11:21] airtonix commented on #38
@dan-gamble recommend you use doku image on digital ocean, once setup you can `git push` just like you do with github pages.

[2016-12-07 19:44] dan-gamble commented on #38
Thanks man will check it out, is that tutorial still relevant given it's age?

[2016-12-07 20:49] airtonix commented on #38
@dan-gamble from what I can see the guide is doing the same things though
setup as the current dokku recommends.

However the image on digital ocean might be old, do check that.

If it is, the you'd just spin upa recent Ubuntu image and perform the dokku
install as per: http://dokku.viewdocs.io/dokku/getting-started/installation/

On Thu., 8 Dec. 2016, 06:14 Dan Gamble, <notifications@github.com>

[2016-12-07 22:47] antcook opened #42 "Persistent state across server and client rendered pages?"
Normally I'd achieve persistent state (state that doesn't expire on refresh) by using Vuex and localstorage, it seems Nuxt doesn't play nice with  localstorage, I assume this is because of it's server rendering features?

Is there currently a method to get persistent state that's accessible both on the client and the server? If not, is this something that could be implemented in the future?

[2016-12-07 22:52] Atinux commented on #42
Hi @antcook

Nuxt cannot access to the localstorage from the server-side point indeed.
What kind of persistent state are you storing? It will help us to know what kind of solution it's better to use.

[2016-12-07 22:58] antcook commented on #42
It's a shopping cart, basically I want the the items in the cart to stay present when the browser is refreshed. Normally a thing I would do will localstorage.

Thanks for the quick reply! :)

[2016-12-07 23:04] Atinux commented on #42
I see, are you using a session storage on your server, like express-session?

If so, you can create your vuex store with a `store/index.js` file and add a `nuxtServerInit` action where you can fill the state of your store from the `req.session`, this action is called only from the server-side. Take a look at [examples/auth-routes/store/index.js](https://github.com/nuxt/nuxt.js/blob/master/examples

[2016-12-08 05:33] cj opened #43 "src folder?"
Is there a simple way to make nuxt look for everything in a `./src` folder, instead of the root?

[2016-12-08 05:37] cj commented on #43
Ok, so look through the code there is a `rootDIr` options.  After settings that to `./src`, I get the following error:

[code]

[2016-12-08 05:49] cj commented on #43
I'm trying to end up with this structure:

![](http://image.prntscr.com/image/ab2f363692904530acb01ed78b96672a.png)

[2016-12-08 05:56] cj commented on #43
looks like there needs to be a `srcFolder` option.  going to fork and add one.

[2016-12-08 07:23] thetutlage opened #45 "Nuxt renderer says - renderToString is not a function"
I have trying to make use of the method called `nuxt.renderRoute` which indeed calls `renderToString` which throws an error saying `TypeError: self.renderToString is not a function`.

All I have able to debug is

1.`renderToString` is a function on vue-server-renderer https://github.com/vuejs/vue/tree/dev/packages/vue-server-renderer

2. When calling this method, you pass it the context of `Nuxt`

[2016-12-08 08:56] jameskid007 opened #46 "Add global css / auth-routes example"
I added the "auth-routes for example" in Global CSS , "NPM run dev" did not respond. But "NPM run build & NPM run start" and "Global CSS" is the perfect addition to it. This is what reason. - love the framework very much.

[2016-12-08 10:00] Atinux commented on #43
Hi @cj, why do you want to have this structure?

You need to have the node_modules/ and the nuxt.config.js in the src/ folder to make it work.

[2016-12-08 10:05] Atinux commented on #45
Hi @thetutlage

Can you update `nuxt` to use the version `0.8.2` and make sure to use it like this:

[code]

You can see an example here: https://gomix.com/#!/project/nuxt-body-params

Can you give us an snippet of your code?

[2016-12-08 10:08] Atinux commented on #4
Hi @niallobrien

You can see an example here: https://nuxtjs.org/examples/auth-routes

And the live demo on https://auth-routes.nuxtjs.org/

[2016-12-08 10:08] #4 closed

[2016-12-08 10:35] Atinux commented on #46
Hi @jameskid007

You can see an example with the auth-routes and global-css examples merged here: https://gomix.com/#!/project/nuxt-auth-routes-css

Live demo: https://nuxt-auth-routes-css.gomix.me/

When used programmatically, you have to tell Nuxt.js to look in the `nuxt.config.js` file:
[code]

[2016-12-08 10:35] #46 closed

[2016-12-08 11:41] #31 closed

[2016-12-08 11:41] #38 closed

[2016-12-08 12:38] antcook commented on #42
I was able to use express-session to store the cart state, thanks! :)

[2016-12-08 12:45] #42 closed

[2016-12-08 13:44] antcook commented on #41
@alexchopin I'm getting this error again when using the auth-routes demo combined the hidden pages feature, I've replicated it in my own project. It seems that running **node server.js** throws a path error in vue-router, but running the **nuxt** command has no errors.

I've tried running **nuxt build** before starting  server.js to see if that fixed it but it doesn't. Here is an example:

**nuxt.

[2016-12-08 13:55] Atinux commented on #41
Hi @antcook

Can you show us your server.js file when you're requiring Nuxt and instantiating it please?

[2016-12-08 14:04] antcook commented on #41
Using the server.js from the [custom-routes example](https://github.com/nuxt/nuxt.js/blob/master/examples/auth-routes/server.js) throws the error, and I have also tried starting a fresh project with the following server.js but still throws the same error:

[code]

[2016-12-08 14:34] Atinux commented on #41
Can you check in the node_modules/nuxt/package.json which version is it?

Sorry about this

[2016-12-08 14:38] antcook commented on #41
No problem, the version is 0.8.3

[2016-12-08 15:30] alexchopin commented on #41
Hi,
It's because you need to import your nuxt.config.js before instantiate Nuxt in your server.js
[code]

[2016-12-08 15:44] antcook commented on #41
Thank you so much for your time! That did the trick :)

[2016-12-08 16:03] danieloprado commented on #43
I´m looking for same option, I would like to move all file to a **app** folder to separate my server/api files, a rootDir option would be great!

app
|--components
|--pages
|--static
server
|--main.js
|--etc..

[2016-12-08 16:06] cj commented on #43
@danieloprado once the pull request is excepted you'll be able to do that. #44

[2016-12-08 16:36] Atinux commented on #43
I'm working on it to merge it pretty soon :)

[2016-12-08 20:26] Atinux commented on #43
You can now use the [v0.8.4](https://github.com/nuxt/nuxt.js/releases/tag/v0.8.4) 🎊

[2016-12-08 20:26] #43 closed

[2016-12-09 02:06] cj opened #52 "nuxt build --watch"
Seems like this should be implemented, just like `webpack --watch`.

[2016-12-09 10:29] Atinux commented on #52
`nuxt build` purpose is only to create the build for production.

Otherwise you should use `nuxt` which watch the files and update the build every time + hot reloading.

[2016-12-09 12:22] danieloprado opened #53 "Release 0.8.4 not updated"
I updated nuxt to 0.8.4 but the lib/nuxt.js is not the same as the github tag.
I´m trying to use the new option **srcDir**.
I already deleted the node_modules and yarn.lock, I tried to install using npm and yarn.

My local/installed file: lines 51 to 55
[code]
https://github.com/nuxt/nuxt.js/blob/v0.8.4/lib/nuxt.js
[code]

My package.json
[code]

package json inside node_modules/nuxt folder:
[code

[2016-12-09 12:48] danieloprado opened #54 "srcDir error layout folder"
I'm trying to use the **srcDir** with express. When I access the page, this red message appears:
[code]

my nuxt.config.js
[code]

server/index.js
[code]

Folder structure:
![structure](https://cloud.githubusercontent.com/assets/7683575/21049605/00f06cae-bdfd-11e6-9960-225747f3909b.PNG)

[2016-12-09 12:49] Atinux commented on #53
It's fixed in the [v0.8.5](https://github.com/nuxt/nuxt.js/releases/tag/v0.8.5) sorry about this!

[2016-12-09 12:49] #53 closed

[2016-12-09 12:53] Atinux commented on #54
Fixed in [v0.8.6](https://github.com/nuxt/nuxt.js/releases/tag/v0.8.6) 👍

[2016-12-09 12:53] #54 closed

[2016-12-09 13:05] danieloprado commented on #54
Wow so fast, you are awesome! hahaha

[2016-12-09 16:23] Heydon opened #55 "Registering global components"
Currently, to import a component to a page, I appear to have to import `Vue` itself, then the component (with `Vue.component`).

Where do I globally register components and why do I need to import `Vue` itself?

Apologies if these are silly questions.

[2016-12-09 16:32] cj commented on #52
@Atinux `nuxt` does not compile the files into `dist` which is what projects like ionic.io/cordova need when building mobile applications.

[2016-12-09 16:32] alexchopin commented on #55
Hi,
No worries the documentation isn't ready yet so we understand.
Import a component globally in Nuxt is easy, we call this option "plugins" in the nuxt.config.js.
You can see the configuration on [this example](https://github.com/nuxt/nuxt.js/tree/master/examples/plugins-vendor).

[2016-12-09 17:10] Heydon commented on #55
Ah! Thanks, that's handy :-)

[2016-12-09 17:11] #55 closed

[2016-12-09 19:11] Atinux commented on #36
It's now fixed in the [v0.8.8](https://github.com/nuxt/nuxt.js/releases/tag/v0.8.8)

[2016-12-09 19:11] #36 closed

[2016-12-10 00:37] massimilianomarini opened #57 "Strange behavior with applied styles in loaded page from server"
I've installed nuxt.js using `vue init nuxt/starter nuxt-site`, all is fine, but when the page is loaded from the server, soon I see the page without styles, which are applied a fraction of second later.

I don't think (maybe I'm wrong), but is this the right behavior? :confused:

[2016-12-10 00:53] alexchopin commented on #57
Hi,
If you are launching `npm run dev`, it's a normal behavior because you are in development mode.
You can see the difference by testing the project in production mode with `npm run buil && npm start`.
The development mode have more configuration like hot-reloading, so that why you see this difference during a fraction of second.
More information about the development mode will be describe on the

[2016-12-10 00:53] #57 closed

[2016-12-10 06:42] cj commented on #52
@Atinux I'd love for you to re-open this for further discussion.

[2016-12-10 09:19] Heydon opened #58 "Register new route"
I created a page file and linked to it using the `<router-link>` element, but it 404s.

I see in the `.nuxt` folder there are some routes defined e.g.

[code]

These are clearly added dynamically on webpack build, but I don't know where to add a new one?

Many thanks.

[2016-12-10 09:24] Atinux commented on #58
Hi @Heydon

If you have theses pages:
[code]

You can link the about page in `index.vue` with `<router-link to="/about">About page</router-link>`

Example: https://gomix.com/#!/project/nuxt-hello-world
Live demo: https://nuxt-hello-world.gomix.me/

[2016-12-10 09:26] Atinux commented on #52
I re-opened it @cj

The fact is the `dist` folder is used for the `nuxt generate` already.

And I we are doing like `Next.js` by creating a `.nuxt/` folder.

[2016-12-10 12:23] Heydon commented on #58
Thanks

[2016-12-10 12:23] #58 closed

[2016-12-10 15:31] massimilianomarini commented on #57
Thanks @alexchopin, you're right, in *project mode* is absolutely awesome! :)

Keep up the good work! :+1:

[2016-12-11 10:32] cj commented on #52
Thank you.  Then a `nuxt generate --watch` option, so it automatically rebuilds on changes.

This might be an edge case for people wanting to build for electron.io or ionic.io.  If it's not something you want to add, I understand.  I've created https://github.com/cj/vues, so that nuxt doesn't need to go down that path.

[2016-12-11 13:02] Atinux commented on #52
Indeed, the main purpose of Nuxt.js is to build web applications.

I like what you did with `vues`, I'd love to use it to create desktop or mobile application with it :)

[2016-12-11 14:24] VictorTolbert opened #59 "'.vue' file extension does not automatically resolve for component imports."
For example,

[code]

Works for...
[code]

But, not for...
[code]

[2016-12-11 15:55] soutokevin opened #60 "Development server crashes if `nuxt.config.js` becomes invalid"
If the configuration file change during the execution of the development server, it automatically aplies the new configuration, but if the file becomes invalid (a missing comma or semicolon, we all do that sometimes!) the server crashes, needing to be restarted (after fixing the file).

When running a development server, I don't expect it to crash for any reason, no matter what happens the server

[2016-12-12 11:05] Atinux commented on #59
Hi @VictorTolbert

It will be fixed in the next release.

Thank you for spotting it 👍

[2016-12-12 13:22] thetutlage commented on #45
Closing, since it seems to be working fine 😄

[2016-12-12 13:22] #45 closed

[2016-12-12 13:49] Atinux commented on #60
Thank you @soutokevin

It will be fixed in the new release.

[2016-12-12 14:18] Atinux commented on #52
I'm closing the issue since your project [vues](https://github.com/cj/vues) goes for mobile and desktop applications.

[2016-12-12 14:18] #52 closed

[2016-12-12 17:16] Atinux commented on #26
It will be implemented before the `1.0.0` 👍

[2016-12-12 20:09] knpwrs opened #61 "Server-Side Data"
As it stands today, is there a good way to connect to a server-side database and render pages that work without JavaScript on the client, but can progressively enhance to use JavaScript on the client if available? Essentially that would mean not exposing a rest API, but instead having some sort of data provider mechanism that doesn't leak secrets to the client.

[2016-12-12 20:23] Atinux commented on #61
Hi @knpwrs

Actually, Nuxt.js already render a page that can work without the JS on the client-side (because it's server-renderer).

For connecting to a server-side database, I would not recommend it because when navigating in the client-side, your page will have to render the data as well and since you want to protect it for only the server-side, it won't work.

Nuxt.js is made to create web-appl

[2016-12-12 20:32] knpwrs commented on #61
Unfortunately the API call won't work for a client without JavaScript which kinda makes server-side rendering moot except for the point of getting a fast initial render.

[2016-12-12 20:32] #61 closed

[2016-12-12 20:39] qur2 commented on #14
Just for the record, since I spent few hours looking for that, here is the `nuxt.config.js` that worked for me:

[code]

[2016-12-12 21:36] alexchopin commented on #61
Hi,
What if you use [Axios](https://github.com/mzabriskie/axios) to do API calls on the server-side ?

[2016-12-12 23:35] Atinux commented on #61
@knpwrs if the client does not have JavaScript, it will reload the page, and you can use [axios](https://github.com/mzabriskie/axios) to make API call from the server-side as well.

[2016-12-13 03:10] fenivana opened #63 "can not import default in .vue files"
If importing the default object of `.js` file in a `.vue` file, the default object will be wrapped.

foo.js
[code]

some.vue
[code]

I think the problem is because `vue-loader` did not config the babel option: `modules: false` at https://github.com/nuxt/nuxt.js/blob/master/lib/build/webpack/vue-loader.config.js#L7
[code]
I wonder why set the babel options here rather than use the .babelrc ?

[2016-12-13 03:45] ckken opened #64 "how can i use renderAndGetWindow for server render"
hello,im find nuxt has renderAndGetWindow to get window,but i dont understand how to use it

[2016-12-13 09:57] Atinux commented on #64
Hi @ckken

This is used for tests purpose, you can look at https://github.com/nuxt/nuxt.js/blob/master/examples/with-ava/test/index.test.js to understand how it is used.

[2016-12-13 09:57] #64 closed

[2016-12-13 11:19] Atinux commented on #63
Hi @fenivana

Thanks for spotting it, it will be fixed in the next release 👍

[2016-12-14 13:50] antcook opened #66 "Error: ENOTEMPTY: directory not empty"
Using symbols **(:, &, #)** in **nuxt.config.js** stops the development server and throws an error:

I found this issue when trying to use an **&** in my description meta data, it only occurs when the development server is running and running yarn or npm **run dev** again fixes the issue and the error no longer shows.

**Environment:**
Nuxt 0.8.8,
Node v7.1.0

[code]

[2016-12-14 14:31] Atinux commented on #66
Hi @antcook

This error appends when the browser is calling the file while the build is not finished yet, normally it's fine and the application is still working anyway after the build is done.

It's fixed in the upcoming release.

Thank you for spotting it 👍

[2016-12-15 10:35] vadimsg opened #67 "pm2 run nuxt"
Hi, how can I run nuxt with PM2? Tried starting ./nuxt/index.js or ./nuxt/server.js but failed with errors.
I'm new with node servers.

[2016-12-15 12:11] alexchopin commented on #67
Hi,
To use npm commands with PM2, it seems that you need to create a config file:
ecosystem.config.js
[code]
then for development mode:
[code]
or for production mode:
[code]

[2016-12-15 12:12] #67 closed

[2016-12-18 00:05] vadimsg opened #68 "Prefetch plugin data"
I created my custom translation plugin in which I extend Vue.
[code]
How can I prefetch it so Vue can use it?
Thanks!

[2016-12-18 11:05] dohomi opened #69 "nuxt connecting to graphql apollo client"
Hello,
Is there a way to fetch data on each reload from a graphql apollo client and render its content based on the data it is fetching? Would be very interested in an example.
Thanks

[2016-12-18 15:52] wwanghee opened #70 "css display problem"
Is that anyway to show css display before template rendering?

When I use *.vue files, template renders first, then css display, this may cause a flash with no css sytle display.

How to resolve this problem?

[2016-12-18 15:54] #70 closed

[2016-12-19 02:14] wwanghee opened #71 "css display problem"
Is that anyway to show css display before template rendering?

When I use *.vue files, template renders first(SSR), then css display, this may cause a flash with no css sytle display even using global css configs.

How to resolve this problem?

[2016-12-19 08:42] alexchopin commented on #71
This question has been already answered [here](https://github.com/nuxt/nuxt.js/issues/57).

[2016-12-19 08:42] #71 closed

[2016-12-19 08:43] alexchopin commented on #70
This question has been already answered: [issues #57](https://github.com/nuxt/nuxt.js/issues/57).

[2016-12-19 13:43] Atinux commented on #68
Hi @vadimsg

What you can do is:
[code]

This way, Webpack will put your translation object directly in your bundle.js and the `translations` variable will be filled and ready to use with Vue.

[2016-12-19 13:45] Atinux commented on #68
Otherwise, I think the `middleware` option that will come in an upcoming release will let you fill the `translations` object from the server-side (but also from the client-side if the user change the langage).

[2016-12-19 14:15] vadimsg commented on #68
In my situation I need to fetch it from api.

Thanks, waiting for the release!

[2016-12-19 16:09] Atinux commented on #69
Hi @dohomi

First, to make the `apollo-client` works on the server-side, you need to polyfill `fetch`, you can do it by installing the [isomorphic-fetch](https://github.com/matthew-andrews/isomorphic-fetch) module.

Then, you need the `apollo-client` and `graphql-tag` module. you can add them in your `nuxt.config.js` file in the `build.vendor` section.

I created an example for you so you can see

[2016-12-19 16:09] #69 closed

[2016-12-19 18:31] dohomi commented on #69
Great stuff, thanks @Atinux

[2016-12-19 19:49] rwatts3 opened #72 "Coming from Meteor ... Using Mongodb for data ."
Greetings,

I am comong from Meteor.js where uve used mondogb to store snd retrieve my data.

I'm curious is there a way to use Mongodb in Nuxt ? Or is it mainly meant for static rendering.  Please forgive me if this is a rudimentary question.

Thank you

Ryan.

[2016-12-19 19:52] Atinux commented on #20
Hi @beeplin

You can now create children routes with the version `0.9.0` of Nuxt.js

[Explanations here](https://github.com/nuxt/nuxt.js/tree/master/examples/custom-routes#nested-routes-children)

[2016-12-19 19:52] #20 closed

[2016-12-19 20:01] Atinux commented on #34
@PatrikLythell

It is now in the [`0.9.0`](https://github.com/nuxt/nuxt.js/releases/tag/v0.9.0), the documentation is not updated yet but you can add the hooks like this:

`nuxt.config.js`:
[code]

It works also in the page components and the children components 👍
To disable CSS, juste like the documentation of Vue.js says, you can put `css: false` to disable CSS transitions.

You can see the list

[2016-12-19 20:01] #34 closed

[2016-12-19 20:01] Atinux commented on #66
Fixed in [`0.9.0`](https://github.com/nuxt/nuxt.js/releases/tag/v0.9.0)

[2016-12-19 20:01] #66 closed

[2016-12-19 20:01] Atinux commented on #63
Fixed in [`0.9.0`](https://github.com/nuxt/nuxt.js/releases/tag/v0.9.0)

[2016-12-19 20:01] #63 closed

[2016-12-19 20:03] Atinux commented on #59
Fixed in [`0.9.0`](https://github.com/nuxt/nuxt.js/releases/tag/v0.9.0) 🔥

[2016-12-19 20:03] #59 closed

[2016-12-19 20:03] Atinux commented on #60
Fixed in [`0.9.0`](https://github.com/nuxt/nuxt.js/releases/tag/v0.9.0) 🔥

[2016-12-19 20:03] #60 closed

[2016-12-19 20:14] Atinux commented on #72
Hi @rwatts3

**Nuxt.js scope is to UI rendering, while abstracting away the client/server distinction.**

If you need a proper logic, such as connecting to a database, you should keep it in another application which serve an API to access the resources. An then call this API from your Nuxt.js application.

Nuxt.js empower the micro-serve architecture, which is a bit different from a Meteor perspec

[2016-12-19 20:14] #72 closed

[2016-12-19 20:20] rwatts3 commented on #72
Thank you

On Mon, Dec 19, 2016, 1:14 PM Sébastien Chopin <notifications@github.com>
wrote:

[2016-12-19 23:39] beeplin commented on #20
cool！

[2016-12-20 01:58] rwatts3 opened #73 "How to add dynamic routes such as /user:id/"
Greetings,

How does one add dynamic routes for instance if I'm fetching data from some external source and I want to dynamically load a detail page with said route.

[2016-12-20 09:26] Atinux commented on #73
Hi @rwatts3

To create the route /user/:id, simply add the file pages/user/_id.vue

Please take a look at the [custom-routes example](https://github.com/nuxt/nuxt.js/tree/master/examples/custom-routes).

[2016-12-20 18:36] dohomi commented on #25
Just as a reference, I think `serverless` had a quite nice approach to move all files from specific folder to a S3 bucket:
https://github.com/serverless/examples/tree/master/aws-node-single-page-app-via-cloudfront
They used the `aws-cli` internally and synced the folder to the destination bucket. I think it would be great to pick up this idea, because for leverage browser caching and setting expir

[2016-12-20 19:10] rwatts3 commented on #73
Sorry to reopen this issue,
everything worked perfectly until I went to generate the static project, and received this error,

[code]

I could not find documentation demonstrating how to do this.

[2016-12-20 19:31] sean-hill opened #74 "Error: Couldn't find preset "es2015" relative to directory"
After following the getting started guide, I get the following build errors when running `npm start`:

    $ npm start

    nuxt:build App root:  +0ms
    nuxt:build Generating .nuxt/ files... +2ms
    nuxt:build Generating routes... +8ms
    nuxt:build Generating files... +5ms
    nuxt:build Adding webpack middlewares... +15ms
    Ready on http://localhost:3000
    ./.nuxt/server.js
    Module bu

[2016-12-20 19:38] rwatts3 commented on #73
To add more detail

The routes are dynamically genested via an adios function call. Therefore each id May be different depending on the data returned from the ajax call.

I saw a precious issue that suggested adding each id as an array of ids but that woildnt work on my case as the ids are in the ajax call.

[2016-12-20 19:46] alexchopin commented on #73
Hi,
Yes there no documentation yet, we are working on it actually.
However, you can see an example [here](https://github.com/nuxt/nuxtjs.org/blob/master/nuxt.config.js) on how we use it on nuxtjs.org website.
In your case you can return a promise (with axios) in the nuxt.config.js which return an array of all IDS.

[2016-12-20 19:49] rwatts3 commented on #73
Awesome thank you

On Tue, Dec 20, 2016, 12:46 PM Alexandre Chopin <notifications@github.com>
wrote:

[2016-12-20 19:51] #73 closed

[2016-12-20 20:26] mikekidder commented on #57
@alexchopin if you are not already doing, may want to put that Getting Started docs.  I started reading through closed issues because figured it had been asked already. :)

 And just want to say you guys are doing great work.

[2016-12-20 20:58] Kentoss opened #75 "Explicitly define dynamic path in 0.9.0?"
Hello, I have been using Nuxt to rapidly prototype ideas and I've been really enjoying the simplicity of it. However as of the breaking change to routes in 0.9.0 I am unsure if I can explicitly define my desired path anymore and I fear the simplicity has become somewhat of a limitation without the option for more fine-tuned control.

The examples provided indicate that pages prefixed with an under

[2016-12-20 22:20] alexchopin commented on #75
Hi @Kentoss

Thank you for spotting this issue, indeed we did not think of this possibility.

We want to make Nuxt.js as simply as possible but without removing any feature. Anyone looking at a Nuxt project `pages/` directory should be able to understand quickly the routes of the project.

Actually, we can translate `/(watch|play)/` as `watch or play`, this could be translated to a directory named

[2016-12-20 23:51] Kentoss commented on #75
Thinking about this more, it seems rather difficult to come up with a compromise. I understand the goal of this change, but I would honestly find it marginally more frustrating to browse through the pages directory and have to pick apart what the regex for a folder is supposed to represent. I would also wonder how to determine the intention, whether the folder should be translated as regex or lite

[2016-12-21 11:37] Atinux commented on #74
Hi @sean-hill

I tried with node `v4.5.0` and the latest version of npm and it works, could you try this?

[code]

[2016-12-21 11:37] #74 closed

[2016-12-21 11:52] Atinux commented on #75
Hi @Kentoss

After talking with my brother, we agreed on the fact that the `_OR_` in the filename is not a solution and also can add confusion as well.

For you Regexp `(watch|play)`, I think it's a special case and the best way to do it is with this file tree:
[code]

Furthermore, it will be also more lisible to understand your routing this way.

If you need to re-use components between the same

[2016-12-21 11:52] #75 closed

[2016-12-22 04:51] joshbotnet opened #76 "Vue Material integration"
@Atinux and @marcosmoura please describe how to integrate Vue Material
[https://github.com/marcosmoura/vue-material](https://github.com/marcosmoura/vue-material)

I followed the Vue Material `installation` and Nuxt `plugins` instructions, and ended up with `HTMLElement is not defined` so please confirm and advise

Both awesome projects btw ⭐️ thanks

[code]

[2016-12-22 06:40] joshbotnet commented on #76
Using `if (process.BROWSER_BUILD) {` in the plugin, it works 😸 but with Warnings:

`Mismatching childNodes vs. VNodes`

and

[code]

[2016-12-22 09:42] alexchopin commented on #76
Hi,

This is the best solution for using [vue-material](https://github.com/marcosmoura/vue-material) with Nuxt right now because it seems that SSR is not supported by this library.

It should be easy to fix for @marcosmoura in a future release.

[2016-12-22 09:42] #76 closed

[2016-12-23 01:23] ryandeussing commented on #23
Here's a recent PWA talk that may be of interest:
https://www.youtube.com/watch?v=By-iWxp_3vA&list=UU_DH6Z_K_3JRgOdDnwHLrLw

Slides:
Part 1 (Background): https://drive.google.com/open?id=0ByaMoD6mi690TWJPVndpNF9hbG8
Part 2 (Tools): https://drive.google.com/open?id=0ByaMoD6mi690TVhiWmdDcEdWV28

[2016-12-23 21:18] Atinux commented on #72
@rwatts3 you might want to use http://deployd.com as a micro-service and call it from your Nuxt.js application

[2016-12-23 21:19] rwatts3 commented on #72
Funny you should mention deployd I've literally just started researching
deployed as an option.

On Fri, Dec 23, 2016, 2:18 PM Sébastien Chopin <notifications@github.com>
wrote:

[2016-12-25 19:45] pi0 opened #78 "Dash in layout filenames"
If layout component file name contains special characters, this leads to incorrect `App.vue`  generation:
as an example: (`layouts/docs-components.vue`)
[code]

This throws syntax errors. keys can be easily quated to avoid this problem.

[2016-12-25 20:03] #78 closed

[2016-12-25 20:18] Atinux commented on #78
It's now fixed in the [`v0.9.4`](https://github.com/nuxt/nuxt.js/releases/tag/v0.9.4).

Thank you for your contribution @pi0

[2016-12-25 20:35] Granipouss opened #80 "Store generation"
Hi ! And merry christmas to you all !

I've discovered Nuxt quite recently and I must admit I find it quite revolutionary and awesome. Thanks for bringing it to us.
For my vue projects, I use to generate the router and the store by reading directories in a way that is similar to the way to  create pages. So I wonder if you'd be interested in doing the same for the store ?
I mean that each file of

[2016-12-25 21:12] Atinux commented on #80
Hi @Granipouss and thank you for your kind words!

I understand your idea and it makes sense.

The actual problem I see is that it will remove the possibility of having the official vuex directory structure: http://vuex.vuejs.org/en/structure.html

[2016-12-25 21:21] yuchonghua opened #81 "1.0 about when it can be released? Thank you"
1.0 about when it can be released? Thank you

[2016-12-25 21:26] Atinux commented on #81
Hi @yuchonghua

The `1.0` will be released around the end of January 2017.

You can take a look at our roadmap to see what's left before the 1.0: https://github.com/nuxt/nuxt.js/projects/1

[2016-12-25 21:26] #81 closed

[2016-12-25 21:37] yuchonghua commented on #81
Thank you very much, I developed a ddv, but is still in the debugging stage, the time do not know whether they can get nuxt support is ddv is a type of management tool pm2, but ddv more inclined to multi-site, but ddv is not very Perfect, can only run on ubuntu, the other system is further support, hope to get nuxt support, ddv is a multi-site management module that provides the http-server interf

[2016-12-25 23:30] antcook opened #82 "Why does Vue CLI starter project have a static folder and an assets folder?"
In the Vue CLI starter project for Nuxt, the favicon is found in it's own folder called static but there is also an assets folder for other static resources like images/css ect.

Is there a reason why we have both of these folders, can the favicon be stored in the assets folder (or images, css in the static folder), thus removing the need for an extra folder?

Thanks, and Merry Christmas! :)

[2016-12-26 00:19] alexchopin commented on #82
Hi, thanks and Merry Christmas also! :)

Currently it's more to show an example of the difference between resource load with and without webpack and also to show that the static directory content is copied during nuxt generate for static hosted application.

It should be erase in the future when the documentation website will be complete.
Or perhaps, we should add all directories like (store, plug

[2016-12-26 00:19] #82 closed

[2016-12-26 02:57] demetriusnunes opened #83 "How to activate postcss-cssnext?"
How can I configure the vue loader to enable postcss-cssnext?

[2016-12-26 07:30] Granipouss commented on #80
Indeed that's an issue.
Maybe check if there is an index.js and if it returns a valid store, if not, nuxt generates the proper store. Or do according to the configuration file

[2016-12-26 08:39] Granipouss commented on #80
Indeed that's an issue.
Maybe check if there is an index.js and if it returns a valid store, if not, nuxt generates the proper store. Or do according to the configuration file

[2016-12-26 09:21] alexchopin commented on #83
Already answer on [#14](https://github.com/nuxt/nuxt.js/issues/14)

nuxt.config.js
[code]

[2016-12-26 09:21] #83 closed

[2016-12-26 09:41] Atinux commented on #80
It might be a solution indeed and let the users create easily a store with Nuxt.js, I keep it open 👍

[2016-12-26 09:48] Granipouss commented on #80
Nice, I'll work on that and make a proposition soon

[2016-12-26 10:27] demetriusnunes commented on #83
Thanks!

[2016-12-27 04:37] demetriusnunes opened #84 "How can I use async/await within my components?"
How can we use async/await in components and in Vuex actions?

When I try to use it right now, I get an error.

[2016-12-27 09:24] HadiChen opened #85 "How to cache history pages"
How to cache history pages

[2016-12-27 11:19] Atinux commented on #85
Could you provide an example of what you mean by caching history pages @HadiChen?

[2016-12-27 15:16] Atinux commented on #84
Hi @demetriusnunes

You add the babel plugins to transform you async functions:
`nuxt.config.js`
[code]

And then you can use async function in your components:
`pages/index.vue`
[code]

Example: https://gomix.com/#!/project/nuxt-await
Demo: https://nuxt-await.gomix.me/

But I am now wondering if I should include this feature in Nuxt.js directly?

Ping @pi0 @antcook @johnlindquist @declandewet

[2016-12-27 15:32] Atinux commented on #84
Finally, `transform-async-to-generator` and `transform-runtime` will add the polyfills only when `async/await` is used, so I included it in the core and will be available in the next release `0.9.5` 🔥

[2016-12-27 15:32] #84 closed

[2016-12-27 16:11] Atinux commented on #84
@demetriusnunes you can upgrade to the [`0.9.5`](https://github.com/nuxt/nuxt.js/releases/tag/v0.9.5) it should work without any modification of your code 😃

[2016-12-27 16:38] demetriusnunes commented on #84
You guys rock! Thanks! This is shaping up to be the best web framework I've seen in a long time!

[2016-12-27 21:10] bahmutov opened #86 "Rendering to string is unsafe"
Following the approach described in https://medium.com/node-security/the-most-common-xss-vulnerability-in-react-js-applications-2bdffbcc1fa0#.mup3jwgjq I have tried the following use data string in a page

[code]
which prints "xss" during server-side rendering on the server and in the browser console for client rendering. I believe this is due to unsafe object serialization in [self.renderToString

[2016-12-27 21:40] Atinux commented on #86
Will work on it, thank you very much @bahmutov for spotting it!

[2016-12-27 21:49] bahmutov commented on #86
My pleasure, great project! I forked it and thought you just need serialize-javascript but that one is already used correctly, so that is not the problem. BTW next.js uses `renderToStaticMarkup` to properly render and escape the data for this case.

[2016-12-27 23:10] Atinux commented on #86
By looking into it, it's not due to `renderToString` neither `serialize-javascript` but from `vue-loader` which interprets your `'</script><script>console.log("xss")</script>'` as the closing tag of your template.

I uploaded a json on a server: https://api.myjson.com/bins/1a4fjr

And I created an example which get this data and set it: https://gomix.com/#!/project/nuxt-xss
Live demo: https://nuxt

[2016-12-27 23:10] #86 closed

[2016-12-28 02:50] bahmutov commented on #86
the closest issue in vue-loader is this https://github.com/vuejs/vue-loader/issues/506 which to me sounds a little weird, but that's their choice. Thanks for looking at it though.

[2016-12-28 04:47] OrangeXC opened #87 "Global JavaScript"
Hi, How to insert the global javascript in `nuxt.config.js`

like

[code]

Or other methods？

[2016-12-28 08:45] rubyless commented on #87
https://github.com/nuxt/nuxt.js/blob/master/examples/plugins-vendor/README.md

[2016-12-28 08:47] OrangeXC commented on #87
Thank you!  @rubyless

[2016-12-28 08:47] #87 closed

[2016-12-28 11:08] VincentLoy opened #88 "Access to the request in default.vue file"
Hi!

I'm currently working on a project with Nuxt as an Express Middleware with i18next support.
My problem is that I need to access the user browser language, I suppose via the `req` object SSR.

There is a way to access the request in the `layouts/default.vue` ? Or in a `plugin/customPlugin.js` file ? I know that we can access `req` object in `pages` vue files but no in layouts templates.

If yo

[2016-12-28 11:33] Atinux commented on #88
Hi @VincentLoy

Actually we restricted the layout to not have access of SSR data because their purpose has to be simple.

If you are using the store (and I believe you are is your are using 18next), you can add the `nuxtInitServer({ commit }, { req })` action in your store which get the context and is called before initialising the application, see [examples/vuex-store/)(https://github.com/nuxt/nu

[2016-12-28 11:33] #88 closed

[2016-12-28 11:42] VincentLoy commented on #88
Thanks for your quick reply :)

[2016-12-28 13:53] aetherwu opened #89 "Err while using WeUI.js"
I tried:

Then I imported in default.vue:

It displays:

So may I ask... how can I import packages dynamically like I did in vue.js?

[2016-12-28 14:02] aetherwu commented on #89
OH wait, let me test this:
https://github.com/nuxt/nuxt.js/issues/21

[2016-12-28 14:09] Atinux commented on #89
Hi @aetherwu

This is because [weui.js](https://github.com/weui/weui.js) is not compatible with server-side rendering at the moment.

The library should check if window exists before using it, I think a PR to where they use window without checking should do the trick: https://github.com/weui/weui.js/search?utf8=%E2%9C%93&q=window

Otherwise you can require `weui.js` only inside `if (process.BROWSE

[2016-12-28 14:09] #89 closed

[2016-12-28 14:17] aetherwu commented on #89
I see. Thanks a lot for your lightning fast response:)

[2016-12-28 16:54] #85 closed

[2016-12-30 09:33] Atinux commented on #21
Element UI is now working with Nuxt.js!

Example: https://gomix.com/#!/project/nuxt-element-ui
Live demo: https://nuxt-element-ui.gomix.me/

[2016-12-30 09:37] Granipouss commented on #80
So here is the thing:
https://github.com/Granipouss/nuxt.js/blob/master/lib/app/store.js
and the example that goes with it:
https://github.com/Granipouss/nuxt.js/tree/master/examples/vuex-store-2

I hope tat the coding style suit you. Shall I do a pull request ?

[2016-12-30 10:31] nassimbenkirane opened #91 "keep-alive - Ability to cache page components on the client"
Hi there,

I have been playing around with the framework and one thing that bugs me is that you can cache pages on the server, but not on the client.

It would be great to be able to use `keep-alive` (https://vuejs.org/v2/guide/components.html#keep-alive) on top of the router-views that power the pages (as in https://router.vuejs.org/en/api/router-view.html#behavior)

For now, when I wrap the rout

[2016-12-30 10:34] nassimbenkirane commented on #91
It might be related to #85

[2016-12-30 10:59] ckken commented on #21
amazing!

[2016-12-30 11:15] Atinux commented on #80
Sure, great work 👏

[2016-12-30 15:16] Atinux commented on #91
Hi @nassimbenkirane

Actually it's called every time for making the dynamic component easy to develop. Furthermore, I think it would be more explicit to define a `cacheData` option in the page component directly.

I will take a deeper look later, but for the moment, you can do it manually in the `data` method itself, take a look at this example: https://gomix.com/#!/project/nuxt-cache-data

Live d

[2016-12-30 18:22] jaredreich opened #93 "Browser Compatibility"
Nuxt.js errors on IE10 and IE11 with `Object doesn't support property or method assign`
See here: https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Object/assign#Browser_compatibility

Perhaps some official browser compatibilities could be documented, and some polyfills could be implemented to allow realistic production use of Nuxt.js

Cheers!

[2016-12-30 18:29] Atinux commented on #93
Hi!

It's weird since the `es6-object-assign` is included in the vendor bundle.

I will take a deeper look and test it, thank you for spotting it :)

[2016-12-30 19:36] SkaterDad commented on #93
Did some testing in IE11 a few minutes ago to try replicating this issue.

**Setup**:  Fresh `nuxt/starter` vue-cli template, with a modified homepage `data` method which uses async & Object.assign.

[code]

**Dev Mode**
Started with `npm run dev`.

For some reason the first page load gave me a console error, but after clearing cache and retrying several times I can't replicate it.   There's no wa

[2016-12-31 08:30] k55k32 opened #94 "Router Hooks define"
Can i do something when `router` is instantiated;
I wanne define a hook then like 'beforeEach';

Now I can do it in my component only.
[code]
That's not a good way. I wanne a hook or callback in framework options.
just like `require('my-custom-router-define.js')(router)` after `router` is instantiated.

I see the `plugins` options are require in `index.js`

Can you require some function we define

[2016-12-31 10:24] Atinux commented on #94
Hi @k55k32

Could you give me a use case of defining a beforeEach hook for you application?

[2016-12-31 11:35] Atinux commented on #93
Thank you for your testing on IE 11 @SkaterDad

@jaredreich it should be fixed with this commit: https://github.com/nuxt/nuxt.js/commit/0b58637a09e35ca6ce350fe9182b5d468d9d8626 (not released yet)

[2016-12-31 22:40] jaredreich opened #95 "App (global) non-page-related component?"
Is there any way to wrap an entire nuxt.js application/site with a "non-page" related component, being a perfect place to add global components, like navbar, sidebar, etc..., and to do global "on-every-page-load" logic like user auth, etc...?

Hopefully my question makes sense.

Thanks!

[2016-12-31 22:52] Atinux commented on #95
I think the middlewares (next release) and the layout are the answer for you :)

Happy new year BTW 🎉

[2016-12-31 23:34] jaredreich commented on #95
Right on!

Happy new year to you as well!

[2016-12-31 23:41] jaredreich commented on #95
Wow, the layout logic works very well so far. Nice work!

[2017-01-01 00:32] mikekidder opened #96 "custom-routes example - links in error.vue page"
If you type a url (ex. http://localhost:3000/users/3bogus) that causes the optional **validate** to return _false_, it shows the 404 error page as expected.
However, nuxt-links in error page is currently throwing exceptions (see console log).

For simple dynamic pages, it transitions despite Vue warn messages in console.
For dynamic pages with objects, transition does not happen, as you get undefi

[2017-01-01 01:09] Atinux commented on #96
This should be fixed in the next release, we are aware about it :)

[2017-01-01 08:00] yuchonghua opened #97 "import css bug?"
[code]

[code]

This time we can normally open http://127.0.0.1:3000/admin

Because css is the introduction of such

![image](https://cloud.githubusercontent.com/assets/17898715/21580556/dfb8a646-d03a-11e6-976e-829588d18789.png)

But when I recommend the introduction of being given the wrong way
[element-ui init doc](http://element.eleme.io/#/en-US/component/quickstart)

![image](https://cloud.git

[2017-01-01 15:08] gregbenner opened #98 "keywords if/then/else require v5 option"
`keywords if/then/else require v5 option` error on a fresh install of nuxt, not sure where in the library this is being generated from.

[2017-01-02 12:27] Atinux commented on #98
Hi @gregbenner

This is from webpack, it's fixed in the latest release of webpack `v2.2.0-rc3`.

It will be fixed in the next upcoming release.

[2017-01-02 12:55] Atinux commented on #97
Hi @yuchonghua

Nuxt.js uses Vue files so you should not import css in the `<script>` block.

Add in your `layouts/admin.vue` file:
[code]

This will do the work.

[2017-01-02 12:55] #97 closed

[2017-01-02 18:48] Atinux commented on #80
Will be available in the next release 🎊

[2017-01-02 19:39] gregbenner commented on #98
Sweet, thanks!

[2017-01-02 19:39] #98 closed

[2017-01-02 23:24] scottgrayson opened #99 "Use with vue-auth. Need access to router"
I would like to use vue-auth together with nuxt js.  But i need to configure vue-auth after vue router is set.

vue-auth setup code from https://github.com/websanova/vue-auth#install-2x
[code]

I tried doing this in the `~/plugins` directory and i get a vue-auth error:
` Error (@websanova/vue-auth): vue-router.2.x.js : Vue.router must be set. `

[2017-01-03 00:51] k55k32 commented on #94
My project is a simple blog;
I wanne log the real pageview.
The most simple way is use the beforeEach hook; When the route chagned send a log request to server;
That's the case :)

[2017-01-03 02:38] yuchonghua commented on #97
thank you very much for your reply

[2017-01-03 08:52] HadiChen opened #100 "Vuex store on the issue of more pages"
[code]

[code]

This time we can normally open http://127.0.0.1:3000/admin

![image](https://cloud.githubusercontent.com/assets/11555571/21602999/c66a0fa4-d1d4-11e6-94e0-55d3abcd68ed.png)

I now have more sub-projects, such as background management system, web management, wap three versions of the phone, I hope to separate Vuex store how do?

But [nuxt store](https://github.com/nuxt/nuxt.js/tree/m

[2017-01-03 16:34] SteveEdson opened #101 "Loop over pages"
Apologies if this is documented somewhere. I am looking into whether I should replace my Jekyll site for Nuxt, is there a way to loop over pages?

E.g Jekyll has

[code]

It would be nice if Nuxt had something similar, and if a page could expose meta data, e.g.

[code]

Thanks.

[2017-01-03 17:18] alexchopin commented on #101
Hi, thank for using Nuxt.

Actually there is no way to use it like Jekyll does with:
[code]
However, you can easily split you content and your design by creating markdown files in a post directory for example:

[code]
then read this directory content to have the list of your post with [nuxtServerInit function](https://github.com/nuxt/nuxt.js/tree/master/examples/vuex-store#action-nuxtserverinit).

[2017-01-03 18:14] Atinux commented on #101
Another way would be to use [require.context()](https://webpack.js.org/guides/dependency-management/#require-context) of Webpack to list the files of a specified directory and loop trough it :)

You can take a look at https://github.com/nuxt/nuxt.js/blob/master/lib/app/store.js to have an idea of how to use it.

If you add a markdown loader you may be also able to import them with webpack as well.

[2017-01-03 18:30] Atinux commented on #100
Indeed, to support correct server-side rendering, only one store instance should exist.

I recommend you to use [Vuex modules](http://vuex.vuejs.org/en/modules.html) for each of your sub-projects.

[2017-01-03 18:30] #100 closed

[2017-01-03 18:33] Atinux commented on #94
You can use the `routeChanged` from `$nuxt` (it's not explained yet in the documentation), but here an example of our website [nuxtjs.org](https://nuxtjs.org) to tell Google Analytics when a page changed: https://github.com/nuxt/nuxtjs.org/blob/master/plugins/ga.js

[2017-01-03 18:33] #94 closed

[2017-01-04 10:58] yuchonghua opened #102 "This is a postcss css, how do I support in nuxt?"
![image](https://cloud.githubusercontent.com/assets/17898715/21640275/b535a672-d2af-11e6-9b5c-4ad72209c00e.png)
This is a postcss css, how do I support in nuxt?

[2017-01-04 15:00] #101 closed

[2017-01-04 15:02] Atinux commented on #99
Hi @scottgrayson

Sadly, nuxt.js is not compatible with `vue-auth`, but using JWT with Nuxt.js and the upcoming middleware feature will be really easy to do.

[2017-01-04 15:02] #99 closed

[2017-01-04 15:05] Atinux commented on #102
Please take a look at #14 and #83

[2017-01-04 15:05] #102 closed

[2017-01-04 15:05] scottgrayson commented on #99
@Atinux Awesome! Can't wait to see the docs!

[2017-01-04 15:09] Atinux commented on #99
The documentation should be release today, think about checking [our Twitter](https://twitter.com/nuxt_js) for the announcement :)

[2017-01-04 16:25] vadimsg opened #103 "Postcss autoprefixer"
Is there a way to extend postcss autoprefixer and add more browser last versions?
Webpack config api schmea doesn't have postcss object or I'm blind?

[2017-01-04 16:48] Atinux commented on #103
Hi @vadimsg

You should give the `build.postcss` option directly in your `nuxt.config.js`:

[code]

[2017-01-04 16:48] #103 closed

[2017-01-06 08:59] stevieyu opened #105 "How to support gzip?"

[2017-01-06 12:17] Atinux commented on #105
Hi @stevieyu

You can use nuxt.js as a middleware ([see documentation](https://nuxtjs.org/api/nuxt-render)) for express.

And use the [compression](https://github.com/expressjs/compression) middleware to gzip every response.

You can also use [CloudFare](https://www.cloudflare.com) which is free and offer gzip support.

[2017-01-06 14:48] dohomi opened #106 "guard pages with vuex authenticated user"
Hello,
I'm currently searching how to guard pages within nuxt. I have a vuex in place and after authentication I store the user in $store.state.authUser.
Is there a best practice how to wait if authUser state is set?
Thanks!

[2017-01-06 14:56] Atinux commented on #106
Hi @dohomi

The middleware (upcoming feature) will let you create rules for rendering specific pages with Nuxt.js, the authenticated pages is a perfect example of using the middleware.

[2017-01-06 15:09] dohomi commented on #106
Great news! Any ETA for that release? Cheers

[2017-01-06 15:31] Atinux commented on #105
I re-open it, gzip support will be implemented in Nuxt.js to be able to create the fastest web applications possible 🚀

[2017-01-06 16:14] Atinux commented on #106
Actually not any ETA but as soon as possible, you can follow our progress here: https://github.com/nuxt/nuxt.js/projects/1

[2017-01-08 20:21] WinstonFassett commented on #23
I did a little experiment where I got the offline-plugin (https://github.com/NekR/offline-plugin) working with Nuxt, but I had to make a couple of changes to Nuxt.

My biggest problem was that the OfflinePlugin was generating the service worker sw.js file in the "_nuxt" folder.  While I was able to get it to cache my index route ('/'), it was unable to load it when offline.  It seems that scoping

[2017-01-08 21:25] gary149 opened #107 "Internationalization with nuxt.js"
Did someone made a multi-languages app? How did you manage the internationalization? plugin or just with an async call in the data function?

[2017-01-09 07:06] uptownhr opened #108 "route transition stops working when switching layout"
If you have multiple layouts for different routes, moving to a route with a different layout causes the route transition to stop working.

[2017-01-09 10:02] Atinux commented on #108
Hi @uptownhr

Actually it's normal since the layout is different and the `<nuxt></nuxt>` component changed.

But you can handle layout transition for this case and disable the route transition to make the transition.

`layouts/default.vue`:
[code]

`layouts/dark.vue`:
[code]

Then,  you need to have a global css file in `assets/main.css`:
[code]

Make sure to set the CSS as global in `nuxt.config.

[2017-01-09 10:02] #108 closed

[2017-01-09 10:35] Atinux commented on #107
Hi @gary149

This is planned to make an example when the middleware feature will be released.

[2017-01-09 13:23] 1shiharat opened #109 "Error in CSS Modules when `nuxt generate`"
Is this error due to vue-loader or vue-template-compiler?

The Vue file where the error occurs is as follows.
[code]

This is the log when nuxt generate is executed.

[code]

[2017-01-09 14:21] Atinux commented on #109
Hi @1shiharat

Thank you for spotting this issue. I fixed it, it will be working in the next release.

In the meantime, you can use this quick fix in your `nuxt.config.js`:
[code]

I'll close the issue when the release with the fix will be out.

[2017-01-09 18:48] husayt opened #110 "Using external resources with Nuxt"
Hi I have been reviewing nuxt.js and so far am very impressed.

I have tried to implement a simple project. But had certain issues and was wondering if that is possible here or not.

To start with how can i refer to external resources, be it js file or css.

let's say I want to use bootstrap. How could I import boostrap's css and js? if this is possible, i would appreciate if it would be possible

[2017-01-09 21:23] mixty1 commented on #110
You can set external script or css like this:

// nuxt.config.js
[code]

[2017-01-09 21:53] husayt commented on #110
Thank you very much. This was really useful. But what if I want to load these for only specific pages?

[2017-01-09 22:44] Atinux commented on #110
Hi @husayt

Thank you @mixty1 for your answer, it's the perfect answer for the 2) asked by @husayt

If you want to load it only for a specific page, you can add the `head` property in your page file:
`pages/about.vue`:
[code]

[2017-01-09 23:13] jvandenaardweg commented on #106
What about this? https://nuxtjs.org/examples/auth-routes/

[2017-01-09 23:13] 1shiharat commented on #109
@Atinux Thank you for your response！

[2017-01-09 23:18] cschweda commented on #110
Is there a webpack.config.js somewhere that's editable?

[2017-01-09 23:21] Atinux commented on #110
You can extend the webpack configuration trough `nuxt.config.js` with the `build.extend` method. The doc about these configurations is coming this week!

You can take a look at the `examples/custom-build/` folder to see how it works.

[2017-01-09 23:24] cschweda commented on #110
Aha! Wow -- this looks great. Thanks. This should do the trick!

[2017-01-10 00:21] rwatts3 opened #111 "Export or distribute components for distribution."
Greetings,

Is there a way to export individual components for distribution.
If I am attempting to create a library or have components, distributed to other people to use, but in js format not vue format what is the best way to do this?

Essentially I'm trying to see how I can share and use components across different projects and with other users.

[2017-01-10 07:46] #110 closed

[2017-01-10 08:13] Atinux commented on #111
Hi @rwatts3

You can check these projects for sharing vue components:
- [vue-share-components](https://github.com/Akryum/vue-share-components)
- [rollup-vue-plugin](https://github.com/znck/rollup-plugin-vue) based on [rollupjs](http://rollupjs.org/)

Looking forward to see you Vue components :)

[2017-01-10 08:13] #111 closed

[2017-01-10 08:58] rwatts3 commented on #111
Thank you

[2017-01-10 10:04] posva commented on #111
@rwatts3 [This template](https://github.com/posva/vue-plugin-template) focus on visual testing and bundles your components with the above rollup plugin for smaller bundles. In case that's what you're looking for 🙂

[2017-01-10 12:09] rwatts3 commented on #111
Hmm I will definitely give that one a shot as well.

Thank you

[2017-01-10 12:49] danieloprado opened #112 "Define custom routes on nuxt.config.js"
There is any options to set a custom route without change the folder structure?

[code]

[2017-01-10 13:16] Atinux commented on #112
Hi @danieloprado

This option has been removed since the `0.9.0`, the only way to create route is by the filesystem.

Why would you want to have another route pointing to the same page?

[2017-01-10 13:48] danieloprado commented on #112
I want to write my code in english and make the routes in another language.

[2017-01-10 13:53] danieloprado commented on #112
Maybe we can keep both and let the developer decide witch is better.

[2017-01-10 14:17] alexchopin commented on #112
Hi,
I don't know about your routes structure but maybe a solution could be using dynamic routes for that and use the validate() method.
Unfortunately, we couldn't keep both methods for Nuxt.

[2017-01-10 14:28] danieloprado commented on #112
![image](https://cloud.githubusercontent.com/assets/7683575/21809738/1ea74334-d730-11e6-957d-f1b20e34db02.png)

This is my structure, I want the route to the product/_id.vue to be **produtos/:id** not **product/:id** without rename the folder

[2017-01-10 14:58] Atinux commented on #112
@danieloprado you should not worry about the names of your files in the `pages` since they represent your routes of your applications, they don't have to be in english.

[2017-01-10 15:08] danieloprado commented on #112
This application in particular is an international one, each client that uses it will use their own terms and custom routes, everything will be configurable and loaded when the application boots up.

[2017-01-10 15:36] mkv27 opened #113 "Loading component stop working after using vue-router in page method"
When I try with `this.$nuxt.$router.replace({ path: '/different-layout-route'})` for browser path change to a different layout, the `progress div` stop working.

I don't know if $router in a method page is the right way to browser redirects.

Thanks for the amazing nuxtjs!

[2017-01-10 15:42] Atinux commented on #112
I'll keep it open to look for a possible solution, but as I think it right now, the most flexible way would be with an `extendRoutes` method in the `router` property:

`nuxt.config.js`
[code]

This method would be used at your own risks, like `build.extend` for extending webpack configuration.

[2017-01-10 15:55] Atinux commented on #113
Hi @mkv27

Where to you use `this.$nuxt.$router.replace({ path: '/different-layout-route'})`?

What expected behaviour do you want to see when replacing the route?

Thank you for trying Nuxt.js!

[2017-01-10 16:15] jbadeau opened #114 "Nuxt in JVM"
Many large enterprises will not be running node for a long time. It would be really amazing to have nuxt run in the jvm under nashorm. My question is:

How much of nuxt is dependant on v8 API?
How much of nuxt is dependant on node API?

There are ways to shim/bridge these APIs in the JVM and I would be most interested to port nuxt to the JVM if it sounds feasible. I think many enterprises would fa

[2017-01-10 16:16] mkv27 commented on #113
Hi @Atinux

I'm using the Facebook SDK for sign in users.
I have a `pages/login.vue` component and I want to replace the url to a 'secret' dashboard  page after success FB login:

[code]

I want to see exactly the same behaviour as `<nuxt-link>` click.

[2017-01-10 16:41] Atinux commented on #113
I see, indeed it's a bug @mkv27, good catch!

I'll work on it and it will be fixed in the next release!

[2017-01-10 16:46] Atinux commented on #114
Hi @jbadeau

Nuxt is dependant on node API as much as all its dependencies are dependant on node and v8 API.

I think it would be pretty hard and it's not our priority, we hope that large companies will start using node.js and follow already big companies whom adopted it (Netflix, Walmart, LinkedIn, Medium, Paypal, Uber, NYT...).

Also, I have 0 knowledge in Java :)

But I'd love to see someone po

[2017-01-10 16:46] #114 closed

[2017-01-10 17:43] jbadeau commented on #114
I mostly asked because I saw the line in the documentation "It doesn't make use of any transpilers and depends upon Core V8 implemented features." I wasn't quite sure what was meant by that statement. Do you mean to say implement es6/7 features or API?

In general I don't care too much about the what jsvm my code is running in (v8, chakra, nashorn) but enterprises are slow at migrating or moving a

[2017-01-10 17:59] Atinux commented on #114
This was before we used webpack to build the library to finally I don't really know what specs of V8 Nuxt.js depends.

If you can try this weekend, I'd love to hear your feedback!

[2017-01-10 18:08] swarajd opened #115 "Error refreshing page after nuxt build"
I run `node v7.1` and `yarn 0.18.1` and I installed nuxt through the template running the following command:

`$ vue init nuxt/starter <project-name>`

and when inside I ran `yarn` to install the dependencies. However, when I do `yarn dev` and access the "about page" and refresh, I get an error that says the following:

`Vue.js error: Error: render function or template not defined in component: an

[2017-01-10 18:46] stursby commented on #16
@Atinux did you find a solution for [not exposing env vars](https://github.com/nuxt/nuxt.js/issues/16#issuecomment-262938465) in the client-side code? I'm also trying to use a headless CMS and don't want my API KEY leaked into the client code.

[2017-01-10 19:02] pehbehbeh opened #116 "Blogging Support"
Are there any plans to support blog posts out of the box?

Similar to what Jekyll does: https://jekyllrb.com/docs/posts/

Or is this out of this projects scope?

[2017-01-10 19:58] alexchopin commented on #116
Hi,

Actually it's on our plan to support blogging as soon as the version 1 will be released.

It'll be more a Nuxt template preconfigured for blogging with the same logic as Jekyll.

We think that could be a better solution to create a nuxt-blog template like nuxt-starter for example and keep the framework lightest as possible.

[2017-01-10 19:58] #116 closed

[2017-01-10 20:40] Atinux commented on #16
@stursby they are not leaked in the client-side, you can access them in your vue files but only from the server-side.

If you want to give them to the client-side, you have to manually define them in the ˋnuxt.config.js` file in the ˋenv` property.

[2017-01-10 20:54] stursby commented on #16
@Atinux Hmmmm, I was making API calls which required an API Key which I'm loading from a `.env` file. Then calling `require('dotenv').config()` in `nuxt.config.js`.

Sever-rendered pages work just fine... however when I try and navigate client-side to another page, that page fails (because it has no knowledge of `process.env`).

So then I tired using the `env` property in `nuxt.config.js` and ever

[2017-01-10 21:01] cschweda opened #117 "Meta tags duplicated"
I noticed that meta tags in a page component don't automatically overwrite (or, more specifically, replace) meta tags in the nuxt.config.js.

For example: ```nuxt.config.js```:

[code]

However, if I also have a ```description``` meta in my individual page:

[code]

I notice that two meta tags with description are generated. I assume this is by design. But is there a way to have a default descript

[2017-01-10 22:45] alexchopin commented on #117
Hi, thanks for the report.
Can you post some screenshot ?

[2017-01-10 23:18] swarajd commented on #115
I think it's because the default about file doesn't have a template. For some reason it was never there. This is the generated about page:

[code]

I also think it's because when I go about generating the project, it asks for four things:

1. name
2. description
3. author
4. raw

for raw I don't put anything, and that may be the reason, but I am not entirely sure.

[2017-01-10 23:30] Atinux commented on #117
Hi @cschweda

This is a "feature" of [vue-meta](https://github.com/declandewet/vue-meta), please take a look at the [documentation of head elements](https://nuxtjs.org/guide/html-head#defaults-meta).

So for the meta description, you should add the unique identifier `hid` so vue-meta will not that it has to erase the default tag.

Your `nuxt.config.js`:
[code]

An then in your individual page:
[co

[2017-01-10 23:30] #117 closed

[2017-01-10 23:44] Atinux commented on #115
Hi @swarajd

Thank you for spotting this issue, can you give me which version of `vue-cli` you're using `vue -V`?

I think this error is due to an update of the `vue-cli`.

[2017-01-10 23:50] cschweda commented on #117
That's great. Thank you!

[2017-01-10 23:56] swarajd commented on #115
I am using version 1.4.0. I think that's the issue as when I go to the repo for vue-cli it's version is indicated as 2.7.0

[2017-01-11 00:10] swarajd commented on #115
Yeah the vue-cli version was the issue once that was updated it ran perfectly!

[2017-01-11 00:10] #115 closed

[2017-01-11 00:14] swarajd commented on #115
I do think though that it would be wise to note that the latest version of vue-cli (i.e vue-cli >= 2) is required for the starter, as this issue is somewhat difficult to find without that knowledge.

[2017-01-11 08:01] barom opened #119 "How to keep routers name for father."
![image](https://cloud.githubusercontent.com/assets/13477381/21840209/3b651522-d817-11e6-93eb-5bee2107cd04.png)

[2017-01-11 08:02] Atinux commented on #115
Thank @swarajd it's updated on the [starter](https://github.com/nuxt/starter).

[2017-01-11 08:09] barom commented on #119
Like this
![image](https://cloud.githubusercontent.com/assets/13477381/21840417/6139b16c-d818-11e6-9e09-03b2c2128856.png)

[2017-01-11 08:36] Atinux commented on #119
I will take a look and come back to you @barom but it seems to be a bug.

[2017-01-11 08:41] barom commented on #119
Thank you very much ~

[2017-01-11 09:56] Atinux commented on #16
I see @stursby

But even if the API Key is not in plain text in your code, your API calls made from the client-side will have the API Key in the parameter.

Do you mind sharing the headless CMS you're using, it might help me to know more what you're trying to achieve.

[2017-01-11 10:59] husayt commented on #114
This is slightly off topic, buy I am using Nuxt to generate a static website which can work with our java webserver. So this is one area I think where Nuxt will be extremely valuable, to generate assets for websites running of tomcat or other java webserver.

[2017-01-11 11:58] alexchopin commented on #119
It's fixed, it will be working in the next release.

[2017-01-11 13:53] Atinux opened #120 "nuxt-api"
[code]
-> Can be written in ES6/7 (use babel-node)

[2017-01-11 14:37] couac opened #121 "typescript support"
I installed ts-loader into my nuxt.js app like so:
`npm install ts-loader typescript`

Then I tell vue-loader to use ts-loader for the script part:
`<script lang="ts">`

What I get is an error message:
`error TS18002: The 'files' list in config file 'tsconfig.json' is empty.`
or
`error TS18003: No inputs were found in config file 'tsconfig.json'. Specified 'include' paths were '["**/*"]' and 'excl

[2017-01-11 15:41] stursby commented on #16
@Atinux Yea, let me throw a demo together. The headless CMS I was testing out was [Elemeno](https://elemeno.io/). So basically if I hard-coded my API Key like so:

[code]

[2017-01-11 16:06] joshua1 opened #122 "Feathers.js"
Hi guys,
is it possible to integrate feathers.js with nuxt  as you just did with adonis.js , This gist (https://github.com/zeit/next.js/pull/673/files) shows the integration in next.js and this also (https://github.com/simplehub/henri) am hoping same can be done here , cos of the real time and REST  capabilities of feathers.js all in one go.
Thanks

[2017-01-11 16:11] Atinux commented on #122
Hi @joshua1, there is no link to the gist, can you edit your issue please?

[2017-01-11 16:13] joshua1 commented on #122
@Atinux i just added the links. Thanks

[2017-01-11 16:18] Atinux commented on #23
Thank you a lot @WinstonFassett  for sharing your experience with Nuxt and offline-plugin.

We will take a look with my brother when the 1.0 of nuxt.js will be out and our focus will be on the PWA, thanks to you guys we have already some direction to make nuxt create PWA 😃

[2017-01-11 19:25] Atinux commented on #122
Here you go @joshua1: https://github.com/nuxt/nuxt.js/tree/master/examples/with-feathers

I don't really know Feather.js and I based this example on the PR for next.js

If you want to create an equivalent of [henri](https://github.com/simplehub/henri) with nuxt.js based on this example, I'd be glad to see it 👍

[2017-01-11 19:25] #122 closed

[2017-01-11 19:37] joshua1 commented on #122
Nice , Thanks @Atinux . i will give it a go

[2017-01-11 22:36] husayt opened #123 "What is the best way to load json."
I have a json file with data to initialise my pages. I put it in `/static` folder e.g. `/static/data.json`. Then I use `axios.get()` to load it from `/data.json`. That works on the client, but fails on the server.

I have these questions, which I think will be very useful for wider audience as well:
1. What is wrong with the example below?
2. Is `/static` the best place to put data files?
3. is lo

[2017-01-11 23:32] SkaterDad commented on #123
Is this a file you will be changing often on the fly?

If this configuration can be baked into the builds, another option could be to import the JSON file in the components that need it, utilizing Webpack's JSON loader?  Or convert it to a JS module and export the values.

[2017-01-12 01:14] barom commented on #119
Thanks @Atinux @alexchopin . But how long will it take to have the next . because  I'm going to use this on the line line

[2017-01-12 09:15] Atinux commented on #119
It should be pretty soon, we have to fix other issues before.

In the meantime @barom, you can link to `/:projectname` with `<nuxt-link :to="'/'+projectname">{{ projectname }}</nuxt-link>`.

[2017-01-12 11:01] chuanxd opened #124 "How to add custom resolve.alias in nuxt.conig.js"
like as webpack config setting:

[code]

[2017-01-12 12:40] vadimsg commented on #34
@Atinux with 0.9.5 can't manage to trigger the event from nuxt.config.js, is this know bug?

[2017-01-12 16:12] qur2 opened #125 "`nuxt generate` does not exit with an error code"
Hi,

I ran into issue today because the site builder (a gitlab pipeline) did not fail despite the fact that webpack output some errors.
I'll have a look into it, but is seems like nuxt too optimistic at the moment.

Cheers,
Aurélien.

[2017-01-12 16:53] gary149 opened #126 "nuxt-link-active"
The index route stay active (and keep the class _nuxt-link-active_) even when another route is active.

![image](https://cloud.githubusercontent.com/assets/3841370/21899319/12f85ac0-d8f0-11e6-86c5-2dd23b01ed63.png)

![image](https://cloud.githubusercontent.com/assets/3841370/21899227/cdbc2ab8-d8ef-11e6-9f3e-3147f9710284.png)

[2017-01-12 18:02] Atinux commented on #124
Hi @chuanxd

You can do it with the `extend` method in the `build` property of your `nuxt.config.js` file:

[code]

You might want to check the `srcDir` option as well (see https://github.com/nuxt/nuxt.js/pull/44).

Then, you can use the `~` alias and do `~/utils` to link to your `utils/` folder.

[2017-01-12 18:02] #124 closed

[2017-01-12 18:46] Atinux commented on #123
Hi @husayt

To answer your questions:

## What is wrong with the example below?

When the http call is made from the server, axios has no idea that you're on http://localhost:3000, so it can't call the route `/data.json`. You have to give the full url.

It can be made by setting a `baseURL` variable in the `env` of your `nuxt.config.js`:

[code]

Then in you data method:

[code]

## Is /static the

[2017-01-12 18:46] #123 closed

[2017-01-12 19:26] Atinux commented on #126
Hi @gary149

This is an intended behaviour of `vue-router`. To fix this, add the `exact` attribute:

[code]

You can learn more of the attributes you can use for `<nuxt-link>` here: https://router.vuejs.org/en/api/router-link.html

[2017-01-12 19:26] #126 closed

[2017-01-12 19:30] Atinux commented on #125
Hi @qur2

I will take a deeper look into it.

[2017-01-12 19:31] Atinux commented on #121
Hi @couac

I will take a look, but I don't have so much experience with Typescript.

[2017-01-12 19:46] gary149 commented on #126
Thanks!

[2017-01-13 05:23] chuanxd commented on #124
@Atinux  thank you for your reply.

[2017-01-13 06:02] barom commented on #119
Thanks.
I'm trying to do this.
however , all of the sub routes jump to the father's component.
They are independent pages.
Do you know what I mean.

[2017-01-13 09:14] alexchopin commented on #119
@barom, what are you trying to do?
Can you post some code lines or screenshots, please?

[2017-01-13 09:42] barom commented on #119
![image](https://cloud.githubusercontent.com/assets/13477381/21925193/531c4acc-d9b7-11e6-8ade-d8159615341f.png)
This site is the father of the page Jump.

[2017-01-13 09:48] barom commented on #119
In fact, I don't want my route to be nested because they are separate pages

[2017-01-13 09:52] barom commented on #119
Hello, @alexchopin  are you there.

[2017-01-13 10:00] alexchopin commented on #119
Hi,
I'm not sure to understand your project structure but, if you don't want to use nested routes you should not create the parent _projectname.vue file.

[2017-01-13 10:03] barom commented on #119
I need this match.

[2017-01-13 10:05] alexchopin commented on #119
Can you go to [gitter](https://gitter.im/nuxt/nuxt.js) please it will be more easy.

[2017-01-13 10:08] barom commented on #119
I use nuxt . So can I Custom routing

[2017-01-13 10:26] alexchopin commented on #119
Here just a recap of the documentation.

To create a [custom/dynamic route](https://nuxtjs.org/guide/dynamic-routes):
- Create a .vue file OR a folder prefixed by an underscore with an index.vue. (example: _project.vue OR _project/index.vue)
- Nuxt will create a route /:project

To create a [nested route](https://nuxtjs.org/guide/nested-routes):
- Create a.vue file AND a folder with the same name.

[2017-01-13 10:41] Atinux commented on #119
@barom if you don't want to use children, your directory structure should be like this:

[code]

This will generate:
[code]

I will close this issue since it was not a bug but just another way to structure your directory.

[2017-01-13 10:41] #119 closed

[2017-01-13 12:29] cfharyadi commented on #73
@alexchopin when we have a new user, do we need to re generate the static files? or routeParams handling it dynamically?

Thanks

[2017-01-13 13:17] danieloprado opened #127 "Async data on components"
Loading data with axios only work in a page not in a component:
See this example: https://github.com/danieloprado/nuxt-async-data

![image](https://cloud.githubusercontent.com/assets/7683575/21931277/cbb3b5aa-d981-11e6-87fd-c86ca69fa54a.png)

[code]

[2017-01-13 13:19] alexchopin commented on #73
@cfharyadi yes, you need to generate again to have the new user in your static files. routeParams return the list of all user IDs, to allow nuxt generate to create a static file for each ID.

[2017-01-13 13:21] ammichael opened #128 "SyntaxError: Unexpected token import - Private npm module"
Hi guys!

First, this is my first report here, so I want to thank you guys. Awesome framework 👏  🎉

I've written a module and published in a private npm repository, and have imported it to my nuxt project, but now I'm receiving this error:

[code]

Funny thing: the module structure is '@cdb/nexus'. If i copy the nexus folder and paste in the node_modules, it works perfectly.

Any ideas? ☹️

Thanks

[2017-01-13 13:23] Atinux commented on #127
Hi @danieloprado

As I mentioned in https://github.com/nuxt/nuxt.js/issues/32#issuecomment-264509187, nuxt.js only supercharges the `data` method in the pages components.

I tried different ways to make the sub components asynchronous but sadly I did not find any way of doing it.

[2017-01-13 13:23] #127 closed

[2017-01-13 13:25] danieloprado commented on #128
es6 import is not implemented by node, you need change your code to use the require statement

[2017-01-13 13:25] danieloprado commented on #128
es6 import is not implemented by node, you need change your code to use the require statement, this is not a nuxt error

[2017-01-13 13:27] Atinux commented on #128
Hi @ammichael

As @danieloprado said, the import statement is not supported by node.js (yet).

Can you tell us where do you import your module in your nuxt.js project?

[2017-01-13 13:27] #128 closed

[2017-01-13 13:28] ammichael commented on #128
@danieloprado
I thought so, but why it works fine when changing the folder structure?!
Do you know why?

@Atinux

I'm importing in index.vue like this: import { doLogin } from '@cdb/nexus'

[2017-01-13 13:32] danieloprado commented on #32
@Xowap Can you provide an example how implement it?

[2017-01-13 13:34] Atinux commented on #128
@ammichael can you use Webpack to bundle your JS files to avoid any `import` statement?

This is really weird that it works when changing the folder structure.

[2017-01-13 13:36] danieloprado commented on #128
@ammichael no idea, sorry :confused:

[2017-01-13 13:37] ammichael commented on #128
@Atinux

Probably yeap. Didn't want to add complexity to the module right now, but I think that it is a good way. Thanks!

@danieloprado No problem (:

[2017-01-13 16:49] danieloprado opened #129 "nuxtServerInit and async data"
I'm trying to load the data from an api with axios through a store action, but the SSR don't wait the action finish.

There is any away to do it?

[code]

Thanks!

[2017-01-13 17:26] Atinux commented on #129
Can you verify that your ˋcore/load` action returns a Promise?

[2017-01-13 18:05] danieloprado commented on #129
You are right, axios does not return a "core" Promise. I think is a good idea add this information to the documentation.

[code]
Thank you! I really like this framework! :smile:

[2017-01-13 18:27] Atinux commented on #128
@ammichael you might want to use [backpack](https://github.com/palmerhq/backpack), it's a really elegant solution.

[2017-01-13 18:30] Atinux commented on #129
This is weird, what is the result of the console.log if it's not a Promise?

I want to find the solution :)

[2017-01-13 18:34] danieloprado commented on #129
https://github.com/nuxt/nuxt.js/blob/593e12f348344c3b6608228738ef48e79a62fe91/lib/app/server.js#L58

Instead of check with intanceof you can use Promise.resolve;

[code]
My code of the nuxtServerInit:
[code]

[2017-01-13 18:40] ammichael commented on #128
@Atinux Dude, this backpack would be perfect! Hahah
But I already set the whole webpack, and it's working fine already. Thanks! (:

[2017-01-13 18:55] Atinux commented on #129
Could you try this code @danieloprado:

[code]

[2017-01-13 20:32] Atinux commented on #34
Hi @vadimsg

It will be possible in the next release.

In the meantime, you can add the hooks in your `layouts/default.vue`.

[2017-01-13 21:47] cfharyadi commented on #73
Thanks @alexchopin, I see.. however can we have a dynamic content within the page itself? for example weather widget or basically any dynamic data from backend API.
Also what's the best way to hydrate the static file with initial state, so the page don't have to make ajax call after page load.
Thanks again!

[2017-01-13 22:39] Atinux commented on #73
@cfharyadi are you talking about `nuxt generate` or simply `nuxt`?

You might want to try it on your own to understand more how it works :)
https://nuxtjs.org/guide/

The point of nuxt.js is to render the page from the server-side and avoid any ajax call after the page load.

[2017-01-14 06:13] wushan opened #130 "render issue on mobile safari"
Hi,
Thanks for the awesome work, I was playing around nuxt.js, although its still lack of documents, its  still works nice.

I ran into this problem on iOS safari, not sure if it is a bug.

this is my layout default.vue
[code]

I tried on my OSX Sierra with chrome, firefox and safari, iphone 6 10.2 with Chrome, page renderer in the tag 'nuxt' without any problem. but when using the default safari

[2017-01-14 13:49] smb043 opened #131 "How to use JSX from vue plugin?"
Hello. I'm trying to use `vue-tables-2` plugin, it uses JSX in your own templates.

_packages.json_
[code]

_nuxt.config.js_
[code]

_plugins/vue-tables-2.js_
[code]

But I get the following error:
[code]

Please tell me what am I doing wrong?

[2017-01-14 15:47] koddr commented on #107
Very need Nuxt.js multi-languages feature on the box 👍

[2017-01-14 19:27] Atinux commented on #16
@stursby You need to use something like [http-proxy-middleware](https://github.com/chimurai/http-proxy-middleware) with setting the API KEY via [onProxyReq option](https://github.com/chimurai/http-proxy-middleware#http-proxy-events).

You will need to use nuxt.js programmatically, see https://nuxtjs.org/api/nuxt-render

See an example with express [here](https://github.com/nuxt/nuxt.js/blob/master

[2017-01-14 23:08] husayt opened #132 "roadmap?"
As this project is becoming more and amazing, it will be great to set/evolve the vision. I would suggest adding roadmap to see what we can expect for 1.0 and even beyond.

I have already seen references for

- Middleware (v1.0)
- PWA
- Apollo/GraphQL  integration
- Typescript support
- Websocket support
- java via Nashorn (separate project)
- auth modules for various auth providers inc oauth suppo

[2017-01-14 23:20] husayt commented on #132
I have just seen this https://github.com/nuxt/nuxt.js/projects
So pretty much roadmap.md can be like this:

## 0.9.6
* Store generation

## 0.9.7
* Internationalization
* Middleware
* Guard pages

## 0.9.8
* nuxt.api
* gzip support

## 1.0
?

## 1.5
??

## 2.0
??

[2017-01-15 08:03] davoudrafati commented on #99
there is no middleware yet, what's the play we need JWT auth

[2017-01-15 08:36] alexchopin commented on #132
Hi,
The roadmap is made here: [https://github.com/nuxt/nuxt.js/projects](https://github.com/nuxt/nuxt.js/projects).
I don't see why we should put the same things in a markdown file in addition?

[2017-01-15 08:36] #132 closed

[2017-01-15 11:03] husayt commented on #132
I actually found it only after making that post and that is great. But I
still think the page will be good. Because what you are referring to is
more a kanban board/backlog than roadmap.

Roadmap will contain a higher level features and also help to establish the
longer term vision. It could be next to release notes page and also have
the link to the kanban board you mentioned.

But again this is

[2017-01-15 13:19] pdxbmw opened #133 "export 'default' (imported as 'store') was not found in '~store/index.js'"
**Thank you for such a great tool!**

I'm trying to use `vuex` store with module files, but am running into the error (v0.9.5):

`export 'default' (imported as 'store') was not found in '~store/index.js'`

My directory structure looks like:

[code]

In my `store/index.js`, I'm trying to simply do:

[code]

And in `layout/default.vue`:

[code]

_NOTE: I've tried using `mapState` to get the computed

[2017-01-15 14:51] wushan commented on #130
finally figure out the problem but really wired.

`
form.controls(@submit.stop.prevent="startSearch", v-bind:class="{error: $v.number.$error}")
            input.phone-type(type="search", v-model.trim="number", v-bind:class="{active:number}", @input="$v.number.$touch()" @keyup="clearError")
            button(type="submit", @click="$v.$touch") 搜尋
            span ex:0978978078；市話：0228785487 - 不用自己

[2017-01-15 15:30] Atinux commented on #130
Hi @wushan

It's good that you find a way to fix it 👍

[2017-01-15 15:30] #130 closed

[2017-01-15 15:31] #129 closed

[2017-01-15 15:35] Atinux commented on #132
Hi @husayt

The kanban board from Github works really great for us, we will add the link in the README for people to see what's planned for nuxt.js.

Thank you very much for your enthusiasm and motivation for nuxt.js!

[2017-01-15 16:36] Atinux commented on #133
Hi @pdxbmw

The documentation was ahead of its time, this feature comes with the [0.9.6](https://github.com/nuxt/nuxt.js/releases/tag/v0.9.6) feature.

You can upgrade your version of nuxt, it should work like a charm now!

[2017-01-15 16:36] #133 closed

[2017-01-15 16:37] Atinux commented on #109
You can now upgrade nuxt to the [0.9.6](https://github.com/nuxt/nuxt.js/releases/tag/v0.9.6) and remove the quick fix from my previous answer @1shiharat 👍

[2017-01-15 16:37] #109 closed

[2017-01-15 16:38] Atinux commented on #80
It's now available in the [0.9.6](https://github.com/nuxt/nuxt.js/releases/tag/v0.9.6)!

[2017-01-15 16:38] #80 closed

[2017-01-15 16:42] Atinux commented on #93
@jaredreich you can upgrade to the [0.9.6](https://github.com/nuxt/nuxt.js/releases/tag/v0.9.6) it should work :)

[2017-01-15 16:42] #93 closed

[2017-01-15 19:17] pdxbmw commented on #133
0.9.6 works perfectly! Thanks.

[2017-01-15 19:27] husayt commented on #123
@Atinux thanks for very detailed reply. This will be very useful addition to FAQ page.

We covered the following data file reading patterns:
1) to ajax download resources from both server/client (with axios) via baseurl, based on environment
2) read local files on server side via `fs.readFile`
3) import with webpack

There might be even more patterns.

So all is cool with running it in dev mode. N

[2017-01-15 20:57] pi0 opened #134 "[Enhancement] Handle data() promise errors"
If any error occurs inside component's `data()` an ugly and unhanded SSR error occurs like this:

TypeError: Converting circular structure to JSON
![image](https://cloud.githubusercontent.com/assets/5158436/21966045/46aa420a-db81-11e6-82f9-7efb0335e394.png)

Also trying to handle errors in every single page seems so extra work and not possible always consider my dashboard's data :
[code]

**Sugges

[2017-01-15 21:02] dan-gamble opened #135 "How to access query parameters"
Things like `/objects?page=2`.

When doing:

[code]

I'm not sure how to access the `this.$route.query.page`.

`this` is `undefined` and `params` doesn't hold any query data, just the `id` i believe.

[2017-01-15 21:13] alexchopin commented on #135
You can access with the key `query` which is an alias of this.$route.query.
More info on the documentation : [https://nuxtjs.org/api/pages-context](https://nuxtjs.org/api/pages-context)

[2017-01-15 21:13] #135 closed

[2017-01-15 21:15] dan-gamble commented on #135
Thanks, i should've checked the API part instead of just the guide :)

[2017-01-15 21:17] alexchopin commented on #135
No worries, the documentation is still messy now. :)

[2017-01-16 03:38] uptownhr commented on #134
Adding on to this but I'm also seeing a vuejs warning, "[Vue warn]: data functions should return an object:
https://vuejs.org/v2/guide/components.html#data-Must-Be-a-Function
(found in anonymous component at /Users/uptown/Projects/Personal/dev-journal/app/pages/index.vue)", when using async data function.

This only occurs on hot reload - during development, and is not a problem on initial load.

[2017-01-16 05:12] pi0 commented on #134
@uptownhr About warning that's true, see my solution (you have to return an object even if redirecting inside data) . That circuar thing is even happening on SSR mode on production anyway.

[2017-01-16 05:14] uptownhr commented on #134
@pi0 this is how my data section looks like

[code]
i am always returning an object ...

[2017-01-16 05:21] pi0 commented on #134
@uptownhr Things are good unless localhost:3000 get's unavailable or just current user rejects by /test (for example access denied)! The way async/await works it throws exception and data may return null :))

[2017-01-16 07:17] uptownhr opened #136 "vuex configuration - strict mode"
Just reporting that there doesn't seem to be a way to enable strict mode. Is there an entry point to modify vuex configurations?

[2017-01-16 08:07] chuanxd opened #137 "Module not found: Error: Can't resolve 'vertx' in v0.9.6"
I am upgrade `nuxt.js` version v0.9.5 to v0.9.6 then execute `nuxt`

node: v7.4.0

[code]

[2017-01-16 08:57] vadimsg commented on #34
FYI:

``
  transition: {
    beforeEnter () {
       // beforeEnter hook
    }
  }
``
This makes build fail "Module build failed: SyntaxError: Unexpected token, expected , (42:55)"

``
  transition: {
    beforeEnter: function () {
       console.log('beforeEnter');
    }
  }
``
And this works. Need to upgrade global webpack v? Or it's nuxt bug?

[2017-01-16 09:19] Atinux commented on #34
@vadimsg it's a known issue of `serialize-javascript` that we use for shorthand method definition: https://github.com/yahoo/serialize-javascript/issues/24

For the hooks definitions in `nuxt.config.js`, you have to use the ES2015 syntax:
[code]

[2017-01-16 09:47] husayt commented on #134
This circular error exception is indeed very difficult to debug. Last week
I spent a day to fix one. Extra information would be very useful.

Nuxt is great and easy to start with ,  until you hit a problem. Is there a
debug mode we can enable perhaps?

Thanks

On 16 Jan 2017 05:21, "Pooya Parsa" <notifications@github.com> wrote:

@uptownhr <https://github.com/uptownhr> Things are good unless
local

[2017-01-16 09:48] Atinux commented on #137
Hi @chuanxd

Can you do a fresh install:
[code]

I can't reproduce your error.

[2017-01-16 09:48] #137 closed

[2017-01-16 09:53] Atinux commented on #136
Hi @uptownhr

You need to use the [normal way](https://nuxtjs.org/guide/vuex-store#activate-the-store) of using the `vuex` store with Nuxt.js.

Take a look at this example: https://github.com/nuxt/nuxt.js/blob/master/examples/vuex-store/store/index.js#L6

You can add the `strict` option between the line 6 and 7.

[2017-01-16 09:53] #136 closed

[2017-01-16 10:57] ruslankonev opened #138 "Nuxt SSR — TypeError: Cannot redefine property: $Storage"
Hi! Thanks for framework!
But I have some bug in dev mode with my custom plugin named "Storage".
This plugin connect to Vue in file located in `plugins` folder and create in Vue instance thier namespace — *Vue.$Storage* & *this.$Storage*
After twice code & page update/refresh, I have this stack-trace — vue ssr module can't redefine $Storage:

[code]

![image](https://cloud.githubusercontent.com/as

[2017-01-16 11:04] Atinux commented on #138
Hi @ruslankonev

Can you show us what's inside your file in the `plugins` folder?

[2017-01-16 11:05] abellion opened #139 "[DOC] Server Requirements"
What software / versions nuxt needs to run well ?

It doesn't work with node:7.1 for example.

[2017-01-16 11:07] Atinux commented on #134
I'll take a look at it, I know that sometimes the errors from the server-side can be hard to debug.

It's mostly because of the SSR provided by Vue.js itself, we are looking with the Vue team to improve the stack trace in the future.

It's planned to improve the experience of the `data` method to avoid returning a data when using `redirect` or `error` methods. Also, I'll add the feature to transfo

[2017-01-16 11:10] Atinux commented on #139
Hi @abellion

Nuxt works with **all active version of node.js** (>= 4).

[2017-01-16 11:10] #139 closed

[2017-01-16 11:11] Atinux commented on #139
To confirm, I just tested it with node `v7.1.0` and npm `v3.10.9` and it works perfectly.

[2017-01-16 11:15] Atinux commented on #123
@husayt

The data embedded in `window.__NUXT__` is required to hydrate the application before mounting it, this cannot be loaded from an external file.

For your error you're experiencing, can you provide me some code samples so I can reproduce this behaviour on my setup?

[2017-01-16 12:47] jaredreich opened #140 "How to use vue-router's scroll behavior?"
Can't seem to find a way to use vue-router's scroll behavior functionality with nuxt.js, and tips?

Scroll behavior docs: https://router.vuejs.org/en/advanced/scroll-behavior.html

[2017-01-16 13:24] ruslankonev commented on #138
`store.js`

[code]

`store-container.js`

[code]

[2017-01-16 13:35] Atinux commented on #140
Hi @jaredreich

This possibility will be added in the next release via the `router.scrollBehavior` option in the `nuxt.config.js` file.

[2017-01-16 13:54] Atinux commented on #138
On the server-side, Vue is imported only once, so for each request, it will import your plugin and set `Vue.$Storage`, but Vue.js has a protection and throw an error when you're trying to overwrite an existing key.

What you can do is check if the key does not exist before setting it in your `store.js`:

[code]

Also, I see that you use the localstorage for your plugin, since the localstorage does

[2017-01-16 13:54] #138 closed

[2017-01-16 17:58] koddr opened #141 "How to include Yandex.Metrika counter code on Nuxt.js app?"
Hello and thx for awesome framework!

I try to include Yandex.Metrika (and Google Analytics) counter code to my Nuxt.js app. This is full code:

[code]

I  place this code into `./components/Footer.vue` (from Nuxt.js starter kit) to `<template>...</template>` container and do this `npm run buld && npm run generate`. Console show me error:
[code]

How to fix it?

[2017-01-16 22:28] Mirodil commented on #61
Is it possible load data to nuxt.js without create additional http request from server-side, and send rendered html page to client?

[2017-01-16 22:58] Mirodil opened #142 "how call server related methods/functions in nuxtServerInit"
Is it possible to do something like this?
[code]

[2017-01-17 00:18] ryancole opened #143 "Very bad flash of unstyled content when trying the starter template"
I'm checking out nuxt.js for the first time. I just used the vue-cli to install the starter project. I run the project and notice that with every refresh the page has a pretty bad flash of unstyled content. Everything starts off left-aligned and then finally snaps into proper place.

Is this an issue with the starter template or something deeper with nuxt.js?

![node](https://cloud.githubuserconte

[2017-01-17 00:22] SkaterDad commented on #143
That happens in development mode because Webpack is injecting the styles with Javascript.  This allows Webpack to update your styles as you code.

The production builds don't have that flash of unstyled content because CSS gets extracted to its own file and is imported directly from the served HTML.

[2017-01-17 00:23] ryancole commented on #143
Oh I gotcha. I guess with all of the hot reloading, the idea is that you don't need to refresh frequently anyways.

[2017-01-17 00:23] #143 closed

[2017-01-17 01:52] chuanxd commented on #137
yes, it is resolved.
I apologize for taking up your valuable time.

[2017-01-17 08:38] alexchopin commented on #141
Hi,
I don't know how to use Yandex.Metrika but it seems like Google Analytics.
For google analytics, you can see how we add it on the nuxtjs.org website on this links:
[plugin file](https://github.com/nuxt/nuxtjs.org/blob/master/plugins/ga.js) and [config](https://github.com/nuxt/nuxtjs.org/blob/master/nuxt.config.js#L27).

[2017-01-17 08:38] #141 closed

[2017-01-17 09:04] Atinux commented on #142
Hi @Mirodil

Yes it's totally possible to do that in the `nuxtServerInit` method 👍

[2017-01-17 09:04] #142 closed

[2017-01-17 10:22] Atinux commented on #61
@Mirodil please take a look at this answer I wrote: https://github.com/nuxt/nuxt.js/issues/123#issuecomment-272246782

[2017-01-17 12:29] husayt commented on #142
One more question on NuxtServerInit.
When is it called?
On every server side request before fetch and data?

Actually timeline of events (life cycle of the page)  would be very
interesting to find out mire about.

On 17 Jan 2017 09:04, "Sébastien Chopin" <notifications@github.com> wrote:

[2017-01-17 13:19] koddr commented on #141
Thx for help. It's works!

[2017-01-17 13:39] Mirodil commented on #61
Thanks, from client side it works and looks perfect, but server side part bit odd.

[2017-01-17 13:46] Mirodil commented on #142
This throws errors to console.
[code]
The idea of this framework very good, I like it. But I did not get, Why nuxt.js exposing `nuxtServerInit` to client side?

[2017-01-17 20:26] koddr opened #144 "ReferenceError: document is not defined after load route from client browser"
Hello.

I try to update/reload function (after click and land on page trough `<nuxt-link>`), who make pretty background image (I'm using my own npm package: https://www.npmjs.com/package/goodbackground.js) for container with `data-background-image` attribute.

On my `nuxt.config.js`:

[code]

I use `beforeCreate` instance into this `index.vue` file:

[code]

But Nuxt.js show me red error page with

[2017-01-17 23:11] demyan1411 opened #145 "nuxt generate paths"
Hello.

Now nuxt generate paths from root  src="/_nuxt/vendor.bundle.js".
Can nuxt create relative paths?

[2017-01-18 07:39] alexchopin commented on #145
Hi,
This path is generated by Webpack, if you want to use relative path please have a look on the [static directory documentation](https://nuxtjs.org/guide/static).

[2017-01-18 07:39] #145 closed

[2017-01-18 08:10] alexchopin commented on #144
Hi,
It's because document is not defined on the server-side.
Please have a look on those links:
[Plugins only for browsers](https://nuxtjs.org/guide/plugins#only-for-browsers)
['Window is not defined' where do I put client-side only scripts?](https://github.com/nuxt/nuxt.js/issues/30)
[window is not defined with element-ui](https://github.com/nuxt/nuxt.js/issues/21)

[2017-01-18 08:10] #144 closed

[2017-01-18 13:05] miecio1212 opened #146 "localhost https"
Hey how can i run localhost on https.
I'm going to make pwa using yours framework and I'd like to test it localy :).

[2017-01-18 15:39] Atinux commented on #146
Hi @miecio1212

You can use nuxt.js programmatically to create an https server:

[code]

Then, in your `package.json`:
[code]

[2017-01-18 15:39] #146 closed

[2017-01-18 17:42] koddr commented on #144
Still not working. Help not wanted.

I create file `./plugins/gb_plugin.js`:

[code]
nuxt.config.js

[code]
And get message `ReferenceError: document is not defined ...` again..
Any help?

[2017-01-19 00:29] Phunky opened #148 "How can I define stylus options?"
I import various helpers (mixins, vars, functions) into my component automatically to ensure they're always available to me and my team.

Currently I do this by setting the stylus import option within the webpack config as shown below;

`stylus: {
      import: ['~stylus/common.styl']
    }`

I've not been able to figure out how to do this with nuxt, but i'll admit i've not looked deeply into the

[2017-01-19 08:54] miecio1212 commented on #146
Hey :D @Atinux Thank you for fast replay.
I'll try it asap and give you feedback.
Btw maybe you could just add flag to nuxt.
'nuxt --https' ? :)

[2017-01-19 09:38] Atinux commented on #146
I can't add this option to nuxt since it require more configuration.

I think it's better if the user create its own https server and use nuxt as a middleware.

[2017-01-19 09:51] Atinux commented on #148
Hi @Phunky

You can extend the webpack configuration via the `extend` option in your `nuxt.config.js`:

[code]

But where do you want to write your `stylus: { import: ['~stylus/common.styl'] }` in the webpack configuration?

[2017-01-19 10:02] Phunky commented on #148
Thank you for the pointer, I didn't stumble on to anything regarding extending webpack config - guess I need to RTFM better.

As for where I write my import, it's within `build/webpack.base.conf.js` so i'm assuming I'll want this;

`module.exports = {
  build: {
     extend (config, { isDev, isClient }) {
       config.stylus = {
              import: ['~stylus/common.styl']
       }
     }
  }
}`

[2017-01-19 11:16] hendrysadrak opened #149 "[Question] How to configure port where nuxt.js is running?"
How to configure port where nuxt.js is running in production mode?

[2017-01-19 11:21] miecio1212 commented on #146
Thank you it works great 👍  :>

[2017-01-19 11:40] alexchopin commented on #149
Hi, you can configure the PORT with 2 different ways:
- Via a env variables
[code]
- Via a nuxt config in the `package.json`:
[code]

[2017-01-19 11:40] #149 closed

[2017-01-19 12:18] hendrysadrak commented on #149
Super! Thank you @alexchopin

[2017-01-19 12:53] Atinux commented on #148
No worries @phunky, the documentation is not finished yet!

[2017-01-19 12:53] #148 closed

[2017-01-19 13:56] Phunky commented on #148
Oh sadly what I posted above doesn't work, i'm seeing the following;

`WebpackOptionsValidationError: Invalid configuration object. Webpack has been initialised using a configuration object that does not match the API schema.`

I'm guessing it's to do with the changes in Webpack 2.2.0

[2017-01-19 15:10] dohomi opened #150 "Deployment to now fails"
Hello,

I'm not sure if the issue belongs here to this side, but since the latest updates `Nuxt` is not deploying with `Now` any longer. This are my configurations:
[code]

[code]
The error I receive while building:

[code]

Does anybody experience similar issue?

[2017-01-19 15:37] dohomi commented on #150
Somehow yarn was interferring, I removed yarn.lock and it worked as expected.. Sorry for the noise..

[2017-01-19 15:37] #150 closed

[2017-01-20 04:57] lyquocnam opened #151 "Error when use vuejs with vuefire, firebase: The client-side rendered virtual DOM tree is not matching server-rendered content"
hi everyone, when use firebase with vuefire normally, it will show error:
![image](https://cloud.githubusercontent.com/assets/8347826/22136498/82a42eea-df07-11e6-8798-d79c884a1e54.png)
index.vue:
[code]

[2017-01-20 08:42] ckken opened #152 "fetch ({ store, params }) or async fetch ({ store, params }) store.commit is not a function"
[code]

[2017-01-20 08:47] ckken opened #153 "nuxtServerInit is no work for me!"
[code]

[2017-01-20 09:07] lyquocnam commented on #153
`Vue.use(Vuex);` ?

[2017-01-20 09:17] alexchopin commented on #153
[code]
[Documentation](https://nuxtjs.org/guide/vuex-store)

[2017-01-20 09:17] #153 closed

[2017-01-20 09:22] alexchopin commented on #152
Please, read the [documentation](https://nuxtjs.org/api/pages-fetch) before posting an issue especially [Contribution Guide](https://nuxtjs.org/guide/contribution-guide).

[2017-01-20 09:32] #152 closed

[2017-01-20 13:29] Atinux commented on #151
Actually Vuefire is not compatible with Nuxt.js, you have to use the firebase API directly, see https://github.com/vuejs/vue-hackernews-2.0

[2017-01-20 13:29] #151 closed

[2017-01-20 17:11] Atinux commented on #134
The `Converting circular structure to JSON` will disappear in the next release to display instead the message thrown by the rejected promise.

[2017-01-20 17:48] rwatts3 commented on #120
Hi @Atinux , What is the goal of the nuxt api ?
Will this be a way to get information out of Nuxt ? or a way to use data within nuxt ?

[2017-01-20 17:49] rwatts3 commented on #120
Actually from the looks of it, it appears this may be some way to write an application, then install it to a nuxt instance by following this pattern. Am I correct ?

[2017-01-20 18:00] Atinux commented on #125
It will be fixed in the upcoming release, it will exit with the status code 1 if the webpack build fails.

[2017-01-20 18:05] Atinux commented on #120
@rwatts3 this will be a way to add an API (express) directly into the nuxt application, this is still a proposal.

[2017-01-20 18:07] rwatts3 commented on #120
Nice.  This would actually help with the cms idea.

On Fri, Jan 20, 2017, 11:05 AM Sébastien Chopin <notifications@github.com>
wrote:

[2017-01-20 19:15] rwatts3 commented on #120
Would creating a graphql server within nuxt have to wait on this implementation, or is it possible to do currently ?

[2017-01-21 00:24] husayt commented on #123
Hi @Atinux, thanks for detailed reply.

As for disappearing data here is the screen

![sozler](https://cloud.githubusercontent.com/assets/1169324/22169855/70c8b3a4-df6f-11e6-8b71-e0cb9370f9f8.gif)

Here is the code:
[code]

[2017-01-21 03:01] dohomi opened #155 "add graphql file detection to webpack config"
It would be great if you could extend *.graphql file detection for the webpack configuration like described here: http://dev.apollodata.com/react/webpack.html

This would need to get included:
[code]

Thanks!

[2017-01-21 13:02] Atinux commented on #120
You can already, you need to use Nuxt.jd programmatically with your own http server and plug it as a middleware.

[2017-01-22 02:01] nathanaelphilip opened #156 "Handle SVG files"
Hi!

Will you be adding support for SVG files via something like https://github.com/visualfanatic/vue-svg-loader ?

I tried installing it and adding the loader in `nuxt.config.js`:

[code]

[2017-01-22 13:25] aprilandjan commented on #156
I archive this with [`svg-sprite-loader`](https://github.com/kisenka/svg-sprite-loader) and some nuxt configs.
1. Create a folder at `assets/svg` and put all your svg files in it.
2. Create custom webpack loader rules in `nuxt.config.js` to handle svg files:

[code]
3. Create a plugin js file that handle svg files. The `svg-sprite-loader` will then catch all the imported svg files and insert them

[2017-01-22 13:42] nathanaelphilip commented on #156
Hi @aprilandjan :)

Thanks for responding. If I can’t get the `vue-svg-loader` to work, i’ll definitely give this a try!

[2017-01-23 08:46] Chathula commented on #131
try adding this to webpack config(nuxt config)

[code]

[2017-01-23 09:32] smb043 commented on #131
Thanks @Chathula, but the problem persists...

[2017-01-23 10:38] Atinux commented on #155
You can include it via the `nuxt.config.js` file:

[code]

[2017-01-23 10:38] #155 closed

[2017-01-23 15:47] dohomi commented on #155
works perfectly!

[2017-01-23 16:28] sainf opened #158 "Dynamic nested routes with parent url."
Hi.

I'm trying to use a dynamic nested router:
![image](https://cloud.githubusercontent.com/assets/1210947/22212259/dfb24b9e-e187-11e6-9ac1-b1f36d6f3fea.png)

![image](https://cloud.githubusercontent.com/assets/1210947/22212240/cecb8304-e187-11e6-83b0-13529f9996de.png)

But the link loads the parent _cat.vue and not the _slug.vue

But using without the parent url (/cadeiras) it works fine
![image

[2017-01-23 16:37] alexchopin commented on #158
Hi,
Have you include the `<nuxt-child/>`component inside your _cat.vue file?

[2017-01-23 17:04] pbastowski commented on #120
Great feature. I'd love to be able to create REST APIs as easily as pages. +1

[2017-01-23 17:10] rwatts3 commented on #120
Certainly this would be great

On Mon, Jan 23, 2017, 10:04 AM pbastowski <notifications@github.com> wrote:

[2017-01-23 19:01] ammichael opened #159 "Nuxt Generate - Failed to load resource: The requested URL was not found on this server."
Hi there!

I just tried to generate a dist version and when I open the index.html, my console is logging this:

[code]

I can confirm that the folder _nuxt and the files that failed to load are there. Here is the nuxt generate log:

[code]
Also, I've noticed the warning about the size, and I'm not sure why it is so big. My project just have 3 pages, and doesn't have that much dependencies, despite

[2017-01-23 23:08] sainf commented on #158
Puting `<nuxt-child/>` in _cat.vue it only render the child in the _cat.vue.
I renamed the folder and now I have the intended effect.
\(static)\dynamic\dynamic

![image](https://cloud.githubusercontent.com/assets/1210947/22226852/1d2e3ce8-e1c0-11e6-9762-8adda8333ecb.png)

But I only have the last param in the route object.

[2017-01-24 08:27] alexchopin commented on #158
I need more explanation about what do you expect to help you:
- Routes expected
- Which file is parent or child

[2017-01-24 10:19] alexchopin commented on #159
Hi,
The warning come from [webpack-bundle-analyzer](https://github.com/th0r/webpack-bundle-analyzer) which help you to analyze and optimize your bundle.
For the generate issue, it should come from your nova.vue file.
Can you post more about this file?
Thanks

[2017-01-24 11:14] ammichael commented on #159
Hi Alex,

From nova.vue? Weird. It's a simple code:

[code]

If you are saying that because of the logs 'created' and 'undefined', it's coming from index.vue, and it is just a simple console.log:

[code]

I just removed it and ran generate again, didn't help.

What am I missing? ☹️

[2017-01-24 11:15] dohomi opened #161 "request for built in analytics"
Hello,
I'd like to know how you guys think about built-in analytics like `GA` or similar. Do you recommend using `VueAnalytics` or is there a plan to add it to the roadmap?
Cheers

[2017-01-24 11:22] alexchopin commented on #161
Hi,
For using Google Analytics in Nuxt.js we use it as a plugin.
You can see how we use it [on our documentation](https://nuxtjs.org/faq/google-analytics).

[2017-01-24 11:22] #161 closed

[2017-01-24 11:22] sainf commented on #158
Hi.

Never mind, it works as expected, sorry to disturb.

Thanks for this great framework.

[2017-01-24 11:22] #158 closed

[2017-01-24 12:03] Atinux commented on #159
Hi @ammichael

You need to use something like [serve](https://github.com/zeit/serve) to see your generated app locally:

[code]

For the warning, it's non-gzipped so you don't have to worry about the size.

[2017-01-24 12:03] #159 closed

[2017-01-24 12:31] ammichael commented on #159
Hey @Atinux. Thanks for helping again (:

It works indeed! Thanks.

But now I've not another problem because of this serve; I'm using Nuxt along with Cordova.  I've successfully inserted Cordova into the project, and generated an iOS app based on it, but I've used the dist version to generate the webview, and it has the same problem of not importing the _nuxt folder files.

Is there a way to gener

[2017-01-24 13:58] CoconutTheSlayer opened #162 "Sweetalert2"
Hello, how can I add sweetalert2 to nuxt.js application. I placed it in the build.vendor array, imported it in the page and it says

ReferenceError: document is not defined at node_modules/sweetalert2/dist/sweetalert2.js:76:40

[2017-01-24 14:02] CoconutTheSlayer commented on #162
ok using - if (process.BROWSER_BUILD) and then requiring sweetalert works:-)

[2017-01-24 14:02] #162 closed

[2017-01-24 16:30] Phunky commented on #148
Still struggling with this, i've looked at option plugins and other various parts of webpack but had no luck at all :(

Only way i've got it working so far is to dive in to style-loader in node_modules and add it to the import array directly, this obviously isn't a good idea :D

[2017-01-24 17:29] Atinux commented on #148
@Phunky can you tell me what file do you update manually for making it work exactly?

[2017-01-24 17:55] Phunky commented on #148
https://github.com/shama/stylus-loader/blob/master/index.js#L33

I just add my imports directly into the loader.

[2017-01-24 19:32] Atinux commented on #148
Can you try with the `webpack.LoaderOptionsPlugin` or `stylusLoader.OptionsPlugin` (see [there](https://github.com/shama/stylus-loader#webpack-2)).

You can add them in the `nuxt.config.js` in the `build.plugins` section:

[code]

[2017-01-24 19:50] Phunky commented on #148
I've already tried that and although the build works it doesn't seem to be passing the options.

config.plugins ends up looking like

`[ OptionsPlugin {
    plugin:
     LoaderOptionsPlugin {
       options:
        { stylus: { default: { import: [ '~assets/stylus/common.styl' ] } },
          test: /\.styl$/ } } },
  DefinePlugin {
    definitions:
     { 'process.env.NODE_ENV': '"development"',

[2017-01-25 09:59] jubairsaidi opened #163 "Odd behavior when working in npm run dev"
First let me say, Nuxt is awesome!  I'm looking forward to the 1.0 release!

Ok so when working on m templates, eventually I get the below (screenshot) effect on my pages.  The only way to fix it it seems is to go into my layout and delete the contents of the `<head>` block, save and reload the page manually, then add it back in.  After that all goes back to normal, but not for long before it cree

[2017-01-25 10:39] alexchopin commented on #163
Hi, thanks for your support.
I think there is a misunderstanding about how you should use layouts.
You don't need to write again `<html>`, `<head>` and `<body>`.
Nuxt.js write it by itself, if you want to customize there content you can use configuration properties: [External resources](https://nuxtjs.org/faq)
Your template should be:
[code]

[2017-01-25 12:00] dohomi opened #164 "add expired headers to CSS and JS files"
Hi,

how is it possible to add expired headers to CSS and JS files? Maybe a section inside of FAQ would be great for users of NUXT

Cheers

[2017-01-25 14:14] jubairsaidi commented on #163
Looks like that did it, thanks!

[2017-01-25 14:14] #163 closed

[2017-01-25 15:43] CoconutTheSlayer opened #165 "Invalid component name: "_id"."
Hello i have a file structure -> pages/flat/_id.vue and it gets the id parameter everything works but i'm getting this warning message.

[Vue warn]: Invalid component name: "_id". Component names can only contain alphanumeric characters and the hyphen, and must start with a letter.

[2017-01-25 16:24] alexchopin commented on #165
Hi, do you include you component in another one ?

[2017-01-25 16:27] ruslankonev commented on #165
The same error. Maybe after vue was update?

[2017-01-25 16:59] mattdharmon opened #167 "Question: What about URL query params?"
Is this already implemented, if so, how do I get them into the fetch operation? Would be useful for pagination/filtering data for when somebody bookmarks and shares a page.

[2017-01-25 17:05] alexchopin commented on #167
You can access through the context with properties `params` and `query`.
[Documentation](https://nuxtjs.org/api/pages-fetch)

[2017-01-25 17:05] #167 closed

[2017-01-25 17:15] mattdharmon commented on #167
Thanks, the documentation mentions nothing about the query param as part of the context, the context page in the documentation routes to a 404.

[2017-01-25 17:16] CoconutTheSlayer commented on #165
Actually updating to new nuxtjs version broke the whole thing:-) i was defining custom routes as

{ name: 'financing', path: '/financing', component: 'pages/financing/financing.vue' }

it somehow felt more natural to me than forcing the directory structure. Am I right that now I have to reorganize the whole code structure?

[2017-01-25 17:32] alexchopin commented on #165
Yes, you are right.

[2017-01-25 17:32] #165 closed

[2017-01-25 17:34] CoconutTheSlayer commented on #165
just to clarify things as I'm developing not exactly a small project, will things break in the future?

[2017-01-25 17:57] alexchopin commented on #165
No breaking changes planned for the future, at least until the final 1.0 release.

[2017-01-25 22:11] stursby commented on #16
@Atinux any chance you could put together a demo w/ `http-proxy-middleware`? I'm struggling getting it all working together. I've tried [setting dynamic `env` property](https://github.com/nuxt/nuxt.js/issues/16#issuecomment-262938079) in `nuxt.config.js`, but still run into server error when navigating between pages on the client side (full rage refresh / server-side rendering works just fine). I'

[2017-01-26 03:12] dohomi commented on #76
Are you guys sure that this is supposed to work like this? I tried this inside of my `plugins/vue-material.js` file:
[code]
And enabled the plugin inside of nuxt.config.js. But I still receive the error message `ReferenceError: window is not defined`. Anything I missed?

[2017-01-26 13:10] allanroger opened #168 "Nuxt + Cordova"
Hello,

Since this is my first issue, I feel like I need to thank you guys for this awesome project.
Thanks!

I'm trying to build a multiplatform project, and Nuxt is my chosen one framework. The only problem I've encountered is when wrapping the static generated content in a webview; it kinda works, but it fails to load some files.

Seems to be related with #159, which was closed using serve as a

[2017-01-26 13:57] alexchopin commented on #168
Hi, it seems that Cordova doesn't serve file prefixed by an underscore.
Nuxt.js create an `_nuxt` directory for all assets, we will probably add a property into nuxt.config.js to set this name in the next release.

[2017-01-26 16:15] allanroger commented on #168
So if I manually rename the folder and all references to it without the underscore, it would work right? If I'm not misunderstanding it.

I went ahead and did exactly this, and still didn't work.

[2017-01-26 18:22] Atinux commented on #165
Hi @CoconutTheSlayer

I took a look at it, and it's because of the hot-reload module, nothing to worry about, it's only in development mode.

If you want to remove this warning, just add a `name` property to your page component and it'll be fixed :)

[2017-01-27 02:19] egoist commented on #131
I think vue-tables-2 should precompile itself after all 🤔

[2017-01-27 03:03] lmj0011 commented on #30
https://github.com/nuxt/nuxt.js/issues/30#issuecomment-264348589

Yes, this is exactly due to the server-side rendering.
If you need to specify that you want to import a ressource only on the client-side inside, you need to you process.BROWSER_BUILD variable.[...]

why is this still not in the docs? I followed what was there and was still having issue importing a vue component. this solution clear

[2017-01-27 04:53] lmj0011 commented on #76
Same problem for this vue lib: https://github.com/Wanderxx/vue-fullcalendar

[2017-01-27 06:05] dohomi commented on #76
I solved it inside of my `*.vue` file:
[code]
import Vue from 'vue';
// import VueMaterial from 'vue-material';

if (process.BROWSER_BUILD) {
    window.onNuxtReady(() => {
        const VueMaterial = require('vue-material');

        // Vue.use(VueMaterial);
        Vue.use(VueMaterial.MdCore);
        Vue.use(VueMaterial.MdButton);
        Vue.use(VueMaterial.MdIcon);
        Vue.use(VueMaterial

[2017-01-27 06:29] Atinux commented on #131
Indeed, this is mostly an issue of vue-tables-2. Could you create an issue on their repo @smb043?

[2017-01-27 06:33] smb043 commented on #131
Yes, I will create. Thank you.

[2017-01-27 07:19] smb043 commented on #131
https://github.com/matfish2/vue-tables-2/issues/68

[2017-01-27 07:20] #131 closed

[2017-01-27 07:52] alexchopin commented on #30
[Documentation](https://nuxtjs.org/faq/window-document-undefined)

[2017-01-27 14:04] gbezyuk opened #169 "global fetch"
see https://github.com/nuxt/docs/issues/25

[2017-01-27 15:06] alexchopin commented on #169
I think the `nuxtServerInit()` function is the global fetch you are talking about.
[Documentation](https://nuxtjs.org/guide/vuex-store#the-nuxtserverinit-action)

[2017-01-27 15:06] #169 closed

[2017-01-27 15:10] alexchopin commented on #168
Not really, there is more modifications to make it work.
Btw, Nuxt is not built to develop mobile app and we don't really plan to develop on this way because some other good framework with already exist for that like [Weex](https://weex-project.io/) and [Quasar Framework](http://quasar-framework.org/)

[2017-01-27 15:15] alexchopin commented on #164
Hi,
You add expired headers with `.htaccess` file in your `static` directory.
[Source](http://stackoverflow.com/questions/13972629/add-expires-headers)

[2017-01-27 15:15] #164 closed

[2017-01-27 15:17] #156 closed

[2017-01-27 16:51] gbezyuk commented on #169
@alexchopin do you mean I need to specify a specific action for each store?

[2017-01-27 16:56] alexchopin commented on #169
Why for each store?
Sorry but I'm not sure to understand, can you explain more about what you are trying to do?

[2017-01-27 16:59] gbezyuk commented on #169
I've got some modular stores. Let's say, I have `contacts` store with contact information and `fetch_contacts` action specified, and `vehicles` store with two actions, `fetch_vehicle_types` and `fetch_brands`. Should I add `nuxtServerInit` to each of this stores, calling single action in the first one and chaining two actions in the second one?

[2017-01-27 17:07] alexchopin commented on #169
If you use one Vuex Store with modules (contacts and vehicles), you can call once `nuxtServerInit` which will call actions for each modules (like fetch_contacts, fetch_vehicle_types, etc)

[2017-01-27 17:11] Atinux commented on #169
Hi @gbezyuk

ˋnuxtServerInit` is called only in the global module (index), you have to chain your module actions in nuxtServerInit

[2017-01-27 17:20] allanroger commented on #168
I've seen Quasar and Weex. But none of them really support SSR out of the box. Also, Weex is very experimental right now. Anyway, I like Nuxt a lot. I need to support Web and Mobile env, with SSR, built in Vue, and I think Nuxt is really close to that.

You guys don't need to officially support mobile development, nor compete with Quasar or Weex. As long someone can integrate it with Cordova and w

[2017-01-27 17:30] gbezyuk commented on #169
@Atinux, @alexchopin — thank you for assistance!

[2017-01-27 17:49] gbezyuk commented on #169
One final question. Consider I have this `store/index.js`:

[code]

Obviously, I can't use `dispatch` straight away, I need `store.dispatch`. But using modular stores, I don't export it and thus I don't have it in the scope. What should I do?

[2017-01-27 17:53] gbezyuk commented on #169
Oh, I'm sorry, it was a stupid question. Just saw `{ commit }` standing for decomposed `store`.

[2017-01-27 19:59] Atinux commented on #169
[code]

No worries @gbezyuk I had some difficulties as well with the ES6 syntax at the beginning :)

[2017-01-27 20:16] Atinux commented on #167
[Updated documentation link](https://nuxtjs.org/api/#context)

[2017-01-27 20:18] Atinux commented on #76
@dohomi

It seams that VueMaterial use window (which does not exist) directly when requiring it. The best way is to import it inside the `if` condition:

[code]

[2017-01-27 20:25] Atinux commented on #148
I close this issue since it's realted to `stylus-loader` itself.

@Phunky you can post the solution when the team behind stylus-loader will have answered 👍

[2017-01-27 20:52] GustavsR opened #170 "Nuxt not building on Windows machine"
I have just installed `adonuxt` (which basically is Adonis.js + `nuxt`).
Unfortunately, `nuxt` is not building on Windows machine.

When I run `npm run build` (which stands for `node ./ace nuxtbuild` (which stands for `webpack`, I guess)), all I get is a bunch of errors in my terminal.

IMO, these errors are related with Windows backslash.

All the errors state the same thing.
[code]

As you can s

[2017-01-27 20:56] GustavsR commented on #170
[code]

[2017-01-27 21:28] Atinux commented on #170
Can you confirm me that you have the same error with the [starter template](https://github.com/nuxt/starter)?

[2017-01-27 21:46] GustavsR commented on #170
@Atinux Yes, the same happens with starter template.
You can see full console output [here](https://gist.github.com/GustavsR/0568b9322a7db6adbfb1061ba17e870e).

[2017-01-28 01:23] samkitano commented on #170
same issue here, on win10. even with the vue-cli starter template.

clean new project, following exact instructions from intallation guide.
![28-01-2017 01-14-32](https://cloud.githubusercontent.com/assets/2251400/22393023/d953ff2c-e4f7-11e6-9b60-c9ccdc923403.png)

[code]
...

[code]

definetly looks like a windows backslash thing

[code]

[2017-01-28 10:34] jubairsaidi opened #171 "Setting head data from ajax request on page."
Ok so I have something like this
[code]
but where the head.title and meta tags are, I'd like to pull that value in dynamically. like from `data.page.title` or something along those lines.  How would I do that here?

[2017-01-28 12:06] alexchopin commented on #171
You can use variables from `data()` in `head()`

[2017-01-28 12:46] #171 closed

[2017-01-28 13:56] jubairsaidi commented on #171
Hmm dunno how I missed that one, thanks!

[2017-01-28 14:35] gbezyuk opened #172 "Layout specification for error pages"
Hi there. I want my error page to have a layout separate from the default site layout. It seems to use the default layout by default. I've tried to specify `layout` directly in `layouts/error.vue` `script` section, but it doesn't seem to work.

[2017-01-28 16:12] ammichael commented on #168
I'm trying to find some workaround this same issue. Just like @allanroger said, the only problem, I guess, is the need the files being served, and my only guess the reason behind it is server side rendering.

@alexchopin any chance nuxt build a static dist version without the need for serving the files? That would be enough to get cordova working.

[2017-01-28 20:33] Atinux commented on #170
Do you mind trying with npm 3?

It works on my computer with npm 3

[2017-01-28 20:46] GustavsR commented on #170
@Atinux It builds successfully with `npm 3`, but IMO this package should support the latest version of `npm` anyway.

[2017-01-28 20:51] Atinux commented on #170
It should and it will.

It was to isolate the error first to better fix it.

On Sat, 28 Jan 2017 at 21:46, Gustavs Rācenājs <notifications@github.com>
wrote:

[2017-01-28 21:32] samkitano commented on #170
I'm sorry I can't be of any further help, digging into it.

I'm not really a node expert (not even a webpack or babel one, to be honest). Tried for a while to stack trace the thing, and make some fixes myself, but I really don't have a clue. Judging by the console output (malformed paths), my best guess would be that there must be  some ridiculously small thing (it always is), like a bad  regexp,

[2017-01-28 22:40] lmj0011 commented on #12
:+1:
This issue looks to be related to the problem I ran into.

Having the ability to load **local resources** in the `head()`.

https://nuxtjs.org/faq

[2017-01-29 06:59] Atinux commented on #12
@lmj0011 please create a separate issue.

We might have a solution to have a **perfect score** on Google Page Speed and Lighthouse.

With the upcoming 2.2 of Vue, we will be able to insert the CSS into the page and also add a better debugging experience.

Said by Evan You:

When the Vue 2.2 is out, we will try to implement it, so the 1.0 of Nuxt.js will create universal application with a perfect

[2017-01-29 10:39] Atinux commented on #170
@samkitano @GustavsR do you ming uploading the `.nuxt` folder generated when you launched `npm run dev`?

[2017-01-29 10:53] GustavsR commented on #170
@Atinux There you go - https://drive.google.com/file/d/0B2et1wX5sB_XWVhWVzdzZ05tTzQ/view?usp=sharing

[2017-01-29 11:07] GustavsR commented on #170
I mean, there is the `.nuxt` directory for `npm run dev` - https://drive.google.com/file/d/0B2et1wX5sB_XVlZTUWNmNUhxNWc/view?usp=sharing

The previous was from `npm run build`.

[2017-01-29 13:04] CDuane opened #174 "Work with vue-awesome"
Hi, I am trying to get this awesome framework to work with [vue-awesome](https://github.com/Justineo/vue-awesome) but I can't manage to do it.

I added this to my nuxt.config.js
`build: {
		vendor: ['vue-awesome']
	}`

I added this to my default.vue

`import Icon from "vue-awesome/components/Icon.vue";
	import "vue-awesome/icons";  `

`
	export default {
		components: {
			Icon
		}
	}`

However wh

[2017-01-29 13:26] samkitano commented on #170
[test.zip](https://github.com/nuxt/nuxt.js/files/737531/test.zip)
There you are

[2017-01-29 15:44] SkaterDad commented on #170
Just did a test on my Win 10 computer, and it all seems okay.

These are the commands I ran in Powershell (also tried Cmd.exe with same result).
[code]

[2017-01-29 15:59] samkitano commented on #170
Well, that's awkward...

I've just upgraded Node.js to v7.4.0 to try and replicate @SkaterDad env, and now it's working fine!

[2017-01-29 16:38] CDuane commented on #174
Ok I have found what the problem was. I was doing the import in the layout file, so that I refrain from having to import vue-awesome in each page.

However is there a way where I can import it once and the Icon component be usable in every component? This is why I was trying to import it in the layout.

[2017-01-29 16:40] GustavsR commented on #170
Yes, now it is working fine, and I haven't changed my `node` or `npm` versions.
I think it is related with the latest commits.

[2017-01-29 16:40] #170 closed

[2017-01-29 18:51] samkitano commented on #170
Thanks, @Atinux, @GustavsR, and @SkaterDad.

[2017-01-29 19:24] Atinux commented on #174
Hi @CDuane

You need to use the [nuxt plugins]() to register the component as global.

Example:

`nuxt.config.js`
[code]

`plugins/vue-awesome.js`
[code]

Then in your pages and components, you can use the `<icon>` component:

`pages/index.vue`
[code]

[2017-01-29 19:24] #174 closed

[2017-01-29 20:08] Mirodil opened #175 "nuxtServerInit does not work if it is not in store/index.js"
`nuxtServerInit` does not work in it is not in `store/index.js`. if you rename 'store/index.js` to something else function `nuxtServerInit` never runs in server side.

[2017-01-29 21:24] PavelPolyakov opened #176 "e2e tests of nuxt application"
Hi,

Here in the basic test example:
https://nuxtjs.org/guide/development-tools

It's suggested to use the API method [renderAndGetWindow](https://nuxtjs.org/api/nuxt-render-and-get-window). It's clear that we can get the html under the route X and then assert the content received.

My question is - how to perform more complex tests using the suggested API? The ones like - login functionality or f

[2017-01-30 00:30] dohomi commented on #76
@Atinux I tried your code but without `window.onNuxtReady` it was failing. Now it works so far quite well. Thanks for your reply

[2017-01-30 00:44] dohomi commented on #164
Hi @alexchopin `.htaccess` is an `Apache` configuration file as far as I know. It would not work inside of the `npm` world, am I mistaken? I just don't know where and how to add them, I deploy with `now` and I think some middleware is in need of doing that. As `NUXT` is doing most of the configuration I thought there it would be possible to add the header caches

[2017-01-30 05:15] yyss8 opened #177 "prefetching data from server"
hi, I'm pretty new to nuxt and I'm currently using it as a middleware in my express project

I'm wondering is it possible to do custom context with using nuxt build() so I can pass data from the server like what ejs or jade does.

I tried using nuxt.renderRoute() by passing only res and req as context but it returns 404 on any page somehow

I've read all the examples and most of them were only abo

[2017-01-30 14:43] jaredreich commented on #12
Excellent, very excited for this.

[2017-01-30 14:59] yyss8 commented on #177
I actually just figured out a way to do so by creating a express router before nuxt to load all the prefetch data and  store them in req just like req.session.
Not sure if this is a good practice but it's definitely what I need at this time

[2017-01-30 18:35] PavelPolyakov opened #178 "nuxt.js + bootstrap"
Hi,

I've tried to include http://getbootstrap.com/ to my project using this:
[code]

here is my *nuxt.config.js*:
[code]

Here is the result:
![image](https://cloud.githubusercontent.com/assets/839290/22436122/1299f0fc-e723-11e6-9345-b4a28d3b909b.png)

Could anyone help, how can I connect it more correctly? Is that possible to somehow state to the webpack that *jquery* should be connected before

[2017-01-30 20:07] Atinux commented on #177
@yyss8 indeed you can use `req.session` or add properties to `req` and use them in `data`.

You can take a look at this example too: https://github.com/nuxt/example-todomvc

[2017-01-30 20:07] #177 closed

[2017-01-30 20:11] Atinux commented on #176
Hi @PavelPolyakov

Indeed for this king of unit testing [nighwatch](http://nightwatchjs.org/) is recommended, I don't have any example but I would love to see one if you are going to try it 👍

[2017-01-30 20:11] #176 closed

[2017-01-30 20:13] Atinux commented on #175
Hi @Mirodil

It's an expected behaviour, please see https://github.com/nuxt/nuxt.js/issues/169#issuecomment-275759867

[2017-01-30 20:13] #175 closed

[2017-01-30 20:19] Atinux commented on #96
It's now fixed in the latest release `0.9.7`

[2017-01-30 20:19] #96 closed

[2017-01-30 20:20] Atinux commented on #113
It's now fixed in the latest release [0.9.7](https://github.com/nuxt/nuxt.js/releases/tag/v0.9.7).

[2017-01-30 20:20] #113 closed

[2017-01-30 20:20] Atinux commented on #134
Error handling is now improved in the latest release [0.9.7](https://github.com/nuxt/nuxt.js/releases/tag/v0.9.7)

[2017-01-30 20:20] #134 closed

[2017-01-30 20:21] Atinux commented on #140
You can now customise the `scrollBehavior` in the latest release [0.9.7](https://github.com/nuxt/nuxt.js/releases/tag/v0.9.7).

[2017-01-30 20:21] #140 closed

[2017-01-30 20:22] Atinux commented on #112
You can now customise the routes with the latest release [0.9.7](https://github.com/nuxt/nuxt.js/releases/tag/v0.9.7), see [documentation](https://nuxtjs.org/api/configuration-router/#extendroutes).

[2017-01-30 20:22] #112 closed

[2017-01-30 20:24] Atinux commented on #125
It will now quit if an error happened in the build process, see the [0.9.7](https://github.com/nuxt/nuxt.js/releases/tag/v0.9.7) release.

[2017-01-30 20:24] #125 closed

[2017-01-30 20:25] #91 closed

[2017-01-30 20:29] Atinux commented on #164
@dohomi you should use nuxt programmatically with your express server to add these headers logic, it will be easier 👍

[2017-01-30 20:42] Mirodil commented on #175
but is it odd, index.js can use `nuxtServerInit` function but `todo.js` cannot use the same function? and also you cannot have `index.js` and `todo.js` under `store` folder. it will load only `index.js`

[2017-01-30 20:43] yyss8 commented on #178
you can simply add bootstrap and jquery into head to have them working
like:

        head:{
            script:[
                {src:'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'},
                {src:'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'}
            ]
        }

here's solution that I found online about adding them into webpack

To add the

[2017-01-30 21:25] PavelPolyakov commented on #178
@yyss8
I was able to do like so:
[code]

but I would rather prefer to include them by the shortnames

[2017-01-30 21:28] Atinux commented on #175
It depends of how you export your store in your `index.js` file @Mirodil

Can you provide us your `index.js`?

[2017-01-30 21:31] Atinux commented on #178
@PavelPolyakov you can install boostrap and jquery via npm as well if you want to use the shortnames:
1. bootstrap: https://www.npmjs.com/package/bootstrap
2. jquery: https://www.npmjs.com/package/jquery

[2017-01-30 21:39] PavelPolyakov commented on #178
@Atinux
thanks for the response, however as I mentioned in the first message - I did it through the npm and it leads to the errors on the front-end.

That's why I've created an issue.

[2017-01-30 21:42] Atinux commented on #178
I will take a look at it @PavelPolyakov

[2017-01-30 22:10] Atinux commented on #178
I found how to use bootstrap with nuxt.js.

`nuxt.config.js`
[code]

`plugins/bootstrap.js`
[code]

Then in your pages components, you can use bootstrap:

`pages/index.vue`
[code]

Voila 😄

[2017-01-30 22:10] #178 closed

[2017-01-30 22:20] PavelPolyakov commented on #178
Thanks @Atinux ,

So this what I was missing:
[code]

Thank you very much!

[2017-01-31 04:16] jubairsaidi opened #179 "Concurrent ajax requests to populate data"
might just be a noob question but I can't seem to figure out how to populate the data object for a given page using 3 concurrent requests (page content, page meta and page navigations are 3 separate calls in order to speed up page load speed).  So my question is, how do we do this?  I tried putting all three into a` Promise.all()` but that didn't work.

[2017-01-31 04:20] SkaterDad commented on #179
I would expect that Promise.all() is what you need, but you'll need to chain a then()  function which returns a single object from all 3 results.

Can you share the code you tried?

[2017-01-31 04:35] jubairsaidi commented on #179
That did it thanks!  I was trying to return Promise.all() directly rather than using then() to organize the data and return it.

[2017-01-31 04:35] #179 closed

[2017-01-31 06:21] lmj0011 commented on #153
documentation doesn't should state that you need to do this:

[code]

[2017-01-31 08:08] PatrikLythell commented on #130
Hi guys, just wanted to shed some light on this since I think I ran into the same problem.

iOS Safari autorenders an anchor tag with href to phone number if it detects a phone number on the page. This cases a mismatch in the html between server rendered and Vue instance.

`<span>074-444 44 44</span>` automagically becomes `<span><a href="tel:074-444 44 44">074-444 44 44</a></span>` in iOS Safari

[2017-01-31 08:18] Atinux commented on #153
Hi @lmj0011

In the latest version of nuxt, you don't have to write theses lines anymore since nuxt does it for you. This is why they have been removed from the documentation.

[2017-01-31 15:28] Atinux commented on #120
I close this one, finally we will not go this direction.

It's easier to do it by using express.js with nuxt.js as a middleware.

We did a starter for this: https://github.com/nuxt/express
Demo: https://express.nuxtjs.org/

[2017-01-31 15:28] #120 closed

[2017-01-31 15:29] voidale opened #180 "conditional logic or props to layouts?"
First I really have to say I love what you do with the framework amazing just started yesterday and creating my first project with nuxt.js already!

I was wondering what will be the best approach on the following? this is my default layout:

[code]

I want to reuse the layout but to add additional logic or props based on routes so it works really well for `/` but when ever I go to `/search` I want

[2017-01-31 20:03] ruslankonev opened #181 "What the right way to extend Nuxt.js context?"
What the right way to extend Nuxt.js context with custom plugin? I want to test custom store with nuxt, and need to access from fetch({ customStore }) or data() on the server and client.

[2017-01-31 23:03] rohitpal99 opened #182 "Mobile based pages"
How would be switch to pages for mobile and desktop?

[2017-01-31 23:09] Atinux commented on #182
@rohitpal99 use responsive design to have only one page for mobile and desktop.

Otherwise, you can check the User Agent of the navigator.

[2017-01-31 23:09] #182 closed

[2017-01-31 23:25] husayt opened #183 "$route.hash"
Hi, is there a specific reason why `$route.hash` is not exposed like `$route.query` in context?
I am trying to find a recommended strategy on routing of client side only pages. Let's say, if I want to do something like `/books/#!bookname`. That url will be SEO friendly and will work ok with generated books page.

Or is there a better naming/routing for this kind of pages?

Thank you very much in a

[2017-01-31 23:28] Atinux commented on #180
Hi @voidale

You can do it pretty easily by checking `this.$route.path`:
[code]

[2017-01-31 23:28] #180 closed

[2017-01-31 23:35] Atinux commented on #183
Hi @husayt

`$route.hash` is not in the context since fragments (#) are unfortunately never sent to the server.
You can check `route.hash` but be aware that it will be filled only on client-side.

A better routing will be to use a [dynamic page](https://nuxtjs.org/guide/routing#dynamic-routes), so it will be like `/books/:bookname` (`pages/books/_bookname.vue`).

[2017-01-31 23:35] #183 closed

[2017-01-31 23:44] Atinux commented on #181
Hi @ruslankonev

it's not possible to extend the context, but you can require your custom store directly and use it.

Example:
[code]

[2017-01-31 23:44] #181 closed

[2017-02-01 00:07] husayt commented on #183
@Atinux thank you very much for prompt reply.

The problem with dynamic routing is

a) that it tries to generate a page for every bookname (imagine if i have 1000s of books)
b) even if i don't generate them by using `routeaparams`, I still end up with urls like "/books/java_cookbook","/books/java_in_24_hours" which will not have anything to correspond to if they hit buy search engine crawler or li

[2017-02-01 00:20] Atinux commented on #183
`nuxt generate` can works with more than 1000 books without problem, the question is more "how often do you have to regenerate the website?".

I see what you mean, so you should have two pages:
1. `pages/books/index.vue` which is your listing of books
2. `pages/books/book.vue` which is the detail of a book and render from server side a page with "Loading book..."

Then, in your listing, it can be

[2017-02-01 06:40] rohitpal99 commented on #182
@atinux unfortunately responsive design is not an option, mobile website is quite different and uses mostly separate components. Is there another way than that. please suggest.

[2017-02-01 07:09] dohomi commented on #164
OK I'll try to do that. Maybe if you could at a setup inside of the `FAQ`section it would be great. I think its a common task for people to add the expired headers to gain better results on `PageSpeed` or `YSlow`

[2017-02-01 11:27] voidale commented on #25
@Atinux
Your proposed addition of CDN url is perfect with chunkName (nuxt.bundle.986293.js) and it's how should work been using this approach with Meteor it works great.

Could this be added? I'm currently editing it manually to the CDN

As for @fenivana for public assets that are located in /static/ you can manually or create a helper function to generate a full CDN url so
instead of:
`<img src="

[2017-02-01 13:33] Atinux commented on #25
@voidale it's planned to be added before the 1.0

[2017-02-01 13:36] Atinux commented on #164
Hi @dohomi

Finally, the expired headers will be added directly on production (`nuxt start`), it will be possible when we will generate unique filename on build time for better caching.

One of the goal of nuxt.js is to also create blazing-fast and PWA so we will have a perfect score on PageSpeed by default ⚡️

[2017-02-01 13:43] Itagiba commented on #95
Any updates on this? I am trying to add more cosmic items to my app i.e. posts, nav, footer etc. but can't find a way to interpolate the code with vue.js and nuxt i.e.

[code]
(error)

Thanks!

[2017-02-01 14:09] Atinux commented on #182
You can use something like https://github.com/hgoebl/mobile-detect.js on the server-side (use [nuxt as a middleware](https://nuxtjs.org/api/nuxt)) and redirect the user to https://m.yoursite.com which is a nuxt.js application for the mobile.

[2017-02-01 14:12] Atinux commented on #95
I will start to work on the middleware pretty soon.

You can already use the [nuxtServerInit action](https://nuxtjs.org/guide/vuex-store#the-nuxtserverinit-action) with the store to fill global data related to the nav-bar/footer for example.

[2017-02-01 15:02] dennerkrans opened #184 "Fetch data from an api for all views at first load"
I'm currently building a page where we get all content for all views as json from our api. Is there anyway to load the data from the api before anything else?

[2017-02-01 15:19] Atinux commented on #184
Hi @dennerkrans

You need to use the `vuex` store with the [nuxtServerInit action](https://nuxtjs.org/guide/vuex-store#the-nuxtserverinit-action).

Please take a look at the documentation for more details.

[2017-02-01 15:19] #184 closed

[2017-02-01 15:55] samkitano opened #185 "read local storage on default layout?"
Is there any way to deal with localStorage, in order to set a property based on it for the entire application?

Let's say I want to read a locally stored token to determine if a user has access to an API, and then set a boolean property on the layout, to be propagated to the relevant components, ie. navbar, login, logout, etc.

something like this:

[code]

This example would generate an error ```

[2017-02-01 18:21] Atinux commented on #185
Hi @samkitano

You should not use the localStorage since it's not defined in node.js.

Please take a look at https://github.com/nuxt/nuxt.js/tree/master/examples/auth-routes

[2017-02-01 18:21] #185 closed

[2017-02-01 18:23] wormen opened #187 "connection resources"
how to connect the styles and scripts, before the closing BODY tag instead of the tag HEAD
in this documentation are not described

[2017-02-01 19:19] wormen opened #188 "tag BODY modification"
how to modify the tag BODY?
as described in the documentation https://github.com/declandewet/vue-meta
changes are not applied

[2017-02-01 19:22] wormen opened #189 "more tags HTML"
how to specify the more HTML tags?
example

[code]

[2017-02-01 20:06] Atinux commented on #188
I will need an example to help you.

On Wed, 1 Feb 2017 at 20:19, Oleg Bogdanov <notifications@github.com> wrote:

[2017-02-01 20:26] samkitano commented on #185
Oh, thanks a lot, @Atinux!

Quite useful, as I'm still wrapping my head around some concepts, and I totally missed this Doc.

Sorry for using the issue tracker for this.

[2017-02-01 21:34] wormen commented on #188
@Atinux
[code]

[2017-02-01 22:45] dohomi commented on #164
you guys make an incredible job here!

[2017-02-01 23:50] dohomi opened #190 "support the use of slot in layout files"
Hello,

it would be nice if `slot` areas would assignable in layout files. Often parts of the pages need to be rendered inside of the top toolbar. Thanks

<div align="right"><sub><em>This question is available on <a href="https://nuxtjs.cmty.io">Nuxt.js</a> community (<a href="https://nuxtjs.cmty.io/nuxt/nuxt.js/issues/c162">#c162</a>)</em></sub></div>

[2017-02-02 00:33] wormen opened #191 "default layout in config"
both through nuxt.config set the default template?

example
[code]

[2017-02-02 03:53] ndarilek opened #192 "Build client-only bundle"
Not sure if this is supported. I'd like to use Nuxt to replace a somewhat complicated Vue/Webpack setup to generate JavaScript assets for a Phoenix app. As such, I don't want SSR at all. I just want the nice convention over configuration.

Is there any way to do this currently? Static generation isn't quite what I want, because my app is still dynamic. I just don't want to use Nuxt as my server.

[2017-02-02 07:12] fritx commented on #22
When I reload my page, contents always shows before the styles.
Anyone meet the issue?

[2017-02-02 11:29] Atinux commented on #22
@fritx please take a look at https://nuxtjs.org/faq/css-flash

[2017-02-02 11:43] alexchopin commented on #191
You have chosen convention over configuration, and in this case you define the default layout by simply creating a `layouts/default.vue` file.

[2017-02-02 11:43] #191 closed

[2017-02-02 11:47] Atinux commented on #188
[code]

Please read [nuxt documentation](https://nuxtjs.org/guide/views/#html-head)

[2017-02-02 11:47] #188 closed

[2017-02-02 11:50] Atinux commented on #190
Can you provide an example of what you are trying to do @dohomi ?

[2017-02-02 11:52] Atinux commented on #189
It would be soon possible with https://github.com/nuxt/nuxt.js/pull/166

[2017-02-02 11:52] #189 closed

[2017-02-02 11:56] Atinux commented on #187
Same answer as #189

[2017-02-02 11:56] #187 closed

[2017-02-02 12:13] Atinux commented on #192
Hi @ndarilek

To be sure to understand, you would like to generate the pages but without server-render them or be able to design vue.js application like nuxt.js without SSR?

[2017-02-02 12:20] BRKsDeadPool opened #193 "nuxtServerInit just modify state in the same file"
I was trying to create a module "auth" separate from the main module "index.js", but when I try to modify the state of the module "auth" through the action nuxtServerInit simply does not work.

My index.js file

[code]

My auth.js file

[code]

When I try to modify a state within the index.js file it works normally

### example
[code]

[2017-02-02 12:26] allanroger commented on #168
I've reached this point: The project is ready to deploy, but it needs to be served. What I need, actually, is a way to deploy the static files without needing to serve them.

I know Nuxt is meant to be a SSR framework, but the framework itself is so awesome that I want to use without including the SSR.

Maybe generating passing an argument to generate the static files without ssr?

Thanks

[2017-02-02 12:34] Atinux commented on #168
I will try to find a workaround for it, maybe something like `nuxt generate --no-srr`

It would be awesome if you could create a example repository with nuxt.js + cordova so I can try to work on it @allanroger. It will help me to work on it.

[2017-02-02 13:12] wormen commented on #191
I did not mean it
it was about how to have a system in multiple templates, and easily configured to specify which one to use by default

[2017-02-02 13:15] wormen commented on #189
I have not found the answer to my question

[2017-02-02 13:24] allanroger commented on #168
@Atinux here is the repository https://github.com/allanroger/nuxt-cordova.

The instructions are on README.

Thanks in advance.

[2017-02-02 14:04] Atinux commented on #189
It is not possible yet but it is planned.

On Thu, 2 Feb 2017 at 14:15, Oleg Bogdanov <notifications@github.com> wrote:

[2017-02-02 14:52] laosb commented on #127
@Atinux How about supporting SSR layout async data? That's would be helpful for fetching some config from backend.

[2017-02-02 15:44] ndarilek commented on #192
Exactly, thanks. This library has nice conventions, and if I can replace
my existing router/store/plugin setup with it, I could eliminate lots of
boilerplate with my Phoenix app.

[2017-02-02 18:42] Atinux commented on #127
It will be possible with the middleware feature (I am actually working on it)

[2017-02-02 19:16] danieloprado commented on #127
Just use the nuxtServerInit method at the store/actions and dispatch an action to load the data.
[code]

[2017-02-02 23:40] johnlindquist opened #194 "Server won't run/compile/display"
I'm guessing some dependency updated that broke something....

Just today, I've tried `nuxt/starter`, `nuxt/express`, and creating a project from scratch, but all of them get stuck when trying to serve:
`yarn run dev`
[code]

But when I open the browser, nothing loads. Webpack never starts/compiles...

I have no idea what's happening... Everything worked just yesterday.

[2017-02-03 00:05] johnlindquist commented on #194
Looks like the problem was
`webpack-dev-middleware@1.10.0`
I downgraded to
`webpack-dev-middleware@1.9.0`
and the problem went away...

[2017-02-03 00:28] dohomi commented on #190
Hello @Atinux here a simple example to get content into the toolbar and content section of an app

index.vue
[code]
defaul_layout.vue
[code]

Currently I do this through a custom component and leave the `layout` file with just the `<nuxt/>` almost empty.

[2017-02-03 07:43] pdll opened #195 "Error importing npm vue component"
Hello!

I'm trying to integrate google maps plugin (https://www.npmjs.com/package/vue2-google-maps), but then i'm trying to import it in my plugin file it sends me an error

![Alt text](https://monosnap.com/file/9H98Jm4IzLXn7QVeKhH7IKQgbZrlx1.png)

I've already implemented this module in another project (without Nuxt), and it works fine

[2017-02-03 08:16] alexchopin commented on #195
Hi, can you provide us a screenshot of you plugin?

[2017-02-03 08:31] pdll commented on #195
![Alt text](https://monosnap.com/file/hEC9mP9ovojyYvdujtYDfExV0lvEXD.png)

[2017-02-03 08:56] husayt commented on #195
I think import needs to be inside if as well.

On 3 Feb 2017 08:31, "pdll" <notifications@github.com> wrote:

[image: Alt text]
<https://camo.githubusercontent.com/21d332a40da0285b78a796c495ef0231444487bf/68747470733a2f2f6d6f6e6f736e61702e636f6d2f66696c652f684543396d50396f766f6a79597664756a74594466457856306c764558442e706e67>

—
You are receiving this because you are subscribed to this thread.
Repl

[2017-02-03 08:58] pdll commented on #195
Nope, still the same error

[2017-02-03 10:13] dennerkrans opened #196 "'scrollToTop' not working"
When navigating between the pages it seems to always maintain the same position as before. I've set 'scrollToTop: true' for all pages (even though that is done by default), and for my dynamic page that loads data from the vuex store.

The router setup looks as follows

[code]

Any help would be very appreciated 😄 Awesome work with nuxt btw.

[2017-02-03 10:34] alexchopin commented on #194
Thanks for the report 👍

[2017-02-03 10:51] Atinux commented on #194
I upgraded to `webpack-dev-middleware@1.10.0` and it works fine.

I've seen your Twitter message, it seems that it could have a like with the `acorn` update.

[2017-02-03 10:51] #194 closed

[2017-02-03 11:09] pdll commented on #195
and yes,
Module build failed: SyntaxError: 'import' and 'export' may only appear at the top level (4:2)

[2017-02-03 11:39] Atinux commented on #195
@pdll can you try:

[code]

[2017-02-03 11:40] Atinux commented on #196
@dennerkrans can you share the full `.nuxt/router.js` file please?

[2017-02-03 12:18] dennerkrans commented on #196
`'use strict'

import Vue from 'vue'
import Router from 'vue-router'

Vue.use(Router)

const _628e917c = process.BROWSER_BUILD ? () => System.import('/Users/danieldennerkrans/Workspace/daniel/daniel-nuxt/pages/index.vue') : require('/Users/danieldennerkrans/Workspace/daniel/daniel-nuxt/pages/index.vue')

const _e2b616c8 = process.BROWSER_BUILD ? () => System.import('/Users/danieldennerkrans/Worksp

[2017-02-03 13:16] dennerkrans commented on #196
It turned out to be a styling related bug, where a mixin added some styling to the body that lead to window.scrollY, and document.body.scrollTop to always equal 0. Sorry for any inconvenience.

[2017-02-03 13:16] #196 closed

[2017-02-03 14:00] nucamoz opened #197 "How to implement Auth0?"
I can't figure it out how to implement Auth0? Without messing with .nuxt folder. May be some tips, please? There is already a bunch of working examples with next.js + Auth0, but still no nuxt.js

Can I edit .nuxt folder? Why there is literally NO INFO about that folder in folder structure section in documentation?

[2017-02-03 14:25] joshua1 opened #198 "version mismatch"
Hi @Atinux I get the below error when using the feathers-nuxt example source and yarn , i have cleared cache and reinstalled still same issue each time
[code]

 i experience the same with npm run dev too

[2017-02-03 16:15] Atinux commented on #198
Hi @joshua1

Are you talking about this example: https://github.com/nuxt/nuxt.js/blob/master/examples/with-feathers/?

[2017-02-03 16:16] joshua1 commented on #198
Yes, but i have gone past that. the issue was caused by a plugin referencing 1.0 version of vue

[2017-02-03 16:16] #198 closed

[2017-02-03 16:39] Atinux commented on #197
@nucamoz you cannot edit the `.nuxt` folder since this folder is generated by nuxt.js on every build. It's exactly like the `.next` folder for next.js.

Do you mind sharing an example with next.js so I can take a look at it and reproduce it with nuxt.js?

[2017-02-03 16:47] Atinux commented on #193
@BRKsDeadPool you need to keep the reference of the `state` inside your `SET_USER` mutation so Vue knows that you change the `user` key of the state.

Here your `auth.js` file fixed:
[code]

[2017-02-03 16:47] #193 closed

[2017-02-03 17:08] Atinux commented on #190
Hi @dohomi

It's not possible with `layouts` logic of nuxt.js since it's based on `vue-router`.

But nothing is impossible with vue.js 😄

You can create a `layout` folder (without the `s`) for example where you can create your layouts with slots.

`layout/default.vue`
[code]

And then, in your pages, you can can import the layout (we use it as `<page>`) and use the slots:
[code]

[2017-02-03 17:25] nucamoz commented on #197
Yes, of course - https://github.com/luisrudge/next.js-auth0

[2017-02-03 20:12] pdll commented on #195
Yes, seems like this one works for me, thank you.

[2017-02-03 20:12] #195 closed

[2017-02-04 01:15] samkitano commented on #16
I am struggling with the authentication process for an API, as well.

Keeping an authorization token available for both client and server is driving me crazy.

Any light on this topic would  be much appreciated!

[2017-02-04 02:03] stursby commented on #16
@samkitano I think @Atinux took care of it in a [similar comment of mine](https://github.com/nuxt/express/issues/1). You need to set a Nuxt environment for PROD as to what the end URL will be.

[2017-02-04 06:52] joshua1 opened #199 "web socket usage"
How can i use web sockets with nuxt.js. i am porting an application that uses feathers-primus and an aurelia frontend to nuxt.js , using the vue-feathers plugin. i keep getting the below error
[code]
my plugin configuration file is like this
[code]

[2017-02-04 11:55] Atinux commented on #199
Hi @joshua1

Please take a look at these resources:
- https://github.com/nuxt/nuxt.js/tree/master/examples/with-feathers
- https://www.youtube.com/watch?v=_femHvk47IQ&t=1717s

[2017-02-04 11:55] #199 closed

[2017-02-04 12:16] samkitano commented on #16
Thanks for the heads up, @stursby, in fact I was (unsuccessfully) trying to implement that very same concept using dotenv.

But my problem is one of a different nature:

I have a Laravel API running on port 80, using Laravel Passport, which automatically generates and returns in response an authorization (jwt) token right upon successful authentication.

[code]
Nothing else to do on this side.

On

[2017-02-04 12:31] Atinux commented on #16
Hi @samkitano

I know SSR can be difficult at the beginning, I will work on an example with **auth0 + nuxt.js** to see how to handle JWT with nuxt.js easily, see #197 (I suggest to keep this thread there since it's still open and more pertinent).

In the meantime, you can take a look at this example (https://github.com/nuxt/example-todomvc) where I store the todos in the session. It's the same pro

[2017-02-04 13:07] samkitano commented on #16
Thanks a lot, @Atinux! That would be fantastic!

I will definitely read the thread and take a look at the example; it seems to be exactly what I need, or at least related.

[2017-02-04 14:34] ammichael commented on #192
This seems related to #168. I'm also needing this kind of build.

@Atinux I really don't mean to rush you, just trying to get the picture of how complicated could this be, and if you guys are planning to implement anytime soon. If so, hopefully, I'll keep developing in Nuxt, or I'll need to migrate to Quasar, even though I find conventions Nuxt way better.

[2017-02-04 14:46] Atinux commented on #192
I don't think how hard it will be, I don't think so, I'm going to work on it next week.

I'll keep the thread updated.

[2017-02-04 14:49] ammichael commented on #192
That is awesome! Nice!

Thanks

[2017-02-04 15:12] ndarilek commented on #192
Agreed, thanks a bunch!

[2017-02-04 15:40] surmon-china commented on #112
@Atinux If I need to specify meta information for certain routes (for example, I need to do some blocking judgment on a particular routing page), I found that the router object can not be set successfully, Information, can not increase and modify, have better suggestions?
In addition, I also need to intercept the routing api, I was in default.vue used afterEach after using the routing method, but

[2017-02-04 15:41] samtgarson opened #200 "Expose webpack config for ESLint"
In order to lint our Vue files with ESlint, we need to use [eslint-import-resolver-webpack](https://www.npmjs.com/package/eslint-import-resolver-webpack) to tell eslint how to resolve our `import` statements using Nuxt's custom aliases, to avoid errors like these:

![image](https://cloud.githubusercontent.com/assets/6242344/22619611/4b6017b0-eaf0-11e6-914a-5a0836fe4222.png)

At the moment I can't

[2017-02-04 16:52] solarhell opened #201 "Question about fetch data"
I have an auth page which contains an dynamic captcha image(which is an svg format, i use v-html to render it), i want to send the  captcha image's request from browser so i can cache the page.
But when i check the Chrome's network tab, i can't see the request to captcha, i think the request is sent from server-side, so i add an on-click event to confirm my option, when i click it, it made an requ

[2017-02-04 17:57] Atinux commented on #112
It will be possible with the middleware feature (see examples/auth-routes/ and examples/middleware/)

This feature will be released next week.

[2017-02-04 18:43] surmon-china commented on #112
ths:)

[2017-02-04 18:58] surmon-china opened #202 "NuxtServerInit is not working well"
My question is this:
One of my projects is like this,
I need to render this data before rendering on the server side, and I've tried to launch an action on the vuex in the component. I'm trying to get the data from the sidebar and the sidebar, but I'm not going to change it anymore. , But will actually prompt a red error, so I defined the action in the nuxtServerInit, this function, I return a Pro