[2019-02-06 10:05] AndrewBogdanovTSS commented on #4219
@manniL sure

[2019-02-06 10:11] manniL commented on #4219
Closing here as the initial issue seems to be gone.

[2019-02-06 10:52] volkovmqx commented on #4881
very well, i thought i had that. now that raise another issue, i believe it's related to lodash transpiling, you can check the same link. i've updated the demo.
however, if i pass an object with the hooks to the nuxt constructor, it gets executed which is a great step !!

[2019-02-06 10:59] manniL commented on #4881
@volkovmqx probably, yes. Using ava with `esm` might be your solution (or writing your nuxt config in CJS syntax).

As it's no Nuxt bug, I'll close the issue ☺️
Thanks @pimlie for helping!

[2019-02-06 10:59] #4881 closed

[2019-02-06 12:45] yariksav opened #4961 "Function applyAsyncData covers data function N times and therefore wrong behaviour"
### Version

[v2.4.1](https://github.com/nuxt.js/releases/tag/v2.4.1)

### Reproduction link

[https://codesandbox.io/s/32m2m4j4kq](https://codesandbox.io/s/32m2m4j4kq)

### Steps to reproduce

1) go to https://codesandbox.io/s/32m2m4j4kq
2) click to Foo (work as expected)
3) click Back
4) click to Bar (unexpected param foo, witch returns form previous covered data!!! { "foo": "test", "bar": "test

[2019-02-06 13:28] Qvatra opened #4962 "Access ctx property that was set by middleware in layout"
### What problem does this feature solve?

when I set some property on the ctx using middleware I want to be able to access it in my layout.
The problem is that this property is not yet set when nuxtServerInit is executed so I can not commit it the my vue store..

this is the middleware I use that sets isMobile on ctx:
export default function (ctx) {
  const userAgent = ctx.req ? ctx.req.headers['

[2019-02-06 13:39] manniL commented on #4962
@Qvatra Any reason you don't dispatch it in your middleware?

[2019-02-06 13:40] manniL commented on #4961
Duplicate of #4554

[2019-02-06 13:40] #4961 closed

[2019-02-06 14:01] yariksav commented on #4554
Duplicate reproduce link here https://codesandbox.io/s/32m2m4j4kq
I suppose this is **critical bug**, because this do overlay datas from previous page usage

[2019-02-06 15:12] monospacedmagic opened #4964 "[Documentation] spa.nuxtjs.org SPA example is Not Found"
### Version

[v2.4.1](https://github.com/nuxt.js/releases/tag/v2.4.1)

### Reproduction link

[https://spa.nuxtjs.org/](https://spa.nuxtjs.org/)

### Steps to reproduce

1. Visit the site of the SPA example: https://spa.nuxtjs.org/

### What is expected ?

The SPA example should be shown.

### What is actually happening?

"Not Found" is displayed instead of the SPA example.

<div align="right"><su

[2019-02-06 18:42] Qvatra commented on #4962
@manniL, mmm, good point. I will try that and let you know if it works. Thank you

[2019-02-06 19:23] #4944 closed

[2019-02-06 19:39] derevandal opened #4965 "Cannot read property 'outputOptions' of undefined"
### Version

[2.4.3](https://github.com/nuxt.js/releases/tag/2.4.3)

### Reproduction link

[https://codesandbox.io/s/30k541yq35](https://codesandbox.io/s/30k541yq35)

### Steps to reproduce

* Create new Nuxt@^2.4.0
* Add `SCSS` support `npm install --save-dev node-sass sass-loader bootstrap bootstrap-vue`
* `Add `.scss` files in `assets/scss/`
* Set `extractCSS` and `parallel` to `true` in the `

[2019-02-06 20:09] njam commented on #4897
I experience `nuxt-ts generate` exiting with code 0 on errors, using nuxt-ts version 2.4.3.

[2019-02-07 01:05] Krutie commented on #4912
@shven - try the following convention - it should remove the warning message :slightly_smiling_face: Also do the fresh `npm start` or `npm run dev` after making the changes, otherwise you'll still see the message.

[code]

[2019-02-07 01:45] kdydesign commented on #4885
The same error will still occur after the latest update. Is it associated with mini-css-extract-plugin?

[code]

[2019-02-07 07:34] i62navpm opened #4971 "Vulnerability package dependency "defaults-deep""
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

### Reproduction link

[https://www.npmjs.com/advisories/778](https://www.npmjs.com/advisories/778)

### Steps to reproduce

Please fix this vulnerability in your dependency tree:

nuxt > @nuxt/core > @nuxt/server > serve-placeholder >  defaults-deep

### What is expected ?

0 vulnerabilities found when audit packages.

As no p

[2019-02-07 07:37] pi0 commented on #4971
Hi. Thanks for the report. This is being addressed fast.

- jonschlinkert/defaults-deep#5
- https://github.com/jsless/defu

[2019-02-07 07:39] begueradj commented on #4971
@pi0 Can you please explain shortly how you fixed that? (I followed the 2 links but ...)

[2019-02-07 07:44] pi0 commented on #4971
For clarification as also described in [CVE-2018-16486](https://hackerone.com/reports/380878) the impact is _possibly more depending on the application._ and **no Nuxt.js users are affected** because options to the middleware are not from user input but only from `nuxt.config`.

For general:

I submitted the fix to prevent accepting `contructor.prototype` key on `defaults-deep` but as it is unlike

[2019-02-07 09:23] AndrewBogdanovTSS commented on #4219
@manniL  could you reopen this issue? I tried deploying several times and discovered that order is still random. Sometimes it works as expected, but other times it's not. The order I'm currently get is:
1. vendors.css
2. app.css
3. pages.css
4. app.css
https://take.ms/hyZSH
that last one shouldn't be there at all and brakes the whole sequence

[2019-02-07 09:56] Qvatra commented on #4962
That works, thank you

[2019-02-07 10:16] #4962 closed

[2019-02-07 10:38] manniL commented on #4885
@kdydesign read the link I provided 1 comment above.

[2019-02-07 12:54] phof opened #4977 "URI malformed"
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

### Reproduction link

[https://nuxtjs.org/%c1%81](https://nuxtjs.org/%c1%81)

### Steps to reproduce

1) Load https://nuxtjs.org/%c1%81
2) See console error

### What is expected ?

Trigger 404/500 errors

### What is actually happening?

Execution stops

### Additional comments?

(node:87717) UnhandledPromiseRejectionWarning:

[2019-02-07 14:14] jerryjappinen opened #4978 "When moving to a new route, transition current view out without delay"
### What problem does this feature solve?

Currently the navigation behavior with Nuxt is the following:

1. User clicks on a link
2. Loading of new page starts
3. User waits for new page load to complete
4. Route updates
5. Exit transition of current view plays
6. Enter transition of new view plays
7. Navigation is complete

This is not ideal UX-wise. Even when I make efforts to make my page quit

[2019-02-07 14:40] Eiskis commented on #4978
One point about the route updates.

Let's say I have a sidebar panel with a menu that I want to close as the user clicks on any link. I can attach a watcher to current route and close it upon update. It he route update is immediate, user will get immediate feedback as well. Right now I have to either explicitly attach the close behavior to every link in my menu, or force the user to wait the page

[2019-02-07 14:48] Timkor commented on #4978
@eiski
You could fetch the data in mounted:

[code]

[2019-02-07 14:50] Eiskis commented on #4978
This is of course true, but then my app becomes basically just a normal SPA and not an SEO-friendly universal/prerendered app - which is the reason I use this awesome, awesome project! I'll edit the original post to highlight this.

[2019-02-07 14:51] manniL commented on #4978
Is this a duplicate of https://github.com/nuxt/nuxt.js/issues/2568 ?

[2019-02-07 15:02] Eiskis commented on #4978
I knew I wasn't the first one!

It's close but not really an exact duplicate. I'd be happy to see the changes proposed there, but I'm proposing a different solution here (to the same problem). I think both can coexist though.

My proposal was basically a new transition mode, meaning old page is transitioned out without delay but asyncData is still respected for the new page. This could just be a c

[2019-02-07 15:11] Lasim commented on #4757
Same issue here.
V: 2.3.4

 Any news?

[2019-02-07 20:34] PJLindsay commented on #4846
This is my config...

I believe this *was* working in nuxt v2.3.1 and now it is not working. I'm not 100% certain because I have a lot of nuxt projects, and I was in the middle of upgrading some from nuxt 1.x to nuxt 2.x -- when I go back through my git history for this project, it was set to nuxt-latest....

This is a bit speculative on my part about a possible bug with withCredentials, but I do

[2019-02-07 20:48] PJLindsay commented on #4846
@manniL if you want me to open a new issue with better detail, please let me know. I'd love to help to resolve this, and would definitely like to help to "tidy up" the documentation wrt Cookie Login flow (I find that the documentation is not explicit enough on what differences are needed for Cookie Login flow vs JWT login flow.

[2019-02-07 21:01] PJLindsay commented on #4846
ok - so I rolled back to nuxt v1.4.4 (and made some small nuxt config changes for the build) and BOOM! my project is running again. I seriously think there's some sort of issue with Cookie Login flow on nuxt 2.x

[2019-02-07 21:42] pju- opened #4982 "Empty page with invalid html rendered when using nested routes on index"
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

### Reproduction link

[https://github.com/pju-/nuxt-generate-bugreport](https://github.com/pju-/nuxt-generate-bugreport)

### Steps to reproduce

When using the very basic repo I've provided:
After install, run npm run generate

What the repo does:
- fresh nuxt install
- pages setup for nested routes:

[code]

Then run npm run

[2019-02-08 00:21] bartdominiak commented on #4719
You can also check my version here https://github.com/bartdominiak/nuxt-svg-sprite-loader

[2019-02-08 04:13] EnOane commented on #4897
add to nuxt.confg

[code]

[2019-02-08 09:27] manniL commented on #4719
Or probably https://github.com/nuxt-community/svg-sprite-module

[2019-02-08 09:41] Timkor commented on #4978
You could also use a plugin for client side. Which fetches the data after route transition:
[code]

[2019-02-08 10:19] purpleow1 commented on #3389
Is this issue fixed in version 2.4.0?

[2019-02-08 10:26] begueradj opened #4983 "[Vuetify] Multiple instances of Vue detected"
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

### Reproduction link

[https://github.com/begueradj/bugs/tree/master/nuxtVuetifyJest](https://github.com/begueradj/bugs/tree/master/nuxtVuetifyJest)

### Steps to reproduce

[code]

### What is expected ?

I expect my test to pass without any error or warning messages.

### What is actually happening?

The test passes but I re

[2019-02-08 14:02] Eiskis commented on #4978
Yeah I can see how that could work. I could set up named page transitions and use a mixin for every page component that would introduce generic default loading state behavior for a new page that is still waiting for page data to be there, and transition itself in once done.

I guess I would be able to reach the behavior like this, but this does require a lot of workarounds, careful architecture an

[2019-02-08 16:00] papakay opened #4987 "Vue Packages version mismatch after upgrading to 2.4.3"
FATAL

Vue packages version mismatch:

- vue@2.5.22
- vue-server-renderer@2.6.3

This may cause things to work incorrectly. Make sure to use the same version for both.

[2019-02-08 16:00] #4987 closed

[2019-02-08 16:11] mauxtin commented on #4987
Try to delete the node_modules folder and the lock and reinstall.
`rm -rf ./node_modules yarn.lock && yarn install `

[2019-02-08 16:27] papakay commented on #4987
Thanks it worked.

[2019-02-08 17:33] akhoury opened #4989 "CommonJS module (using `module.exports`) + string.split() ==> Cannot assign to read only property 'exports' of object '#<;Object>'"
### Version

[v2.4.0](https://github.com/nuxt.js/releases/tag/v2.4.0)

### Reproduction link

[https://codesandbox.io/s/ml66336kp](https://codesandbox.io/s/ml66336kp)

### Steps to reproduce

Open the dev console to see the Error

### What is expected ?

No error

### What is actually happening?

This is really weird, if I comment out this line in

api-backend-folder/utils/common.js:13

which is j

[2019-02-08 17:33] akhoury commented on #4989
it also happens in `2.4.3`

[2019-02-08 18:39] wadclapp opened #4990 "Documentation for deploying on Firebase (as Universal app)"
Would it be possible to get some documentation on how to deploy a Nuxt app to Firebase hosting/functions?

There are no up-to-date instructions on how to achieve this anywhere, and no mention in the Nuxt docs.

I nearly have it working https://stackoverflow.com/questions/54598274/deploying-vue-nuxt-app-to-firebase-as-universal-app-with-ssr. Firebase also has instructions https://youtu.be/ZYUWsjUxx

[2019-02-08 18:39] #4990 closed

[2019-02-08 18:42] njam opened #4991 "`nuxt generate` should exit with non-zero code on errors"
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

### Reproduction link

[https://github.com/njam/nuxt-generate-error](https://github.com/njam/nuxt-generate-error)

### Steps to reproduce

If an exception is thrown during rendering of a page in `nuxt generate`, this error is printed, but still the script exits with status 0. For both handled and unhandled errors. This is espec

[2019-02-08 21:21] ahus1 commented on #3389
yes (i tried it, the nuxt SPA will reload once it doesn't find a JavaScript resource it tries to load. This way it will load the most recent app from the server that will have all needed resources available)

[2019-02-09 07:52] ozum opened #4993 "nuxt-ts ignores srcDir"
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

### Reproduction link

[https://codesandbox.io/s/5pp2yx8wx](https://codesandbox.io/s/5pp2yx8wx)

### Steps to reproduce

1. Create a nuxt app using `$ npx create-nuxt-app <project-name>`
2. Create `src` directory using `mkdir src`.
3. Add  `srcDir: "src/"` to `nuxt.config.ts`
4. Move related dirs (pages, components etc.) into `

[2019-02-09 10:36] manniL commented on #4795
@benoitemile Feel free to raise an issue or send in a PR on https://github.com/nuxt/vue-meta :relaxed:

[2019-02-09 10:45] manniL commented on #4993
Works fine for me with a `nuxt.config.ts` instead of a `nuxt.config.js`.

[2019-02-09 11:13] manniL commented on #4989
Further read: https://github.com/webpack/webpack/issues/4039, https://twitter.com/adamwathan/status/968652732167995392

Possible solutions:

* Use `node -r esm` for your server to support `ESM` syntax and change the module exports
**or**
* Rewrite the file to ESM syntax (import) and transpile it with babel to CJS syntax (require) (similar to https://github.com/nuxt/nuxt.js/issues/874#issuecomment-

[2019-02-09 11:13] #4989 closed

[2019-02-09 11:18] kevinmarrec commented on #4993
`nuxt` default config file is `nuxt.config.js` & `nuxt-ts` default config file is `nuxt.config.ts`.

You need to explictly tell to the CLI you want to use a `nuxt.config.js` if you're using `nuxt-ts`.

@mannil I don't know what's the best way to go, but I highly recommend people sticking with `nuxt.config.ts` as there will be typecheck/autocompletion in configuration soon through this file.

[2019-02-09 11:20] manniL commented on #4993
@kevinmarrec In this case, we *should* provide some kind of hint/warning/notice when no nuxt.config.ts was found but a nuxt.config.js :relaxed:

[2019-02-09 11:20] #4993 closed

[2019-02-09 11:21] manniL opened #4994 "Warning when nuxt.config.ts not found but nuxt.config.js"
From https://github.com/nuxt/nuxt.js/issues/4993#issuecomment-462035930_

[2019-02-09 11:21] kevinmarrec commented on #4993
@manniL Yes

[2019-02-09 11:22] ozum commented on #4993
Thanks for the replies.

I created my app using `nuxt-create-app`, uninstalled `nuxt` and installed `nuxt-ts`. I missed `nuxt.config.ts` part.

Is there a guide / tutorial / doc how to start a `nuxt-ts` project and differences between `nuxt` and `nuxt-ts` projects.

Kind regards,

[2019-02-09 11:48] kevinmarrec commented on #4993
@ozum TypeScript documentation is in progress, but for now the easiest way to get started is probably the 2 TypeScript examples in the `examples` directory of the main `nuxt` repo.

You can also probably find some answers on our Discord `typescript` help channel :)

[2019-02-09 12:05] renspoesse commented on #4912
@manniL I understand that modules syntax has the same power but what is wrong with preferring the original, documented Vuex syntax (ie., classic) that I also use in non-Nuxt projects, if there's no functional difference?

[2019-02-09 13:48] ozum commented on #4993
Thanks for the tips.

[2019-02-09 17:55] SheKnowsItsAMultipass commented on #4901
Just started up from the template and I'm getting the same error as above.

[2019-02-09 19:08] manniL commented on #4949
This caught me right now on a client project because transitions will trigger on hydration when using dynamic components :see_no_evil:

[2019-02-09 19:39] manniL commented on #1011
For all Googlers: https://nuxtjs.org/api/configuration-build/#transpile

[2019-02-09 19:57] manniL commented on #4554
Resolved by #4966

[2019-02-09 19:57] #4554 closed

[2019-02-09 20:00] manniL commented on #4918
Does it work with the traditional Vue template (https://codesandbox.io/s/vue)?

[2019-02-10 02:28] egstad opened #4995 "ERROR custom keyword definition is invalid: data/errors should be boolean"
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

### Reproduction link

[https://github.com/nuxt/create-nuxt-app](https://github.com/nuxt/create-nuxt-app)

### Steps to reproduce

Install Nuxt (I've tried both stable and edge versions): npx create-nuxt-app pretty
— A. Select all features (PWA support, linter, prettier, axios)
— B. No custom ui framework
— C. No test framework

[2019-02-10 04:12] rideron89 commented on #4995
Looks like the `ajv` package is breaking in `webpack`, per this issue: [https://github.com/webpack/webpack/issues/8768](https://github.com/webpack/webpack/issues/8768)

Looks like there is a pull request with a fix in place: [epoberezkin/ajx$943](https://github.com/epoberezkin/ajv/pull/943)

If you can't wait for the fix to make it upstream, some people have had luck following this comment:
[https

[2019-02-10 05:33] dextherry opened #4996 "using require(redis) in serverMidleware causes error"
Hi guys, please help with this, I am trying to use redis into a serverMiddleware, but it produces an error, in fact the only line that produces error is when I add a require(any package)  in the server middleware,

my server middleware looks like this:

//in  /middleware/api/file.js
`var redis = require('redis ');// this causes
export default function (req, res, next) {
//using the redis here
var

[2019-02-10 05:33] #4996 closed

[2019-02-10 10:14] manniL commented on #4995
As @rideron89 said.

A fix has been published. `yarn upgrade` / `npm update` or nuking lock files + node modules should resolve the issue.

[2019-02-10 10:14] #4995 closed

[2019-02-10 17:57] jefer590 opened #4998 "TypeDefs for Nuxt and Builder Class"
### What problem does this feature solve?

I'm trying to do an Express + NuxtTS application integration but I noticed that `nuxt-ts` doesn't have the `Nuxt` and `Builder` classes Typedefs defined yet which are required to run Nuxt as an Express Middleware...

Is there any plan for this?

### What does the proposed changes look like?

in the JS version of the Express + NuxtJS the server entryfile f

[2019-02-10 17:57] fernyettheplant opened #11200 "TypeDefs for Nuxt and Builder Class"

[2019-02-10 17:57] fernyettheplant opened #11260 "TypeDefs for Nuxt and Builder Class"

[2019-02-10 17:57] fernyettheplant opened #11323 "TypeDefs for Nuxt and Builder Class"

[2019-02-10 17:57] fernyettheplant opened #11366 "TypeDefs for Nuxt and Builder Class"

[2019-02-10 17:57] fernyettheplant opened #11374 "TypeDefs for Nuxt and Builder Class"

[2019-02-10 17:57] fernyettheplant opened #11525 "TypeDefs for Nuxt and Builder Class"

[2019-02-10 17:57] fernyettheplant opened #11552 "TypeDefs for Nuxt and Builder Class"

[2019-02-10 17:57] fernyettheplant opened #11646 "TypeDefs for Nuxt and Builder Class"
### What problem does this feature solve?

I'm trying to do an Express + NuxtTS application integration but I noticed that `nuxt-ts` doesn't have the `Nuxt` and `Builder` classes Typedefs defined yet which are required to run Nuxt as an Express Middleware...

Is there any plan for this?

### What does the proposed changes look like?

in the JS version of the Express + NuxtJS the server entryfile f

[2019-02-10 20:55] benoitemile commented on #4978
I would invert 5 and 6.
Transitioning to our new page would leave us handle some placeholder blocks (for example) until data is done loading.

[2019-02-11 00:23] #4751 closed

[2019-02-11 01:53] sam3d commented on #4745
This issue remains unresolved.

[2019-02-11 02:41] Krutie commented on #4996
Hey @dextherry,
I think this is because regular (route) middleware and serverMiddleware are mixed up. serverMiddleware cannot live in `middleware` directory. (i.e. `file.js` is misplaced)

Although it's incorrect anyway, but in `nuxt.config` the location of `handler` doesn't really match with actual location of `file.js`.

I'd rather create new `api` directory in the root folder with rest of the f

[2019-02-11 03:13] siberiadev opened #4999 "404 error on /dist/*.js files after rebuild nuxt (SSR mode)"
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

### Reproduction link

[https://test](https://test)

### Steps to reproduce

npm run build

### What is expected ?

Client can access all files of the project

### What is actually happening?

Every time when we rebuild our project on server we got same problem with some of JS files. Actually all files are available in dist/cli

[2019-02-11 03:16] siberiadev commented on #4999
//MY NUXT CONFIG
const webpack = require('webpack');
const axios = require('axios');
module.exports = {
  mode: 'universal',
  head: {
    title: 'KUKKU.RU - маркетплейс нашего города.',
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { name: 'csrf-token', content: ''},
      { hid: 'description', name: 'description', conten

[2019-02-11 05:54] hardikshah91 commented on #4757
Same issue
V: 2.2.0
Universal mode
https://cmty.app/nuxt/nuxt.js/issues/c8632

[2019-02-11 07:00] aaronransley commented on #4884
I have updated to nuxt 2.4.3 and continue to receive errors when attempting to import my `scrollBehavior` function from an external module.

I tried a `yarn upgrade nuxt`, tried manually incrementing the version in `package.json`, verified the newest Nuxt is installed, and even deleted my node_modules folder & reinstalled. No dice.

Errors and snippets below:

**nuxt.config.js**
[code]

**lib/rout

[2019-02-11 07:07] aaronransley opened #5001 "Syntax errors when supplying external function to scrollBehavior key in nuxt.config.js router config"
### Version

[v2.7.1](https://github.com/nuxt.js/releases/tag/v2.6.2)

### Reproduction link

* CodeSandbox<br>https://codesandbox.io/s/84n4511202?fontsize=14

### Steps to reproduce

**nuxt.config.js**

[code]

**lib/route-utils.js**

[code]

**When running `nuxt dev`**

[code]

### What is expected ?

Ability to use external functions as scrollBehavior handler

### What is actually happening?

S

[2019-02-11 08:51] Crazymuyang opened #5002 "Nuxt Error: Server resources are not available!"
### Version

[v2.0.0](https://github.com/nuxt.js/releases/tag/v2.0.0)

### Reproduction link

[http://i`m afraid i can`t provide a link.](http://i`m afraid i can`t provide a link.)

### Steps to reproduce

Build the project and copy specified files to separate directory (or a production server) and starting server locally,then an error throw.At the same time ,the local version works fine.

### Wha

[2019-02-11 09:13] pi0 commented on #5002
@Crazymuyang Do you confirm that you also copy `.nuxt` dir to production?

[2019-02-11 09:42] Crazymuyang commented on #5002
@pi0 Yes.I have already configured the parameter`buildDir` as 'nuxtdist' in the nuxt config file `nuxt.config.js`.Actually, it is an old project.When i come back to my company after the Spring Festival and update something to the production env,the project go out.
My English is not very well.Wish you can understand what i want to explain.

[2019-02-11 09:48] Crazymuyang commented on #5002
@pi0 And I think I have the same issue as that question on Stack Overflow.
Please look here `https://stackoverflow.com/questions/54485785/nuxt-deployment-error-server-resources-are-not-available`.
Thanks.

[2019-02-11 09:50] pi0 commented on #5002
@Crazymuyang Thanks for the explanation but honestly without reproduction it is hard to debug. Can you provide somehow source of you project?

[2019-02-11 11:32] #4319 closed

[2019-02-11 14:03] manniL commented on #3828
Could it be related to https://github.com/webpack/watchpack/issues/25 ? 🤔

[2019-02-11 15:31] IPRIT commented on #4935
Agree with that. My company using classic mode in production and we are built easy to use module system on top of classic mode.

[code]

[2019-02-11 15:43] stevefan1999-personal commented on #4965
This might not be the fault of Nuxt, but rather [extract-css-chunks-webpack-plugin](https://github.com/faceyspacey/extract-css-chunks-webpack-plugin) itself:
I set a halting trap right over the `publicPath` variable:
[code]
(Nope, debugger won't work in this case)

And got this when `query.publicPath` is nowhere to be seen:
[code]
Then obviously `typeof query.publicPath` is going to be `undefined`

[2019-02-11 16:22] akhoury commented on #4989
@manniL thanks, `node -r esm` def saved the day. I've read through both those links you shared before i filed this ticket, what didn't make sense to me is that i was able to mix `import` and `require` sometimes, but others i can't, depending on some specific lines of code.

Ideally, I was hoping to get to the bottom of this, but `node -r esm` is a quick remedy for now

[2019-02-11 17:14] karakum opened #5006 "Cannot find module 'pages/index.js?v=d187aabeaedb9b4063f6' from '/sandbox'"
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

### Reproduction link

[https://codesandbox.io/s/ov642w2v25?module=%2Fnuxt.config.js](https://codesandbox.io/s/ov642w2v25?module=%2Fnuxt.config.js)

### Steps to reproduce

Make `chunkName` as `'[name].js?v=[contenthash]'` in `nuxt.config.js`

### What is expected ?

There is no error

### What is actually happening?

Error pag

[2019-02-11 19:28] pimlie commented on #4991
As mentioned in https://github.com/nuxt-community/nuxt-generate-cluster/pull/17 this behaviour should always be configurable. There are many valid reasons why you still could want to continue on unhandled page errors (eg time constraints by pressing clients who want you to publish YESTERDAY and not now or tomorrow).

Changing this behaviour is a breaking change.

[2019-02-11 19:31] aparajita opened #5008 "yarn --pnp breaks nuxt"
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

### Reproduction link

[https://github.com/nuxt/nuxt.js/pull/4875](https://github.com/nuxt/nuxt.js/pull/4875)

### Steps to reproduce

create-nuxt-app test
[select yarn as package manager]
cd test
rm -rf ./node_modules
yarn --pnp
yarn run dev

### What is expected ?

I expect nuxt to run the dev server.

### What is actually ha

[2019-02-11 20:04] mrjackwills commented on #4935
The documentation needs to be improved for the module version, as far as I can tell, you need an index.js file inthe store folder, but this can just be:

import namedModule from '@/store/nameModule';

and then the namedModule file will be:

const state () =>{
    someData: undefined,
};

const mutations = {
	doSomething: (state,) => state.someData = 'no longer undefined,
}

export default {state,

[2019-02-11 21:01] manniL commented on #3828
Fun fact: This is a bug in safari itself.

https://github.com/vuejs/vue-cli/issues/1132

[2019-02-11 21:20] pimlie commented on #4945
This is not a Nuxt issue but a Vue-Meta one, could you please create an issue in the vue-meta repo and refer to this one? https://github.com/nuxt/vue-meta/

The problem is that `head()` is transformed into a computed property, and by adding `this.$route` that computed property updates when the route changes. Also meta updates are protected from running at the same time, but they can still run inst

[2019-02-11 21:56] pi0 commented on #5008
The first issue found. PNP seems not supporting `bin` field as an object. (Only string supported) workaround for testing: `yarn node -p "require('nuxt-edge/bin/nuxt')"`  (more issues exist) will update issue if found workarounds

[2019-02-11 23:52] gustawdaniel opened #5010 "Starter is read only"
I mean:

This repository has been archived by the owner. It is now read-only.

And I do not know if should I start by:

[code]

or by

[code]

which docs is official?

[2019-02-11 23:52] #5010 closed

[2019-02-12 00:15] bichikim commented on #4877
@iwata may you need to define the $loading type

[code]

[2019-02-12 00:43] dohomi opened #5011 "Introduce a serverless mode"
### What problem does this feature solve?

Currently having Nuxt served via lambda is not an easy task. Especially to deploy with the awesome zeit.co/now platform it would be great if Nuxt could have a serverless mode similar to NextJS:
https://nextjs.org/blog/next-8/#serverless-nextjs

### What does the proposed changes look like?

It would be great if a mode:'serverless' would get implemented an

[2019-02-12 01:39] tmorehouse commented on #4204
@AndrewBogdanovTSS

The issue appears to have been fixed.

[2019-02-12 06:50] 516310460 commented on #5002
I had the same problem.
Step:
1.npm run start
2.Error: Server resources are not available!

[2019-02-12 07:38] Nandiin commented on #4878
Please let me know if you guys need any additional information to proceed on this.

[2019-02-12 08:20] IPRIT opened #5013 "[Vuex] this.state inside actions is undefined"
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

### Reproduction link

[https://imsorry.but.icant/setup/nuxt](https://imsorry.but.icant/setup/nuxt)

### Steps to reproduce

1. Create vuex store
2. Create action
3. Output this.state in the action
4. Dispatch the action
5. You will see undefined in your console

### What is expected ?

In previous versions (<2.4.0) I had acces

[2019-02-12 09:27] antoinerey commented on #4945
cc https://github.com/nuxt/vue-meta/issues/320

[2019-02-12 09:27] ozum opened #5014 "vuex plugin is not executed during hot module reload (HMR)"
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

### Reproduction link

[https://codesandbox.io/s/vyqwrl0895](https://codesandbox.io/s/vyqwrl0895)

### Steps to reproduce

* npx create-nuxt-app <project-name>
* Create a class including a static method which exports a vuex plugin and a method which depends on some work done in plugin method. i.e. **some-class.js**
[code]

* Re

[2019-02-12 09:30] iljamm commented on #5002
I am getting this with nuxt 2.4.3, when running it via express (server.js) as described here https://github.com/pi0/nuxt-plesk-example

[2019-02-12 09:32] Crazymuyang commented on #5002
@pi0 Yeah. But a bad news. In the last few hours, i have tried to seperate a simple demo from my project. I have installed the dependencies again and again, but the error did not appear any more. That is a very puzzling thing. I am not sure if it will appear again.
@516310460   Have you already solve the problem? And can you reproduce it?  Anyway, we need to reproduce the problem. :(

[2019-02-12 09:35] pi0 commented on #5002
This error happens because `@nuxt/vue-renderer` can't read production dist (filesystem) from `.nuxt/dist/server`. Using `DEBUG=1` environment variable may help more verbose logs.

[2019-02-12 09:38] iljamm commented on #5002
when you say "can't read production dist" is this a wrong path issue or something else?

[2019-02-12 09:59] Crazymuyang commented on #5002
@pi0 It comes again.
[code]

[2019-02-12 10:05] pi0 commented on #5002
For programmatic usage, there should be something wrong in the code. We can help more on this if you can provide a reproduction repository. The error or logs aren't enough.

[2019-02-12 10:10] manniL commented on #4945
Closing here in favor of the linked ☺️

[2019-02-12 10:10] #4945 closed

[2019-02-12 10:12] manniL commented on #5013
Your actions should *never* use `this.state`. Instead, use state given by the action ctx.

[code]

[2019-02-12 10:15] manniL commented on #5013
A word to the favored store approach:

That's **exactly** what you can do with the modularized store mode provided by nuxt.

Same here: This is exactly what Nuxt enables here 😮

Imagine you have a module called "cart".
You could split stuff up as:
- `store/cart/index.js`
- `store/cart/actions.js`
- `store/cart/getters.js`

and so on.
Each file has to use a default export.

Nested modules are also

[2019-02-12 10:15] #5013 closed

[2019-02-12 10:17] manniL commented on #4204
Nice!

[2019-02-12 10:17] #4204 closed

[2019-02-12 10:18] manniL commented on #5011
We've noticed the demand for that mode some time ago ☺️

[2019-02-12 10:19] manniL commented on #4877
@bichikim The issue is that it's a **naming collision** between the `$loading` from nuxt and the one from ElementUI/Buefy.

[2019-02-12 10:20] manniL commented on #5010
![image](https://user-images.githubusercontent.com/640208/52628518-c3c2f880-2eaf-11e9-80f8-1602c167a642.png)

[2019-02-12 11:27] IPRIT commented on #5013
@manniL How can I access state from different module inside action? For example I have region domain stored in the module named `region` and I need this domain inside another module.

[2019-02-12 11:33] manniL commented on #5013
@IPRIT not related to nuxt. see https://vuex.vuejs.org/guide/modules.html#module-local-state ;)

[2019-02-12 11:52] bosenok commented on #4914
confirm

[2019-02-12 13:50] manniL commented on #4938
See #4927

[2019-02-12 13:50] #4938 closed

[2019-02-12 13:53] paulmasek commented on #5002
I'm getting this too - like the others, I can't post a link on here.

Other members of my team on the same project are not getting it with earlier node versions - so I'm wondering if its node version related? I'm on v11.9.0.

It looks to me like a memory leak of some kind - my machine gets slower and slower throughout the day whilst working on the project, until my mac eventually requires a restar

[2019-02-12 14:08] manniL commented on #4926
Duplicate of #5006

[2019-02-12 14:08] #4926 closed

[2019-02-12 14:10] manniL commented on #4983
Have you read the linked issue in the error msg? (https://github.com/vuetifyjs/vuetify/issues/4068)

[2019-02-12 14:13] #4983 closed

[2019-02-12 14:14] manniL commented on #4753
There is also https://github.com/maoberlehner/vue-lazy-hydration / https://github.com/znck/lazy-hydration ☺️

[2019-02-12 15:43] iljamm commented on #5002
My node is v9.10.0, but my setup includes express server...

On 12 February 2019 at 13:54:32, Paul Masek (notifications@github.com) wrote:

I'm getting this too - like the others, I can't post a link on here.

Other members of my team on the same project are not getting it with earlier node versions - so I'm wondering if its node version related? I'm on v11.9.0.

It looks to me like a memory leak

[2019-02-12 16:52] IPRIT commented on #5013
@manniL Oh, thank you. I didn't see that I have rootScope inside the action.

[2019-02-12 17:01] homerjam commented on #4912
@renspoesse one thing it does for me is make it more straightforward to include reusable store modules - it's now more inline with the way plugins work.

[2019-02-12 17:03] manniL commented on #4912
@renspoesse IMO it's way more "in line" with other areas of Nuxt. As @homerjam mentioned, things like plugins or routes are heavily utilizing the filesystem. Same should be for the store.

If the demand is high enough or somebody is willing to put in the time, the "classic" store might have a chance to exist as a community module but it will likely vanish from the core in the next major version.

[2019-02-13 00:24] VulgarnyKarlson commented on #4757
bump
Universal mode
V:2.3.4
Sometimes (its really calls like a random) calls mounted, data(rewriting all), created  - calling twice

[2019-02-13 01:07] studnitz opened #5020 "'nuxt-ts dev dir-name' does not work"
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

### Reproduction link

Not available

### Steps to reproduce

Have srcDir for example not in rootdir, but in `frontend`
Try `nuxt-ts dev frontend`

### What is expected ?

It should work like  `nuxt dev frontend`

### What is actually happening?

It does not respect the directory as the second argument and tries to run nuxt in

[2019-02-13 02:28] bichikim commented on #4877
@manniL Oh i see~ in that case, fix element-ui loading at `element-ui/lib/loading`

[2019-02-13 02:30] iwata commented on #4897
@EnOane
I think that it is not fundamentally settled.

[2019-02-13 03:56] coreysyms opened #5021 "nuxt-link destroys no-ssr content specifically vue-slick"
After clicking on any `nuxt-link` my slick carousel is destroyed() (un-initalized), leaving all the slides just stacked one on top the other, any ideas? Nuxt issue? vue-slick issue?

[code]

[2019-02-13 03:56] #5021 closed

[2019-02-13 04:07] Crazymuyang commented on #5002
@pi0  Maybe [this](https://github.com/Crazymuyang/NuxtErrorDemo2.git) can provide some use.
I have tried to upload [a simple version](https://github.com/Crazymuyang/NuxtErrorDemo.git) of my project to github, but when i cloned it to my pc, the error didnot appear anymore.

[2019-02-13 05:22] #4765 closed

[2019-02-13 05:30] siberiadev opened #5022 "Module build failed buble.js, templateLoader.js, Parser.pp$4.raise"
This is not an issue, it's just a big problem, wich I can't resolve by my self. So maybe someone can help me.
When I run dev my nuxt app in ssr mode it give me an error below:

`Module build failed (from ./node_modules/vue-loader/lib/loaders/templateLoader.js): SyntaxError: Unexpected token (1:239) at Parser.pp$4.raise (e:\OSPanel\domains\webfolder\node_modules\vue-template-es2015-compiler\buble.j

[2019-02-13 05:30] #5022 closed

[2019-02-13 05:35] Glutnix opened #5023 "using bodyAttrs in nuxt.config.js"
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

### Reproduction link

[(https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/r7k9ok63zm)

### Steps to reproduce

See it here on CodeSandbox:
[![Edit head puts classes back when it shouldn't]()

1. Put `head() { return { ... } ` code in layouts and page components
2. Add appear.js to plugin folder

[2019-02-13 05:38] siberiadev commented on #5022
What I already done:
1. Check my all js files for any errors
2. Rebuild all node_modules
3. Check google.com for this type of error

[2019-02-13 05:40] siberiadev commented on #5022
Comand line says after complete compilation^

√ Client
  Compiled successfully in 4.26s

× Server
  Compiled with some errors in 4.62s

[2019-02-13 06:17] siberiadev commented on #5022
Anyone please

[2019-02-13 07:07] Botre opened #5024 "Why is ERR_REDIRECT thrown here?"
https://github.com/nuxt/nuxt.js/blob/f791d786e0996e4cad2b1ddbe244a747e7e700aa/packages/vue-app/template/utils.js#L180

<div align="right"><sub><em>This question is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/nuxt.js/issues/c8652">#c8652</a>)</em></sub></div>

[2019-02-13 07:07] #5024 closed

[2019-02-13 08:33] shalldie commented on #4993
I missed the `nuxt.config.ts` also, thx ~

[2019-02-13 09:17] williamchong007 opened #5026 "@nuxt/babel-preset-app ignores .browserlistrc"
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

### Reproduction link

[https://codesandbox.io/s/qqwx3175kq](https://codesandbox.io/s/qqwx3175kq)

### Steps to reproduce

create file `.browserslistrc` with valid browserlist query, say `ie 11`

in nuxt.config.js enable babel debug mode
[code]
to observe babel config

### What is expected ?

babel runs with target "ie 11"

###

[2019-02-13 09:18] #5006 closed

[2019-02-13 09:23] manniL commented on #5026
Not sure whether it's intended to respect the a `.browserlistrc` or not.
🤔

cc @clarkdo

[2019-02-13 09:40] angryeuan commented on #5002
I've just run into this bug. Has anyone found a reliable fix?

[2019-02-13 10:22] #4965 closed

[2019-02-13 11:06] clarkdo commented on #5026
@williamchong007
Since nuxt will set `ie9`(client) and `node: current`(server) as default targets, so if you want to use `browserlist`, please try:

Note: `.browserslistrc` under `configPath`

[code]

[2019-02-13 11:08] abh153k opened #5029 "How to run a script every time page is loaded?"
My client sent me an HTML template that heavily relies on jQuery. The app itself runs on nuxt. I have a js file that contains a whole lot of `$(function(){...})`. Now I don't know how to run this file on each page transition.

So far, I have tried:

 1. Creating a `plugin` inside `plugins` dir that looks like:
[code]
here `base-init.js` has all those jquery code

  2. Adding `mounted` (inside `def

[2019-02-13 11:08] #5029 closed

[2019-02-13 11:15] angryeuan commented on #5002
So building on the server sorted this for me. Building locally then deploying fails.

Seems like **clientManifest** and **serverManifest** are (possibly) not created when building locally, for whatever reason...

[2019-02-13 12:04] cypressious commented on #4552
Any updates on this? Anthing that improves build times would be a welcome addition.

[2019-02-13 12:31] williamchong007 commented on #5026
Thanks for the reply
Should I treat this as a temp fix or a long term solution?

[2019-02-13 12:36] williamchong007 commented on #4839
FYI npm is reverting their fix https://github.com/npm/cli/pull/152

[2019-02-13 13:48] manniL commented on #4552
you could use `modern` only in prod for now @cypressious

[2019-02-13 13:56] AndrewBogdanovTSS commented on #4552
@manniL doing exactly that for now :)

[2019-02-13 14:59] kamontat opened #5030 "localIdentName didn't change in scss"
### Version

[v2.4.1](https://github.com/nuxt.js/releases/tag/v2.4.1)

### Reproduction link

[https://gitlab.com/kcnt/resume](https://gitlab.com/kcnt/resume)

### Steps to reproduce

1. Add custom css module name `loaders.cssModules.localIdentName = '__custom_[name]_[local]'` in extend method in nuxt.config.js
2. Get module rules configuration
[code]
3. Look in `scssRule.oneOf[0].use[1].options.l

[2019-02-13 15:12] imShara commented on #4873
@PrimozRome same here

[2019-02-13 15:28] PrimozRome commented on #4873
@imShara i switched to yarn and it works ok. Maybe you can make switch too... It's an NPM bug.

[2019-02-13 15:34] imShara commented on #4873
@PrimozRome, yep, I temporary switched too, but no prefer yarn

[2019-02-13 15:44] Ice-Hazymoon opened #5031 "How to get the title of the page in components"
I'd like to get the title of the page in component, like `this.$meta().inject().titlechunk`,  but it doesn't work in `computed`.

[2019-02-13 15:44] #5031 closed

[2019-02-13 21:02] rodrigopedra commented on #3828
There is a PR in the vuejs repo addressing this issue:

https://github.com/vuejs/vue-cli/pull/2403

Also, I have this problem in Firefox when I set a preference to block cookies from third-party trackers. If I change to any other values the reload loops no longer occurs

To set this option in Firefox, open Firefox and navigate to:

about:preferences#privacy

Then change Content blocking to custom,

[2019-02-13 22:02] rchl opened #5032 "[SPA] Redirect to external URL from asyncData replaces current history entry"
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

### Reproduction link

[https://codesandbox.io/s/8yl9852pv9](https://codesandbox.io/s/8yl9852pv9)

### Steps to reproduce

1. Create `pages/fail.vue` with:
[code]

2. Create `pages/redirect.vue` with:

[code]

3. Create `pages/index.vue` with:

[code]

4. Navigate to /fail
5. Navigate to /
6. Click the link
7. Navigate back in

[2019-02-13 22:12] rchl commented on #5032
Non-ideal workaround would be to trigger redirect from a short timeout. Not ideal because the `redirect.vue` page will render before redirecting and that looks ugly.

[2019-02-13 23:59] MuhammedKpln opened #5033 "Head meta in pages not working first load!"
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

### Reproduction link

[https://github.com/nuxt/nuxt.js/issues/3300](https://github.com/nuxt/nuxt.js/issues/3300)

### Steps to reproduce

I'm having a problem with head title and meta in pages not working for the first time on the web, but it works after I reload the page, I do not know where the error is for people to help!

[2019-02-14 02:00] Crazymuyang commented on #5002
![for-nuxt-error](https://user-images.githubusercontent.com/28809916/52757202-dfa8d480-303e-11e9-82b6-622b4ab2fdbf.png)
@angryeuan Yeah.As you can see on the piciture. Reinstall  DEPENDENCIES may fix it.

[2019-02-14 02:21] cocodrino opened #5034 "include nestJS as supported backend framework"
### What problem does this feature solve?

now that typescript is supported would be great if we would build a full typescript apps (frontend and backend) with nuxtjs and nestjs, which seems the most promising and used framework for typescript

<div align="right"><sub><em>This feature request is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/nuxt.js

[2019-02-14 10:11] clarkdo commented on #5026
@williamchong007

Now, You can use it for sure, and I'll just close this issue 😄

About some more appropriate solution, I'll think about it, if you have any suggestions, feel free to comment here.

[2019-02-14 10:11] #5026 closed

[2019-02-14 10:13] arambert commented on #4877
This error prevents the command `nuxt-ts generate` from working...

In my case, it's conflicting with Buefy.
So as a dirty temporary fix, I've edited `node_modules/@nuxt/vue-app-edge/types/index.d.ts` with:

[code]

[2019-02-14 10:59] il-m-yamagishi commented on #4876
[code]

the script is appended to body and its hash are `sha256-4RS22DYeB7U14dra4KcQYxmwt5HkOInieXK1NUMBmQI=`.

It is workaround for Safari 10.1 `nomodule` bug. See [Safari 10.1 `nomodule` support](https://gist.github.com/samthor/64b114e4a4f539915a95b91ffd340acc).

in v2.4.3, [here](https://github.com/nuxt/nuxt.js/blob/13e494c0f0013252994eb0de0c4d92bd507b119d/packages/webpack/src/plugins/vue/moder

[2019-02-14 13:25] husayt commented on #4552
Any ideas when was this fixed @koresar @manniL ? I see this still happening in 2.4.3 with generate:

I see borwser loading both sets of js files

[2019-02-14 16:24] clarkdo commented on #4552
@husayt Could you provide a repo ?

[2019-02-14 16:31] clarkdo commented on #4552
For anyone wants include modern bundles only, actually you don't need to use `build.modern`.

You can leverage `@nuxt/babel-preset-app` directly, increase babel transpiling level by：

[code]

[2019-02-14 16:34] clarkdo commented on #4304
RFC: https://github.com/nuxt/rfcs/issues/7

[2019-02-14 16:45] AndrewBogdanovTSS commented on #4552
thanks for a workaround @clarkdo but it would be great to see a cleaner built in option that can be applied in nuxt.config

[2019-02-14 16:53] clarkdo commented on #4552
@AndrewBogdanovTSS Working on it recently 😸

[2019-02-14 18:00] Palivonas opened #5039 "Force asyncData and fetch in generated app"
### What problem does this feature solve?

My statically hosted app contains many static pages that make no network requests. `nuxt generate` is great for that. However some pages (let's call them dynamic) need to load up-to-date data from an API. This works fine when the app is already loaded in the browser and user navigates to a dynamic page, cause that triggers `asyncData` and `fetch`.

The is

[2019-02-15 04:23] FabioZanchi opened #5040 "[Help] How to use dynamic CSS files with Nuxt?"
I'm working in a project that have different users with their logos. Based on the API call I want to load a different CSS with different colour palette.

Now I have a css folder inside assets folder with main.js (with my custom font styles, etc) and another files in there for the custom color palette: <color-name>-palette.css.

In my nuxt.config I'm calling the CSS colour like that:

  `css: [

[2019-02-15 04:24] #5040 closed

[2019-02-15 06:37] nghiepit opened #5041 "Nuxt 2 - Can not load font (.woff) file"
Hi guys,

I'm using ElementUI and [custom-theme](https://element.eleme.io/#/en-US/component/custom-theme)

But I saw error with file font.

![image](https://user-images.githubusercontent.com/4768095/52838878-ba8f9100-3126-11e9-9dea-8c6f2d98bf1d.png)

[2019-02-15 06:40] nghiepit opened #5042 "Nuxt 2 - Can not load font (.woff) file"
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

### Reproduction link

[https://user-images.githubusercontent.com/4768095/52838878-ba8f9100-3126-11e9-9dea-8c6f2d98bf1d.png](https://user-images.githubusercontent.com/4768095/52838878-ba8f9100-3126-11e9-9dea-8c6f2d98bf1d.png)

### Steps to reproduce

Hi guys,

I'm using ElementUI and [custom-theme](https://element.eleme.io/#/en

[2019-02-15 07:29] bdrtsky commented on #5040
Isn't it's just simpler to use CSS variables or add theme classes to body? \

[2019-02-15 10:41] AndrewBogdanovTSS commented on #4552
@clarkdo I tried your snippet but it didn't change build behavior in any way, still got 2 client builds happening instead of just modern one

[2019-02-15 11:14] clarkdo commented on #4552
With this config, you don't need to specify `modern`, because default client build will generate modern bundles by babel.

[2019-02-15 11:17] AndrewBogdanovTSS commented on #4552
@clarkdo so the actual "green" line means modern build now?

[2019-02-15 11:20] husayt commented on #4552
@clarkdo Here is the demo:

https://codesandbox.io/s/r4v8mr729p

I just added this to nuxt-config:
[code]

You can see browser loads both sets of js files modern and classic. I also get a warning in chrome:

....

[2019-02-15 11:21] clarkdo commented on #4552
Yes, it's just a way to make bundles have a higher transpilation level, then bundles will be built with only supporting modern browsers.

[2019-02-15 11:22] clarkdo commented on #4552
@husayt Please have a look at my comment above, please remove `modern` in nuxt.config.

[2019-02-15 11:28] husayt commented on #4552
I tired various browsers. This happens in Chrome 69. Edge. IE11. Only Firefox 60 behaved as expected and did only load modern bundle.

[2019-02-15 11:45] AndrewBogdanovTSS commented on #4552
@clarkdo will it build all 3 bundles for production with such setup? I want `only-modern` only in dev mode

[2019-02-15 12:04] clarkdo commented on #4552
@AndrewBogdanovTSS We're discussing this, if the proposal gets agreed, I'll work on it asap

[2019-02-15 12:05] clarkdo commented on #4552
@husayt Your issue will be fixed in #5043

[2019-02-15 15:17] jagreehal commented on #3776
@manniL vue 2.6 is out now so can the 'waiting for dependency' label be removed?

[2019-02-15 15:38] husayt commented on #5042
@nghiepit there is not enough details here. Where is your code?

[2019-02-15 15:57] nghiepit commented on #5042
@husayt

Thanks for your response.
This is my repo https://github.com/nghiepit/nuxt2-element-ui-bug

[2019-02-15 17:00] PJLindsay commented on #4846
is this issue reported in the wrong repo? perhaps it should be put in "auth-module" repo? https://github.com/nuxt-community/auth-module/issues @manniL let me know and I can make a new issue over there if you prefer (then we can close this) - I do know that without changing any code, withCredentials works in nuxt 1.4.4 but not in at least 3 versions of nuxt 2.x

[2019-02-15 17:13] ais-one commented on #5011
You know, whatever serverless solution that is being worked on also needs to take into account if the website has dynamic subdomain mechanism

e.g. login user can visit both aaa.test.com, bbb.test.com, etc. which is served from the same app :)

It is not just a simple matter of shoving it up to Lambda, you probably need to setup other services such as cloudfront, APIG, etc...

[2019-02-15 17:50] kevinmarrec commented on #4896
@andoshin11 Any updates around this issue ? I need more info

[2019-02-15 18:00] kevinmarrec commented on #4998
@jefer590

Well, these typedefs parts may only be defined if we rewrite these core parts in TypeScript (at least it will be easier as well could be able to autogenerate typedefs).

Defining 100% typedefs of these classes manually would mean that we'll have defined every subclasses & interfaces which is kind of define the whole project TS définition ^^.

[2019-02-15 20:02] adrianbw commented on #4432
I'm having issues with this, too. I've had to use polyfill.io to polyfill Object.assign and Object.entries.

[2019-02-15 20:05] clarkdo commented on #4432
@adrianbw Could you provide a repo that can reproduce the issue?

[2019-02-15 20:57] jefer590 commented on #4998
@kevinmarrec
I think an autogenerated typedefs could work for now

100% typedefs could be something that can be handled in a future major release

[2019-02-15 20:59] kevinmarrec commented on #4998
@jefer590 We can't autogenerate typedefs until we rewrite the class in TypeScript, only way for now is to define them manually as `any` type to not have errors

[2019-02-15 21:13] thejmill commented on #4735
@gemmadlou were you able to identify the issue with "nuxt build"? I'm also getting an error when running this command on AWS CodeBuild without any helpful error info.

[2019-02-15 21:40] adrianbw commented on #4432
I've been trying, but I can't track it down. Somewhere between a fresh Nuxt app and our application, this isn't working. I can't share the whole repo, but maybe our config and package.json might help?

[code]
Dependencies:
[code]

[2019-02-16 00:49] marines commented on #5002
I had this and I've solved it by bumping nuxt from 2.3 to 2.4 and changing npm scripts from nuxt to nuxt-ts binary.

BTW mind that buildDir option doesn't work and it always build the app into .nuxt directory. 💩

[2019-02-16 03:44] fewiki opened #5045 "ERROR head_attrs is not defined"
After update to version 2.4.3，when render report error head_attrs is not defined

[2019-02-16 03:44] #5045 closed

[2019-02-16 03:46] fewiki opened #5046 "ERROR head_attrs is not defined"
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

### Reproduction link

[https://github.com/nuxt/nuxt.js/search?q=head_attrs&unscoped_q=head_attrs](https://github.com/nuxt/nuxt.js/search?q=head_attrs&unscoped_q=head_attrs)

### Steps to reproduce

After update to version 2.4.3，when render report error head_attrs is not defined

### What is expected ?

Is this commit fixed?

h

[2019-02-16 06:18] begueradj commented on #5002
@Crazymuyang  how come are you still using Windows OS on 2019?

[2019-02-16 12:08] jossef opened #5047 "missing meta tag on generated html"
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

### Reproduction link

[https://github.com/jossef/material-design-icons-iconfont/tree/gh-pages/src](https://github.com/jossef/material-design-icons-iconfont/tree/gh-pages/src)

### Steps to reproduce

buld and run "npm run dev" or "npm run build"
when the page loads there's an error:

[code]

this is solved if I'm manually addi

[2019-02-16 13:08] MuhammedKpln commented on #5033
Fixed by removing title tag on my app.html.

[2019-02-16 13:08] #5033 closed

[2019-02-16 13:17] manniL commented on #5047
Setting the charset to UTF8 is something that's up to the user. *However*, the `@nuxtjs/pwa` module does that by default. (see https://github.com/nuxt-community/pwa-module/blob/dev/packages/meta/index.js#L21)

[2019-02-16 13:17] #5047 closed

[2019-02-16 13:22] manniL commented on #5046
Please provide a reproduction repository or codesandbox (https://template.nuxtjs.org)

[2019-02-16 13:23] manniL commented on #4432
Maybe related to devalue? :thinking:
(https://github.com/Rich-Harris/devalue/pull/18)

[2019-02-16 13:26] manniL commented on #4846
You are right! I think it would fit better in the repo of the auth module.

Don't forget that there are huge internal changes between 1.x and 2.x

[2019-02-16 13:26] #4846 closed

[2019-02-16 13:27] manniL commented on #3776
@jagreehal Indeed!

[2019-02-16 13:50] manniL commented on #5039
I guess `generate.exclude` could suit your needs there.

[2019-02-16 13:51] manniL commented on #4304
Let's continue there

[2019-02-16 13:51] #4304 closed

[2019-02-16 13:52] manniL commented on #4876
@il-m-yamagishi good catch! Would you like to submit a PR?

[2019-02-16 13:55] manniL commented on #5034
You can already use NestJS + Nuxt.js by separating both instances. That's also the recommended way (IMO). See https://blog.lichter.io/posts/my-take-on-using-nuxt-with-an-api

Using it "under the hood" (instead of connect) probably won't happen.

[2019-02-16 13:55] #5034 closed

[2019-02-16 13:57] manniL commented on #3828
@rodrigopedra So, the thing is we used `hash`es for development mode file names too (in 1.x) but they were causing huge memory leaks. And releasing a "fix" that creates another known problem is not the goal.

[2019-02-16 14:19] Palivonas commented on #5039
@manniL is that an existing feature or a proposal? I did not find it documentation. Tried putting this into `nuxt.config.js`, no dice 🤔

[code]

[2019-02-16 15:11] manniL commented on #5039
@Palivonas It actually is but docs are still WIP :see_no_evil:
https://github.com/nuxt/nuxt.js/pull/4754

Use a regex that matches the route. that should work

[2019-02-16 16:12] begueradj commented on #5034
Then why all those Node.js backend options in the Nuxt.js starter template? They mislead me in the beginning. IMO they should be removed from the installation process

[2019-02-16 18:20] manniL commented on #5034
@begueradj This is indeed planned.

[2019-02-16 19:25] padarom opened #5048 "Allow middleware to be applied to route groups"
### What problem does this feature solve?

In real-world use cases you often have to apply middleware to a group of routes. Currently however there's only native capabilities to apply middleware to single routes or apply them globally. When you want to apply the middleware to a group of routes, you have to either check for the route within the middleware (which kills reusability) and apply it glob

[2019-02-16 19:32] shaunc commented on #4935
Indeed, there should be some mechanism to consume modules (and maybe stores?...) imported from other places, such as Vuex-simple-based modules. (Eg I have written a library to deal with auth-related state as a Vuex-simple module.)

[2019-02-16 22:29] jhalmu opened #5049 "bootstrap-vue/nuxt do not load bootstrap default css as mentioned in getting started"
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

### Reproduction link

[https://bootstrap-vue.js.org/docs/](https://bootstrap-vue.js.org/docs/)

### Steps to reproduce

I don know

### What is expected ?

Add bootstrap-vue/nuxt to modules section of nuxt.config.js.

This will include both boostrap.css and bootstrap-vue.css default CSS.

### What is actually happening?

Have

[2019-02-17 02:18] kalenjordan commented on #4917
I think this is also something that I need. The initial server response time is regularly >1.5s which is quite slow IMO. Getting that initial page to load static index.html with a fallback for dynamic routes would be awesome.

[2019-02-17 02:51] shaunc commented on #2033
Hmm... so if I have in my store,
[code]
Will secret be somehow available in the client? (process is not, and `secret` is not present in `context.env`) If not, then this seems simpler than serverMiddleware?

[2019-02-17 06:51] wb421768544 commented on #5002
[code]

[2019-02-17 10:14] DavudSafarli opened #5050 "plugin not loading on first load"
Hi.
I'm new in nuxt.js, so i don't know what i am doing wrong here, maybe it has a simple solution.
I want to load Vuetify before rendering page,

my nuxt.config.js

`plugins: [
    {src: '~/plugins/vuetify.js', mode: 'client'}
  ],
`

plugin/vuetify.js

`import Vue from 'vue';`
`import Vuetify, {`
`  VApp,`
`  VContainer,`
`  VContent,`
`} from 'vuetify/lib';  `
` `
`import 'vuetify/src/stylus/ap

[2019-02-17 10:14] #5050 closed

[2019-02-17 10:27] Palivonas commented on #5039
@manniL oh okay I was testing with an older version. Thanks, this will do!

[2019-02-17 10:27] #5039 closed

[2019-02-17 11:01] vadxq commented on #5049
I have the same question in v2.4.3.
And I want use module and plugins to solve it.
https://nuxtjs.org/guide/modules

plugin.js

`import Vue from 'vue'
`import BootstrapVue from 'bootstrap-vue/dist/bootstrap-vue.esm'
`
`Vue.use(BootstrapVue)

module.js
`
`import path from 'path'
`
`export default function nuxtBootstrapVue (moduleOptions) {
`  // Register `plugin.js` template
`  this.addPlugin(path.

[2019-02-17 12:19] pbastowski opened #5051 "titleTemplate with arrow function expression produces an error"
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

Browser: Chrome 72.0.3626.109
OS: MacOS 10.13.6 High Sierra

### Reproduction link

[https://codesandbox.io/s/rmmo942z1p](https://codesandbox.io/s/rmmo942z1p)

### Steps to reproduce

The following `titleTemplate` arrow function produces an error, see below.

### This does not work
[code]

### This works
The only difference is

[2019-02-17 17:37] markplewis opened #5052 "External script doesn't always load when added to Nuxt page via "head()""
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

### Reproduction link

[https://github.com/markplewis/nuxt-external-resource-loading-issue](https://github.com/markplewis/nuxt-external-resource-loading-issue)

### Steps to reproduce

Clone [my demo repo](https://github.com/markplewis/nuxt-external-resource-loading-issue) and then do the following:

## Case 1

1. Launch the ap

[2019-02-17 18:17] markplewis commented on #3877
FYI: I just updated [my demo project](https://github.com/markplewis/nuxt-layout-css-issue) to Nuxt 2.4.3.

[2019-02-17 21:46] rodrigopedra commented on #3828
Hi @manniL thanks for the response. I wasn't aware of these changes made from the 1.x, although I worked with Nuxt before in a previous project, I was hired just to refactor some components and didn't dig into the inner workings as I wasn't responsible for that.

Now I am in a project where we are using Nuxt 2.x and are building the aoo from scratch, so I got the chance to have a deeper look into

[2019-02-18 01:27] willi-dev commented on #5049
i also try install nuxt with bootstrap...
but no bootstrap css loaded..

[2019-02-18 02:05] prochorz opened #5053 "htm.minify not work"
I try add
[code]
but its not help

[2019-02-18 02:05] #5053 closed

[2019-02-18 09:51] R4wizard commented on #5051
To expand upon this, the following three things do *not* work for me either:

[code]

or

[code]

or

[code]

[2019-02-18 10:07] pbastowski commented on #5051
Yeah, it looks like the transpiler does not know how to properly transpile an arrow function that directly returns an expression.

[2019-02-18 10:11] manniL commented on #5051
Maybe related to #4283, #4558 and so on

[2019-02-18 10:15] manniL commented on #5049
@jhalmu That sounds more like a bug with the nuxt module itself instead of Nuxt. Please report it there ☺️
Related file: https://github.com/bootstrap-vue/bootstrap-vue/blob/dev/nuxt/index.js

cc @pi0

[2019-02-18 10:15] #5049 closed

[2019-02-18 10:26] manniL commented on #3828
@rodrigopedra I know @pi0 tried to send all possible combinations of "no cache" headers and Safari consecutively ignored them 🙈

I think a report to the browser(s) bug tracker is the best we can do for now. It should also apply to more projects than just Nuxt.js but I wasn't able to find similar bug reports besides the one linked above from `vue-cli` (where Evan stated it's a Safari bug as well).

[2019-02-18 10:58] Javid-Izadfar commented on #5049
I just opened an [issue](https://github.com/bootstrap-vue/bootstrap-vue/issues/2629) at bootstrap-vue

[2019-02-18 11:13] angryeuan commented on #5002
Reverting to **nuxt@2.3.4** fixed this for me. Thanks everyone

[2019-02-18 11:26] manniL commented on #5002
@angryeuan this is no proper way of fixing the issue though 🙈

[2019-02-18 11:30] angryeuan commented on #5002
Correct, but it lets me progress with my work and meet my deadline. I'd imagine others are in a similar situation.

[2019-02-18 12:15] paulmasek commented on #5002
Same here. If anyone has any advice on how to debug this a little more, it'd be much appreciated. I appreciate ``

[2019-02-18 12:33] p1pchenk0 opened #5055 "Allow checking if current component is page"
### What problem does this feature solve?

During work on application we faced a need to use mixin for pages only. Right now we have two options:
1. check page inside mixnin
`const isPage = this.$options.name && this.$options.name.toLowerCase().endsWith('page')`, but this is very fragile
2. manually include required mixin everytime we create new page

### What does the proposed changes look like?

[2019-02-18 13:04] Timkor opened #5056 "Attempted to assign to readonly property."
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

### Reproduction link

[https://github.com/nuxt/nuxt.js/blob/f791d786e0996e4cad2b1ddbe244a747e7e700aa/packages/vue-app/template/client.js#L81](https://github.com/nuxt/nuxt.js/blob/f791d786e0996e4cad2b1ddbe244a747e7e700aa/packages/vue-app/template/client.js#L81)

### Steps to reproduce

Throw a error while mounting Nuxt (client)

[2019-02-18 14:17] manniL commented on #5056
@Timkor Feel free to submit a PR that cover the expected state

[2019-02-18 14:53] manniL commented on #5042
Duplicate of #4060

The bug fix isn't released yet as it seems, so switching over to `nuxt-edge` or waiting for the release should do the trick!

[2019-02-18 14:53] #5042 closed

[2019-02-18 14:59] manniL commented on #5014
@ozum Thanks for the report! That means, applying HMR to the index.js would be "necessary" everytime to trigger the plugins? 🤔

[2019-02-18 16:50] ozum commented on #5014
@manniL It seems so, but I wonder (I'm not experienced on Nuxt), if there are any other places to define vuex plugins? If so, it needs more generalized solution than just applying HMR to store/index.js.

[2019-02-18 17:00] manniL commented on #5014
@ozum `export const plugins` or using a Nuxt plugin and use the VueX plugin there (as it's "just a function that has the store as first arg) are both valid approaches.

[2019-02-18 17:04] ozum commented on #5014
Thanks.

[2019-02-18 18:12] pimlie commented on #4917
@Timkor, are you aware of the possibility of component caching? https://nuxtjs.org/faq/cached-components#how-to-cache-vue-components-

[2019-02-18 21:31] antoinerey opened #5058 "Can't get 'router.addRoutes' working from plugins"
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

### Reproduction link

[https://codesandbox.io/s/2p2jxm6k5y](https://codesandbox.io/s/2p2jxm6k5y)

### Some context

The application exposes three different routes :

1. Home, defined like normal in the `router.js` file.
2. About, defined from a plugin.
3. Contact, defined from a plugin, with a special `options` property.

###

[2019-02-19 01:42] Wulawa opened #5060 "https://nuxtjs.org/guide/views/#error-page"
https://nuxtjs.org/guide/views/#error-page

_Originally posted by @NicoPennec in https://github.com/nuxt/nuxt.js/issues/1614#issuecomment-328034047_

[2019-02-19 01:42] #5060 closed

[2019-02-19 08:53] buremba opened #5062 "Reuse component if the new path resolves to the same route"
### What problem does this feature solve?

I'm aware of the watchQuery parameter but it only works for the query parameters. Consider the following case:

`/report` and `/report/10` resolves to the same page component and when the user is in the `/report` page and saves the report, we redirect the user to the `/report/10` but prevent Nuxt to reload the page component as we have all the data and th

[2019-02-19 08:57] manniL commented on #5060
https://blog.lichter.io/posts/change-the-nuxtjs-server-error-page might help

[2019-02-19 09:00] manniL commented on #5062
Duplicate of https://github.com/nuxt/nuxt.js/issues/4663

[2019-02-19 09:02] manniL commented on #5058
Any reason you don't use a `module` or the `nuxt.config.js` to extend your routes, as it is suggested in the docs?

[2019-02-19 09:48] antoinerey commented on #5058
I may have missed this page from the documentation 😇

Do you mean calling something like this ?

[code]

[2019-02-19 09:54] manniL commented on #5058
It will be even easier ☺️

The module container has a fn built-in for that ☺️
Docs: https://nuxtjs.org/api/internals-module-container#extendroutes-fn-

Example:
[code]

[2019-02-19 10:12] manniL commented on #4614
As discussed in https://github.com/nuxt/nuxt.js/pull/4755 ☺️

[2019-02-19 10:12] #4614 closed

[2019-02-19 11:26] Loilo commented on #4982
I'm experiencing the same issue and have taken some hours to investigate.

I've written down what I have found out so far in the readme of this minimal reproduction repository: [Loilo/repro-nuxt-generate-slicing](https://github.com/Loilo/repro-nuxt-generate-slicing).

[2019-02-19 11:27] buremba commented on #5062
@manniL Unfortunately, the previous issue doesn't provide any reliable solution for this feature.

The first problem with the `key` approach is that on the latest version of Nuxt, it calls `data()` so reset the state even though we have `key` attribute which is a static value.

Also setting the value of `key` automatically disable the navigation and every `$route.push` that resolves to the same co

[2019-02-19 11:32] manniL commented on #5062
Makes sense. 👍

[2019-02-19 11:56] 0xl2oot opened #5064 "production and universal mode rendering problem"
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

### Reproduction link

[https://github.com/0xl2oot/vuetify-nuxt-demo](https://github.com/0xl2oot/vuetify-nuxt-demo)

### Steps to reproduce

https://github.com/0xl2oot/vuetify-nuxt-demo

the problem is when I use Nuxt and Vuetify, in universal and production mode, refresh the page, the Vuetify theme doesn't work well.

follow m

[2019-02-19 12:31] antoinerey commented on #5058
@manniL Whoa, I completely missed it when reading the documentation. Sorry about that. I let you decide if this issue should be closed since a solution is available.

Thanks !

[2019-02-19 13:16] yariksav opened #5065 "Unexpected token '...'. Expected a property name in Safari"
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

### Reproduction link

[http://prntscr.com/mn65uj](http://prntscr.com/mn65uj)
[https://codesandbox.io/s/jk63v43ww](https://codesandbox.io/s/jk63v43ww)
### Steps to reproduce

Please help to get clarity of problem. Application falls down at loading

### What is expected ?

 Safari doesn't support spread in destructuring

### Wha

[2019-02-19 13:24] yariksav commented on #5065
![image](https://user-images.githubusercontent.com/2553313/53018215-7835bf00-345a-11e9-8e24-f6c8a9848def.png)

[2019-02-19 13:40] manniL commented on #5065
`extract-css-chunks-webpack-plugin` should never be part of your bundle as it is a webpack plugin 🤔

[2019-02-19 13:42] manniL commented on #5058
Closing here as I think that this recommended way should cover the necessary cases ☺️

[2019-02-19 13:42] #5058 closed

[2019-02-19 13:50] clarkdo commented on #5002
@Crazymuyang Are you calling `await nuxt.ready()` before listening ?

[2019-02-19 13:58] yariksav commented on #5065
Thank you, @manniL for answering. I have this bug in dev mode
I even don't realize how this module was added to vendor.
If you need to see addition information, configuration or files - let me know

[2019-02-19 13:59] angryeuan commented on #5002
So i'm using https://github.com/nuxt/create-nuxt-app (with express) to scaffold my project and not doing anything particularly fancy with it. Not sure about everyone else?

Hoping to find some time to do some tests on this later in the week. If i can reliably replicate the issues out of the box then i'll post my results here.

[2019-02-19 14:00] clarkdo commented on #5002
@acravenho Sorry about that, I'll update create-nuxt-app

[2019-02-19 14:02] manniL commented on #5065
@yariksav Can you spin up a reproduction CodeSandbox? (via https://template.nuxtjs.org/)

[2019-02-19 14:05] buremba commented on #5062
I realized that even though I redirect the user to another route, the page redirect doesn't work when `key` is defined.

[2019-02-19 14:19] Atinux commented on #5062
Hi @buremba

In this particular scenario, you want to tell Nuxt to not load any `asyncData` from the matched page when you call `this.$router.push('/report/10')` right?

[2019-02-19 14:23] Atinux commented on #5055
I would suggest to use directly a `PageComponent` that you create with the mixin inside and use it into your pages directly:

[code]

This will avoid to have any kind of global Mixin that has an impact on performances.

What is your mixin exactly and what are you trying to achieve with it that you can't do with another way?

This way we will be able to find the best solution :-)

[2019-02-19 14:29] p1pchenk0 commented on #5055
@Atinux so, do I need to extend each page I have in my project?

[2019-02-19 14:43] silverbackdan opened #5067 "Nuxt Production Build Never Finished with Express MySql Session Store"
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

### Reproduction link

[https://codesandbox.io/s/z6o0ql1o03](https://codesandbox.io/s/z6o0ql1o03)

### Steps to reproduce

Go to the server control panel and try the 'build' command.

### What is expected ?

The build should finish or an error message should show.

### What is actually happening?

The build hangs after all file

[2019-02-19 15:07] silverbackdan commented on #5067
The issue is still occurs if I roll back the package `express-mysql-session` to 2.0.1 which is one that was working in a previous project.

I then rolled back Nuxt to 2.3.4 with express-mysql-session ^2.1.0 - this build works

The issue was introduced in Nuxt 2.4.0 - it seems a lot of work was done on that release so perhaps it won't be the easiest to trace, but if there are any hints anyone could

[2019-02-19 15:12] yariksav commented on #5065
Seems to I've reproduced this bug in codesandbox
https://codesandbox.io/s/jk63v43ww
Just use latest nuxt 2.4.3 and mode: spa, and open it in Safari
![image](https://user-images.githubusercontent.com/2553313/53025403-8939fc80-3469-11e9-8ce5-5697842ca330.png)

[2019-02-19 15:53] buremba commented on #5062
Hey @Atinux, correct but the issue seems to be more complex than the `asyncData` issue. Nuxt doesn't really load pages even though the path resolves to another route.

[2019-02-19 16:01] Atinux commented on #5067
Hi @silverbackdan

This issue is related to #4944 and fixed by #4958.

Actually the patch release is not published yet.

[2019-02-19 16:42] devomacdee opened #5068 "custom error middleware is never used when a server side error is thrown"
### Version

[v2.4.0](https://github.com/nuxt.js/releases/tag/v2.4.0)

### Reproduction link

[https://github.com/devomacdee/nuxt-server-error](https://github.com/devomacdee/nuxt-server-error)

### Steps to reproduce

- start app
- repro link is set up to throw server error

### What is expected ?

the custom error middleware should engage when a server side error is thrown printing the error.

##

[2019-02-19 17:17] clarkdo commented on #5065
@manniL extract-css-chunks-webpack-plugin may be partially in the bundle since it needs some code to inject the style

[2019-02-19 17:33] bovas85 commented on #5002
I'm getting this on yarn dev as well (nuxt)
link is https://github.com/bovas85/nunziellasalluce.com

[2019-02-19 19:02] yariksav commented on #5065
@clarkdo , thanks for answer. Can you show example how to add `extract-css-chunks-webpack-plugin` in `transpile`
because if i put it to nuxt.config.js to
  build: {
    transpile: ['extract-css-chunks-webpack-plugin']
  ...
}
It totally crashes application
![image](https://user-images.githubusercontent.com/2553313/53040233-923ac600-3489-11e9-93ed-42211559c1f4.png)

[2019-02-19 20:01] clarkdo commented on #5065
@yariksav Your config should be fine, could you provide a repo ?

[2019-02-19 20:22] yariksav commented on #5065
@clarkdo  repo - https://codesandbox.io/s/6jryy5pyvn
![image](https://user-images.githubusercontent.com/2553313/53044834-ca93d180-3494-11e9-83d3-4deafc6b1d1f.png)
And `transpile: ['normalize-url']` also is not working :(

[2019-02-19 22:11] clarkdo commented on #5065
@yariksav It's a conflict that `babel preset useBuiltIns: usage` make `normalize-url` a harmony module and webpack runtime module doesn't work with harmony module.

You can use `babel.preset` to set `useBuiltIns: 'entry'` by:

[code]

It would be better that open an issue in `extract-css-chunks-webpack-plugin` or turn off `extractCSS` in dev mode

[2019-02-20 04:24] Wulawa opened #5073 "Loading is prohibited on the pages"
### What problem does this feature solve?

Individual pages do not need to be loading

### What does the proposed changes look like?

Can disable loading on the pages
E.g:
[code]

<div align="right"><sub><em>This feature request is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/nuxt.js/issues/c8691">#c8691</a>)</em></sub></div>

[2019-02-20 05:33] AshleyCao commented on #2835
Hi,
I follow @DreaMinder 's comment.  ` yarn install` worked fine.
Now when I called `yarn start`,  gave me error message "Cannnot find module ~/modules/typescript.js"

I am using typescript so I have typescript.js under modules dir.

Any ideas?

[2019-02-20 08:46] pi0 commented on #4939
(Comment by @sh  )

[2019-02-20 08:57] kalenjordan opened #5074 "Server side render is significantly slower than the 1 axios call that it's running"
### Version

[v2.4.0](https://github.com/nuxt.js/releases/tag/v2.4.0)

### Reproduction link

[https://github.com/kalenjordan/nuxt-test/blob/master/pages/home.vue#L93](https://github.com/kalenjordan/nuxt-test/blob/master/pages/home.vue#L93)

### Steps to reproduce

1. Go to https://pros.global/
2. Open up network tab and look at the time for initial page response
![Screen Shot 2019-02-20 at 2.54.2

[2019-02-20 09:16] clarkdo commented on #5002
@bovas85 Could you provide more details that how to reproduce your issue in the repo ?

[2019-02-20 09:20] bovas85 commented on #5002
yep
- clone repo
- pull latest master
- yarn install
- yarn dev

it will show that error in the console and launch the port showing the image I posted.
After the load is complete the error disappears and I can load the page properly.

No issue in production.

[2019-02-20 09:22] pi0 commented on #5074
Hi @kalenjordan. I've seen your code. It seems you are not using [axios-module](https://axios.nuxtjs.org). As a best practice, the `baseURL` for SSR renders should be different than `browserBaseURL`. So that backend API calls are over the plain HTTP. Also using LRU cache.

BTW this issue should be investigated more. I suggest doing this:

1. Use `curl` in your DO ssh to test request time to the AP

[2019-02-20 09:29] kalenjordan commented on #5074
Thanks for the quick reply @pi0! Hmm I think I am using the axios module?
https://github.com/kalenjordan/nuxt-test/blob/master/nuxt.config.js#L65

Noted on baseURL - that's something I need to look into.

On the `curl` point - that's actually something I was just trying. It is actually significantly faster over curl and also generally on first page view with an incognito browser - there seems to b

[2019-02-20 09:32] clarkdo commented on #5002
@bovas85 Gocha, about this issue @pi0 is working on a proper fix.

[2019-02-20 09:33] clarkdo commented on #5002
@angryeuan @Crazymuyang create-nuxt-app has been released with the fix.

[2019-02-20 09:35] angryeuan commented on #5002
Superstar - thanks to all who helped out with this. Very much appreciated.

[2019-02-20 09:38] manniL commented on #5074
@kalenjordan You have it in your module list, but you don't *use it*.

[code]

[2019-02-20 09:41] manniL commented on #5073
What do you exactly mean with "loading"?

[2019-02-20 09:43] pi0 commented on #5074
I think so. The bottleneck may be the authentication middleware for the backend.

[2019-02-20 10:12] sh commented on #4939
Thanks for copying this over @pi0 🎉

I'd also like to add the fact that the [benchmarks](https://github.com/fastify/benchmarks#benchmarks) are running against a simple middleware responding with "hello world".

I simply can't imagine a scenario where `connect` would become a performance bottleneck for nuxt. Running a separate app without nuxt to serve api / graphql requests is the way to go.

Most

[2019-02-20 10:17] Crazymuyang commented on #5002
@clarkdo Thanks a lot. BTW, should I update the version of nuxtjs?

[2019-02-20 10:19] pi0 commented on #5002
For clarification, the improvement is not fixing a known bug. Only better DX and more error info in case of problems.

[2019-02-20 10:45] Wulawa commented on #5073
Custom Loading Component between the routes

[2019-02-20 10:48] #5073 closed

[2019-02-20 10:57] Wulawa commented on #5073
Progress bar  between the routes.  Now the requirements have been met through custom components

Thank you

[2019-02-20 11:10] manniL commented on #5073
This is already a thing: https://nuxtjs.org/api/pages-loading#the-loading-property

[2019-02-20 11:18] Wulawa commented on #5073
Thank.  This api only exists in English documents 😂Did not see before

[2019-02-20 11:28] cretueusebiu opened #5075 "Error when importing components without .vue extension in TypeScript"
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

### Reproduction link

[https://codesandbox.io/s/zrl1qrlo3p](https://codesandbox.io/s/zrl1qrlo3p)

### Steps to reproduce

Go to the CodeSandbox reproduction link and open the terminal window.

### What is expected ?

Resolve .vue files without throwing errors in the terminal.

### What is actually happening?

It resolves .vue

[2019-02-20 11:38] kevinmarrec commented on #5075
@cretueusebiu I'm not able to reproduce it, your CSB doesn't seem to throw errors 🤔

[2019-02-20 12:07] cretueusebiu commented on #5075
@kevinmarrec It will still compile and work in the browser, but in the terminal it will throw an error.
![screenshot_1](https://user-images.githubusercontent.com/1517945/53090684-d6c17280-3518-11e9-9937-081994c5d36a.png)

[2019-02-20 12:19] kevinmarrec commented on #5075
@cretueusebiu Alright, I indeed have been able to see the error by triggering a change.

Well you need to add `.vue` extension when importing Vue SFC's.
[code]

Implicit module imports (not providing extension of the imported module) should (IMO) only be done for `.js` & `.ts` extensions.

[2019-02-20 12:36] cretueusebiu commented on #5075
What's strange is that everything sill compiles and works fine, it just throws that error in the terminal.

[2019-02-20 13:26] kevinmarrec commented on #5075
@cretueusebiu It's cause of the TypeChecker which run in seperate process.
See https://github.com/Realytics/fork-ts-checker-webpack-plugin#vue

[2019-02-20 13:27] #5075 closed

[2019-02-20 15:14] tenosiswono commented on #4491
`redirect` work on `afterEach`
[code]
but it will have a blinked page change

[2019-02-20 15:24] Clonk-HTML5 commented on #5011
At the moment this would maybe a Solution: https://github.com/serverless/examples/tree/master/aws-node-vue-nuxt-ssr
didn't used it but looks promising.

[2019-02-20 15:48] P4sca1 commented on #3496
I also ran into this issue today. As @noe132 pointed out, wrapping `<nuxt-child>` using a `div` (and not having it as a root component) avoids the issue.

[2019-02-20 15:52] wikieswan opened #5076 "The generated html , lunched on nginx server, can not works when url contains ```.html```"
My project dir like this:

    nuxt-demo/
        ****
        pages/
            home.vue
        ***

I build and generate html with commond

    npm run build && npm run generate

Then I will get static html in ```./dist/home/index.html``` dir

Now, I put all file in ```./dist``` in to a nginx server path; and type url in browser;

If the url is ```localhost/home/```, erveything goes right;

Bu

[2019-02-20 15:52] #5076 closed

[2019-02-20 15:57] wikieswan opened #5077 "The generated html , lunched on nginx server, can not works when url contains ```.html```"
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

### Reproduction link

[https://github.com/nuxt/nuxt.js/issues/5076](https://github.com/nuxt/nuxt.js/issues/5076)

### Steps to reproduce

My project dir like this:

    nuxt-demo/
        ****
        pages/
            home.vue
        ***

I build and generate html with commond

    npm run build && npm run generate

Then I

[2019-02-20 16:09] manniL commented on #5077
Duplicate of https://github.com/nuxt/nuxt.js/issues/4540

Could you give us a reproduction?

[2019-02-20 17:25] p1pchenk0 commented on #5055
@Atinux what I am trying to achieve is to add schema.org markup to each page using `head ()` function in mixin

[2019-02-20 18:47] magr0s opened #5078 "Middleware double calling"
Hello. I have a question on middleware.
In my localhost
[code]
After refreshing page in console i have
[code]
Why double calling?

[2019-02-20 18:47] #5078 closed

[2019-02-20 20:27] pju- commented on #4982
@Loilo That seems to be the same issue indeed. If you check the log output from generate, it is creating a route with empty name.
The reason why you are sometimes getting the right output is probably because the generation is async, so the correct route is produced after the empty one. In that case, the resulting index.html is overwritten and everything looks as it should.

[2019-02-20 20:51] colecmc commented on #5002
I received the same error after running `npm start`. Here is my nuxt.config file.

`
const pkg = require('./package')

module.exports = {
  mode: 'universal',

  /*
  ** Headers of the page
  */
  head: {
    title: pkg.name,
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { hid: 'description', name: 'description', content:

[2019-02-20 21:37] Loilo commented on #4982
Oh. So it's race conditions all the way down.

[2019-02-21 01:21] DaleMatthews commented on #5006
This is an issue in the initial scaffolding of create-nuxt-app. Rolling nuxt back to 2.4.2 fixes this for now

[2019-02-21 04:41] javialon26 commented on #5065
I have the same issue with the [wpapi](https://www.npmjs.com/package/wpapi) package. If I don't use the babel config provided by @clarkdo, the code added to the vendor app file has the spread operator and fail in many browsers.

This behavior started with NuxtJs 2.4.3. With 1.4 this just works out of the box.

[2019-02-21 07:12] ahmadmilzam opened #5082 "Add SCSS includePaths options no longer works"
### Version

[2.4.3](https://github.com/nuxt.js/releases/tag/2.4.3)

### Reproduction link

[https://codesandbox.io/s/ym23lwkojx](https://codesandbox.io/s/ym23lwkojx)

### Steps to reproduce

Add node-sass, sass-loader.
Add unuitcss package from npm
Create global.scss file.
Add global.scss file into nuxt.config.js

### What is expected ?

Global scss successfully import file from node_modules fold

[2019-02-21 07:26] clarkdo commented on #5006
@DaleMatthews Could you please provide more details about how to reproduce?

[2019-02-21 08:14] pimlie commented on #4897
That error is catched [here](https://github.com/nuxt/nuxt.js/blob/dev/packages/cli/src/setup.js#L20) and it logs the error with consola.error instead of consola.fatal which means the exit code is not set. The fix in #4806 does not apply because the exception is catched and does not traverse up to that fix.

Btw @iwate, nice bug report with the screencast. Very helpful! :+1:

[2019-02-21 08:28] iwata commented on #4897
@pimlie
Thanks for your prompt action!
I am looking forward to the release of the fixed version to NPM.

[2019-02-21 10:14] manniL commented on #5082
Suggestion: Use https://github.com/nuxt-community/style-resources-module for adding SCSS/LESS/Stylus variables to all your components

[2019-02-21 11:05] Timkor commented on #5067
In the mean time you can use this hook in your `nuxt.config.js`:
[code]

[2019-02-21 11:17] silverbackdan commented on #5067
Thanks both! Shame it *just* missed the release, so close! haha. I'll keep an eye out though and use the fix suggested above for now.

[2019-02-21 11:31] Wulawa opened #5083 "Query in the path affect the execution of the life cycle"
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

### Reproduction link

[https://codesandbox.io/s/z3rj536wxm](https://codesandbox.io/s/z3rj536wxm)

### Steps to reproduce

When the sub-route changes, if there is a query in the path, then the parent route is data, asyncData will execute, but it will not be created and mounted.
If there is no query in the path, data, asyncData

[2019-02-21 12:03] manniL commented on #5083
Could you please improve your issue description? I'm not sure what the actual problem is as the expectation / actual result isn't clear to me.

Please provide steps (for the codesandbox) like:

1. Go to route XYZ
2. See ABC in the console
3. Expected result: UVW in the console

[2019-02-21 12:04] manniL commented on #5067
Closing here as the next fix patch is coming soon, the workaround is present in `nuxt-edge` already and @Timkor provided a direct workaround ☺️

[2019-02-21 12:04] #5067 closed

[2019-02-21 12:15] Wulawa commented on #5083
1.
https://z3rj536wxm.sse.codesandbox.io/news/intro?query=123
The page mounted is initially true
2.
click the 'go detail' button
Mounted as false
Created  function not executed

[2019-02-21 12:20] Wulawa commented on #5083
When the sub-route changes，parent router data、asyncdata not executed

[2019-02-21 13:13] mazipan opened #5084 "Generate meta data when running nuxt generate"
### What problem does this feature solve?

I have Nuxt app that running with mode `spa` with pages

[code]

Then in every page I have setup `head ()`, but when I run `nuxt generate` with defining `routes: ["/a", "/b"]` it's not print html with head that I already define in pages file.

It will requested by JavaScript in the client side.
It very usefull for SEO when using static hosting like Netlif

[2019-02-21 13:58] manniL commented on #5083
That's indeed a bug! 👍

[2019-02-21 14:31] DaleMatthews commented on #5006
I've just tried generating nuxt apps with various parameters and can't seem to recreate this issue again

[2019-02-21 14:50] blowsie commented on #4902
Still an issue

[2019-02-21 15:30] kevinmarrec commented on #4897
@iwata I'm working on a refactor which directly fixes the issue, but will only available for 2.5, so I made a hotfix which should be ready to be shipped in next patch version (`2.4.4`).

[2019-02-21 18:45] DigitalHodgePodge commented on #3510
I'm struggling to work through this issue as well. We can pass context to the layout, but it would be nice if we could also pass something along the lines of a store property to wait for. Such that we could either use a boolean or just confirm that the state is defined (if setting store data after async), before initiating the layout.

Has anyone been able to figure out a clean workaround?

The us

[2019-02-21 20:15] ahmadmilzam commented on #5082
Thank you, but what I really need is the ability to include `scss` module from `node_modules` folder without adding tremendous path at `@import`

[2019-02-21 20:32] weotch opened #5087 "Support transpiling of Nuxt modules (for Coffeescript)"
### What problem does this feature solve?

I would like to write Nuxt modules in Coffeescript.  This was possible in Nuxt 1.  I've tried adding the names of my modules to the `build.transpile` array, but it has no effect.  I've added Coffeesript support to Nuxt with this module:

[code]

Here's an example of a Coffeescript nuxt module (named `modules/generate-exit-code.coffee`):

[code]

### What

[2019-02-21 22:36] kalenjordan opened #5089 "NuxtServerError - Request failed with status code 500 - No indication of which API call failed"
### Version

[v2.4.0](https://github.com/nuxt.js/releases/tag/v2.4.0)

### Reproduction link

[https://github.com/kalenjordan/pros.global](https://github.com/kalenjordan/pros.global)

### Steps to reproduce

I'm not exactly sure how to reproduce, but usually within 2 to 8 hours it happens on my app (https://pros.global). It seems that axios is hitting a 500 error response but I have no indication

[2019-02-21 22:40] kalenjordan opened #5090 "504 Gateway Time-out because nuxt app is hanging"
### Version

[v2.4.0](https://github.com/nuxt.js/releases/tag/v2.4.0)

### Reproduction link

Backend:
[https://github.com/kalenjordan/pros.global](https://github.com/kalenjordan/pros.global)

Frontend:
[https://github.com/kalenjordan/nuxt-test](https://github.com/kalenjordan/nuxt-test)

### Steps to reproduce

It's happening right now on my app, but I will probably restart the app shortly so that

[2019-02-21 22:42] kalenjordan commented on #5074
I updated my nuxt app to use the $axios community module properly. Unfortunately it doesn't seem like I can hit the http API for server side render because the app serving the api is setup to redirect all http requests to https.

[2019-02-22 01:15] dweldon opened #5091 "Build fails for simple input + v-model example"
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

### Reproduction link

[https://github.com/dweldon/input-error](https://github.com/dweldon/input-error)

### Steps to reproduce

npm i && npm start

### What is expected ?

The app should start

### What is actually happening?

Unexpected token, expected ","

### Additional comments?

This doesn't seem to be an issue with Vue i

[2019-02-22 02:49] mmoulton commented on #5091
I ran into the same problem today. Reverting to `2.6.6` of `vue`, `vue-server-renderer`, and `vue-template-compiler` resolved this for me. It seems some regression was introduced with the release of `2.6.7` today.

[2019-02-22 03:23] Wulawa commented on #5083
@manniL Expectation: Sub-route changes the life cycle of the parent route without any updates 🙏

[2019-02-22 07:55] K-Stella opened #5093 "[Bug Report]Config babel-polyfill and IE 10 is also not working"
Before I config 'babel-polyfill ', it tips SCRIPT5009: “Set”未定义.And after I config 'babel-polyfill ',it tips me like this pic 👇.

![image](https://user-images.githubusercontent.com/23692583/53227703-fc39b200-36b9-11e9-8f98-973e5788ed34.png)

Someone can get me some suggestion or some methods to solve this ? Thanks so much !

[2019-02-22 07:55] #5093 closed

[2019-02-22 10:54] manniL commented on #5082
@ahmadmilzam Not sure what you mean 🤔

https://github.com/nuxt-community/style-resources-module/blob/master/test/fixture/sass/nuxt.config.js#L11

[2019-02-22 10:56] manniL commented on #5087
I feel that this shouldn't belong to the Nuxt.js core directly and should instead be a userland implementations.

[2019-02-22 15:57] #4694 closed

[2019-02-22 16:07] manniL commented on #5090
@kalenjordan That reason could be anything. As there is no frontend code in your repo one could only guess what's wrong.

[2019-02-22 16:13] manniL commented on #5068
![image](https://user-images.githubusercontent.com/640208/53255059-be8a5880-36bc-11e9-9e1d-d335b14f52b5.png)

Can't repro

[2019-02-22 16:13] #5068 closed

[2019-02-22 16:23] spanwair opened #5094 "Initialize function only after page been reloaded {router, nuxt}"
Hello everyone,

I got for me interesting issue. When I try to initialize by the inline script, for instance
`lightGallery(document.getElementById('lightgallery'));`
external file (add it with gulp to my page). Page will initialize the script only after I reload page.
I am using nuxt-link.
Another thing is out of index page, for instance
`pages/kitchen/index.html`
where the javascript initialize t

[2019-02-22 16:23] #5094 closed

[2019-02-22 17:12] LostCrew commented on #4219
We also most certainly experienced the same issue on Nuxt 2.3.4 and `nuxt-sass-resources-loader` 2.0.5.

[2019-02-22 17:48] kalenjordan commented on #5090
@manniL sorry about that - I just updated the ticket with the link to the frontend code - https://github.com/kalenjordan/nuxt-test

[2019-02-22 19:19] dweldon commented on #5091
I did a clean install just now and everything is working again w/o any changes. I guess one or more of my 1739 dependencies changed overnight and... magic. :tophat: :rabbit:

[2019-02-22 19:19] #5091 closed

[2019-02-22 23:26] ndro commented on #2835
How about nuxt@2.4.3?

I didn't see `./node_modules/nuxt-start` folder for nuxt@2.4.3.

[2019-02-23 02:13] amulecregg commented on #5084
This would be awesome.

[2019-02-23 05:52] mazipan commented on #5084
After looking for many workaround, it because running Dan generate in `spa` mode.
We need to change from spa to universal.
Or it's my bad.

We can follow how nuxt.org repo generate it's static file.
I also create repo with same needed in https://github.com/mazipan/blog-2.0

I will close this issue, since it's already solve when switch mode.

Thanks

[2019-02-23 05:53] #5084 closed

[2019-02-23 07:07] pi0 commented on #5087
NPM/Node packages should expose CSJ for `main` field. Even ESM for modules installed in ` node_modules` is not recommended.

[2019-02-23 08:27] DreaMinder commented on #2835
@ndro see this comment https://github.com/nuxt/nuxt.js/issues/2835#issuecomment-439725489
I'm using nuxt-start dependency for production. If you want to use fat-dev-version of nuxt, you should use:

`node_modules/nuxt/bin/nuxt.js`

[2019-02-23 09:32] Atinux commented on #5090
Hi!

Could we reproduce this issue by calling the production serveur? (Pros.global)

So we could reproduce this bug on localhost without running the Api server.

[2019-02-23 09:52] kdeng opened #5096 "multiple named views cause router.js contains syntax error"
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

### Reproduction link

[https://github.com/kdeng/nuxt-named-view-sample](https://github.com/kdeng/nuxt-named-view-sample)

### Steps to reproduce

1. Run `npm i`
2. Run `npm run dev`

### What is expected ?

I expected router.js can be generated properly, and named view can be rendered properly.

### What is actually happening?

[2019-02-23 10:12] pimlie commented on #5089
If you use the nuxt axios module you can set debug to true so all requests are logged (be aware of disk space issues if you are logging this to file and running for 8 hrs!): https://axios.nuxtjs.org/options#debug

[2019-02-23 10:22] pimlie commented on #5090
Doesnt this code trigger a memory leak in ssr? https://github.com/kalenjordan/nuxt-test/blob/master/plugins/vue-inject.js

Probably you should add an if statement to only set values on Vue's prototype if they dont exist yet (eg first time it runs).

[2019-02-23 12:28] kalenjordan commented on #5090
Nice thanks @pimlie! I'll check that. Is there a way to monitor memory usage in general?

[2019-02-23 17:13] Atinux commented on #5090
It’s plan to be integrated soon ☺️

[2019-02-23 18:42] manniL opened #5099 "Recognize store usage without index.js"
### What problem does this feature solve?

Hey :wave:

Currently you necessarily need an index.js (even if it's just empty) to load the store. having only a named module, say /store/user.js isn't recognized properly. We should improve that

<div align="right"><sub><em>This feature request is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/nuxt.js/iss

[2019-02-23 23:59] nahtnam commented on #4939
Fair enough, I figured that a Fastify implementation wouldn't be that complex considering it supports express/koa middleware

[2019-02-24 10:08] ndro commented on #2835
@DreaMinder , Yes, you right.

I've been using this `node_modules/nuxt/bin/nuxt.js` because I don't have `nuxt-start`.
So, when I'm using **pm2** with `ecosystem.config.js`, what I do is just like this:

[code]
and it's work well :+1: (for me :smiley: )

[2019-02-24 10:41] manniL commented on #4999
This highly depends on your setup. By default, all files are accessible after the build and start process. Maybe a CDN that caches the files might help? :thinking:

However, this isn't a Nuxt issue and hard to debug without further information, your setup or even access to the servers.

[2019-02-24 10:41] #4999 closed

[2019-02-24 20:16] janesser opened #5100 "dynamic runtime environment variables"
While striving for immutable build artifacts we came across some possible improvement points.

First let me explain the motivation behind "immutable build artifact". Alongside of the stages like e,g, DEV, TEST, QA, UAT, PROD the configuration changes, as an example nuxt-axios API_URL and API_BROWSER_URL. Ideally this can be injected by env vars, which pretty much fits the kubernetes way of dealing

[2019-02-24 21:48] pi0 commented on #5100
Hi @janesser. I've transferred issue from RFC to here because it is more an enhancement discussion.

Values passed to the `env` section of `nuxt.config` will be _replaced_ by a webpack plugin during the build. Would you please elaborate more what you expect from storing it in build artifact?

[2019-02-25 01:22] kenberkeley commented on #2517
What a pity to see most of the SSR websites on [Showcase | Awesome Nuxt.js](https://awesome-nuxt.js.org/resources/showcase.html) do not GZIP their JS / CSS, which results in enormous network loads. Some of them are running **serious** business, not for demo purposes.

The developers of these websites might have already configured `gzip on` on `nginx.conf` according to https://nuxtjs.org/faq/nginx-

[2019-02-25 07:31] shalldie commented on #4935
Is there any way to use `constants` in `modules mode` ?

`modules  mode` has a namespace named by file's name, so i chose `classic mode`, i think tips in editor are important and nice.

It is a bay way to use `string` like `dispatch('someNamespace/someAction')`，`dispatch(types.someAction)` may be fine.

[2019-02-25 07:41] sh commented on #4939
Having support for both via dynamic import (as suggested by @clarkdo in #5066) would be great.

Not sure how much work is required to ensure both versions are well tested and how the distribution via `nuxt-start` / `@nuxt/server` would work.

Maybe `@nuxt/server-core`, `@nuxt/server-connect` and `@nuxt/server-fastify`?

[2019-02-25 09:14] pi0 commented on #4939
Tradeoff about package install size:

- Connect: [![install size](https://packagephobia.now.sh/badge?p=connect)](https://packagephobia.now.sh/result?p=connect)
- https://packagephobia.now.sh/result?p=fastify

Also cold startup time should be measured

[2019-02-25 09:17] IlyaShkurenko opened #5103 "DOM Snapshot after call render function"
problem is in that I'm receive from api data with array of components names, which are defined async in plugin and after all data was received I'm calling render function which return from array of names - array of components, but in view source I can't see that html code, so it's means that snapshot was called before render function, so how I can do it?

[code]

pageGenertor.vue
[code]

createCom

[2019-02-25 09:17] #5103 closed

[2019-02-25 09:48] bdrtsky commented on #5006
Because it's happens randomly. I have this issue in all current Nuxt projects, after I update my package.json. https://cmty.app/nuxt/nuxt.js/issues/c8631#comment-5c66695539ee380014b5037b

[2019-02-25 09:56] manniL commented on #2517
@kenberkeley I picked a random sample of 10 sites out of the showcases and **all** had either GZIP or Brotli encoding enabled. Please double-check 😉

The deployment of a Nuxt app is up to the user. We can't set up NGINX/Apache for every use-case and can only provide ideas/configs that work in most of the cases.

Regarding the linked config itself, @pimlie can give you more info about that ☺️

[2019-02-25 09:56] manniL commented on #5006
@bdrtsky feel free to send in a bug report

[2019-02-25 10:02] galvez commented on #5006
@clarkdo Running nuxt-edge solved the issue for me for now, so I'm guessing it's been fixed recently.

[2019-02-25 10:05] kenberkeley commented on #2517
@manniL You should double-check. I picked ramdom sample of 10 sites and none of them had GZIP.

[2019-02-25 10:05] solocao commented on #5049
how can i do ，这就尴尬了

[2019-02-25 10:08] kenberkeley commented on #2517
All *Request Headers* include `accept-encoding: gzip, deflate, br` while all *Response Headers* do not include `content-encoding: gzip / br` .

[2019-02-25 10:22] kenberkeley commented on #2517
Don't trust me, but verify, please.

![image](https://user-images.githubusercontent.com/13287948/53330729-54cfb000-3943-11e9-9a71-82da61a4cf8f.png)

[2019-02-25 10:25] manniL commented on #2517
@kenberkeley must be on your side.

![image](https://user-images.githubusercontent.com/640208/53330965-b7935e00-38e7-11e9-9892-0eb36fcccda0.png)

[2019-02-25 10:28] kenberkeley commented on #2517
WT...

[2019-02-25 10:35] kenberkeley commented on #2517
Incognito mode, got the same result... Emmm... Maybe my Chrome broke...

![image](https://user-images.githubusercontent.com/13287948/53331495-24891100-3945-11e9-9a79-84e1a62d70d6.png)

[2019-02-25 10:44] pimlie commented on #2517
@kenberkeley The size of the file doesnt change due to gzip compression. Gzip compression is part of the http protocol to reduce transfer size, as soon as the file hits your browser the file is decompressed and saved in its normal format. So I think you are just looking at the wrong info, eg look at @manniL's screenshots and you will see that his size column also says `466KB` for the vendor bundle

[2019-02-25 11:01] kenberkeley commented on #2517
ESET Autivirus is the culprit! After uninstalling it:
![image](https://user-images.githubusercontent.com/13287948/53333024-d83fd000-3948-11e9-8bf8-d0be884e6574.png)

[2019-02-25 12:08] bdrtsky commented on #5006
@manniL happy to do this, but I am not sure how to reproduce this. It doesn't happens every time, may be once in 10-30 dev server reloading.

[2019-02-25 13:54] manniL commented on #5006
@bdrtsky Include as much info as you can. If you can't repro that reliably, state it as is ☺️

[2019-02-25 14:00] manniL commented on #5082
Regarding the original issue, this works fine with:

[code]

[2019-02-25 14:00] #5082 closed

[2019-02-25 14:41] kalenjordan commented on #5090
@pimlie I think I'm already doing it as per the docs though?
https://nuxtjs.org/guide/plugins/#inject-into-vue-instances

[2019-02-25 14:58] pimlie commented on #5090
Yeah, actually I was trying to trigger a memory leak with your code this morning and couldnt trigger it. So I guess the answer to my question is _No, it doesnt_ ;)

[2019-02-25 16:02] ahmedfaical opened #5105 "Content inside <nuxt/> removed after server side rendering"
Hello,
I'm trying to implement AMP in my nuxt projet, So to do that i need to add a param in url /amp
this is the rewrite rule that i use : rewrite ^/(.*)/amp$ /$1?amp=1 break;
For each route ended by /amp for example for http://example.com/faq/amp i get http://example.com/faq?amp=1
I get errors in console :

<img width="804" alt="screenshot 2019-02-25 at 16 56 56" src="https://user-images.githubu

[2019-02-25 16:02] #5105 closed

[2019-02-25 17:18] vhf commented on #5100
I also ran into this problem, here is one of my example case:

I'm using nuxtjs auth module with some OAuth API. Here is what the config looks like: https://auth.nuxtjs.org/reference/providers/github , in `nuxt.config.js`:

[code]

I'd like to build my app once and deploy it many times with different configurations. This cannot be done because `client_id: process.env.FOO_CLIENT_ID` will be replace

[2019-02-25 18:21] aldarund commented on #5100
@pi0 its more about have runtime env vars like in the module that is linked. E.g. build once deploy to different environments same artifact, isntead of building each time for each env ( e.g. staging, test, production etc )

[2019-02-25 18:31] pi0 commented on #5100
I see the point. And auth and axios are probably best examples for such need. However, this is a duplicate topic and issue was discussed here is a short brief of status:

- 1. `process.env.*` from **server side** is runtime configurable. axios module supports it for example for `API_URL`
- 2. `process.env.*` from client-side when running in SSR mode, is only changeable if we somehow pass it to `nu

[2019-02-25 18:51] janesser commented on #5100
@pi0 can you link the original discussion that you refer too, please?

@vhf @aldarund thanks for supporting the need.

regarding the security, i am confident that docker envvars are sufficiently safe.
having something in javascript either hard-coded or dynamically refreshed is also in the same security class. Maybe i miss some attack vectors.

i felt like you hit the sensible point where it came t

[2019-02-25 19:05] samtgarson commented on #5100
@janesser in the meantime open an issue for any confusing things you're hitting—I picked `$env` as it seemed appropriate but we can look at changing it or allowing it to be dynamic pretty easily.

@pi0 all I do is use a middleware to add the `process.env` values onto the `req` object, then a plugin which uses `nuxtState` to read from `req` and inject them onto the context.

Would be great to have

[2019-02-25 19:05] samtgarson commented on #5100
(non SSR and SPA are still scenarios that I don't think `nuxt-env` covers _super_ smoothly, but it's OK...)

[2019-02-25 19:18] weotch commented on #5087
This is regarding local Nuxt modules.  Like if you create a `/modules/generate-exit-code.coffee` in your project, not as a NPM package.

[2019-02-25 19:39] pi0 commented on #5100
Mainly discussed in #618.

We are aware of @samtgarson. That's implementing (2) method which would be useful for users that want it. It is more than qualified to be a nuxt-community project :+1:

About security matter. Docker can't prevent one accidentally passing `client_secrect` to the user's browser window. It is the user's responsibility to be aware and ensure that.

/cc @manniL @aldarund

[2019-02-25 19:51] janesser commented on #5100
About secrets retention, check this one: https://github.com/samtgarson/nuxt-env/issues/9

To wrap up, is there a way to make process.env as consumed by default from nuxt-plugins in the same way as process.$env?

[2019-02-25 20:10] aldarund commented on #4939
Is there any real benefit for using fastify? I really doubt it will bring any perf increase in real part. Well, even on hello world i dont think there would be meaningful difference.
Is there any other reason to use fastify than speed?
As i remember cold startup on fastify was higher.

[2019-02-25 20:24] samtgarson commented on #5100
regarding _secret_ env vars: `nuxt-env` supports these as of [this PR](https://github.com/samtgarson/nuxt-env/pull/17) but as @pi0 says, it's still up to the developer to ensure these don't get passed to the client.

Would be keen to help any efforts of integrating this or moving it over to nuxt-community, let me know if either of those are desired.

[2019-02-25 22:55] nahtnam commented on #4939
Hmm, so looking here: https://github.com/fastify/benchmarks#benchmarks Connect is within 7% of fastify in terms of benchmarks.

Why not leave connect as the default but add fastify as an option in the cli when bootstrapping a new program?

[2019-02-25 23:38] ahmedfaical opened #5110 "Use nuxt only on server side"
Hello. I cant use nuxt with mode: 'static'
i need to use nuxt with only ssr mode and not universal. juste like when i disable javascript.
Can someone help me to achieve this?

[2019-02-25 23:38] #5110 closed

[2019-02-26 01:12] lautiamkok opened #5111 "JavaScript hooks transition - a bug on pages?"
I think there is a bug in Nuxt 2.4.x in transition.

Example in about.vue template:

[code]

In script:

[code]
If you **remove** all the methods in the `methods object`, you get these errors:

Is it a bug or something else I am missing??

[2019-02-26 01:12] #5111 closed

[2019-02-26 01:35] nahtnam commented on #5006
Having a similar issues as well with just `pages/index.js`. The only potential issue I see is that I have `srcDir` set in my nuxt config and maybe sometimes that not read.

[2019-02-26 04:57] Haizone opened #5112 "error on Generated and css didnt work"
css didnt work for me after i Generated
i see the link
view-source:file:///C:/Users/hai/Desktop/vue-nuxt/yyy/dist/index.html

but when i click on the link in the source code
i get wrong url like this:
file:///C:/_nuxt/7af4bd0bb539f816cab7.css

the second problem:
[code]

[2019-02-26 04:57] #5112 closed

[2019-02-26 05:20] ChenZhuoSteve opened #5113 "Html page title is not updated when using webpack externals configuration"
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

### Reproduction link

[https://github.com/ChenZhuoSteve/nuxt-meta-issue.git](https://github.com/ChenZhuoSteve/nuxt-meta-issue.git)

### Steps to reproduce

0. set page title
index.vue page
![setTitle1.jpg](https://cmty.s3.eu-west-1.amazonaws.com/71995937/75aff450-3985-11e9-be4b-53f8cd03c4ba.jpg)
about.vue page
![setTitle2.png]

[2019-02-26 05:56] aldarund commented on #5111
Its not a bug. Methods should be in methods object. Its clearly stated in vue documentation with examples
https://vuejs.org/v2/guide/transitions.html#JavaScript-Hooks

[2019-02-26 07:09] zhoou commented on #4762
In nuxt.config.js file:
[code]

[2019-02-26 07:16] dhb52 opened #5115 "🤔[Help wanted] remove query in middleware"
Doing an oauth by middleware, handles callback from the oauth server along with the query
```code``` and ```state```, and the core code is like following:

[code]

Now I want to rip off the query ```code``` and ```state```, which are treated reserved.
This is important when end-user doing a refresh or url sharing.
It seems that redirect to a url which rips off the ```code```query, doesn't work.

W

[2019-02-26 07:16] #5115 closed

[2019-02-26 09:17] RehanSaeed opened #5116 "Add ASP.NET Core Web Server Support"
### What problem does this feature solve?

ASP.NET Core has support for running Node using [JavaScriptServices](https://docs.microsoft.com/en-us/aspnet/core/client-side/spa-services?view=aspnetcore-2.2). It's also one of the [faster web servers](https://www.techempower.com/benchmarks/#section=data-r17&hw=ph&test=plaintext) according to the techempower benchmarks being several times quicker than No

[2019-02-26 09:30] sh commented on #4939
Considering the package install size and cold startup time I'd prefer to just have connect.

It should be possible to use nuxt as [middleware for fastify](https://github.com/fastify/fastify/blob/master/docs/Middlewares.md) by following the [custom-server example](https://github.com/nuxt/nuxt.js/blob/dev/examples/custom-server/server.js) and replacing express with fastify.

[2019-02-26 09:39] manniL commented on #4939
@sh this approach will be deprecated soon. Use `serverMiddleware` or a standalone server instead.

[2019-02-26 09:52] ddregalo commented on #5116
Yes please, would love to see this happen!

[2019-02-26 09:52] manniL commented on #5116
@pi0 please move to CNA repo

[2019-02-26 09:55] RehanSaeed commented on #5116
Moved to https://github.com/nuxt/create-nuxt-app/issues/194

[2019-02-26 09:55] #5116 closed

[2019-02-26 10:34] vhf opened #5117 "Use flatted instead of devalue to be able to revive objects"
### What problem does this feature solve?

It is sometimes useful to save complex data (i.e. not primitive types nor POJOs) in the store.

Store data is passed from server to client in serialized form using devalue. Using [`flatted`](https://www.npmjs.com/package/flatted) instead of `devalue`, together with some configuration mechanism, would allow reviving objects that would then be usable client

[2019-02-26 11:31] Atinux commented on #3504
Hi @hartmut-co-uk

Thank you for this bug report / feature request.

Actually, I never expected that someone will actually use `this.$forceUpdate()` 😄
It is intended only for HMR in development actually.

I am working on the new `asyncData` that can call methods directly (have access to `this`).
This way, you should be able to create a method (maybe name `reload` or `$reload`) that fetch the data

[2019-02-26 11:36] #4862 closed

[2019-02-26 12:44] lautiamkok commented on #5111
@aldarund it works only on Vue itself. Not in Nuxt. I have explained already in my sample code.

[2019-02-26 13:01] sh commented on #4939
@manniL is there an example/docs for standalone server if this approach becomes deprecated?

[2019-02-26 13:34] TomomiSawako opened #5119 "Why nuxtServerInit+session only works when session set in serverMiddleware(nuxt.config.js) section?"
[please label as: help wanted]

Before I'm let nuxtServerInit works.
I'm try to create server like:

`
const app = express()
app.use(logger('dev'))
app.use(express.json())
app.use(express.urlencoded({ extended: false }))
app.use(cookieParser())
app.use(session({
  secret: process.env.SESSION_SECRET,
  resave: false,
  unset: 'destroy',
  saveUninitialized: false,
  cookie: {
      maxAge: 60000,

[2019-02-26 13:34] #5119 closed

[2019-02-26 13:46] manniL commented on #5111
@lautiamkok please correctly file a bug report. That shouldn't be too hard

[2019-02-26 13:49] manniL commented on #4939
@sh you can use *any* standalone API you want with Nuxt by calling it with `axios` during `asyncData` or whatever. We don't provide guides for standalone APIs as that's far out of the scope.

For `serverMiddleware`, probably. But that's only recommended for smaller projects.

PS: Read more about [my personal take on that](https://blog.lichter.io/posts/my-take-on-using-nuxt-with-an-api/) if you wan

[2019-02-26 14:06] mfrascati commented on #5006
@DaleMatthews do you know what is causing the problem in the scaffolding and how to fix it? I have an app generated with 2.4.3, just yarn upgraded to 2.4.5 but still have the issue.

[2019-02-26 14:08] lukasborawski opened #5120 "Module parse failed: webpackChunkName, loader, ... ?"
### Version

[v2.4.5](https://github.com/nuxt.js/releases/tag/v2.4.5)

### Reproduction link

[local](local)

### Steps to reproduce

Regular procedure to install the app locally:

[code]

### What is expected ?

Regular app build.

### What is actually happening?

Got an error during the dev build:

[code]

Screenshoot of my actual tree:
<img width="276" alt="zrzut ekranu 2019-02-26 o 15 10 34" s

[2019-02-26 14:23] manniL commented on #5120
Duplicate of #4839

[2019-02-26 14:23] #5120 closed

[2019-02-26 15:11] sh commented on #4939
@manniL sorry for not being clear, we're happily running a standalone api process besides our frontend

I figured the custom server example was simply to provide an example of running nuxt as a middleware inside express/fastify/others.
Now I'm wondering if using nuxt programmatically is going to be deprecated? :)

[2019-02-26 15:12] manniL commented on #4939
It will be.

[2019-02-26 15:50] axetroy commented on #5100
This is my solution:

set dynamic runtime environment variables in `store`

so we can get it in client side and server side by `store.state.env`.

[code]

[2019-02-26 15:57] XEngine opened #5121 "asyncData firing twice when visited the app only once"
### Version

[v2.4.5](https://github.com/nuxt.js/releases/tag/v2.4.5)

### Reproduction link

[https://github.com/XEngine/nuxt-issue-reproduce](https://github.com/XEngine/nuxt-issue-reproduce)

### Steps to reproduce

- Create nuxtJS application either express template or adonisjs template
- put asyncData method to index.vue file in pages folder.
- console.log something, or console log in the API

[2019-02-26 15:58] manniL commented on #5121
@XEngine Please provide a correct reproduction repository or codesandbox (via https://template.nuxtjs.org/)

[2019-02-26 16:01] XEngine commented on #5121
@manniL Thanks for the kind reply! I've updated the issue with the github repository.

[2019-02-26 16:02] XEngine commented on #5121
@manniL Accidentally closed the issue, reopening

[2019-02-26 16:16] manniL commented on #5121
@XEngine Is it reproducible without adonis (e.g. with express) and without *any* server framework?

[2019-02-26 16:23] aldarund commented on #5111
@lautiamkok how it work in vue itself? You didnt explain it at all. In your example u are saying u are removing from methods and get error. Thats exactly how it work in vue

http://jsfiddle.net/a7u4ms9w/

methods should be in methods and u are removing them from it

[2019-02-26 16:34] XEngine commented on #5121
I didnt try standalone but its reproducible with express too

[2019-02-26 16:46] manniL commented on #5121
@XEngine Could you provide a *minimal* reproduction repo then?
It's easier for me to reproduce with a minimal express setup than with a huge `adonis` project (even though it's just scaffolded out and filled)

[2019-02-26 18:54] lautiamkok commented on #5111
@aldarund did you read the comments I put next to the console.log?

[code]

[2019-02-26 18:57] lautiamkok commented on #5111
@aldarund the example you made in jsfiddle is in Vue not in Nuxt. If you put that  in Nuxt then you see the functions in the methods object never executed.

[2019-02-26 19:02] lautiamkok commented on #5111
@aldarund you actually put all the transition functions in **transition object** not in the method object.

[code]

[2019-02-26 22:24] kdeng commented on #5096
Any update about this issue? Cheers

[2019-02-26 22:36] #4890 closed

[2019-02-27 01:10] iwata commented on #4897
I tried again by v2.4.5 and fixed this issue.
Thanks!

[2019-02-27 01:10] #4897 closed

[2019-02-27 07:41] qq781548819 opened #5123 "I use Dexie framework, using SSR rendering will appear UnhandledPromiseRejectionWarning: MissingAPIError: no t found with indexedDB API."
in nuxt.config.js file

[code]
in plugins/dexie.js

[code]
in db/index.js
[code]

[2019-02-27 07:41] #5123 closed

[2019-02-27 08:04] aldarund commented on #5111
@lautiamkok i dont understand you. Thats what u are doing. In your first post you have it in transition and methods, and they u are saying i deleted from methods and im getting error. Which is what should happen and i demostrated it

[2019-02-27 11:02] envision opened #5124 "Default TypeScript linter from TSLint to ESLint"
### What problem does this feature solve?

TypeScript ecosystem is moving from TSLint to ESLint. Please update your example / starter templates.

https://eslint.org/blog/2019/01/future-typescript-eslint

https://artsy.github.io/blog/2019/01/29/from-tslint-to-eslint/

<div align="right"><sub><em>This feature request is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https:

[2019-02-27 11:31] ahmedfaical opened #5125 "extractCss for one layout and not for others"
- 🤔 Help wanted - https://otechie.com/nuxt
Hello community.
I need help, How can i extractCss for one layout and not for others?
I need to extract css for no-amp layout and inline theme for amp layout

[2019-02-27 11:31] #5125 closed

[2019-02-27 11:36] ahmedfaical opened #5126 "Import ~assets/style/custom.styl content in plugin as content of variable"
Hello, I have a css with stylus located in ~assets/style/custom.styl .
How can i get content of this file as a variable in ampify plugin (of my one plugin) ?

[2019-02-27 11:36] #5126 closed

[2019-02-27 11:48] husayt commented on #5065
I have the same in 2.4.3 and 2.4.5, causing issues on IE11

[2019-02-27 12:29] WieslawPaleta commented on #3496
Same here. I'm also facing this issue. When navigating from the parent to a child route after hard browser refresh, data() in the child is called twice. It caueses serious problems in my app. Wrapping nuxt-child in div doesn't work.

Ive solved this issue with not very elegant way, but it works already. In created() hook, I call function which changes data(), but now with delay - debounce(fn, 0)

[2019-02-27 13:04] lautiamkok commented on #5111
@aldarund have you tried to put those transition functions in the method object **in a Nuxt.js app** and do they work?

[2019-02-27 14:13] hartmut-co-uk commented on #3504
Thx @Atinux - I'm happy with that.
I raised it as a bug initially (when I was unaware that it's a HMR feature) mainly because the vue native `$forceUpdate()` isn't an _HMR only_ feature and there was no existing/additional documentation on the nuxt page available.

I think it could just be shipped with the prod build to allow it to be used - or alternatively an out-of-the-box 'reloadPage' method f

[2019-02-27 15:43] aldarund commented on #5111
@lautiamkok please https://github.com/nuxt/nuxt.js/issues/5111#issuecomment-467443800

[2019-02-27 17:18] kevinmarrec commented on #5124
Hi @envision

We're aware of the future of TypeScript linting, and are planning to migrate/update our examples to use only ESLint soon.

Thank you for the blog post with nice guidelines !

I'll keep this open till we'll have properly switched to full ESLint for TS examples/starters.

[2019-02-27 19:27] nick-lawrence commented on #3877
@markplewis Are you still experiencing this issue in the latest version?

I am currently in the middle of build using Nuxt 2.4.0 and undesired multiple Layout/CSS cross-compilation is still an issue.

[2019-02-27 19:51] husayt commented on #4432
@manniL not sure if it is related to devalue, but this is a major problem for me too. I get

error in IE11.

I ended up importing catch-all polyfill as first import.
[code]
This does the job, but I loose on demand polyfills. Would be great if some one can advise what is the best way to add certain polyfills to vendors or maybe it is indeed a bug. I spent all day trying to figure out the issue, tri

[2019-02-27 21:11] aaronransley commented on #5001
Added a proper CodeSandbox reproduction using the official template w/ nuxt @ v2.4.5.

https://codesandbox.io/s/84n4511202?fontsize=14

[2019-02-28 00:43] lautiamkok commented on #5111
@aldarund will file a report later when i got time.

[2019-02-28 01:59] uhyo opened #5128 "Nuxt runs out of memory while generating thousands of pages"
### Version

[v2.4.5](https://github.com/nuxt.js/releases/tag/v2.4.5)

### Reproduction link

[https://github.com/uhyo/gengou-yosou/tree/flyio](https://github.com/uhyo/gengou-yosou/tree/flyio)

### Steps to reproduce

Run `npx nuxt generate`.

### What is expected ?

Nuxt should generate 4889 static pages (4 from `pages` and 4885 as instructed in `nuxt.config.js`) without exhausting memory.

### W

[2019-02-28 05:51] thejmill commented on #5103
I'm also having this issue.  Components which are dynamically rendered in Nuxt are not rendering HTML.

[2019-02-28 07:22] arkhamvm commented on #5006
Have the same issue on 2.4.3 and 2.4.5 versions.
2.4.2 is ok.

[2019-02-28 07:33] guojs opened #5129 "nuxtserverError"
my app always crashed and show the logs bellow

Server error
An error occurred in the application and your page could not be served. If you are the application owner, check your logs for details.

[2019-02-28 07:33] #5129 closed

[2019-02-28 08:31] fvigotti opened #5130 "vue-app types , "req" is wrong inside "Context""
I'm quite new to typescript and new to nuxt also.. so I'm not creating a pull request, but just want to report an issue I'm having
during `nuxtServerInit` in axios, the method receive two parameters, the first one seems to be "ActionContext", but the second one every example and tutorials I've seen say that it's a "Context" type, which means :

Context in `@nuxt/vue-app/types/index.d.ts`
which is

[2019-02-28 09:11] manniL commented on #5130
cc @kevinmarrec

[2019-02-28 09:13] manniL commented on #5006
@arkhamvm the fix has already been rolled out 🤔  via #5007

[2019-02-28 09:14] aldarund commented on #5129
your issue provide zero info about what could be wrong. File a correct bug report or go to discord channel for help

[2019-02-28 09:18] mfrascati commented on #5006
@manniL actually I'm experimenting the problem without using chunking. I just get
_Cannot find module 'pages/index.js'_ (and for every other route). Then I stop the server, run dev again and if I'm lucky I can start working again. It happens totally random, so I don't really know where to look at

[2019-02-28 09:19] arkhamvm commented on #5006
Yeah, absolutely similar

[2019-02-28 09:24] manniL commented on #5006
@mfrascati @arkhamvm That's a *completely different* issue. Please create a new bug report.

[2019-02-28 09:34] pimlie commented on #5128
Try to increase node's memory limit. Looking at your error its still at the default 1.5GB. Try to increase it by running node with e.g.`node --max_old_space_size=4000` to set the limit to 4GB

If it then still runs out of memory you probably have a memory leak somewhere.

[2019-02-28 10:14] nahtnam opened #5131 "Increase the Build Speed"
### What problem does this feature solve?

Hello,

Recently I've been checking out Next.JS and I've found that it is more than 10-20x faster in the initial server startup time under very similar conditions. I'm not sure what they do exactly but sass compiles almost instantly.

NOTE: This is with Bulma installed (manually)

### What does the proposed changes look like?

Optimizing webpack?

<div al

[2019-02-28 10:20] nahtnam opened #5132 "Randomly Getting: Cannot find module 'pages/index.js'"
### Version

[v2.4.5](https://github.com/nuxt.js/releases/tag/v2.4.5)

### Reproduction link

[https://codesandbox.io/](https://codesandbox.io/) (Sorry, unable to reproduce it, maybe someone else can)

### Steps to reproduce

Unknown but I am not the only one having this issue: https://github.com/nuxt/nuxt.js/issues/5006#issuecomment-468197574

### What is expected ?

Server should start normally.

[2019-02-28 10:46] pearofducks opened #5133 "Static generation preserves context across pages (and shouldn't)"
### Version

[v2.4.5](https://github.com/nuxt.js/releases/tag/v2.4.5)

### Reproduction link

[https://github.com/pearofducks/nuxt-generate-bug-repro](https://github.com/pearofducks/nuxt-generate-bug-repro)

### Steps to reproduce

- Run `yarn build` (nuxt generate)
- Generated files have counter's state preserved across pages - e.g. `/` will have "component3" and "component4", while `/llama` will

[2019-02-28 10:59] manniL commented on #5132
Happens to me as well from time to time.

[2019-02-28 11:02] manniL commented on #5131
There are several experimental ways of improving build speed.

https://nuxtjs.org/api/configuration-build#parallel
https://nuxtjs.org/api/configuration-build#cache
https://nuxtjs.org/api/configuration-build#hardsource

We are constantly trying to increase the build speed with updates.

As this issue is quite broad, I'll close it.
If you have any specific ideas, please feel free to open up another

[2019-02-28 11:02] #5131 closed

[2019-02-28 11:13] kaipaysen commented on #5132
Same here. Can't see a pattern about whether it happens or not.
v.2.4.5

[2019-02-28 11:14] mfrascati commented on #5132
Same thing happening to me. Sometimes app starts correctly, then an HMR recompile breaks things, other times a fresh start already leads to the error. I have a small project with just 3 pages, a few components and nothing fancy.

Didn't change the project folders structure as @nahtnam did, so the src folder should not be the problem.

[2019-02-28 11:37] stone89son opened #5134 "Nuxtjs generate error “locale is not defined”"
I used Nuxtjs pwa 2.6.0. I want to deploy my web application, because i read in https://nuxtjs.org/guide/commands/, and I ran the following command:

`npm run generate
`
Ran and error like image:
![screenshot from 2019-02-28 20-18-30](https://user-images.githubusercontent.com/6795515/53563862-b2a90580-3b98-11e9-824f-9e21b6c4c0ae.png)

[2019-02-28 11:37] #5134 closed

[2019-02-28 12:34] uhyo commented on #5128
@plmlie I didn't notice the `generate.concurrency` config; sorry about that.
I admit that it's not a bug as Nuxt has appropriate config for my case.
Thank you very much.

[2019-02-28 12:34] #5128 closed

[2019-02-28 13:02] Resoguy opened #5135 "Updating to 2.4.5 from 2.3.4 DeprecationWarning: Tapable.plugin"
### Version

[v2.4.5](https://github.com/nuxt.js/releases/tag/v2.4.5)

### Steps to reproduce

I have updated my app from 2.3.4 to 2.4.5 version of nuxt. And I am taking this error when dev server is building nuxt.client.js.

Complete error text is:
```(node:61302) DeprecationWarning: Tapable.plugin is deprecated. Use new API on .hooks instead```

It resumes building and completes with a compilati

[2019-02-28 13:03] kevinmarrec commented on #5130
Thank for you feedback @fvigotti , but I don't honestly know enough core code to know what's wrong.

@manniL Do you have any clue ? https://nuxtjs.org/api/context is saying that type is `Request`, but @fvigotti that it could be another type (during SSR only maybe ?)

[2019-02-28 13:16] ndragun92 commented on #5132
Same here i get as well

[2019-02-28 13:46] bandy87 commented on #5135
Try npm-check-updates
https://www.npmjs.com/package/npm-check-updates

[2019-02-28 13:50] manniL commented on #5135
Okay. you are mixing up three errors here.

Have you tried googling it? `nuxt DeprecationWarning` will lead the correct result 🤷‍♂️
https://github.com/nuxt-community/pwa-module/issues/120

Again, google. https://github.com/webpack-contrib/mini-css-extract-plugin/issues/250#issuecomment-415345126

#5132

[2019-02-28 13:50] #5135 closed

[2019-02-28 13:56] manniL commented on #5130
@kevinmarrec The link on the docs redirects to https://nodejs.org/api/http.html#http_class_http_incomingmessage `Class: http.IncomingMessage`.

Feel free to change it.

PS: On client-side, req is not present.

[2019-02-28 14:28] aldarund commented on #5132
What OS and IDE are you using guys?

[2019-02-28 14:29] mfrascati commented on #5132
@aldarund VScode on latest OSX

[2019-02-28 14:34] kaipaysen commented on #5132
@aldarund same here: VSCode on latest OSX

[2019-03-01 00:21] arkhamvm commented on #5132
@aldarund
PhpShtorm 2018.3
Ubuntu 18.10
node v8.11.4
npm v6.7.0

[2019-03-01 00:45] nahtnam commented on #5131
Wow, those three settings took the initial build times from 1+ minutes to 3 seconds (after the first run). Maybe these settings should be covered in the FAQ or a more accessible location?

[2019-03-01 01:28] tanakaworld opened #5136 "Warning is shown in built bundle (Classic mode for store/ is deprecated and will be removed in Nuxt 3)."
### Version

[v2.4.5](https://github.com/nuxt.js/releases/tag/v2.4.5)

### Reproduction link

[https://codesandbox.io/s/jjyz70wpm3](https://codesandbox.io/s/jjyz70wpm3)

### Steps to reproduce

N/A

![Pasted_Image_2019_03_01_10_27.png](https://cmty.s3.eu-west-1.amazonaws.com/71995937/4c466700-3bc1-11e9-a8a1-cbd2b571b91c.png)

### What is expected ?

No warning in built bundle.

### What is actuall

[2019-03-01 02:46] fchengjin opened #5138 "get a wrong ".nuxt/router.js" when i have a file named 'app/router.js'"
### Version

[v2.4.5](https://github.com/nuxt.js/releases/tag/v2.4.5)

### Reproduction link

[https://codesandbox.io/s/82m9k2vzm0](https://codesandbox.io/s/82m9k2vzm0)

### Steps to reproduce

Just create a file named "app/router.js"

### What is expected ?

'app/router.js' doesn't effect '.nuxt/router.js'

### What is actually happening?

It will copy 'app/router.js' to '.nuxt/router.js' when de

[2019-03-01 06:03] mannok opened #5139 "/deep/ selector is not working in nuxt project (for IE11)"
Anyone of you can use /deep/ selector in scss tag?
In pure Vue app, we can use /deep/ selector in scss style tag like this:

<style>
.foo /deep/ .bar {
    background-color: red;
}
</style>

and this piece of style will be compiled to .foo .bar { background-color: red; }

However, for nuxt project, the style will finally be like .foo /deep/ .bar { background-color: red; }. As a result, IE 11 canno

[2019-03-01 06:04] #5139 closed

[2019-03-01 07:54] karakum commented on #5006
@manniL @clarkdo I can aprove - bug still present, there is no PR in 2.4.5

[2019-03-01 08:59] clarkdo commented on #5006
It seemed that this pr isn’t included in latest release @manniL @pi0

[2019-03-01 09:51] Haizone opened #5140 "nuxtjs Amazon AWS S3 404 error on page refresh"
i build a big app with nuxt.js with dynamic pages

and i upload that to aws s3

when i try to refresh a page with dynamic stuff i get that error:

404 Not Found
Code: NoSuchKey
Message: The specified key does not exist.
Key: category/mobile-phones
RequestId: 11825C8D9E93465F
HostId: lh/YRRb1TxIoHDEk8+pC3Wa1646dgvXqQOcS7muhOm/hTW/MUgjDrbDPD9dhCwgmhNms/sPaHjM=
i try to do that:
https://i.stack.imgur

[2019-03-01 09:51] #5140 closed

[2019-03-01 10:04] manniL commented on #5006
@clarkdo Whoops.

[2019-03-01 14:00] sergiocamillo commented on #5049
For me worked when install the bootstrap-vue like a plugin.  Like a bellow:
For VUE CLI 3
1) Install bootstrap-vue
npm i bootstrap-vue

2) Create a file in plugins folder -> bootstrap-vue.js
import Vue from 'vue'
import BootstrapVue from 'bootstrap-vue'

Vue.use(BootstrapVue)

import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'

3) Edit nuxt.config.js.

const pa

[2019-03-01 14:04] #4771 closed

[2019-03-01 15:21] joelworsham commented on #4949
bump :)

[2019-03-01 15:49] #5136 closed

[2019-03-01 17:57] bdrtsky commented on #5006
@mfrascati you just described my problem exactly. Did you managed to create separate issue?

[2019-03-01 18:23] nahtnam commented on #5006
@bdrtsky Opened an issue here: https://github.com/nuxt/nuxt.js/issues/5132

[2019-03-01 19:42] tjbenton commented on #4286
Has there been any progress on this? I need the config so that I can pass it along to the storybook config

[2019-03-02 02:17] zach2825 commented on #5006
I was just able to delete my node_modules directory and re-run install and it started to work. Im guessing it's because my npm package updated.

[2019-03-02 10:10] bdrtsky commented on #5132
I am using Ubuntu 16.04, Sublime Text, Node v11.10.0, npm 6.7.0
Same issue

[2019-03-02 11:24] CKGrafico commented on #4286
@tjbenton hope this helps https://github.com/CKGrafico/Frontend-Boilerplates/tree/nuxt/test/scripts

[2019-03-02 13:08] aldarund commented on #5132
So codeeditor not related . Maybe its happens only on unix subsystem , on win i personally didnt have it even once..  Or maybe there something other related

[2019-03-02 14:49] sarahdayan opened #5141 "Running nuxt generate works once, then causes 403 errors"
### Version

[v2.4.0](https://github.com/nuxt.js/releases/tag/v2.4.0)

### Reproduction link

[https://github.com/dinerojs/dinerojs.com](https://github.com/dinerojs/dinerojs.com)

### Steps to reproduce

- Install and run the API from [this repository](https://github.com/dinerojs/docs).
- Install and run the Nuxt-powered website from [this repository](https://github.com/dinerojs/dinerojs.com).
- T

[2019-03-02 16:43] deerboy opened #5142 "Spread operator can not be used for props array in jest"
### Version

[v2.4.5](https://github.com/nuxt.js/releases/tag/v2.4.5)

### Reproduction link

[https://codesandbox.io/s/github/deerboy/nuxt-jest-spread-operator-bug](https://codesandbox.io/s/github/deerboy/nuxt-jest-spread-operator-bug)

### Steps to reproduce

* init nuxt project by cli
* edit Logo.vue (use spread operator for props array)
* run test
* error

Logo.vue
[code]

Logo.spec.js
[code]

[2019-03-02 20:00] pi0 commented on #5141
Hi @sarahdayan. I've locally tried the build process. The problem is originating when `nuxtServerInit` tries to fetch releases from Github API which throws 403 error. Expect a PR soon for fix :)

[2019-03-02 20:23] sarahdayan commented on #5141
Oooooh I totally forgot about the GitHub API. Thanks a lot for investigating (and the upcoming PR) 🙂

[2019-03-02 20:31] manniL commented on #5141
Closing here as the issue has been resolved :relaxed:

[2019-03-02 20:31] #5141 closed

[2019-03-02 22:07] nahtnam commented on #5132
Is more information required? I can provide a stack trace or something the next time it happens. Please let me know what information you need to help speed this up

[2019-03-02 22:25] pi0 commented on #5132
I've saw this problem on VSCode/MacOS too

[2019-03-02 22:27] ameistad commented on #3389
I'm experiencing this on Nuxt version 2.4.5, but only in development.

[2019-03-03 01:08] russellsean opened #5144 "Change default layout programmatically"
### What problem does this feature solve?

Role-based applications could load different layouts based on the user's role. Currently, I am utilizing the layout property in every component like:

[code]
my layout folder is structured like:
layout/
- admin.vue
- default.vue
- manager.vue
- norole.vue
- user.vue

Which works great until I create a new component and forget to throw this snippet in.

##

[2019-03-03 09:11] aldarund commented on #5142
Its nothing about nuxt itself.
Updating jest to 24.1 fixes the issue
https://codesandbox.io/s/kw746w1pxo

[2019-03-03 09:12] #5142 closed

[2019-03-03 12:08] vybhavB commented on #5132
Same issue here, Manjaro with VSCode

[2019-03-03 14:12] shihab1812 opened #5146 "Code splitting is not woking at all for my NUXT app by default : < VERSION : 2.4.5 >"
I tried by adding manually the
splitChunks : {

        layouts: false,
        pages: true,
        commons: true

    }
to the build property inside "nuxt.config.js" but no luck. I can easily see that after I build the nuxt app on the home root itself all the non-home rooty bundle chunks are also loading.

Can anyone help me out here ?

[2019-03-03 14:12] #5146 closed

[2019-03-03 14:13] shihab1812 opened #5147 "Code splitting is not working at all by default in my NUXT app : <version : 2.4.5 >"
### Version

[v2.4.5](https://github.com/nuxt.js/releases/tag/v2.4.5)

### Reproduction link

[https://github.com/shihab1812/nuxt-app-demo](https://github.com/shihab1812/nuxt-app-demo)

### Steps to reproduce

I tried by adding manually the
splitChunks : {

        layouts: false,
        pages: true,
        commons: true

    }
to the build property inside "nuxt.config.js" but no luck. I can eas

[2019-03-03 14:15] OfekA commented on #4681
- Company/Organization: [BreezoMeter](https://breezometer.com)
- Product/Project: [breezometer.com](https://breezometer.com)
- Link: [breezometer.com](https://breezometer.com)
- Impression/Suggestion: We love 99% of what nuxt has to offer, and we use a lot of built in features and offical plugins. Something we do struggle with is Performance, and in particular bundle size and images, we would love

[2019-03-03 14:55] Timkor commented on #5144
I think that's already possible:
[code]

[2019-03-03 16:42] HamidNE commented on #5132
I have a problem like this on MacOS 10.14.3 with Node v11.10.1

[2019-03-04 08:16] #5077 closed

[2019-03-04 10:52] chenyueyun opened #5153 "vue-render isReady always get false when use ssr mode"
https://github.com/nuxt/nuxt.js/blob/70047c776a589c7424da05fd9e94e685ba063c6d/packages/vue-renderer/src/renderer.js#L229

When I use ssr mode, `this.render.spa` alway get false, then I can't get isReady() function return  true?

<div align="right"><sub><em>This question is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/nuxt.js/issues/c8768">#c8768</

[2019-03-04 11:13] pi0 commented on #5153
Hi. Are you using programmatic? Is this happening for dev or prod?

[2019-03-04 11:49] umrons commented on #5002
open `.gitignore`
find `dist`
change to `# dist`

[2019-03-04 12:51] bovas85 commented on #5002
That doesn't make sense. Can you explain?

[2019-03-04 13:38] chiboreache commented on #4918
With Vue it's working fine

here is official example:

[code]
http://www.brython.info/gallery/test_vue.html

but how to implement it in Nuxt, when everything hidden under the hood!?

[2019-03-04 13:58] Winns commented on #5132
Same issue. Win7 / v.2.4.5.
Running ```yarn run generate``` and then ```yarn run dev``` is fixing it for me, until it breaks again..

[2019-03-04 14:06] chiboreache commented on #4918
with no luck `~_~`

[code]
meh

[code]

[2019-03-04 14:12] manniL commented on #5147
![image](https://user-images.githubusercontent.com/640208/53738579-d8cbef80-3e8f-11e9-9d6a-37f9bb8face7.png)

Can't reproduce. Code-splitting only happens when building the app in prod (`npm run build`).

[2019-03-04 14:12] #5147 closed

[2019-03-04 14:30] manniL commented on #4918
If you want to use Nuxt in SPA mode, that shouldn't be a problem.

In SSR mode, Brython would have to run *before* the parser. That might be possible with hooks but would be a bit of work.

All in all: Looks doable but might require a bit of effort.

Closing here as it's a 3rd party lib integration problem and therefore rather a question than a bug report for feature request.

[2019-03-04 14:30] #4918 closed

[2019-03-04 14:50] russellsean commented on #5144
Thank you! Do you know of any way I can access this.$nuxt from within vuex?

[2019-03-04 14:52] manniL commented on #5144
@russellsean on client-side: `window.$nuxt`.

[2019-03-04 14:53] manniL commented on #5144
PS: Closing here as the requested feature is already included.

[2019-03-04 14:53] #5144 closed

[2019-03-04 15:02] russellsean commented on #5144
I noticed this only changes for the current component. If you route to another page it changes back to the default layout. Is there any way to change the default layout for the entire app?

[2019-03-04 15:51] unr commented on #3389
Currently experiencing this live on 2.4.5

Previously, I had used [this error/refresh solution](https://github.com/nuxt/nuxt.js/issues/742#issuecomment-393776050)

But this no longer seems to work? I'm simply having errors logged about chunks again, and I can't seem to get this working.

[2019-03-04 15:58] chiboreache commented on #4918
Got it! Thanks.

[2019-03-04 17:35] JacobSamro commented on #4681
Company/Organization: Aroliant
Product/Project: Our Official Website
Link: https://www.aroliant.com
Impression/Suggestion: We have been looking for this kind of solutions for decades years. HMR, Folder Structure based Routing, Jam Packed SSR are the most awesome features in Nuxt.

<img width="1435" alt="screenshot 2019-03-04 at 11 01 47 pm" src="https://user-images.githubusercontent.com/5327489/53

[2019-03-04 18:09] janesser commented on #5100
@pi0 @samtgarson what's the next step here?

[2019-03-04 20:15] clarkdo commented on #5065
Fixed in extract-css-chunks-webpack-plugin, dependency has been upgraded in dev branch, I’ll pick it into next  patch release

[2019-03-04 20:15] #5065 closed

[2019-03-05 02:57] wushan commented on #3389
please reopen this issue, this is a serious problem on production apps.

[2019-03-05 04:38] brandonaaskov commented on #4899
@begueradj could you elaborate? I have the same problem you are seeing.

@manniL is there something I'm missing?
I run `npx create-nuxt-app my-app-name`, and after choosing my setup options, I immediately run `yarn test` and it fails.

Proof here (albeit a boring video): https://cl.ly/50d8c8f90d8b

[2019-03-05 05:21] amoshydra commented on #4286
@tjbenton @CKGrafico I have recently digged into Nuxt's builder's api and realise that, we could also do this programatically by extending Nuxt's `BundleBuilder` class. Nuxt's `Builder` accept a custom `BundleBuilder` class as its second parameter.

This could greatly simplify the implementation detail of `collect-webpack-config` without relying on `process.exit()`

**FILE**: `./scripts/collect-we

[2019-03-05 05:40] prashantpalikhe opened #5159 "Unit test with Jest with Object spread syntax fails with SyntaxError"
### Version

[v2.4.5](https://github.com/nuxt.js/releases/tag/v2.4.5)

### Reproduction link

[https://github.com/nuxt/create-nuxt-app](https://github.com/nuxt/create-nuxt-app)

### Steps to reproduce

1. Create a fresh Nuxt project with `npx create-nuxt-app test`
2. Enable Jest
3. Open the sample Logo.spec.js
4. Add a Object spread syntax e.g. const test = { ...{foo: 'bar', baz: 'qux' } }
5. Run

[2019-03-05 06:44] vanpipy commented on #5002
Version:
node: v11.10.0
npm: 6.7.0
nuxt: ^2.4.0

Problem happened:
https://github.com/nuxt/nuxt.js/blob/43709fda1572f37583d2f74b8b62ec379ed07e93/packages/vue-renderer/src/renderer.js#L418

Because of the NODE_ENV equal to production, then the `this.context.options.dev` is false and the retries is greater than 0. i dont know the detail and what `Server resources are not available` is. The only thin

[2019-03-05 08:09] aldarund commented on #5159
First its issue with create nuxt app, not nuxt. So please submit to the right repository :)
 Second there a few fixes for it in cna already. e.g. use of jest 24 and remove of nuxt/babel-preset-app
https://github.com/nuxt/create-nuxt-app/pull/193

[2019-03-05 08:09] #5159 closed

[2019-03-05 13:43] MichaelSchober commented on #2874
This would be a really awesome feature for SEO since vue-meta doesn't work for SEO crawlers (using the `nuxt generate` option)

[2019-03-05 14:34] deerboy commented on #5142
ご回答ありがとうございます。しかしまだ同じエラーが出ます。
1. あなたのsandboxをclone & yarn install.しました
2. `yarn test`
3. 同じエラー
あなたは同じフローを経てもエラーが起きませんか？

[2019-03-05 16:08] rwwagner90 opened #5162 "scrollToTop not working for `_slug` style routes"
### Version

[v2.4.5](https://github.com/nuxt.js/releases/tag/v2.4.5)

### Reproduction link

[https://github.com/shipshapecode/website-nuxt](https://github.com/shipshapecode/website-nuxt)

### Steps to reproduce

If you run `yarn dev` and navigate to the `blog` route, then click a blog post, then scroll to the bottom, and click one of the next/previous links, you will notice it will drop you at t

[2019-03-05 17:02] aldarund commented on #5142
@deerboy it work for me. Can u try to remove  "@nuxt/babel-preset-app" from babelrc and lock file and reinstall and see if it helps

[2019-03-05 17:16] bgibb95 opened #5164 "Cannot read property $loading of undefined when using jest with nuxt component"
When I try to test one of my components using nuxt and jest, I get the following error:

    Cannot read property '$loading' of undefined

This is being caused by the following line of code in my component

    this.$nuxt.$loading.start()

How do I prevent this error from occuring when running the test on my component?

The test file looks like this:

    import { mount } from '@vue/test-utils'

[2019-03-05 17:16] #5164 closed

[2019-03-05 21:01] bgibb95 commented on #5164
I found a solution. The solution is to mock nuxt like this:

    const wrapper = mount(Converter, {
      mocks: {
        $nuxt: {
          $loading: {
            start: () => {}
          }
        }
      }
    })

[2019-03-05 21:52] sergiorivas commented on #5049
I did a similar solution but without `webpack` and it works for me.
1. Install `bootstrap-vue`

[code]

2. Create the file `plugins/bootstrap-vue.js`

[code]

3. Add the plugin to `nuxt.config.js`

[code]

[2019-03-06 05:45] sskyu commented on #3389
A CSS chunk error occurs in the production environment.
It seems that it can be fixed by changing the following line as a temporary countermeasure.
https://github.com/nuxt/nuxt.js/blob/2015140d1287bcf3701b170cd7d4000b01270c82/packages/vue-app/template/client.js#L160

[code]

However, I am looking for a better solution than this patch.

[2019-03-06 06:25] roelmagdaleno opened #5166 "keep-alive not working, resets data after change tab"
### Version

[v2.4.5](https://github.com/nuxt.js/releases/tag/v2.4.5)

### Reproduction link

[https://codesandbox.io/s/9z8p69427r](https://codesandbox.io/s/9z8p69427r)

### Steps to reproduce

1. Click on ROEL USER button to go to Profile tab, which is an url (/roelmagdaleno/profile)
2. Go to Posts or Payments tab, when the component renders for the first time, it will show you the data.
3. Go ba

[2019-03-06 06:53] ChenZhuoSteve commented on #5166
https://codesandbox.io/s/73lqxj6436
posts.vue
![image](https://user-images.githubusercontent.com/9547402/53861377-0abf8c00-401f-11e9-889d-a9eca2ca82f0.png)
when using keep-alive, data() will be called repeatedly when the component is activated.

[2019-03-06 07:04] roelmagdaleno commented on #5166
Thank you, that works but I feel it is a little bit hacky.
In Vue.js, I could set the same behaviour without the if condition, weird.

Thanks!

[2019-03-06 07:07] ahus1 commented on #3389
@ssku, maybe adding a snippet to your error page like in my comment https://github.com/nuxt/nuxt.js/issues/3389#issuecomment-431609130 with can serve until this is fixed in a Nuxt release. Of course the match condition needs to be changed to include CSS chunks like you described.

Are you willing to submit a pull request to change the line you mentioned in your comment?

[2019-03-06 07:15] wxingheng opened #5167 "response has a MIME type ("text/html") that is not "text/event-stream""
mode = 'spa'

response has a MIME type ("text/html") that is not "text/event-stream"

[2019-03-06 07:15] #5167 closed

[2019-03-06 08:08] sskyu commented on #3389
@ahus1 Yeah, thanks your work ;)

[2019-03-06 10:18] natuanorg commented on #5049
Thanks @sergiorivas ! it worked for me

[2019-03-06 10:22] TechupBusiness commented on #5132
I'm having the same issue. Ubuntu 18.04 / v2.4.5
It happens after startup when I directly navigate to `http://localhost:3000/` (after `npm run dev`)

Workaround is to make a small change in `pages/index.vue` to trigger regeneration.

[2019-03-06 10:30] ahmadmilzam commented on #5082
@manniL what nuxt version do you use to reproduce the bug? i have new fresh install nuxt 2.4.5 and still not working. You mind to share with me your working code?

[2019-03-06 10:52] Magnum5234 opened #5168 "Different resolve alias behavior for spa and universal build mode"
### Version

[v2.4.5](https://github.com/nuxt.js/releases/tag/v2.4.5)

### Reproduction link

[https://codesandbox.io/s/w7m45my09k](https://codesandbox.io/s/w7m45my09k)

### Steps to reproduce

There are two dev scripts "devBroken" and "devWorking" (You cannot run both at the same time.) The spa mode will run without any issues, while the universal mode will print out (as error message on the webs

[2019-03-06 16:43] #4964 closed

[2019-03-06 17:29] homerjam commented on #4432
@husayt where did you add the line below exactly please?

[code]

[2019-03-06 18:23] ciaoben commented on #5132
Same here on mac os / sublime text / Nuxt  v2.4.5

[2019-03-06 20:37] IPRIT commented on #4681
### Project:
Company/Organization: RDW-Soft
Product/Project: [Rabota.ru](https://rabota.ru/switch.html?design=2018) (russian biggest [Indeed](https://indeed.com/)-like website)
Link: [https://rabota.ru/](https://rabota.ru/switch.html?design=2018)
Impression/Suggestion: We're really satisfied of our choice to go with Nuxt. We are fully rewritten our frontend using Nuxt.js and spent for about ~1.5 y

[2019-03-06 21:43] aldarund commented on #4432
fyi devalue issue was fixed and released some time ago

[2019-03-06 22:50] rchl commented on #5032
reproducible

[2019-03-06 23:12] bro-strummer commented on #3091
To the best of my knowledge, Nuxt (2.4.5) effectively does what is asked in this issue–it loads CSS needed for the critical rendering path.**

Put plainly, you won't have any render-blocking CSS when using Nuxt with the `build.extractCSS` config option set to `true`.

That's because when that option is `true`, Nuxt auto-injects a preload link for your global CSS as well as your component CSS (whic

[2019-03-07 01:50] Gomah commented on #4681
I have been using Nuxt.js for over 15 months now with multiple projects.

The first project was to move away from a pre-rendered PWA eCommerce website to a Nuxt PWA (pre 1.0) in October 2017.

- Company/Organization: Koala
- Product/Project: eCommerce PWA <> Shopify API
- Link: https://au.koala.com
- Impression/Suggestion: The transition was actually very smooth even if the documentation was not c

[2019-03-07 04:09] nathantsoi commented on #5132
same. i have to `touch pages/index.vue` every time i start the dev server

[2019-03-07 06:36] begueradj commented on #5132
I had the same issue yesterday, but only once

[2019-03-07 07:53] bovas85 commented on #3091
So the issue is if you have several globals like variables and mixins as well as helpers, which minified at the head will take a lot of space and be repeated. I think I'd prefer a cleaner page and was wondering what the best approach would be then to load styles as links but still have the critical css for that specific page in the head.

[2019-03-07 08:44] #4971 closed

[2019-03-07 11:24] begueradj opened #5175 "Errors while creating a fresh Nuxt app"
### Version

[v2.4.5](https://github.com/nuxt.js/releases/tag/v2.4.5)

### Reproduction link

[https://github.com/nuxt/nuxt.js](https://github.com/nuxt/nuxt.js)

### Steps to reproduce

- `yarn create nuxt-app project`
- Choose Linter/Formatter + axios
- Choose Vuetify.js

### What is expected ?

No errors

### What is actually happening?

I get this:

[code]

### Additional comments?

Ǹo link pro

[2019-03-07 12:08] aldarund commented on #5175
Please report to the right repository. Its about create nuxt app, not nuxt.
And it was fixed but not released yet
https://github.com/nuxt/create-nuxt-app/pull/203

[2019-03-07 12:08] #5175 closed

[2019-03-07 12:34] ChunAllen opened #5176 "Nuxt Generate Fatal Error in Jenkins"
I'm basically running npm run generate in jenkins build

This is my current configuration:

[code]

I'm getting

[code]

But when I tried it on my local it manages to create a dist file

[2019-03-07 12:34] #5176 closed

[2019-03-07 12:38] loomchild commented on #4991
Would it be a good idea to add `--fail-on-error` option to standard `nuxt generate` (I can propose a PR perhaps)? Or shall I simply use `nuxt-generate-cluster` as it will replace standard `nuxt-generate` at some point?

[2019-03-07 13:17] pi0 commented on #4991
+1 for `--fail-on-error` option. Implement would be straight forward :)

[2019-03-07 13:28] pimlie commented on #4991
@loomchild nuxt-generate will never replace the standard generate. Hopefully nuxt will support multiple generate workers by default in the future so nuxt-generate-cluster becomes obsolete :)

I would recommend to name the option `--fail-on-page-error` as just error might be a bit generic and if failing ever becomes the default it would be strange to use `--no-fail-on-error` to only skip page error

[2019-03-07 13:50] jnordberg opened #5177 "Setting res.spa in middleware breaks csp"
### Version

[v2.4.5](https://github.com/nuxt.js/releases/tag/v2.4.5)

### Steps to reproduce

Set `res.spa = true` in a serverMiddleware and enable `csp` in nuxt.config

### What is expected ?

No error

### What is actually happening?

[code]

<div align="right"><sub><em>This bug report is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/nuxt.js/iss

[2019-03-07 14:24] bdrtsky commented on #5132
Any thought what causing this?

[2019-03-07 17:02] voronianski opened #5178 "Nuxt 2.4.5 removes custom methods from JS objects prototypes imported from node_modules"
### Version

[v2.4.5](https://github.com/nuxt.js/releases/tag/v2.4.5)

### Reproduction link

[https://github.com/voronianski/nuxt-2.4.5-prototype-issue](https://github.com/voronianski/nuxt-2.4.5-prototype-issue)

### Steps to reproduce

https://github.com/voronianski/nuxt-2.4.5-prototype-issue#whats-the-problem

### What is expected ?

https://github.com/voronianski/nuxt-2.4.5-prototype-issue#wha

[2019-03-07 17:04] Hey-tom opened #5179 "Bootstrap table duplicating on webpage"
Hi Group, I've made an new app with npx create-nuxt-app and then a new file in the pages folder. I've added in a sample datatabe from bootstraps website and I see that the table is rendering twice? Has anyone experienced this before? Is this a bug with nuxt or bootstrap?

Here's a sandbox with the issue replicated.
https://7wo3jr51.sse.codesandbox.io/Table

Thanks

[2019-03-07 17:04] #5179 closed

[2019-03-07 17:38] clarkdo commented on #5178
This issue is due to that vue-ssr-renderer will be run in a new context which is different with Nuxt server.

You can try:
[code]

But we recommend using `runInNewContext: true` in `dev` mode for avoiding potential memory leak.
So you can try to register the `vue-string-format` inside Vue context, for example:
 `layout`:

[code]

[2019-03-07 17:49] clarkdo commented on #5178
Sorry, please hold, I may need more investigation.

[2019-03-07 19:05] aldarund commented on #5142
@deerboy there was update in jest to 24.3.0 . Maybe it will fix error for you?
Here how it works on CBS -> https://i.imgur.com/fe1eSrD.png

[2019-03-07 22:21] Heziode commented on #4757
Related to [#2202](https://github.com/nuxt/nuxt.js/issues/2202).
I've had this *** problem for about a year.
This forces me to access the page with the `a` tag instead of `nuxt-link`.
[I'm also in SPA](https://github.com/FOE-Tools/FOE-Tools.github.io).

[2019-03-07 22:41] manniL commented on #4899
@brandonaaskov Interesting. Can you reproduce it without choosing a server framework?

[2019-03-07 23:50] loomchild commented on #4991
Give me few days and I will propose PR. Implementation itself seems to not be very hard, but I don't know the codebase, process how to test a development version and how do you write automated tests in the project yet.

[2019-03-08 00:25] aldarund commented on #4899
@brandonaaskov can you try again, there was a release of CNA that could fix it..

[2019-03-08 02:57] totski90 opened #5181 "Request failed with status code 422"
### Version

[v2.4.0](https://github.com/nuxt.js/releases/tag/v2.4.0)

### Reproduction link

[https://github.com/totski90/laravel-nuxt-front-end and the backend https://github.com/totski90/laravel-nux-back-end]

### Steps to reproduce

When form validation failed, it will be redirected to the default error "Request failed with status code 422" instead of the server side validation returned.

###

[2019-03-08 05:35] ChenZhuoSteve commented on #5166
I don't think this issue should be closed. We don't know the root cause of this problem.
I am more inclined to think that this is a bug.

[2019-03-08 05:37] sonnh58 commented on #5090
Same issue v2.4.5. Node server increases ram when have requests then hangs forever

[2019-03-08 05:38] roelmagdaleno commented on #5166
Sorry, I closed since no one else commented, but you're right. Maybe someone of the core team could decide if it is a bug or not.

[2019-03-08 06:33] wxingheng opened #5182 "This page could not be found"
This page could not be found

[2019-03-08 06:33] #5182 closed

[2019-03-08 06:33] wxingheng commented on #5182
This page could not be found

[2019-03-08 07:08] 750973092 opened #5183 "刷新后CSS样式丢失怎么回事"

[2019-03-08 07:08] #5183 closed

[2019-03-08 08:08] aldarund commented on #5182
if u have a problem fill a proper bug report.

[2019-03-08 08:49] shangxinbo opened #5184 "Nuxt server access log"
### What problem does this feature solve?

In the production environment, how can I get the access log of the nuxt server, including each route, and the access log of each resource?

<div align="right"><sub><em>This feature request is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/nuxt.js/issues/c8790">#c8790</a>)</em></sub></div>

[2019-03-08 08:56] aldarund commented on #5184
Please dont open feature request for questions. If you need help you can either open a question on cmty or go to discord  https://discord.gg/nHzfFwe

[2019-03-08 08:56] #5184 closed

[2019-03-08 09:06] KristianTheodoreJabilles opened #5185 "Nuxt Custom template"
Hi, is there a way to add custom variables from my custom template? In my example, I want to put all critical assets on top of nuxt `HEAD`.

[code]

[2019-03-08 09:06] #5185 closed

[2019-03-08 10:47] wekenche commented on #3887
hey did you solve this i facing same issue

[2019-03-08 10:55] clarkdo commented on #5166
I'll have a look.

[2019-03-08 11:01] manniL commented on #5090
@sonnh58 this is caused by a memory leak in userland code.

[2019-03-08 11:04] manniL commented on #5181
Use `try/`catch` around your axios calls and handle the error properly

[2019-03-08 11:04] #5181 closed

[2019-03-08 11:05] deerboy commented on #5142
@aldarund
Thank you for working on the problem. :)

It is still not good. There is no spread operator in your sandbox. If you add the following code to `Logo.vue` and test it, you should get the title error, will not you go out?

[code]

The problem is that even in the nuxt environment immediately after initialization with CIL, an error occurs when the spread operator is involved in props, compute

[2019-03-08 11:17] djbingham commented on #3887
Hi @wekenche, I did not find a solution to this. I didn't put much time into it as I was only wanting to try out Vue with Nuxt.js but without HMR working in my setup I'm much less interested.

It certainly should be possible as I did get Next.js working with HMR from a Docker container quite painlessly - like Nuxt, Next also uses Webpack for its dev server. Here's my `next.config.js`:

[code]

As

[2019-03-08 12:05] cassvail opened #5187 "Disable namespaced in vuex"
### Version

[v2.4.5](https://github.com/nuxt.js/releases/tag/v2.4.5)

### Reproduction link

[https://codesandbox.io/s/jvr9xkp1k5](https://codesandbox.io/s/jvr9xkp1k5)

### Steps to reproduce

Classic mode is being deprecated.
Using the new 'export const' method to handle vuex modules:
the flag _namespaced = false_ is not handled.

### What is expected ?

To disable namespaced module and have glo

[2019-03-08 12:47] brandonaaskov commented on #4899
@manniL I tried again with the same settings, got the same error. I also tried with the most basic settings and the tests still won't run due to the same problem.
![image](https://user-images.githubusercontent.com/445778/54029368-25f0df80-4176-11e9-8162-9ebb6f9f95f4.png)
@aldarund I guess that didn't fix it :sadpanda:

[2019-03-08 14:05] aldarund commented on #5142
@deerboy i have updated that CBS with your mounted function and updated jest to latest. Work fine
https://i.imgur.com/bgoMgjJ.png
Can u try to clone it again and run? If that still dont work try to update vue-jest to v4.0.0-beta.2
Nuxt project for jest is same as plain vue. There nothing specific to nuxt when u run it via jest

[2019-03-08 14:06] aldarund commented on #4899
same\similar problem https://github.com/nuxt/nuxt.js/issues/5142

[2019-03-08 15:00] brandonaaskov commented on #4899
@manniL so this is interesting... I tested this on my PC and it worked fine. So it just seems to not work in *nix based environments?
![image](https://decwap8ztgrry.cloudfront.net/items/3Z2J0w3i0G2h2B3C0F0b/Image%202019-03-08%20at%209.57.51%20AM.png)

[2019-03-08 15:10] aldarund commented on #4899
@brandonaaskov does it work on codesandbox?

[2019-03-08 15:50] brandonaaskov commented on #4899
@aldarund the tests don't run at all on Codesandbox. Here's the same codebase that create-nuxt-app generated, imported into Codesandbox: https://codesandbox.io/s/github/brandonaaskov/jest-example

[2019-03-08 16:43] #5166 closed

[2019-03-08 16:48] aldarund commented on #4899
@brandonaaskov what u mean by dont run at all ? You can run them if u fork it into you account .
I have forked your repo and tried . All fine -> https://i.imgur.com/sVqzoq0.png

[2019-03-08 18:09] brandonaaskov commented on #4899
@aldarund I see, I misunderstood how the tests ran in Codesandbox. I was looking at [this section](https://cl.ly/0da1aae48890) and not seeing any output.

Given that we have two instances where this works, any ideas what would cause it to _not_ work on my Mac? I'm running node 10.15.3.

Wondering if other Mac users are seeing this as well, or if it's just a small portion of us. But I've always see

[2019-03-08 18:42] #5187 closed

[2019-03-08 22:07] IPRIT commented on #5032
Redirect function now is useless in Nuxt.js, because of this bug. Any updates?

[2019-03-09 00:33] trentpeterson opened #5190 "Duplicate app style links in head using universal mode and extractCSS"
### Version

[v2.4.5](https://github.com/nuxt.js/releases/tag/v2.4.5)

### Reproduction link

[https://codesandbox.io/s/y0p726km21](https://codesandbox.io/s/y0p726km21)

### Steps to reproduce

1. Inspect the source on the "Documentation" button in the iframed app and observe that `.button--green` is applied twice, both from line 91 in app.css.
2. Inspect the head and observe that app.css appears

[2019-03-09 02:16] deerboy commented on #5142
solved! Since `@nuxt/babel-preset-app` remained in .baberc, it worked correctly by deleting it and setting it as `yarn test --no-cache`. Testing with `@nuxt/babel-preset-app` will cause an error again, so it seems that there is a problem with `@nuxt/babel-preset-app`.

Also debugging While testing - without attaching `--no-cache` was also delaying problem solving.

Thank you very much for your sup

[2019-03-09 09:19] aldarund commented on #5142
@deerboy it was removed in latest create nuxt app. And i removed it in provided CBS :) Glad that u solved it

[2019-03-09 11:12] #4795 closed

[2019-03-09 13:26] cfjedimaster opened #5191 "Documentation confusion for generate"
### Version

[v2.4.5](https://github.com/nuxt.js/releases/tag/v2.4.5)

### Reproduction link

[https://nuxtjs.org/guide/commands](https://nuxtjs.org/guide/commands)

### Steps to reproduce

First off - please note that I'm reporting a documentation issue. "Reproduction link" doesn't necessarily make sense in that case but I've included the link to the docs in question.

The docs say this about gen

[2019-03-09 14:18] manniL commented on #5191
Hey :wave:

Feel free to do so in the https://github.com/nuxt/docs/ repo next time if it's *directly* linked to the docs :relaxed:

---

## Regarding your question

If you use `nuxt generate`, you *usually* want a statically generated page. That means, having one HTML file per route which contains *actual* HTML which was  rendered by the server.

You want that because it'll give you the "best of b

[2019-03-09 14:32] cfjedimaster commented on #5191
This does help! Everything you said makes sense, however, don't you agree that the docs lead one to believe that you *must* use a custom generate config option in order to support dynamic routes?

Btw if you (or others) agree, I'll definitely open a new bug on the other repo.

[2019-03-09 14:35] manniL commented on #5191
@cfjedimaster I agree that it's not the best phrasing and might be misleading. Feel free to send a Pull Request to change that if you want :+1: :relaxed:

[2019-03-09 14:41] Kasheftin opened #5192 "path.replace is not a function when store folder is a symlink"
### Version

[v2.4.0](https://github.com/nuxt.js/releases/tag/v2.4.0)

### Reproduction link

[https://github.com/Kasheftin/nuxt-symlink-bug](https://github.com/Kasheftin/nuxt-symlink-bug)

### Steps to reproduce

1. Create the nuxt site using `npx create-nuxt-app` with any options enabled;
2. Write store/index.js file with any content (like this, https://github.com/Kasheftin/nuxt-symlink-bug/blob

[2019-03-09 14:41] cfjedimaster commented on #5191
Ok thank you - please feel free to close this as a non issue and I'll refile when I've got a bit more time. (Refile and then work on a PR.)

[2019-03-09 15:03] #5191 closed

[2019-03-09 15:12] manniL commented on #5192
cc @pi0

[2019-03-10 11:01] P-de-Jong commented on #4877
For now i added the following to my `tsconfig.json`:
[code]

[2019-03-10 12:13] amjadkhan896 commented on #4590
any work on this issue, I also need this functionality. My Seo team also told me regarding this functionality

[2019-03-10 12:56] amjadkhan896 opened #5194 "Schematic View Source"
Hi,
Is it possible to generate a schematic view using Nuxt. I searched the docs as well as repo issue fixed/open. the docs for the build but could not found anything
Is there a way of doing this.
Thanks

[2019-03-10 12:56] #5194 closed

[2019-03-10 16:18] aldarund commented on #4899
@brandonaaskov can you try to update vue-jest to 4beta2 ?

[2019-03-10 17:39] HamidNE commented on #5162
Hi brother
add this code in root of `nuxt.config.js` file to fix scroll

[code]

[2019-03-10 20:45] brandonaaskov commented on #4899
@aldarund I still see the same error. And I did double check my `node_modules/vue-jest/package.json` file to make sure that it was actually using the correct version, but alas, I'm still seeing the same.

[2019-03-11 00:34] falstack opened #5197 "titleTemplate bug should fix it immediately"
### Version

[v2.4.5](https://github.com/nuxt.js/releases/tag/v2.4.5)

### Reproduction link

[https://github.com/nuxt/nuxt.js/issues/5051](https://github.com/nuxt/nuxt.js/issues/5051)

### Steps to reproduce

this issue is fixed and merged

### What is expected ?

we use SSR for SEO, titleTemplate is very useful and important.

This bug has been around for a long time, but it has not been fixed.

[2019-03-11 00:44] aldarund commented on #5197
Why do u create a new issue for already opened one? Im closing this one  unless u can provide how its different from the one you linked
PS and you can use titleTemplate with explicit return as described in issue you linked

[2019-03-11 00:44] #5197 closed

[2019-03-11 03:41] lichunshan commented on #5090
my code return error Error: Request failed with status code 504, when use npm run dev sometime。
And I find that nuxtServerInit runs many times all the time, and this problem only occurs in development mode.I want to know why？

[2019-03-11 04:42] rwwagner90 commented on #5162
@HamidNE that will always scroll to the top though, right? I want the `savedPosition` to work too. It should work as intended in the browser, and scroll to the top when you navigate to a new route via links, but retain scroll position when using back buttons etc.

[2019-03-11 04:43] rwwagner90 commented on #5162
Either way, this is a bug in Nuxt, and should be addressed, rather than needing a workaround.

[2019-03-11 07:57] ycs77 opened #5198 "Use "modern client" and add path to "router base", and use nuxt generate, the JS can't be loaded."
### Version

[v2.4.5](https://github.com/nuxt.js/releases/tag/v2.4.5)

### Reproduction link

[Github](https://github.com/ycs77/nuxt-test-gen)
[GH page](https://ycs77.github.io/nuxt-test-gen/)

### Steps to reproduce

[code]

### What is expected ?

The site JS loaded successfully.

### What is actually happening?

*nuxt.config.js*
[code]
If use one of a "modern client" or "router base", nothing w

[2019-03-11 08:47] deerboy commented on #5142
@aldarund
Thanks! :)

[2019-03-11 10:46] vhf commented on #5100
Definitely. The ability to configure auth, axios and apollo at runtime would be immensely helpful to people who wish to build once and deploy many times.

I'd be happy to contribute if the core team agrees on what the right approach should be.

[2019-03-11 11:03] bitsmakerde opened #5199 "ENV BaseUrl dont work"
### Version

[v2.4.5](https://github.com/nuxt.js/releases/tag/v2.4.5)

### Reproduction link

[https://jsfiddle.net/vobx5za8/](https://jsfiddle.net/vobx5za8/)

### Steps to reproduce

npm run dev

### What is expected ?

if I change the env: baseUrl nothing change. If I start next the server is always "http://localhost:3000"

### What is actually happening?

change server to "http://localhost:9000

[2019-03-11 11:28] aldarund commented on #5199
baseUrl is nothing build in into nuxt, it just example how u defined env vars in nuxt config
You are looking for server section
https://nuxtjs.org/faq/host-port/#configure-in-code-nuxt-config-js-code-

[2019-03-11 11:28] #5199 closed

[2019-03-11 11:31] endhub opened #5200 "the plugin not getting the updated vuex state"
Hi, first sorry for my english.
When I login in the app I keep the token in vuex but when I ask for it from the plugin it does not return it, help please.

I´m persisting the state of the auth store with nuxtServerInit so if I refresh the page and ask this.$isLoggedIn then the token appears but only on page refresh, I have verified that the token is saved correctly in the store when I login, I don

[2019-03-11 11:31] #5200 closed

[2019-03-11 12:06] theCrius opened #5201 "Support Windows OS building"
### What problem does this feature solve?

Currently the default NPM scripts to build / serve use these scripts:

[code]

Problem is that Windows based machines will not load the .env file nor will knows what to do with that "TARGET=prod" line.

### What does the proposed changes look like?

The quick & dirty solution I used was to  add cross-env to the small project I was working as devDependency

[2019-03-11 12:08] aldarund commented on #5201
@theCrius what do u mean by default npm scripts for nuxt?

[2019-03-11 12:30] leahciMic commented on #5096
@kdeng I'm also experiencing this issue.

I might see if I can help out and find the source of this issue and submit a PR.

[2019-03-11 12:41] leahciMic commented on #5096
The named-view example does not hit this bug, suspect it happens with top level named views only.

[2019-03-11 12:55] bitsmakerde commented on #5199
Ok Thanks.

I try this, but I will set a subdomain and not only a IP. If I set only the ip the start ist crashing.

Can you say me this is the correct command for this.

[2019-03-11 13:03] aldarund commented on #5199
subdomain is not a thing that is nuxt responsibility. And this is not a place for help. If u need help with your deployment go to nuxt  discord  https://discord.gg/6c46ekt

[2019-03-11 13:10] bitsmakerde commented on #5199
Error: Error: listen EADDRNOTAVAIL: address not available 10.11.12.71:8080

Config:

server: {
    port: process.env.PORT || 3000, // default: 3000
    host: appEnv.app.application_uris[0] // default: localhost
  },

[2019-03-11 13:23] aldarund commented on #5199
Like i said, github bug report this isnt place for help

[2019-03-11 14:02] clarkdo commented on #5178
@voronianski If the comment resolved your problem, could please close this issue ?

[2019-03-11 14:51] rwwagner90 commented on #5162
[code]

This kind of works, as it will keep the saved position, but it does not correctly do the transition animations.

[2019-03-11 14:54] clarkdo commented on #5198
@ycs77 Thanks for reporting this bug.

This issue should be fixed in #5202 , but one thing need to be noticed is:

`router.base` needs to be same value between `generate` and `start`, so please add `cross-env DEPLOY_ENV=gh_pages ` in `start` and then access `http://localhost:3000/nuxt-test-gen/`

[2019-03-11 15:06] ycs77 commented on #5198
Thank you for your reminder

[2019-03-11 15:30] voronianski commented on #5178
@clarkdo just FYI the solution you proposed doesn't work:

[code]

[2019-03-11 15:32] voronianski commented on #5178
change was added into demo repo - https://github.com/voronianski/nuxt-2.4.5-prototype-issue/commit/481168b7951b97a05ca87fa83c62dac42ef86112

[2019-03-11 15:35] theCrius commented on #5201
You're right, I should have worded it better but it's an hard monday :)

What I meant is that I think it would be "better" if, when we create a clean nuxt project from the CLI, the initial setup is platform agnostic, thus the  npm scripts for example, shouldn't assume I'll be on a unix-based system where `TARGET=prod` would work.

Now, I've seen that the official doc suggest using `cross-env` alre

[2019-03-11 15:59] clarkdo commented on #5178
@voronianski I opend a pr in you repo for fixing it https://github.com/voronianski/nuxt-2.4.5-prototype-issue/pull/1

[2019-03-11 16:16] voronianski commented on #5178
@clarkdo thanks, your PR works.

regarding you 2nd proposal, it doesn't work for me:

[code]

[2019-03-11 16:17] voronianski commented on #5178
@clarkdo changes pushed into demo repo - https://github.com/voronianski/nuxt-2.4.5-prototype-issue/commit/16521101c27cfcd48f6ef63b7a32e528230adaeb

[2019-03-11 16:21] voronianski commented on #5178
@clarkdo updated to use in layout - https://github.com/voronianski/nuxt-2.4.5-prototype-issue/commit/04a5689216a9bf689c06d4e151e4a0d6d989188e

[2019-03-11 16:29] gmcmillan commented on #5132
Same issue here, running locally in my dev environment. Running `touch pages/index.vue` does temporarily fix the problem.

Node: 8.15.1 (via Homebrew)
Nuxt: 2.4.5
OS: MacOS Mojave

[2019-03-11 16:50] aldarund commented on #5201
@theCrius the thing is i have no idea what cli you are talking about. Because this is repo for nuxt itself. Official cli is a create nuxt app https://github.com/nuxt/create-nuxt-app and it already use cross-env which is platform agnostic
https://github.com/nuxt/create-nuxt-app/blob/master/template/_package.json#L10

[2019-03-11 17:28] clarkdo commented on #5178
@voronianski I just looked into Vue src, it seemed that vue-ssr will run entry and async components in new context, other files like `vue-string-format` will be executed in main context, so the `String` is still a different one.

I suggest use some utility function (like register `stringFormat` on `Vue`) instead of touching any built-in prototype.

If you have to do it, use `runInNewContext: false

[2019-03-11 19:08] kamontat commented on #5030
??

[2019-03-11 19:55] #4991 closed

[2019-03-11 19:56] pi0 commented on #4991
Implemented in #5195 by @loomchild

[2019-03-11 22:27] davidMeysman opened #5204 "State using vuex is lost"
I have a big problem I hope the community can give direction on.

I use vuex to store the state of my nuxt.js app. I leave the application using window.location.href to another site. Upon return, I restore the state using vuex. All restored values are the same as before leaving the site.

In development (localhost:3000), I can use the browser back button to return accurately to any previous page a

[2019-03-11 22:27] #5204 closed

[2019-03-11 22:47] imns commented on #4912
Why are you making me use vuex-store in a specific way?  If it's not a security risk, you shouldn't be forcing how to use anything on me.

[2019-03-11 23:39] RosieCode95 commented on #5132
also getting this issue,

CentOS `7.6.1810`
Node: `11.10.1`
Nuxt: `2.4.5`

[2019-03-12 00:14] homerjam commented on #4912
@imns Nuxt exists to streamline and simplify the development of complex applications. It does this by providing a framework which encompasses a set of "best practices". As such there's a trade-off with total developer freedom.

[2019-03-12 03:09] wangxingkai opened #5205 "IE11 gets a syntax error after set `extractCSS: true` to build config"
### Version

[v2.4.5](https://github.com/nuxt.js/releases/tag/v2.4.5)

### Reproduction link

[https://codesandbox.io/s/oxoq331z26](https://codesandbox.io/s/oxoq331z26)

### Steps to reproduce

- Use `create-nuxt-app` create a new Nuxt.js app.
- Add `extractCSS: true,` to `build` section in `nuxt.config.js`.
- Run the app in IE11.
- In the console, will see a syntax error. If the app runs in spa m

[2019-03-12 08:10] kei-TD opened #5206 "Javascript click event is removed with SPA mode"
Hi, sry for my poor English.

I use Nuxt.js with SPA mode and AdminLte.
Separate LoginForm and Others.

Create click event with Javascript(coded in adminlte.min.js) in index.vue.
But access '/login' and `this.$route.push('/')` , this click event is removed.

Only after F5 on '/index', then this click event is working.

I want to working this event after `this.$route.push('/')`.

layouts
∟blank.vue

[2019-03-12 08:10] #5206 closed

[2019-03-12 09:12] manniL commented on #4912
We don't force you to do anything :man_shrugging:
But removing the non-fs-based vuex store handling helps us to keep Nuxt lean in the core.

If you still want to use this mode, we'll probably release a community module that allows this behavior ;)

[2019-03-12 09:13] manniL commented on #5205
Thanks but this is a
Duplicate of #5065

[2019-03-12 09:13] #5205 closed

[2019-03-12 09:29] audunmo opened #5207 "Make it possible to give page-based names to _slug variable files"
### What problem does this feature solve?

I have a directory like
[code]

This makes it painful to search through for the right file to edit, and there isn't always a natural way to rename the slugs because of how they affect the naming of the route param inside the file.

It's be great to have some way to enable naming that gives context to the slug, like `UserPaymentPage__id`. This would make i

[2019-03-12 10:32] karakum commented on #5006
Guys, when release is planned?

[2019-03-12 10:50] Timkor commented on #5056
This is still a problem.
![image](https://user-images.githubusercontent.com/6882876/54194584-e0594d00-44bc-11e9-8cfe-dc757222ab47.png)

The problem is that the property `message` of `DOMException` is read only. Hence it cannot be adjusted by Nuxt.

[2019-03-12 10:52] clarkdo commented on #5006
@karakum This week 😄

[2019-03-12 12:37] lilianaziolek opened #5208 "Fetch only called when navigating from another route, not when route params change"
### Version

[v2.4.5](https://github.com/nuxt.js/releases/tag/v2.4.5)

### Reproduction link

[https://codesandbox.io/s/wozw05xpqw](https://codesandbox.io/s/wozw05xpqw)

### Steps to reproduce

Navigate to home -> Navigate to any of the categories, e.g. products/lorem/ipsum, from there click on one of the links to navigate to another category, e.g. products/foo/bar.

### What is expected ?

Fetch

[2019-03-12 12:50] flysunshine opened #5209 "@alexchopin I had tried those ways you say above， but It can worked in linux & mac，not work in windows. would you give some ideas?"
@alexchopin I had tried those ways you say above， but It can worked in linux & mac，not work in windows. would you give some ideas?

env:

- windows10

- node@9.4.0

- npm@5.6.0

- yarn@1.2.1

- nuxt@1.1.1

[code]

[code]

_Originally posted by @classLfz in https://github.com/nuxt/nuxt.js/issues/149#issuecomment-361183821_

[2019-03-12 12:50] #5209 closed

[2019-03-12 13:04] Atinux commented on #5208
See my comment [here](https://github.com/nuxt/nuxt.js/pull/5118#issuecomment-471991497).

The new fetch is not available yet :)

[2019-03-12 13:16] FreddyCrugger opened #5210 "nuxtServerInit working on dev but not production"
Hello,

I have installed Nuxt.js v2.4.5 .

I cannot manage to get nuxtServerInit to work on production mode.

Here is my setup
![1](https://user-images.githubusercontent.com/6231274/54202665-d3deef80-44d0-11e9-8dcf-7bd956f37840.png)

In the state.js I have:

[code]
export default () => ({
  accessToken: null,
  rid: null,
  isLoggedIn: false,
  serverError: false
  // isLoading: false,
  // fullPa

[2019-03-12 13:16] #5210 closed

[2019-03-12 13:33] lilianaziolek commented on #5208
@Atinux Is the new fetch going to be in Nuxt 3 only, or will it be ported into subsequent Nuxt 2 release as well?

[2019-03-12 13:35] FreddyCrugger commented on #5210
well my question is, is this a bug as I followed the NUXT website doc.

[2019-03-12 15:20] theCrius commented on #5201
You're right, the weird thing is that I used `npx create-nuxt-app <project-name>` to create my nuxt project and I just checked back now the initial commit had this package json:

[code]

Anyway, given it already all in, this was just a silly issue, thanks for the patient to follow me along, this can be closed for me :)

[2019-03-12 15:32] manniL commented on #5208
@lilianaziolek Won't be backported as it contains breaking changes.

[2019-03-12 15:48] #5201 closed

[2019-03-12 15:50] kefranabg commented on #5099
Hey 👋

Is this issue still relevant ? I tried to run nuxt  on the `vuex-store` folder from the `examples` folder without `index.js` and named modules seems to be properly recognized by `Vuex`. Am I missing something ?

[2019-03-12 15:52] #5198 closed

[2019-03-12 15:53] paulgeisler commented on #4822
It still doesn't work for `2.4.5`.

[2019-03-12 15:59] paulgeisler opened #5212 "example(pug): not working in Nuxt 2.4.5"
### Version

[v2.4.5](https://github.com/nuxt.js/releases/tag/v2.4.5)

### Reproduction link

[https://github.com/nuxt/nuxt.js/tree/dev/examples/pug](https://github.com/nuxt/nuxt.js/tree/dev/examples/pug)

### Steps to reproduce

[code]

### What is expected ?

Build with no error.

### What is actually happening?

ERROR Failed to compile with 1 errors
This relative module was not found:

./about.

[2019-03-12 16:01] paulgeisler commented on #5212
I looked at the pull #4824 which should solve the problem and saw the `pug-loader` instead of `pug-plain-loader` wich is required if using `vue-loader` v15.

So the solution here is to use `pug-plain-loader`.

[2019-03-12 16:02] voronianski commented on #5178
@clarkdo alright, thanks for explanation!

[2019-03-12 16:02] #5178 closed

[2019-03-12 16:12] imsidz opened #5213 "how to prevent redirect when submit form and get 422"
i am new in nuxt and can't solve the problem when i try to submit form for getting 422 error should not go anywhere and should show error on console but its redirecting in error page with content

how to prevent this

my code very is simple login

[code]

[2019-03-12 16:12] #5213 closed

[2019-03-12 16:15] imsidz commented on #5213
i already posted to your website but no answer from your website

here is link

[https://cmty.app/nuxt/nuxtjs.org/issues/c156](url)

[2019-03-12 16:16] manniL commented on #5212
@paulgeisler Whoops! Sorry. Would you mind submitting a PR? :relaxed:

[2019-03-12 16:51] lilianaziolek commented on #5208
@manniL Thanks for confirming. Looking forward to Nuxt 3!
Should I close this issue, or would you like to keep it open and indicate it's resolved in Nuxt 3 once it's out?

[2019-03-12 16:53] manniL commented on #5208
I think closing it should be fine :relaxed:

[2019-03-12 16:53] #5208 closed

[2019-03-12 18:01] manniL commented on #5099
This breaks for me. make sure you restart the server after removing the `index.js` (or start the sever afterwards)
![image](https://user-images.githubusercontent.com/640208/54224121-26340680-44f9-11e9-9d12-4b1774f51d0a.png)

[2019-03-12 19:14] kefranabg commented on #5099
I did restart the server after changes 😕

Removing `index.js` breaks the index module as expected, but it seems that the store is still properly  instantiated so I will be able to use other modules like Todo module.

Here is what I get when I keep the `index.js` :

![Capture d’écran 2019-03-12 à 20 05 52](https://user-images.githubusercontent.com/9840435/54228370-546a1400-4502-11e9-9598-89ecbdc3

[2019-03-12 19:57] manniL commented on #5099
You are right :see_no_evil:

Thanks for reporting! :+1:

[2019-03-12 19:57] #5099 closed

[2019-03-12 20:09] paulgeisler commented on #5212
Sure thing! 😁👍

[2019-03-12 22:07] #5056 closed

[2019-03-12 22:19] manniL commented on #5090
Closing here as it's a userland issue.

If someone can verify it's not, feel free to ping me here.

[2019-03-12 22:19] #5090 closed

[2019-03-12 23:45] fbrbovic opened #5216 "publicPath not reflect during `nuxt dev`"
### Version

[v2.4.5](https://github.com/nuxt.js/releases/tag/v2.4.5)

### Reproduction link

[https://codesandbox.io/s/rw6z54yrn?fontsize=14](https://codesandbox.io/s/rw6z54yrn?fontsize=14)

### Steps to reproduce

Provided codesandbox changes the ```build.publicPath``` from default to ```'_nuxt_2'```

Visit the codesandbox url  , open browser devtools and look at the network tab and see all of t

[2019-03-13 02:41] xyjwsj opened #5217 "Layout Callback"
How to use the button callback in the custom layout? How to call back to the vue page?

How to use?

[2019-03-13 02:41] #5217 closed

[2019-03-13 03:17] arkhamvm commented on #5132
For now i'm using `touch -acm pages/index.vue && npm run dev`.
It looks like some kind of date file change check is broken

[2019-03-13 07:59] begueradj opened #5218 "error Unexpected module.exports, please use export default instead"
### Version

[v2.4.5](https://github.com/nuxt.js/releases/tag/v2.4.5)

### Reproduction link

[https://nuxtjs.org/](https://nuxtjs.org/)

### Steps to reproduce

Simply run `yarn create nuxt-app project` and **choose Eslint** in the process.

### What is expected ?

When I lint nuxt.config.js I do not want complaints about ES6 syntax

### What is actually happening?

I get these errors when I try

[2019-03-13 08:31] pi0 commented on #5218
@clarkdo @manniL

[2019-03-13 08:32] gaoyuan123 opened #5219 "serve-placeholder导致正常页面请求返回404"
### Version

[v2.4.3](https://github.com/nuxt.js/releases/tag/v2.4.3)

### Reproduction link

[http://egame.qq.com/?ADTAG=g.map](http://egame.qq.com/?ADTAG=g.map)

### Steps to reproduce

打开http://egame.qq.com/?ADTAG=g.map 返回404
打开http://egame.qq.com/?ADTAG=g 正确返回

serve-placeholder组件处理url时没有正确处理查询参数，导致查询参数命中规则

### What is expected ?

正确返回

### What is actually happening?

返回404

<div align="righ

[2019-03-13 08:47] bdrtsky commented on #5132
@arkhamvm it will not help with HMR (the most annoying part when it's happens right in the middle of problem solving)

[2019-03-13 09:10] clarkdo commented on #5218
It has been fixed in https://github.com/nuxt/create-nuxt-app/pull/203
I'll publish a patch version today.

[2019-03-13 10:07] christophwolff opened #5222 "Strange Store plugin behavior with infinit store instances when console logging"
### Version

[v2.4.5](https://github.com/nuxt.js/releases/tag/v2.4.5)

### Reproduction link

[https://github.com/christophwolff/store-infinit](https://github.com/christophwolff/store-infinit)

### Steps to reproduce

1. Clone the repo
2. npm install
3. npm run dev
4. look at the console
5. look at ~/plugins/infinit.js

Why is this?

![Bildschirmfoto 2019-03-13 um 10.38.58.png](https://cmty.s3.eu-

[2019-03-13 10:16] #5218 closed

[2019-03-13 10:33] clarkdo commented on #5218
create-nuxt-app@2.6.0 published

[2019-03-13 10:33] begueradj commented on #5218
Thank you nice boys :heart:

[2019-03-13 10:34] #5212 closed

[2019-03-13 10:36] clarkdo commented on #5190
Will be fixed in above linked pr which is in next Vue release

[2019-03-13 10:36] #5190 closed

[2019-03-13 10:41] manniL commented on #5216
The build path works properly in production mode (after building the app with `yarn build`). It seems that it's not reflect during `nuxt dev` though.

[2019-03-13 10:58] aldarund commented on #5132
just wondering if it could be related to number of inotify watcher. Can you try to increase it and see if it helps or no?
https://github.com/guard/listen/wiki/Increasing-the-amount-of-inotify-watchers#the-technical-details

[2019-03-13 11:05] manniL commented on #5222
That's a normal circular reference. :relaxed:

All `context` values are (if present) accessible in the Vuex store. As `app` is one of them and also contains `store`, the reference is there.

[2019-03-13 11:05] #5222 closed

[2019-03-13 11:06] christophwolff commented on #5222
@manniL Learned something. Thanks!

[2019-03-13 11:22] bat79a opened #5225 "The last Layout override all other layouts."
### Version

[v2.4.5](https://github.com/nuxt.js/releases/tag/v2.4.5)

### Reproduction link

[https://jsfiddle.net/xtj6sdz8/](https://jsfiddle.net/xtj6sdz8/)

### Steps to reproduce

Create a page named UI, with a new layout assigned to it : aaa.vue
Create a new layout : zzz.vue

The UI page will have a 200px margin from the zzz.vue layout and not the aaa.vue layout assigned in the page with a 1p

[2019-03-13 11:24] manniL commented on #5225
Is this a duplicate of #3877?

[2019-03-13 11:30] bat79a commented on #5225
May be yes. I haven't test to include other CSS element.
But for sure the last alphabetic layout override the css element defined in the layout of the page.

[2019-03-13 11:45] Capu-zennio commented on #4301
Is there any update on this? Restarting the entire nuxt server when modifying one single server middleware file is not ideal.

[2019-03-13 11:50] manniL commented on #4301
@Capu-zennio it's WIP ;)

[2019-03-13 12:01] as236676674 opened #5228 "After the successful launch of the local project, many CSS files JS files and pictures file errors 404"
After the successful launch of the local project, many CSS files JS files and pictures file errors 404, the project has been no problem before the sudden like this.

[2019-03-13 12:01] #5228 closed

[2019-03-13 12:04] mauxtin commented on #5228
Without a reproduction repository or even a URL don't expect to get any help from anyone 🚶

[2019-03-13 12:10] as236676674 opened #5229 "After the successful launch of the local project, many CSS files JS files and pictures file errors 404"
### Version

[v2.4.0](https://github.com/nuxt.js/releases/tag/v2.4.0)

### Reproduction link

[https://github.com/nuxt/nuxt.js/issues](https://github.com/nuxt/nuxt.js/issues)

### Steps to reproduce

After the successful launch of the local project, many CSS files JS files and pictures file errors 404, the project has been no problem before the sudden like this.

### What is expected ?

Start the

[2019-03-13 13:36] rossma opened #5230 "nuxt.config.js unexpected identifier import webpack nodemon"
### Version

[v2.4.5](https://github.com/nuxt.js/releases/tag/v2.4.5)

### Reproduction link

[https://github.com/rossma/nuxt-express](https://github.com/rossma/nuxt-express)

### Steps to reproduce

npm install
npm run dev

### What is expected ?

Client and server files are compiled and server starts up

### What is actually happening?

The following exception is thrown

(function (exports, requ

[2019-03-13 14:33] manniL commented on #5230
You can't use `ESM` syntax for your `nuxt.config.js` when calling it programmatically. Nuxt knows what `ESM` syntax is but express not ofc.)

Solution:

Preload the `esm` module as in:
`node -r esm server/index.js`

[2019-03-13 14:33] #5230 closed

[2019-03-13 14:34] manniL commented on #5229
No reproduction means we can't help you with that issue. This does not happen with a default project.

[2019-03-13 16:37] IamTinashe opened #5231 "Sockets:"
Got this error when I tried to use the [Sockets Example Here](https://github.com/nuxt/nuxt.js/tree/master/examples/with-sockets)

Anyone with a solution

[2019-03-13 16:37] #5231 closed

[2019-03-13 18:21] bdrtsky commented on #5132
@aldarund I have this already increased, since Ubuntu have issue with webpack HMR. Also I believe `inotify` is only Linux related issue, and we have MacOS and Windows guys here.

[2019-03-13 19:15] #5216 closed

[2019-03-13 22:10] RosieCode95 commented on #5132
ive also had this issue on windows, but only once and could be an irrelivent issue.

i do all my dev on windows which is linked to a drive on my server, on file save the files is uploaded to the server so its nothing todo with file locking or IDE's

ive been trying to narrow down whats cauing this and cant find any link to when it does it and when it works.

[2019-03-13 22:36] MaxKostenko commented on #4912
Proposal to use fs-based store sounds strange in case if I have several pages with tottaly different modules. Unless you will have possibility to register/unregister them automatically based on current page file.
Or may be is there any solution for it?

[2019-03-13 22:58] manniL commented on #4912
@MaxKostenko you can dynamically (un-)register store modules as usual, sure. But I wonder whether there is a situation where you need to do that. These modules don't add much to the bundle size :thinking:

[2019-03-14 03:36] kenberkeley commented on #5002
Same here +1
As @angryeuan said, automation deployment build would fail but build on production server would work.