[2020-11-04 18:33] Atinux commented on #8240
Actually this is same issue as #7156

See my comment: https://github.com/nuxt/nuxt.js/issues/7156#issuecomment-627439286

[2020-11-04 18:33] #8240 closed

[2020-11-04 18:45] farhodhojiev commented on #8277
Same error.
In my case:
`Error: Rule can only have one resource source (provided resource and test + include + exclude) in { "use": [ { "loader": "D:\\05_ProjectS\\www\\hrdb3\\node_modules\\babel-loader\\lib\\index.js", "options": { "plugins": [ "@babel/plugin-proposal-optional-chaining", "@babel/plugin-proposal-nullish-coalescing-operator", "D:\\05_ProjectS\\www\\hrdb3\\node_modules\\@nuxtjs\\com

[2020-11-04 18:53] kissu commented on #6000
Is it still impossible as of today even with [Nuxt Components](https://nuxtjs.org/blog/improve-your-developer-experience-with-nuxt-components/) ?

[2020-11-04 19:24] mocni opened #8299 "Passing data while application is rendering"
I am using lambda with nuxt.js and I am having problems while I want to parse event from lambda handler to my application.
Basically when I am using fetchData code is working nice and data is prerendering but I don't want that.

So I am looking for a way to store some values in my application through nuxt  so I can pass that data to my HTML files.

I was trying to save data in nuxt.config.js but I

[2020-11-04 21:40] farhodhojiev commented on #8277
Problem is compatibility with nodejs 15, downgrade to 14 and my problem solved.

[2020-11-05 07:22] pseudo-god opened #8301 "All methods mounted on the prototype have an error!!!"
### Versions

- nuxt:  2.14.7
- node:  12.14.0

### Reproduction
[code]

<details open>
<summary>Additional Details</summary>
<br>

[Exception: TypeError: Cannot read property '_route' of undefined at Object.get (webpack-internal:///./node_modules/vue-router/dist/vue-router.esm.js:1289:52) at Object.o (<anonymous>:1:83)]

</details>

### What is Expected?
The prototype method can be used normally

[2020-11-05 08:41] agursoy commented on #7799
I also faced this bug. Is there any update?

[2020-11-05 09:04] danielroe commented on #8301
@pseudo-god Could you provide a reproduction via https://template.nuxtjs.org/ ?

[2020-11-05 10:05] shou-kato commented on #8087
postcss-nested worked for me when I lowered the version.

[2020-11-05 11:57] Zae opened #8303 "Cannot convert undefined or null to object in vue-server-renderer"
### Versions

- nuxt: v2.14.7
- node: v10.21.0

### Reproduction

I have no idea how to reproduce this sadly, it just occurs suddenly and requires a restart of nuxt to go away. Some time later the problem usually reoccurs.

Running nuxt in SSR mode with -m=client

[code]

[2020-11-05 12:59] omm2 opened #8304 "$router.push doesn't work correctly with two dynamic parameters"
### Versions

- nuxt: v2.14.7
- node: v12.14.0

### Reproduction
Sandbox link:
https://codesandbox.io/s/beautiful-ellis-6l1y5?file=/pages/_lang/order/_id/index.vue

### Steps to reproduce
1. Run a sandbox project
2. Go to the order page (the URL has two dynamic params): https://6l1y5.sse.codesandbox.io/en/order/1111
3. Click the "Success" button
4. The following method is called:
`      this.$rout

[2020-11-05 15:42] danielroe commented on #8304
@omm2 Your reproduction doesn't reproduce the issue for me.

![Screen Recording 2020-11-05 at 15 39 12](https://user-images.githubusercontent.com/28706372/98262239-4beb0a80-1f7d-11eb-9ef1-b9e2aa19ca8a.gif)

[2020-11-05 17:35] jbty commented on #4681
- Company/Organization: Flame App (freelance developer)
- Product/Project: Emy Biscuits
- Link: https://emybiscuits.fr/
- Impression/Suggestion: Nuxt is really amazing for jamstack, can't wait to see view 3 support! I think it would be a really good idea to have an official plugin to optimize images like with gatsby or next.

[2020-11-05 22:25] dacxjo opened #8305 "WatchQuery not working in static deployed site"
### Versions

- nuxt:  v2.14.0
- node:  v12.14.0

### Reproduction

I'm using the **watchQuery** attribute, to watch changes on the query params from my web to show the products filtered by a category:

`<n-link to="{path:'/',query:{category: cat.slug }">Category a</n-link>`

Ex: **example.com?category=category-a** , it will filter the products to all from the category a.

And then in my **asyncDa

[2020-11-06 02:10] RailgunWinjoy commented on #8266
Hi, I have found a solution and it works perfectly fine!

I created a `serverMiddleware`
And overide the res function to remove the ` data-server-rendered="true"` on response body

`export default async function(req, res, next) {`
`            function rawEnd(res, cacheable, cacheKey, data) {`
          `      if (data) {`
              `     data = data`
              `          // .replace(/[\n\

[2020-11-06 03:56] aokihu opened #8306 "建议将_NUXT_放入到localStorage中"
window._NUXT_这个数据暴露出来实在是太危险了，建议可以放入到localStorage中，至少不会直接暴露出来

[2020-11-06 08:18] Kapcash commented on #8143
I updated the [codesandbox](https://codesandbox.io/s/nuxt-query-dynamic-nq32d) reproduction link to the latest nuxt version (2.14.7).

The issue is not resolved yet.

[2020-11-06 08:28] simonbrent commented on #8006
This issue is still present with the latest version of nuxt-edge (2.14.8-26743710.2712eb3f)

[2020-11-06 08:36] #8296 closed

[2020-11-06 08:49] pulsarpoint commented on #8304
This issue is reproducible on firefox. In the chrome, routing works fine.

[2020-11-06 08:51] danielroe commented on #8304
@pulsarpoint I was using Firefox too, when I couldn't reproduce the bug.

[2020-11-06 09:14] tjh19971228 opened #8308 "子页面中，无法用watch监听到$route的变化"
### Versions

- nuxt: 2.14.7
- node:12.14.1

### Reproduction
在新版的nuxt中，在子页面中无法用watch去监听到$route的变化，但旧版本(2.10.2)中和父页面(default.vue)中可以监听到该变化，

### Steps to reproduce
**子页面中**
watch: {
    "$nuxt.$route"(to, from) {
      console.log(to,from)        //路由变化时，没有执行
      if (to.name == "xxx") {
        //do something
      }
      if (from.name == "xxx") {
        // do something
      }
    }
  },
**跳转

[2020-11-06 09:26] pulsarpoint commented on #8304
@danielroe Sorry, you're right. I just check once again and works fine in ff too.

[2020-11-06 09:28] stmtk1 opened #8309 "there is no contribute guide"
There is CONTRIBUTING.md in root directory and link in the file. But the link does not work becourse link is not valid.

### Reproduction
see CONTRIBUTING.md and click the **contribution guide**

<details open>
<summary>Additional Details</summary>
<br>

</details>

### What is Expected?

### What is actually happening?

[2020-11-06 09:29] stmtk1 commented on #8309
![Uploading スクリーンショット 2020-11-06 18.28.34.png…]()

[2020-11-06 09:30] stmtk1 commented on #8309
![Uploading スクリーンショット 2020-11-06 18.28.34.png…]()

[2020-11-06 11:22] omm2 commented on #8304
Hello, thank you for your quick reply!

Apparently, the issue is only reproduced with the parameter being optional. I re-wrote the example a little bit, so that `:id` is now `:id?`

Steps to reproduce:
1. Go to sandbox example: https://6l1y5.sse.codesandbox.io/
2. Click the "Payment" page, the URL changes to https://6l1y5.sse.codesandbox.io/en/order/1111/payment
3. Click "Success" button, the URL

[2020-11-06 11:29] JohnMica opened #8310 "npn run nuxt-ts gets stucked @ 93% on local dev but"
### Versions

- nuxt: 2.14.7
- node: 14.14.0
- macOS: Catalina (latest)
- all dependencies are having the actual latest version installed

### Reproduction

http://localhost:3000
unfortunately i cannot share a link to the actual repository

<details open>
<summary>these is the config and the part where nuxt gets stuck</summary>
<br>

[code]
and the configuration file
[code]

and the `package.json`

[2020-11-06 12:00] JohnMica commented on #8310
update:

i left the whole thing to just hand and after 20 minutes it completed the build for client and after another 10 minutes it completed the modern / server builds as well.
not sure why it takes forever though, perhaps you have an explanation ?

[2020-11-06 17:49] sugoidesune commented on #8308
**In the subpage, the change of $route cannot be monitored by watch**

Translation:
Versions
nuxt: 2.14.7
node:12.14.1
Reproduction
In the new version of nuxt, watch can not be used to monitor the change of $route in the child page, but the change can be monitored in the old version (2.10.2) and the parent page (default.vue).

Steps to reproduce
In the subpage
watch: {
"$nuxt.$route"(to, from) {
c

[2020-11-06 17:50] sugoidesune commented on #8306
Translation:
window._NUXT_ This data is too dangerous to be exposed. It is recommended to put it in localStorage, at least not directly exposed

[2020-11-07 01:18] divine commented on #7717
@Anima-t3d I think you're missing the point that the error happens on **dynamic link routes** which were'nt generated initially.

Basically your workaround doesn't solve it.

___

Any update on this @Atinux ?

[2020-11-07 12:12] Atinux commented on #7717
Working on a workaround :)

[2020-11-07 14:53] vanhoofmaarten commented on #8060
#8267 has been merged by @clarkdo .

This issue can be closed.

[2020-11-07 15:28] teleyinex opened #8312 "sass-loader ^10.0.4"
### Versions

- nuxt: v2.14.7
- node: v12.5.0

### Reproduction

Install the last version of nuxtjs
Add the sass-loader
Try to build it with this command: npx nuxt build --standalone --no-lock --config-file "nuxt.config.js"

The build fails with the following message:

ValidationError: Invalid options object. Sass Loader has been initialized using an options object that does not match the API sche

[2020-11-07 15:37] danielroe commented on #8312
@teleyinex Could you provide a reproduction?

[2020-11-07 15:41] #8060 closed

[2020-11-07 17:51] iserejatoje opened #8315 "SSR Encoding Error in Attributes of HTML"
Hi NuxtJS! When installing via create-nuxt-app I am having a problem with the `html` tag:

### NuxtJS v2.14.5.
`<html lang="ru" data-n-head="%7B%22lang%22:%7B%22ssr%22:%22ru%22%7D%7D">`

I see a lot of Nuxt sites that don't have this problem. This bug continues since v2.10.1. (https://github.com/nuxt/nuxt.js/issues/6572)

This probably does not affect the performance of the application (I just sta

[2020-11-07 21:52] Danny2105 opened #8317 "runtimeConfig changes the last 4 values ​​of an 18-number ID"
### Versions

- nuxt: v2.14.7
- node: v13.14.0

### Reproduction
I am using [runtime config](https://nuxtjs.org/docs/2.x/configuration-glossary/configuration-runtime-config) to share certain values ​​between client and server when using this value (the ID) in a plugin (`~/plugins /mi-plugin.js`) the value of the ID changes but only the last 4 numbers.

`nuxt.config.js`
[code]

`~/plugins/api.js`
[

[2020-11-07 22:52] danielroe commented on #8317
It looks like a rounding error, possibly because the runtime config is treating the id as a number (via destr), not a string.

[2020-11-07 23:30] dtmzr commented on #8317
Can confirm this behavior/bug.

@danielroe are you having a look into it?
Else I think this could be something I might be able to figure out and try to fix.

[2020-11-08 00:05] Danny2105 commented on #8317
Thanks for the reply. If when adding a letter you obviously treat it as a string and this behavior no longer occurs.

The only thing I don't see practical is to remove the letter in all the places where I need the identification, but for a quick fix that's fine.

[2020-11-08 05:35] danielroe commented on #8317
@dtmzr Go for it 👍

[2020-11-08 10:01] jscottsf commented on #8153
Having a similar issue. Seems that `asyncData` is not getting called during a static generate. Still debugging and digging - will followup.

[2020-11-08 10:06] rifton007 commented on #190
+1

[2020-11-08 10:13] DarshGupta16 commented on #8049
@romaric-g Are you talking about something like a layout transition property? lf so, Nuxt JS already has that: https://nuxtjs.org/docs/2.x/configuration-glossary/configuration-transition#the-layouttransition-property

[2020-11-08 10:26] pi0 commented on #8317
Thanks @Danny2105 for reporting and @danielroe for hinting about issue. Should be fixed with [destr@1.0.1](https://github.com/nuxt-contrib/destr/releases/tag/v1.0.1). Using `yarn upgrade destr` (or recreate lock file) should fix the problem.

[2020-11-08 10:33] danielroe commented on #8306
Could you explain a little more about your concern?

However, do note that `window.__NUXT__` is passed from the server to the client and therefore is visible in the rendered HTML.

[2020-11-08 10:42] danielroe commented on #8312
This doesn't reproduce using the steps you've provided. I think it most likely you have a module or dependency installed that depends on an old version of sass-loader, such as (possibly?) [vuetify](https://github.com/nuxt-community/vuetify-module/blob/master/src/sass.ts#L23). @kevinmarrec Have I misread the module?

[2020-11-08 11:17] #8317 closed

[2020-11-08 11:51] jscottsf commented on #8153
Since the `asyncData` doesn't fire on the page for an SPA generate, I managed to get dynamic head values in the generated static HTML (for SEO!).

1. Return a `route` and `payload` in your routes array like usual.

2. In your config, add a hook to modify the `head` in the `renderContext`. This is called right before the HTML is generated. e.g. you could modify `head.title` based on a value in the

[2020-11-09 02:36] #8125 closed

[2020-11-09 02:37] #8139 closed

[2020-11-09 02:37] #8140 closed

[2020-11-09 02:37] #8114 closed

[2020-11-09 06:07] aokihu commented on #8306
For example, when a visitor is browsing his own user profile page, if sensitive data is not filtered out, it may be directly exposed to the visitor. When a web crawler violently crawls these pages, it may These sensitive data were stolen.
If the developer did not notice the data window._NUXT_, then it is possible to put the data of the entire website into this data field. I made such a mistake whe

[2020-11-09 09:31] arildm opened #8321 "Prevent prefetching missing payload.js for paths in generate.exclude"
### Versions

- nuxt: v2.14.7
- node: v10.20.1

### Reproduction

https://codesandbox.io/s/optimistic-leftpad-m98ij (open browser's network log)

<details open>
<summary>Additional Details</summary>

This is all that was changed in the CodeSandbox template:

nuxt.config.js:

[code]

package.json:

[code]
</details>

### Steps to reproduce

1. Add some route, e.g. `/about`, to `generate.exclude`
2.

[2020-11-09 10:02] dalexhd opened #8322 "Overwriting nuxt.server.listen() function, prevents accessing its port and host parameters."
### Versions

- nuxt: `v2.14.7`
- node: `v13.14.0`
- npm: `v6.14.4`

### Inspired by one of your GitHub examples guides:
https://github.com/nuxt/nuxt.js/tree/dev/examples/with-sockets

### Reproduction

https://codesandbox.io/s/jolly-cdn-kr76o?file=/io/index.js

<details open>
<summary>Additional Details</summary>
<br>

[code]
</details>

### Steps to reproduce

1. Change nuxt.config.js server obj

[2020-11-09 15:21] samkes commented on #8151
Same issue for me but running with `yarn create nuxt-app <app-name>`

**Versions**
nuxt: latest
node: 13.1
npm: 6.14.8
Windows 10

[2020-11-09 16:22] samkes commented on #8151
Problem is solved with a node upgrade. See https://github.com/nodejs/modules/issues/446 for details on the issue.

[2020-11-09 17:13] jvdwijngaard opened #8323 "Nuxt build with ssr set to false still has target set to static"
Hi,

I have a problem in my project which is setup as a SPA, but still generates HTML files for each file in the `pages` folder. I'm using `ssr: false` in nuxt.config.js as documented.

I created some 'routes' by adding vue files to the `pages` folder to have them automatically be added to the built in router.

What happens is when I run the build command is that an HTML file is still generated fo

[2020-11-09 20:46] pi0 opened #8327 "drop node@8.x support and update dependencies"
Currently, minimum supported node.js version for nuxt@2 is 8.x which EOL since Jan 2020 and not receiving any security updates. Since more and more dependencies are upgrading to minimum of 10.x it makes sense we upgrade minimum version support in a minor release for nuxt2.

([here](https://github.com/nuxt/nuxt.js/blob/92a06615d01155b2db3abe5ea8629ae03ee3cb2a/renovate.json#L8) is full list of ignor

[2020-11-10 08:35] imfaber opened #8328 "Pages are created twice when SSR is false and splitChunks layouts is true"
### Versions

- nuxt: v2.14.5, v2.14.6, v2.14.7
- node: v12.x.x

### Reproduction

The bug can be reproduced at the following codesandbox:
https://codesandbox.io/s/cool-water-vpncu?file=/nuxt.config.js

<details open>
<summary>Additional Details</summary>
<br>

`nuxt.config.js`:

[code]
</details>

### Steps to reproduce
1. Configure nuxt as shown in the details above
2. Log something in the `crea

[2020-11-10 12:57] JohnMica commented on #8312
it could be that sass-loader has breaking changes in their API ?
seems like they have changed `prependData` to `additionalData` perhaps ?

[2020-11-10 13:12] #8323 closed

[2020-11-10 13:13] jvdwijngaard commented on #8323
Never mind, I misunderstood it. Each page is generated as an entry point, making deeplinking to routes possible. When a page is loaded, SPA kicks in and client side routing is enabled.

[2020-11-10 13:24] danielroe commented on #8312
Agreed. It sounds like you're using Vuetify so I think this is just an issue there rather than with Nuxt - tell me if that isn't the case I'll reopen.

[2020-11-10 13:24] #8312 closed

[2020-11-10 13:33] warlock1996 commented on #6185
facing the same , issue did anyone found out the real issue ? what is the reason

[2020-11-10 13:37] danielroe commented on #6185
@warlock1996 Previous users are reporting this is an issue of hydration, which in some cases is an issue of invalid HTML - you might try using something like https://html-validator.nuxtjs.org/.

[2020-11-10 13:44] warlock1996 commented on #6185
thanks , ill try this

[2020-11-10 15:57] ninie1205 commented on #8315
HI, I have the same issue:

`<body class="" data-n-head="%7B%22class%22:%7B%22ssr%22:%22%22%7D%7D" cz-shortcut-listen="true">`

My head object is looking like this:

`head: {
      bodyAttrs: {
         class: 'portfolio'
      },
      script: [
         {
            src: 'http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js'
         }
      ]
   },`

[2020-11-10 20:26] trollepierre opened #8330 "'content-type' header charset value should be 'utf-8'."
Hello

Using Webhint on my nuxt app, shows me improvements to do, on your side:

### Versions

- nuxt: 2.14.5
- node: 12.x

### Reproduction

<details open>
<summary>Additional Details</summary>
<br>

</details>

### Steps to reproduce
1. Install  https://addons.mozilla.org/en-US/firefox/addon/webhint/#&gid=1&pid=3
2. go to one nuxt website
3. Open Console and find Webhint
4. Launch a Scan
5. Look

[2020-11-10 20:33] trollepierre commented on #8330
Response should include 'x-content-type-options' header.
This also can be fixed from your side 🙏

<img width="855" alt="Capture d’écran 2020-11-10 à 21 33 04" src="https://user-images.githubusercontent.com/8363334/98730273-56057280-239c-11eb-8b14-deaa9bf0a53a.png">

[2020-11-11 08:31] fralonra opened #8331 "Support using specific dotenv file according to environment"
### Is your feature request related to a problem? Please describe.

Currently it seems that we can use only one dotenv file (.env, see [load.js](https://github.com/nuxt/nuxt.js/blob/92a06615d01155b2db3abe5ea8629ae03ee3cb2a/packages/config/src/load.js#L41)) in the project. But sometimes we need to have different dotenv in one project and can use them for different environment.

### Describe the sol

[2020-11-11 11:17] swearwalker commented on #8277
didn't help for me

[2020-11-11 11:19] jogunism commented on #8277
Me either. my node version is 14.x already.

[2020-11-11 11:53] drtobbyas opened #8332 "Nuxt.js website stops responding after a while"
The https://i18n.nuxtjs.org/ and https://nuxtjs.org/ website stops responding after a while. Clicking on any link or button will change the URL but the content of the page is not updated

### Reproduction

Open https://i18n.nuxtjs.org/ or https://nuxtjs.org/ and navigate to docs page, interact with a few links. Then leave it for some time ( probably like 1 hour) while you work on other things (tab

[2020-11-11 15:07] danielroe commented on #8332
@drtobbyas Thanks for reporting! Could you raise this as an issue [there](https://github.com/nuxt/nuxtjs.org/issues/)?

[2020-11-11 15:07] #8332 closed

[2020-11-11 17:40] JohnMica opened #8333 "calling a function with XXXX params breaks node / V8 and webkit / chromium browesers / servers"
### Versions

- nuxt: latest
- node: 14.15.0

### Reproduction

https://codesandbox.io/s/codesandbox-nuxt-forked-sye5u?file=/pages/index.vue

the container might be in an unusable state and codesandbox might actually stop it from wotking

<details open>
<summary>Additional Details</summary>
<br>

using highcharts-vue / vuetify / nuxt

there is a strange thing going on and it has to do with
- `wind

[2020-11-11 17:49] Icesofty commented on #8208
Same issue when deploying on Digital Ocean with App Plateform.

[2020-11-11 19:05] farhodhojiev commented on #8277
can you check npm version, it seems problem with npm v7.

[2020-11-11 19:39] swearwalker commented on #8277
my npm version 7.0.7. can u say me, which version fix that problem?

[2020-11-11 19:49] farhodhojiev commented on #8277
Try to install version 6, also delete **node_modules** folder and **package-lock.json** file, then run npm install.

[2020-11-11 19:56] swearwalker commented on #8277
that solved my problem. thx

[2020-11-11 20:51] danielroe opened #11179 "Direct access to HTML template via `@nuxt/app` hook"
(published too early by the cat)

* for injecting scripts outside of Vue-controlled layout

[2020-11-11 20:51] danielroe opened #11298 "Direct access to HTML template via `@nuxt/app` hook"

[2020-11-11 20:51] danielroe opened #11438 "Direct access to HTML template via `@nuxt/app` hook"
(published too early by the cat)

* for injecting scripts outside of Vue-controlled layout

[2020-11-11 20:51] danielroe opened #11507 "Direct access to HTML template via `@nuxt/app` hook"

[2020-11-11 20:51] danielroe opened #11640 "Direct access to HTML template via `@nuxt/app` hook"
(published too early by the cat)

* for injecting scripts outside of Vue-controlled layout

[2020-11-11 23:33] davydnorris opened #8334 "Enable generated static sites to have dynamic elements"
### Is your feature request related to a problem? Please describe.

I have built my company web site with nuxt and nuxt/content and have used static site generation, and it's fantastic. I have it deployed using a static web server and it's very fast and SEO friendly. I use nuxt/content for the blog/news/announcements and it's very simple to just push the new static content.

As with many company w

[2020-11-12 02:41] davydnorris commented on #8193
I have managed to work around the web UI part of my issue - in the end I went back to using a v-footer for my GDPR note instead of a snackbar, and I set up a local style class
[code]

I then used `:class="showAccepted ? 'hidden' : ''"` on the v-footer element and set the initial value of showAccepted to false. When statically rendered using generate, the footer is no longer compiled out like it wa

[2020-11-12 02:41] #8193 closed

[2020-11-12 06:02] LeachZhou opened #8335 "Import a local module, this module cannot be found in online deployment"
### Versions

- nuxt: v2.0.0
- node: v14.15.0

There is no problem with local development and debugging, but the module cannot be found after the project is deployed. The introduction of the npm package nuxt-ssr-cache is successful. I download and modify the nuxt-ssr-cache and there will be problems，please help!

![image](https://user-images.githubusercontent.com/18715564/98901421-ba384b80-24ee-11

[2020-11-12 09:38] Zebnastien commented on #8277
Same issue here.

[2020-11-12 12:05] danielroe commented on #8335
@LeachZhou Could you provide a reproduction? (Just based on those screenshots, it looks like you are declaring a plugin at the location `~/plugins/nuxt-ssr-cache/middleware` yet the file is `~/modules/nuxt-ssr-cache/middleware` - but in that case I would not expect it to work in development either.)

[2020-11-12 12:22] Matthieurpe opened #8336 "Nuxt and Nuxt-i18n modules give unexpected SEO performance"
Hello everyone,

I have an issue with Nuxt, Nuxt-i18n and SEO performances.

I'm creating a portfolio website in static mode (only client), generated and then pushed on Netlify.

I'm trying to improve my SEO performance with guides and tutorials but it doesn't change anything.

The problem is about headers and metadata that are not recognized but meta title are rendered on the deployed netlify web

[2020-11-12 14:21] manniL commented on #8336
You have to deploy with `ssr: true`. At the moment, your page is a classic SPA and no data is in the actual content coming from Netlify.

[2020-11-12 20:54] becrespi opened #8338 "Functions declared in data are cleared when fetch is present"
### Versions

- nuxt: 2.12.2

### Reproduction

[https://codesandbox.io/s/distracted-sky-tdi6b](https://codesandbox.io/s/distracted-sky-tdi6b)

<details open>
<summary>Additional Details</summary>
<br>

</details>

### Steps to reproduce

Declare a function as variable inside `data` in a page

### What is Expected?
Access to that variable and use it

### What is actually happening?
The variable is

[2020-11-12 21:51] mattiapontonio opened #8339 "Selectors should not contain IDs because these rules are too tightly coupled with the HTML."
[code]
# Versions

- nuxt: ^2.14.7
- node: v12.19.0

### Reproduction
- `nuxt generate`
- open `dist/index.html`

### What is Expected?
No warning in VS code

### What is actually happening?
No warning in VS code

[2020-11-12 21:53] mattiapontonio commented on #8339
Not really a problem but creates the red warning when opened...

[2020-11-12 22:22] Matthieurpe commented on #8336
But i'm creating a static website that doesn't need a server side and dynamic rendering. So do i really need to put `ssr: true` or can i activate SEO as static nuxt app ?

[2020-11-12 22:38] danielroe commented on #8336
@mathieutu Yes, you do. That means the server rendering you want for SEO will happen - although it will be at build time given that you have a static generated app.

[2020-11-12 22:40] mathieutu commented on #8336
Sorry @danielroe but I'm not the good Mat(t)hieu here! 😅

Ping @Matthieurpe.

[2020-11-12 22:41] danielroe commented on #8336
Apologies! 🤦‍♂️

[2020-11-12 22:50] Matthieurpe commented on #8336
Hey guys, thanks for your answers ! I set the ssr mode to true but i've got some rendering error
"The client-side rendered virtual DOM tree is not matching server-rendered content." that i have to fix haha.

I do not understand why i need to render my app with ssr as it is a static website that doesnt need a server to work ... can someone please explain me ? ^^'

[2020-11-12 22:56] davydnorris commented on #8336
It's one of the little quirks of nuxt. Basically when you choose to generate a static site, it actually builds the dynamic one, and then it serves up your site and crawls every page, running any ssr and API calls etc. and caches the pages and payloads as static files.

So you have to set up your site as if you were going to run it dynamically, and then let the generate command crawl and cache the

[2020-11-12 23:18] Matthieurpe commented on #8336
@davydnorris Thank you for the explanation. So I do not understand one thing, in which scenario do you build your website in `ssr: false` mode if to generate a static website, you need to let ssr mode to true and let the generate command crawl and cache the pages ?

[2020-11-12 23:46] danielroe commented on #8336
@Matthieurpe Yes, you will (almost) never want to set `{ ssr: false }` to build a static website. The error you're getting is a hydration issue and is because your server and client state don't match. See https://blog.lichter.io/posts/vue-hydration-error/ and https://html-validator.nuxtjs.org/ - which may help - and feel free to pop into the Nuxt Discord if you have any questions...

[2020-11-12 23:46] #8336 closed

[2020-11-13 03:15] ccforeverd commented on #8251
save error

[2020-11-13 03:45] LeachZhou commented on #8335
Thank you for taking the time to reply to me, originally put the module in the plugins folder, but later I thought that the module must be placed in the modules folder, so I modified the location, reproduction is not easy to extract, can you guess what the problem is?

[2020-11-13 05:30] zznull opened #8340 "Cannot find module 'vue' from '/vagrant'"
### Versions

- nuxt: 2.14.7
- node: v14.15.0

### Reproduction

<details open>
<summary>Additional Details</summary>
<br>

</details>

### Steps to reproduce
Create a new nuxt app using:
`create-nuxt-app app1`

`npm run dev`

Nuxt loads with the default index page

`npm --save-dev install sass sass-loader fibers`

`npm run dev`

`npm --save-dev remove sass sass-loader fibers`

`npm run dev`

###

[2020-11-13 09:15] mellson commented on #7717
Not sure it's directly related, but when I enable no sniffing of the content type I get a slight variation of the error:

[code]

[2020-11-13 09:48] Komar12124 opened #8341 "nuxtServerInit calling twice"
I know that this issue is well known. But in road map i dont see in which step resolving this problem.

### Versions

- nuxt: v2.14.0
- node: v14.12.0

### Steps to reproduce

Open chrome dev tools and refresh a page

### What is Expected?

nuxtServerInit will be called twice

[2020-11-13 10:28] earthaYan commented on #7834
This happened to me too，is there any solution?
After I ran the command, different file server.js  were generated between my fiend and me ,

[2020-11-13 13:36] Sletheren opened #8342 "Invalid regular expression in ExtendRoutes"
Hello guys,
Playing around with Nuxt and tried to implement a specific business need that requires an infinite dynamic levels nesting and seems that Nuxt can't allow this,

The need is accepting this format of URL `/smtng/smtng2/abc-def-TAG-123abc-NUM-12345`
I added this regex: `/:level*/(^[a-z0-9]+(?:-[a-z0-9]+)*TAG-([a-z0-9]+)-NUM-(\\d+)`  hoping it can catch this url structure and then serving

[2020-11-13 14:09] danielroe commented on #8342
@Sletheren is there a need to be so specific with your regexp? I would seriously consider replacing that with just a catchall route (`{ path: '*' }`).

But as far as your error, it looks like you have missed a closing parenthesis.

[2020-11-13 14:13] danielroe commented on #8340
@zznull have you tried deleting your `package-lock.json` and regenerating it? This doesn't look like a Nuxt error.

[2020-11-13 14:15] zznull commented on #8340
@danielroe yes, I have done that. Also deleting the node_modules directory and reinstalling. It's weird that it works fine at first, but after I install something (and even remove it later) it starts showing this error.

If it's not a Nuxt error, where should I post the bug report, because it doesn't seem to be dependent on what modules I'm installng.

[2020-11-13 14:22] danielroe commented on #8340
@zznull Perhaps you could provide a code reproduction? That is often very helpful in identifying where the issue lies.

[2020-11-13 14:47] dappiu opened #8343 "Page component with asyncData and new fetch: synchronization issue in dev"
I'm observing this behavior in dev mode which is not present when building with target 'server'.
This issue only appears when pointing the browser directly to this route, when navigating in client side app everything is fine.

My page component fetches critical data with asyncData(), then loads some other data with fetch() and the template renders that data only when `$fetchState.pending` is `fals

[2020-11-13 14:52] zznull commented on #8340
@danielroe sure, here it is: https://github.com/zznull/nuxt-module-bug

[2020-11-13 14:57] yanivduke commented on #7859
hi,
I'm getting the same "extra style tag" - EST problem.
extractCSS on build works fine!
the EST in my case includes only v-application classes.
An interesting phenomenon is that the EST is not consistent -
after fast double or triple refresh, the EST was not rendered.

[2020-11-13 18:02] r14c commented on #7923
we are seeing this issue in `nuxt@2.14.6`

[2020-11-13 23:32] danielroe commented on #8340
@zznull Yep - that replicates the issue! My current theory is that it's an issue with specifying `chokidar` separately (it's included with Nuxt so you don't need to do so). You can try removing it from `package.json`, deleting `node_modules` and reinstalling - which worked for me. Or you could try using `yarn` instead - which also worked - and tends to prevent this kind of annoying hard-to-replica

[2020-11-13 23:32] #8340 closed

[2020-11-14 04:45] zznull commented on #8340
@danielroe thanks for helping out :)

[2020-11-14 05:03] #8092 closed

[2020-11-14 05:03] #8138 closed

[2020-11-14 05:03] #8144 closed

[2020-11-14 05:03] #8149 closed

[2020-11-14 05:03] #8150 closed

[2020-11-14 05:03] #8146 closed

[2020-11-14 05:03] #8155 closed

[2020-11-14 09:00] danielroe commented on #8340
@zznull No problem - and feel free to pop into the Nuxt Discord if you have any troubleshooting questions 😊

[2020-11-14 10:09] #8204 closed

[2020-11-14 10:10] #8105 closed

[2020-11-14 10:11] #8342 closed

[2020-11-14 11:21] ferry77 commented on #8321
you might want to try below on those targeting excluded pages

<NuxtLink to="/about" :prefetch="false">About page not pre-fetched</NuxtLink>

https://nuxtjs.org/docs/2.x/features/nuxt-components#disable-prefetching-for-specific-links

[2020-11-14 13:53] yanivduke commented on #7859
![applyVueMeta23](https://user-images.githubusercontent.com/29441261/99148560-03c09c00-2691-11eb-91b4-2808079862a6.png)
my workaround for the problem is to comment the applyVueMeta23() call -> after build update .nuxt/dist/server/server.js

[2020-11-14 14:12] 1alireza32109 commented on #7859
Well, you have access to take action yourself to make a rendering, and if
you don't have access, please say to open access to the action thank you.

در تاریخ شنبه ۱۴ نوامبر ۲۰۲۰،‏ ۱۷:۲۴ Yaniv Dukhan <notifications@github.com>
نوشت:

[2020-11-14 16:01] danielroe commented on #8335
@LeachZhou I'm more than happy to look if you provide a reproduction. 😊

[2020-11-14 16:08] danielroe commented on #8306
@aokihu The data you are referring to needs to be passed to the client side somehow and therefore will be accessible in the HTML to crawlers, no matter what happens subsequently to the data (whether stored on the Window object or in localStorage).

It is your responsibility to ensure that sensitive information isn't returned to non authenticated requests.

[2020-11-14 16:09] #8306 closed

[2020-11-14 16:56] Michi-4G commented on #4681
- Company/Organization: Me as a solo/indie dev 🙃
- Product/Project: **insidertrades.info**
- Link: https://www.insidertrades.info/
- Impression/Suggestion: I am really enjoying the productivity and the developer experience as a single developer working on a full-stack project 🙂
![image](https://user-images.githubusercontent.com/1016675/99152517-a3d2f100-26a2-11eb-88c2-fdaf2c10ffaa.png)

[2020-11-14 22:10] #7923 closed

[2020-11-15 03:27] zznull commented on #8340
@danielroe I tried installing sass packages and the same bug showed up. See updated example: https://github.com/zznull/nuxt-module-bug

[2020-11-15 07:52] danielroe commented on #8315
@iserejatoje As fat as I can tell, what you are describing isn't a bug - it is an encoded attribute to tell `vue-meta` it doesn't need to rerender on client side. (See [the docs](https://vue-meta.nuxtjs.org/faq/prevent-initial.html#how-to-prevent-update-on-page-load).)

I'm going to close this issue, but If you are indeed experiencing a bug, please feel free to comment again with more details.

[2020-11-15 07:52] #8315 closed

[2020-11-15 07:59] danielroe commented on #8339
@mattiapontonio In general that is good advice, but in this case you may just ignore your IDE's warning.

[2020-11-15 07:59] #8339 closed

[2020-11-15 08:19] danielroe commented on #8331
@fralonra FYI, with the new runtimeConfig, you can specify the `.env` file to load on the command line: see original documentation at https://github.com/nuxt/nuxtjs.org/blob/61a15846bc4cfebb812f7acba07c54f2959d474d/content/en/_archives/guide/runtime-config.md#env-support

[2020-11-15 09:57] cheap-glitch commented on #8277
You don't need to downgrade npm... just use the `--legacy-peer-deps` flag when installing. Worked fine for me.

[2020-11-15 11:11] #8331 closed

[2020-11-15 20:08] danielroe commented on #8230
@Fyroman This is intended, because the the static target is intended for [static hosting](https://nuxtjs.org/docs/2.x/features/deployment-targets/#static-hosting). You should make your own arrangements for hosting your `serverMiddleware` on a separate server (or as serverless endpoints).

[2020-11-15 20:08] #8230 closed

[2020-11-15 23:12] michaelpumo opened #8350 "Router trailing slash not behaving as expected."
### Versions

- nuxt: v2.14.7
- node: v14.15.0

### Reproduction

Code:
https://codesandbox.io/s/nuxt-glitches-eb37j

Preview:
https://csb-eb37j.netlify.app/

### Steps to reproduce

1. Go to the preview link.
2. Click the mountains button (this takes you to a new page via router push).
3. Notice the URL is without a slash at the end (correct).
4. Hard refresh the page and it's forward to a URL wi

[2020-11-15 23:22] michaelpumo commented on #8292
Are you using a dependency that might need transpiling? If so, have you set the transpile option in `nuxt.config.js`?

e.g.

[code]

[2020-11-16 06:44] shvebish commented on #8277
I'm using npm version 6.14.8 and it's not working...

[2020-11-16 08:43] #8338 closed

[2020-11-16 11:05] Zuckjet opened #8353 "content security policy header will lose When status code is 304"
### Versions

- nuxt: v2.14.7
- node: v12.16.3

### Reproduction

<details open>
<summary>Additional Details</summary>
<br>

</details>

### Steps to reproduce

### What is Expected?

### What is actually happening?
I have a website built with nuxt.js, when I first visit, it has the correct csp header which I set in nuxt.config.js. When I visit this website again, it will lose csp header. And I fo

[2020-11-16 14:32] ilya-buligin opened #8354 "Can't use snake-case in dynamic route params"
### Versions
- nuxt: 2.14.16
- node: 14.14.0

### Reproduction
Code: https://codesandbox.io/s/nuxt-playground-forked-8cr1i

### What is Expected?
I expected that nuxt create routes and transform my shake-case file name into camel-case route params. For example, I want that on-page  `pages/users/_user-id.vue` I have access to `$route.params.userId`.

### What is actually happening?
Routes are not c

[2020-11-16 18:50] timothymarois opened #8356 "Nuxt static (generate) does not show image using v-img"
So ran a test today on my recent build, and using npm run dev to view locally is working just fine, of course that uses server in the preview, but when I run a build or generate static html files, the images in static are moved over to the dist directory just fine (and I can access them in the public location) however, nuxt decides to not include the image.

I am using VuetifyJS and that is workin

[2020-11-16 19:09] timothymarois commented on #8356
So between a few other projects which have worked just fine in static mode, I looked at the build and the previous project says `Target: full static` while this one says `Target: static` (during builds), Though they have the same nuxt configurations. Could be nothing, but I find this odd. The current project when building does say `Generating pages with full static mode ` so that seems correct.

[2020-11-16 19:12] timothymarois commented on #8356
The current project says
[code]

While the previous project only saying:
[code]

Again, this part could be nothing, I just find it odd they are slightly different but use the same configurations

[2020-11-16 19:48] cssagogo opened #8357 "> Try to install version 6, also delete node_modules folder and package-lock.json file, then run npm install."
You don't need to downgrade npm... just use the `--legacy-peer-deps` flag when installing. Worked fine for me.

_Originally posted by @cheap-glitch in https://github.com/nuxt/nuxt.js/issues/8277#issuecomment-727543922_

@cheap-glitch - I'm not familiar with --legacy-peer-deps.  Can you explain how it is used or point to some documentation on it?

[2020-11-16 19:50] #8357 closed

[2020-11-16 19:52] cssagogo commented on #8277
@cheap-glitch - I'm not familiar with --legacy-peer-deps. Can you explain how it is used or point to some documentation on it?

[2020-11-16 20:04] cssagogo commented on #8277
Per @cheap-glitch's suggestion, I deleted my node_modules folder and package-lock.json file and ran `npm i --legacy-peer-deps` and then npm run dev and it worked as expected.  I'm on npm 7.0.3 and node v15.0.1 and have following in my package.json file...

[code]

[2020-11-16 20:09] timothymarois commented on #8356
Still trying to trace down the roots of this, I am able to get the image to work sometimes, looks related to loading the page via SPA style pages, but the moment I do a hard reboot it disappears and I do see a node/nuxt error which seems to be related to the issue at hand. `DOMException: Failed to execute 'appendChild' on 'Node': This node type does not support this method.`

[2020-11-16 22:55] timothymarois commented on #8350
I also see this issue, it happens on production when running the generate for static.

[2020-11-16 23:01] davydnorris commented on #8356
I use static generation too, but have always used `:img="require('@/assets/Common/OGIT_B1.svg')"` whenever I load images. Never had a problem.

Using require explicitly triggers webpack and the build to rewrite the path

[2020-11-16 23:02] davydnorris commented on #8350
same

[2020-11-17 00:37] michaelpumo commented on #8334
Have you thought about simply re-generating the static site by sending a webhook to your server?

For example, I have many static sites that also use a CMS. Once the client saves a page in the CMS (Prismic) this fires a webhook to Netlify (where it's hosted) and this triggers the command to rebuild the site.

Whilst the workflow isn't perfect, it means it can have a somewhat dynamic feel by being

[2020-11-17 00:43] davydnorris commented on #8334
I don't use a back end CMS, I use nuxt/content and I do regenerate the site each time I post content. I have it set up to automatically generate on each commit, so I simply write my blog entry in markup and commit it to Git.

But this is not a question of content as such, it's about dynamically displaying page views, likes and comments, and these can and do all change on a daily basis. These eleme

[2020-11-17 00:57] andig89 commented on #8161
I found a solution :D!
Check it on https://codesandbox.io/s/setheader-in-nuxt-391mj?file=/nuxt.config.js.

beforeResponse - it's not in docs, but it's listed on changelog (https://nuxtjs.org/docs/release-notes#v2.13.0) :P.
Bonus tip for parse HTML to XHTML :).

[2020-11-17 00:57] #8161 closed

[2020-11-17 03:03] alfligno opened #8358 "Bad Error handling on Template"
Is it just me? or I am dump to read the error message of nuxt report on template error?

![image](https://user-images.githubusercontent.com/69491106/99341120-3dc5b400-28c4-11eb-833d-b1967c66ab0e.png)

On the image, I cant see where the line of the template got a syntax error or something,
also the ```Unexpected token (1:3482)``` line is untraceable on the file, which is I have to remove line by li

[2020-11-17 03:09] alfligno commented on #8358
Okay I see the error now, it causes ```{{ props.row.created_at|moment('DD/MM/YYYY) }}``` it missing with *'*, hahahaha, because of the small quote, it is barely see

[2020-11-17 03:09] #8358 closed

[2020-11-17 06:31] erraX opened #8359 "Cannot access nuxt plugin and `$nuxt` in new Vue() instance"
### Versions

- nuxt:  v2.14.7
- node: v10.21.0

### Reproduction
https://codesandbox.io/s/loving-forest-mynl6?file=/pages/index.vue

### Steps to reproduce
[code]
**Logging `$nuxt` and `$foo`(custom plugin) when App created.**
[code]
Click `create vue instance` button

**Not logging `$nuxt` and `$foo` (custom plugin) in new Vue instance.**
[code]
![image](https://user-images.githubusercontent.com

[2020-11-17 08:31] M-Barari opened #8360 "additional props for keep-alive to specify the pages"
### Featured

additional prop for keep-alive to specify pages that needs to be kept alive. as right now all pages get kept alive, but it is not needed (and cause problems) on some pages! for example on my search page my route query differ but still gets the previous result when come to page again from a different search!

### Solution

just like `:keep-alive-props="{max: 10, exclude: component}"`

[2020-11-17 08:56] danielroe commented on #8334
@davydnorris Have you tried `fetchOnServer: false` in conjunction with `fetch()`?

[2020-11-17 10:39] cheap-glitch commented on #8277
AFAIK it was introduced in a v7 beta a few months ago: https://blog.npmjs.org/post/626173315965468672/npm-v7-series-beta-release-and-semver-major

[2020-11-17 11:15] erraX commented on #8310
maybe it is related with fork-ts-checker-webpack-plugin, when enable Vue Single File Component support, it is really slow.

you can disable check sfc and test build performance.

example:

[code]

[2020-11-17 12:30] JohnMica commented on #8310
thanks for the reply

it looks like it actually is related to that, not sure exactly why / what is going on there but commenting out the `typescript` object will result in a successful build

[2020-11-17 17:19] soroka41 opened #8361 "fetchOnServer true on deploy not working"
async fetch() {
    if(this.$store.getters['products/GET_PRODUCT_POPULAR'].length === 0) {
      await this.$store.dispatch('products/ACT_PRODUCT_POPULAR')
    }
  },
  fetchOnServer: false,

When fetchOnServer = true && ssr: true app nuxt not dounload 504 Gateway Time-out

When fetchOnServer = false && ssr: true it is good

When fetchOnServer = true && ssr: false --- good

[2020-11-17 22:10] davydnorris commented on #8334
@danielroe fetchOnServer has no effect when doing a full static generate.

The fetch() function is called during the static render phase of the generate process in order to create the HTML - the function doesn't end up in the generated page content.

It's next to impossible to create a codePen reproduction because you're doing a static generate. The simplest way to see the problem is to
 - create

[2020-11-17 22:22] danielroe commented on #8334
@davydnorris You can still produce a code repository that reproduces an issue.

In this case, I cannot replicate what you are experiencing. Please see https://github.com/danielroe/fetch-on-server - run `yarn && yarn generate && yarn start`. You will see in the generated HTML that the fetch has not been performed at generate-time, but that when it is loaded in the browser, the fetch is **then** per

[2020-11-17 22:32] davydnorris commented on #8334
@danielroe many thanks for that - I had added fetchOnServer to my nuxt.config.js, not the individual page

I now get the same behaviour as you and I think this will do what I need. I'll close this feature request and have a play

[2020-11-17 22:32] #8334 closed

[2020-11-17 23:07] #7851 closed

[2020-11-17 23:19] danielroe commented on #7859
This seems to be an issue that should be raised directly with https://github.com/vuetifyjs/vuetify..

[2020-11-17 23:19] #7859 closed

[2020-11-17 23:26] danielroe commented on #8361
@soroka41 Would you provide a code reproduction? It looks to me like the HTTP call you are making is not possible from the server but works from the client - likely an issue with your API rather than Nuxt.

[2020-11-17 23:50] danielroe commented on #7726
@wargt In your repro you have imported the CSS into your `<script>` tag - which is why it isn't inlined in the page but rather injected via JS when the page hydrates.

If, instead, you were to import it in a `<style>` tag - it would behave as you expect, as vue-style-loader will take care of injecting it correctly.
[code]

Another option is listing it in your `nuxt.config` file under the `css` arr

[2020-11-17 23:50] #7726 closed

[2020-11-18 00:00] danielroe commented on #8234
@masterada Would you be able to attempt a reproduction, or share some more information about what kind of nested routes you have in your app, and what kind of scrolling you would expect to see across those pages?

[2020-11-18 00:01] danielroe commented on #7883
Looks like this is in hand in https://github.com/vuejs/vue-apollo/issues/1022 :slightly_smiling_face:

[2020-11-18 00:01] #7883 closed

[2020-11-18 08:10] Siilwyn opened #8364 "support $XDG_CONFIG_HOME for `.nuxtrc`"
It would be great if Nuxt.js follows the [XDG Base Directory Specification](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html). Instead of placing the file `.nuxtrc` in the home directory it should be placed in the OS specific appropriate directory. Getting the correct directory is easy with a module like [env-paths](https://github.com/sindresorhus/env-paths).

This, amo

[2020-11-18 09:29] pi0 commented on #8364
Hi @Siilwyn. You can track issue here: https://github.com/nuxt-contrib/rc9/issues/1 (Also PR welcome)

[2020-11-18 10:34] msmsimondean commented on #7722
I'm getting with issue too

[2020-11-18 11:36] msmsimondean commented on #7722
Here's my Babel config from `nuxt.config.js`:

[code]

I've tried adding `console.error()` statements to `node_modules/@babel/plugin-proposal-optional-chaining/lib/index.js`.  Something (presumably Babel) is loading the plugin file but the `var _default = (0, _helperPluginUtils.declare)((api, options) => {` function in that plugin is never getting loaded.

Here's my node.js version:

[code]

[2020-11-18 12:19] sugoidesune opened #8365 "nuxt generate doesn't create .nuxt folder."
### Versions

- nuxt: ^2.14.6
- node: 12.14.1

### Reproduction
I think the case is very simple/

### Steps to reproduce
`nuxt generate`

### What is Expected?
nuxt generate creates the .nuxt folder before generating pages in dist

### What is actually happening?
nuxt generate keeps `.nuxt` in memory. and does not create the folder and files.

### Why is this important?
I think it would be nice to

[2020-11-18 12:19] msmsimondean commented on #7722
I've tried deleting `/node_modules/.cache/babel-loader/` and that didn't fixed it.  In fact I tried deleting the whole of `/node_modules/` and `package-lock.json` and that didn't fix it.

[2020-11-18 12:20] sugoidesune commented on #8365
I think this should be relabled to feature request. sry

[2020-11-18 15:05] sugoidesune opened #8366 "Don't rebuild nuxt for changes in `generate` scripts or add flag."
### Is your feature request related to a problem? Please describe.

I was writing and debugging code running inside `generate:hooks`. But since any change is monitored a full rebuild is triggered.
This was unnecessary since it was always only the genereate part being changed. This increased development time considerably.

### Describe the solution you'd like
The easiest would be a flag in `nuxt.co

[2020-11-18 16:54] maksimyurkov commented on #8292
not using, here are my dependencies (after `npx create-nuxt-app my-app`):

[code]

[2020-11-18 17:01] aviramaz commented on #7823
Bump, any updates/progress?

[2020-11-18 17:36] danielroe commented on #8359
Likely a consequence of https://github.com/nuxt/nuxt.js/pull/8170

[2020-11-18 17:55] msmsimondean commented on #7722
@pi0 I've tried created two new codebases using `npm init nuxt-app`.  I've used default options when creating the codebases, except for selecting TypeScript for the second codebase.  Both codebases show this bug.  See output below.  I was suprised they're getting the issue as they're both using the latest version of `@nuxt/babel-preset-app` which includs the fix from https://github.com/nuxt/nuxt.j

[2020-11-18 18:04] msmsimondean commented on #7722
I've tried adding this to my `nuxt.config.js`.  Have I tried the right thing?

[code]

[2020-11-18 18:09] msmsimondean commented on #7722
This didn't fix it either:

[code]

[2020-11-18 18:24] vitorhugosg opened #8367 "error when I go up with pm2 start axios code 502"
### Is your feature request related to a problem? Please describe.

I just uploaded my application with pm2, I tested everything right API is working normally on the server, however when I give "pm2 start" file the axios returns me an error.

Follow:

![image](https://user-images.githubusercontent.com/17458174/99571486-22d16d80-29b2-11eb-8e37-686d42acf8da.png)

has anyone got a similar error?

![i

[2020-11-18 18:33] msmsimondean commented on #7722
I've tried downgrading to node.js 12 and that's not fixed it either:

[code]

[2020-11-18 18:39] clarkdo commented on #7722
Hi @msmsimondean , from your error log `{{ hello.world?.greeting }}` , it looks you're using `Optional chaining` in `template`, this is not related to babel config which works for `script` of vue file.

From [this vue issue](https://github.com/vuejs/vue/issues/11088), I think vue 2 doesn't support `Optional chaining` in `template` tag yet.

[2020-11-18 18:59] danielroe commented on #8367
@vitorhugosg Would you provide a reproduction?

[2020-11-18 19:10] vitorhugosg commented on #8367
I downloaded a repository called gegocart

In dev reproduction:
![image](https://user-images.githubusercontent.com/17458174/99575831-ee60b000-29b7-11eb-843c-8601a2ea1871.png)

I deployed an API, put it to run on dev on my computer it worked perfectly, now when I went up, it gave this problem :(

I tried to start with pm2 run dev to be able to debug the problem anyway without success.

I don't unde

[2020-11-18 19:30] danielroe commented on #7722
This appears to no longer be an issue out of the box, with the exception of the Vue issue linked by @clarkdo which is not related to Nuxt.

Example working optional chaining and nullish coalescing: https://codesandbox.io/s/stupefied-hill-bz9qp?file=/pages/index.vue

[2020-11-18 19:30] #7722 closed

[2020-11-18 22:29] danielroe opened #8368 "feat: detect new releases (WIP)"
It would be good to add the ability to check there is a newer version of code available on the server and (if so) refresh in the background.

**Proposed changes**:

* expose an event on the global bus that lets the user handle a newer version available on server
[code]
* inject `version` into Nuxt state (which would provide a build-time version for SSR apps as well) - accessible from `window.__NUX

[2020-11-18 22:29] danielroe opened #10902 "feat: detect new releases"
It would be good to add the ability to check there is a newer version of code available on the server and (if so) refresh in the background.

**Proposed changes**:

- [ ] inject `version` into Nuxt state (which would provide a build-time version for SSR apps as well) - accessible from `window.__NUXT__.version`
- [ ] generate `/_nuxt/manifest.json` at build time which would include:
   * `staticAss

[2020-11-19 01:58] timothymarois opened #8369 "Nuxt Build Error. Seems to fail on trying to compile Sass for VuetifyJS"
Running the `npm run dev` works perfectly, BUT

About a dozen of these errors on the `npm run build`

There is something that nuxt does not like, this should not happen, you are testing locally and when you go to build it fails??

You go through hours possibly days of building, and yet when you actually want to finish your project and start setting up  towards production. you cant... This is not g

[2020-11-19 02:12] timothymarois commented on #8369
Just to rule out any of the project code, I deleted all the pages except the index.vue which I placed a simple div that says test, I removed all components, and simplified the default.vue layout. I removed all plugins, and middleware. I do not use SCSS/SASS. so that part cant even be me.

This is the second time I've seen build problems with Nuxt. its becoming an issue. You can not work on the dev

[2020-11-19 02:22] timothymarois commented on #8369
I'm starting to think its related to wepback in some missing dependency. Looking at package.json and comparing it to fresh nuxt builds, its identical. I have added packages previously which I removed, that was a while ago, could be related. But still doesnt make sense.

[2020-11-19 02:32] timothymarois commented on #8369
After further investigation and testing. I cleared out the node_modules and ran a fresh install of dependencies. It looks like previously something happened with a sass package (probably from another npm package) and installing from package.json didnt solve the issue, had to completely clear out the node packages, makes no sense why it was caught up in some mysterious problem unrelated to anything

[2020-11-19 02:32] #8369 closed

[2020-11-19 03:06] erraX commented on #8359
thanks for the reply.

There are still some problems：
1. could set custom property to Vue.prototype, but `$nuxt, $route, $router...`
2. couldn't redefine Vue.prototype property because when calling `inject`, `inject` already define a non-configurable property.

eg.
**in inject function:**
[code]
** in custom nuxt plugin **
[code]

[2020-11-19 07:12] 948911908 opened #8370 "When there is a lot of traffic to the Nuxt. js server, the whole site is very slow to visit"
The speed of our website is ok when the traffic is small, but when the traffic is large, the overall speed will be very, very slow，Usually a file loads for 30 or more
### Versions

- nuxt: 2.14.0
- node: 14.15.0

### What is Expected?
Not so slow

[2020-11-19 07:17] 948911908 commented on #8370
All indexes of the server are normal

[2020-11-19 07:32] danielroe commented on #8370
@948911908 Can you provide any more info? For example, how do you deploy your site? Are you running the Nuxt built-in server? Is it behind an nginx reverse proxy? Are you setting cache headers? (Is your content cacheable?) Are you performing requests to an external API on your server?

[2020-11-19 08:37] 948911908 commented on #8370
@danielroe Thank you very much for your answer, this project is only running on the server using PM2. The address is m.xhj.com

[2020-11-19 09:12] pi0 commented on #8368
I believe there is more than one _version_ and we would need different strategies for each:

- Webpack build hash which will be only changed if source (manifest chunk) is updated: For this, during client-side navigation we cannot have it from full-static payload (`window.__NUXT__.version`) so needs to be included in `nuxt.manifest.json` file and we need immediate reload only if previous assets are

[2020-11-19 09:38] ilijanovic opened #8371 "asyncData rename"
In my opinion the name `asyncData` is confusing especially for beginners. They think about `async / await` if they read it but it has nothing to do with it.

I would rather call it `prePopulate()` or `preFetch()` it sounds more understandable what it does.

[2020-11-19 11:45] msmsimondean commented on #7722
That's great.  Thanks for the info @danielroe.  Not sure how I missed that.

[2020-11-19 14:07] Jake13f opened #8372 "nuxtServerInit class-transformer reflection issue?"
### Versions

- nuxt: v2.14.7
- node: v14.15.1
- class-validator: v0.12.2
- class-transformer: v0.3.1
- class-transformer-validator: v0.9.1
- vuex-module-decorators: v1.0.1 (Not sure if this matters)
- reflect-metadata: v0.1.13

### Reproduction

[code]

### Steps to reproduce

1. Create a plugin for reflect-metadata & add it to the `nuxt.config.js`

[code]

2. In the `UserModel` class make use of

[2020-11-19 15:55] piotrorlowski opened #8373 "Make disabling loadingIndicator possible and instead show content with a proper status_code like 404 errors instead of 200 nuxt loadingIndicator page.."
### Is your feature request related to a problem? Please describe.

When trying to access a nonexistent page in nuxt, the first thing that happens and is visible especially on slow networks is the spinning loading indicator. I wonder how to disable this loading indicator https://nuxtjs.org/docs/2.x/configuration-glossary/configuration-loading-indicator as in the prod environment this page sometime

[2020-11-19 18:56] danielroe commented on #8373
@piotrorlowski Have you tried disabling the loading indicator as described in the link you posted?

[2020-11-19 19:01] danielroe commented on #8371
@ilijanovic Thanks for the thoughtful feedback. You can find out more about what is planned for data fetching in Nuxt 3 at http://nuxtjs.slides.com/atinux/state-of-nuxt-2020 - which I think addresses your concerns with the name.

For Nuxt 2, however, we won't be changing the name as it would be a breaking change.

[2020-11-19 19:14] winktim opened #8374 "$router.push doesn't return a Promise"
### Version

    nuxt: v2.14.7
    node: v14.15.1

### Reproduction link

[https://codesandbox.io/s/vigilant-booth-27tv8?file=/pages/index.vue](https://codesandbox.io/s/vigilant-booth-27tv8?file=/pages/index.vue)

### Steps to reproduce

    Run a sandbox project
    Call this.$router.push("/about"); in the component
    Watch the returned value

### What is expected ?

push should return a Promis

[2020-11-19 19:24] AbdallahAlhaddad opened #8375 "[Feature-Request] Change Nuxt messages option during runtime (Especially 404 )"
### The problem is:
I have several `404 not found` custom errors I want them to be translated:
- blog not found
- page not found
- ...etc.

For **dynamic pages**, I'm using `asyncData` for my api calls, and passing translated errors from it like below:
[code]
And Displaying `message` & `status code` in `Error.vue`.
-  This works fine unless the route is a **static page**, as I didn't find a way to

[2020-11-19 20:24] danielroe commented on #8374
@winktim - Much appreciated. See https://github.com/nuxt/nuxt.js/issues/6951 - it's deliberate backward compatibility that will be removed for Nuxt 3.

[2020-11-19 21:20] sugoidesune commented on #8366
It seems i missed the cache property:
https://nuxtjs.org/docs/2.x/configuration-glossary/configuration-generate#cache

[2020-11-19 21:20] #8366 closed

[2020-11-19 23:43] winktim commented on #8374
Hey,
Sorry for the duplicate. I looked around if the issue was already reported and didn't find it.
I'll patch the file in my node_modules in the meantime then. There really isn't a better option.

[2020-11-20 06:41] githubalin opened #8376 "redirect fail with Chinese characters"
### Versions

- nuxt:
2.14.6
- node:
12.19.0

### Reproduction

![image](https://user-images.githubusercontent.com/25549859/99767199-9e135a80-2b3d-11eb-8668-e8fe20d9324a.png)

### Steps to reproduce
just redirect to the about page in asyncData.
the redirect URL includes Chinese characters.

### What is Expected?
redirect to about page

### What is actually happening?
got error 'Invalid character i

[2020-11-20 08:54] aungzanbaw commented on #8370
If you're using pm2 then utilize all of your cpu by
`pm2 reload all -i max`
after that you might want to restart your nginx too.

[2020-11-20 09:09] ezequidias opened #8377 "Merge page meta into $route.meta"
### Versions

- nuxt: 2.14.6
- node: 14.6.0

### What problem does this feature solve?

By merging:

[code]

from pages only, into the $route.meta data, so that it is available as $route.meta.foo, it would solve many problems such as being able to use page level data, outside of the page scope. For example:

[code]

The page layout could react to the $route.meta.theme value, and change the header

[2020-11-20 09:28] dhara15101991 opened #8378 "Scss partials are not importing to the page"
I am new to scss in Nuxtjs. I have added all the css to assets folder. and also modified nuxt.config.js as below.

[code]

My main css file

[code]

![image](https://user-images.githubusercontent.com/14217908/99783656-b0db5e80-2b40-11eb-8919-e62bcae5a35d.png)

I have done this to my nuxt.config.js.
[code]
But I don't understand what is wrong with the scss. I get basic layouts but I cannot get part

[2020-11-20 09:33] ezequidias commented on #8377
#3751
Solution not yet found

[2020-11-20 09:38] danielroe commented on #8378
@dhara15101991 You probably want something like https://github.com/nuxt-community/style-resources-module for sharing mixins and variables.

[2020-11-20 09:40] danielroe commented on #8378
You probably want something like https://github.com/nuxt-community/style-resources-module for your mixins and variables. I see you have added a configuration key for it, but you will need to add it as a module.

I'm going to close this as I don't think there's a bug here, but please do drop into https://discord.nuxtjs.org for support - we'd love to help.

[2020-11-20 09:40] #8378 closed

[2020-11-20 09:42] dhara15101991 commented on #8378
I have already installed this module.

![image](https://user-images.githubusercontent.com/14217908/99785170-cbaed280-2b42-11eb-930c-9fac8ab4023f.png)

[2020-11-20 09:43] piotrorlowski commented on #8373
@danielpost I tried providing 'false' or an empty string, but both didn't work at least yesterday when I was investigating this issue. Still I was having the default Nuxt loading indicator page (200) before getting my javascript code executed.

However I tried today and it seems it worked, so maybe my instance didn't get updated or some other cache issue. Anyway thanks and sorry for the rising unn

[2020-11-20 09:48] danielroe commented on #8378
@dhara15101991 if you provide a code reproduction on https://template. nuxtjs.org, I'll happily take a look 😊

[2020-11-20 09:50] danielroe commented on #8373
@piotrorlowski you're exactly right. If that's the behaviour you want, you'll need to configure your server to return a 404.

[2020-11-20 09:50] #8373 closed

[2020-11-20 09:50] altpoint opened #8379 "Functional components not worked if import dynamically with SSR context"
### Versions

- nuxt: 2.14.7
- node: 14

### Reproduction
Import functional component dynamically on page

### Steps to reproduce
0) Create `functional` component like this:
`/components/UiPageTitle.vue`
[code]

1) Import this component dynamically on the page:
`pages/index.vue`:

[code]

### What is Expected?
Everything works

### What is actually happening?

[code]

[2020-11-20 09:55] tcastelly commented on #7883
Yes :slightly_smiling_face:, I hope ...
It's not really a workaround, but for now I switched to "native" Vue 3 SSR.

[2020-11-20 10:03] Tragio commented on #8327
Hello 😄  I was wondering why to upgrade to Node 10 since it will not be longer supported in 5 months (2021-04-30). Node 12 will enter Maintenance LTS at the end of this month (2020-11-30). Just asking because I saw the Node schedule page a few days ago, I haven't checked the compatibility of the dependencies or the changes required to it. Good job in bringing this PR 🚀

[2020-11-20 10:18] pi0 commented on #8327
Hey @Tragio. Actually it is a totally right point. Also dependencies like tailwind are requiring 12+. This issue tracker is only for core package and all dependencies above require 10+ so there is no point of forcing users by `engine` field (unless being necessary in the future). Environments like CSB may still use node 10 by default now.

[2020-11-20 10:25] danielroe commented on #8370
@948911908 Looking at your payload, I think you might be performing requests to an external API on SSR, which might increase server response. Apart from that, without more information I think it's likely to be a combination of server configuration and doing too much per-request on SSR. You can mitigate the latter issue with caching, both within Nuxt using component cache and also at the server lev

[2020-11-20 10:31] danielroe commented on #8379
**Minimal repro**: https://codesandbox.io/s/sweet-tharp-3surd?file=/pages/index.vue

[2020-11-20 10:55] pi0 commented on #8376
Hi @githubalin this sure is a bug but meanwhile you may use `redirect(encodeURI(...))`

[2020-11-20 14:26] kissu opened #8380 "Markdown table not applying"
### Steps to reproduce
On production !

### What is actually happening?
I do like to have a markdown formatter to have properly formatted markdown tables while I code.
![image](https://user-images.githubusercontent.com/5133074/99807981-84274700-2b40-11eb-878e-8e4b6f887d65.png)

Below is the result in my VScode markdown preview. Looking great !
![image](https://user-images.githubusercontent.com/513

[2020-11-20 14:45] mas-iota opened #8381 "Async fetch assigning a value to component's data isn't working"
### Versions

- nuxt: ^2.14.6
- node: v12.19.0

### Steps to reproduce
1- Define a random page/component
2- Use async fetch
3- Assign a value to this
4- Try to use the new value in mounted or template

### What is Expected?
Using/accessing the newly assigned value

### What is actually happening?
The new value remains empty
[code]

[2020-11-20 16:26] sts-ryan-holton opened #8382 "/_nuxt/ path showing up in search engine despite being ignored by robots.txt"
### Versions

- nuxt: v2.14.4
- node: v10.15.3

### Reproduction

Not needed for this other than to see the contents of my `robots.txt` file which is:

[code]

And my mode...

[code]

### Steps to reproduce

- Deploy a site with `npm run build && npm run generate`
- Generates to a `dist` directory

### What is Expected?

`/_nuxt/` shouldn't show up in a search engine.

### What is actually happeni

[2020-11-20 18:50] danielroe commented on #8381
@mas-iota If you want to use new fetch (with this) you should not take any arguments for your function. If you do, Nuxt will treat it as an old style fetch. More in the docs: https://nuxtjs.org/docs/2.x/components-glossary/pages-fetch

[2020-11-20 18:50] #8381 closed

[2020-11-20 18:52] danielroe commented on #8380
This should be transferred to

[2020-11-20 18:53] #8380 closed

[2020-11-20 18:54] mas-iota commented on #8381
@danielroe Thanks for mentioning that! I've read the docs over and over and I couldn't find anything point out this behaviour nor in the link you shared

[2020-11-20 19:12] danielroe commented on #8381
@mas-iota Glad that helped! Sorry, I should have linked to https://nuxtjs.org/docs/2.x/features/data-fetching instead.

[2020-11-20 20:20] dalexhd commented on #8322
Any updates here?

[2020-11-20 20:55] kissu commented on #8380
Yeah sorry ! 😅

[2020-11-20 21:06] simllll commented on #8382
robots.txt just prevents google from indexing the page content, not the url itself. If the file is placed correctly, I would say this is a normal behaviour and has nothing todo with nuxt itself?

There are several reason for google to discover this url, e.g. if someone links to it.
To ensure everything is set up correclty, you could use the robots.txt tester from google search console: https://www

[2020-11-20 23:41] danielroe commented on #8382
Yes, this is not a Nuxt issue. Feel free to pop into the Discord if it would be helpful to discuss with others 😊

https://discord.nuxtjs.org

[2020-11-20 23:41] #8382 closed

[2020-11-21 07:28] #8128 closed

[2020-11-21 07:28] #8179 closed

[2020-11-21 07:29] #8135 closed

[2020-11-21 07:29] #8190 closed

[2020-11-21 07:29] #7998 closed

[2020-11-21 07:29] #8174 closed

[2020-11-21 07:42] websitevirtuoso commented on #8007
Waiting Upgrading. Tried to upgrade sass to 10 version got an error

[2020-11-21 07:45] websitevirtuoso commented on #8327
Waiting Upgrading. Tried to upgrade sass to 10 version got an error

[2020-11-21 09:24] #8081 closed

[2020-11-21 09:54] drewbaker commented on #8107
We found another way to trigger this.

On a static generated site. Have a component that uses fetch(). Then set the the component :key to this.$route.path (in our case we wanted to trigger a v-show animation on page route change). It will load correctly on initial over load, and as you change route the fetch() will run again and be empty.

[2020-11-21 10:01] johan-Rm opened #8383 "why the generated .html file keeps the old data when i launch the "nuxt generate" command in "target: static" mode without "build" ?"
nuxt : 2.14.7

target : static

command : nuxt generate without build

my generated .html file always keeps the old data, is there a solution or am I obliged to launch the "build" each time ?

[code]

[2020-11-21 10:40] Anima-t3d commented on #7717
Seems like the issue I have is caused by: https://github.com/nuxt-community/pwa-module/issues/381

So although the symptoms are the same the cause seems to be different, just thought to add here for others who end up here.

[2020-11-21 11:04] Timkor opened #8385 "Await fetch calls during transition (simulating asyncData)"
Currently, Nuxt's new fetch call fetches after transitioning to new route. This is awesome, however our codebase is not ready for that (yet). We would like to simulate asyncData for the time being.

### Describe the solution you'd like
Some module, or property in the component using the new fetch like `awaitFetch`. So that it awaits the fetch calls before entering the new page.

### Describe alter

[2020-11-21 12:46] mamhoff opened #8386 "Automatically prepend Slash to generated routes"
### Is your feature request related to a problem? Please describe.

I'm working on a site that uses Nuxt's "Dynamic Routing" feature through an `_.vue` page layout. We have a custom route Generator that delivers that page layout a payload and routes. I've created a minimal version of the setup here: https://github.com/mamhoff/minimal-nuxt-fetch-bug/.

When our custom routes Generator did not prepe

[2020-11-21 20:48] mattdocumatt commented on #8208
I have also very hard times with the "infinity spinner" problem after updating from Nuxt 2.0.0 to 2.14.6.

Spinner only browsers I found:
- all version iOS, Safari and FF all versions
- W10, Firefox 77 and older. 77 shows me in console `SyntaxError: invalid regexp group` in file beginning with `window.webpackJsonp`
- W10, IE 11

Other strange issues I encounter after updating to the latest Nuxt:
-

[2020-11-22 07:55] talkor opened #8387 "CSS Logical Properties are not working well in Nuxt"
### Versions

- nuxt: v2.12.2
- node: v10 (Codesandbox), v14

### Reproduction

https://codesandbox.io/s/inspiring-minsky-l2e3s?file=/pages/index.vue

### Steps to reproduce

1. Add CSS Logical properties to any element, in the reproduction, for example, to `.title` (line 40-43):
[code]

### What is Expected?

The element should get all properties as written above.

### What is actually happening?

[2020-11-22 08:25] mattdocumatt commented on #8208
It has something to do with invalid regexs. Both FF and Chrome crash on regex errors. For example, the first working Firefox is 78 that adds ["New RegExp engine in SpiderMonkey, adding support for the dotAll flag, Unicode escape sequences, lookbehind references, and named captures."](https://developer.mozilla.org/en-US/docs/Mozilla/Firefox/Releases/78)

[2020-11-22 09:03] simondib commented on #8208
This looks like a related, but separate issue to the original issue documented.

[2020-11-22 15:32] PestoP opened #8388 "Dynamic routes give `/_dynamic/child` routes"
First of all, I want to thank every contributors for this awesome project that is nuxt :)
Secondly, I hope this is a bug and I don't disturb you for nothing :grimacing:
### Versions

- nuxt: v2.14.6
- node: 1.16.1

### Reproduction
You can find here a tiny example: https://github.com/PestoP/nuxt-dynamic-routes-issue

### Steps to reproduce

I have this directory tree:

index.vue
--/countries
--/in

[2020-11-22 15:52] danielroe commented on #8388
@PestoP You just need `~/pages/countries/_country.vue` and it will handle whatever country is passed in the URL at that point.

See https://nuxtjs.org/docs/2.x/directory-structure/pages/#dynamic-pages

[2020-11-22 15:52] #8388 closed

[2020-11-23 00:04] Zuckjet commented on #8353
@pi0 @danielroe Would you please have a look on this issue ?  Do you think it is a bug when http status code is 304, the CSP header will lose, if not, is there a configuration can make CSP header work as expected, if it is bug, do you have a plan to publish a patch because this can cause security problem because of the miss of CSP header. Thanks

[2020-11-23 07:27] mattdocumatt commented on #8208
Yes, they are related. However, I'm not skilled enough to say something valuable. If you are, I created a minimal demo that suffers both errors ("SyntaxError: invalid regexp group" and "ChunkLoadError: Loading chunk 2 failed.") because I'm going to downgrade the website https://snippets.documatt.com where I discover these bugs back to old Nuxt where everything worked perfectly.

The crashing Nuxt

[2020-11-23 08:23] githubalin commented on #8376
Thanks for your reply and I encode by myself

[2020-11-23 09:05] 1alireza32109 commented on #8376
Hi you are very good and great. If it is possible for you to make the code
and take action to be fixed, thank you very much dear friend.

Your sincerely, Sheikh Ali

سلام شما خیلی خوب و بزرگ هستید. اگر برای شما مقدور است کد را شما درست کنید
و اقدام کنید تا درست شود .خیلی متشکرم از شما دوست عزیزم
ارادتمند شما شیخعلی

در تاریخ دوشنبه ۲۳ نوامبر ۲۰۲۰،‏ ۱۱:۵۴ alin <notifications@github.com> نوشت:

[2020-11-23 10:09] danielroe opened #8391 "feat: enable opting-in to breaking changes"
There are a number of breaking changes coming up - such as, for example, changing how `router.push` works (https://github.com/nuxt/nuxt.js/issues/8374)...

We could allow temporarily opting in to these changes of behaviour behind a flag (for example, as Tailwind CSS allowed users to opt in), e.g.
[code]

This shouldn't pollute the code base too much, either, as when the actual breaking change come

[2020-11-23 10:25] mattdocumatt commented on #8208
One more detail: now I discovered it works in anonymous mode! Can anybody explain this mess?!

[2020-11-23 10:34] Icesofty commented on #8208
Because in Anonymous mode, it automatically clears your cache.

[2020-11-23 10:35] pi0 commented on #8391
It is a nice plan. Actually we shouldn't introduce breaking changes without opting-in. I believe issue with router.push is a regression.

closing this issue since it is a general accepted concept ;)

[2020-11-23 10:35] #8391 closed

[2020-11-23 10:40] Sletheren commented on #6751
+1

[2020-11-23 10:59] mattdocumatt commented on #8208
What does it mean? What is causing these errors?

[2020-11-23 12:00] ragnaroks commented on #8328
same problem,but i don't know the reason,and you let me know,thanks

[2020-11-23 12:29] farnabaz commented on #8387
This happens because Nuxt uses [PostCSS](https://postcss.org/). You can edit postcss config in `nuxt.config`:
[code]
or disable it
[code]

[2020-11-23 13:05] VRuzhentsov commented on #8048
Still can reproduce

[2020-11-23 13:06] VRuzhentsov commented on #8061
Still can reproduce

[2020-11-23 13:19] talkor commented on #8387
Thanks @farnabaz ! I didn't know such setting exists

[2020-11-23 13:19] #8387 closed

[2020-11-24 08:58] mattdocumatt commented on #8208
Is anybody from the core team interested that, under certain and unknown conditions, Nuxt doesn't work in the majority of browsers and devices? This is a show-stopper error. I can't do more than only urge @Atinux @alexchopin @pi0 @bdrtsky... :-(

[2020-11-24 09:10] danielroe commented on #8208
@mattdocumatt From what you've said, I would investigate your service worker setup.

[2020-11-24 11:30] andreavigani commented on #8305
Same problem here. I'm using this with blog pagination.
It works in dev and It was working fine in the previous nuxt version.

[2020-11-24 11:56] dacxjo commented on #8305
Hi @andreavigani, i have asked to the nuxt team, and they told me that this is expected, because in production static mode nuxt is not using SSR like in dev mode.

For me, a way to fix this issue in my project was to forget about query params, and go to a structure of category page instead, like example.com/category/category-a.

I'm aware that the nuxt team is working on a serverless mode that wil

[2020-11-24 11:57] dacxjo commented on #8305
I leave this open, to see answers and others approach proposals.

[2020-11-24 12:00] LuXDAmore commented on #4681
Company: [**Illimity Bank**](https://www.illimity.com/)
Product: **Main website for our customer** [**IT Auction**](https://www.itauction.it)
Link: [**Annunci Industriali**](https://www.annunciindustriali.it/)
Impressions:

- 🔥 Easy to use and install, for intern too;
- 🔥 Great examples;
- 🔥 Incredible documentation;
- 🔥 Modules and plugins are awesome.

Suggestions:

- ❄ Need more tools to debug

[2020-11-24 13:50] mattdocumatt commented on #8208
I have only a brief understanding of service workers. In Chrome on page chrome://serviceworker-internals/ I don't see snippets.documatt.com listed, i.e. my web didn't register a service worker. Is that correct or not? Actually, I don't touch any single line in files generated by `npx create-nuxt-app` except adding few new dependencies.

[2020-11-24 13:54] bodrych commented on #8124
https://github.com/nuxt/create-nuxt-app/issues/367

[2020-11-24 14:13] danielroe commented on #8124
Closing in favour of nuxt/create-nuxt-app#367

[2020-11-24 14:13] #8124 closed

[2020-11-24 19:30] gkatsanos commented on #4615
Any feedback on that one?

[2020-11-25 06:08] shubhamkumarpanday opened #8392 "Navbar of Nuxt.js org page"
### Versions

- nuxt:
- node:

### Reproduction

<details open>
<summary>Additional Details</summary>
<br>

</details>

### Steps to reproduce
![image](https://user-images.githubusercontent.com/51882926/100189586-91627e00-2f12-11eb-9bbb-eb07e1872b49.png)

### What is Expected?
Requesting to reduce the height of Navbar. It's giving bad user Experience.

### What is actually happening?
Height of the

[2020-11-25 07:32] farnabaz commented on #8322
The `port` argument of the `listen` function is not what you want. Use `this.nuxt.options.server.port` to get port from `nuxt-config`

[code]

[2020-11-25 07:33] #8392 closed

[2020-11-25 10:20] Ichalle opened #8393 "Update meta title with Asyncdata not work on generated"
### Versions

- nuxt: v2.14.0

### Steps to reproduce
I want to use asyncData in dynamic meta title, it's working in `run dev` but not working when `run generate`.

[code]

### What is Expected?
meta title updated

### What is actually happening?
meta title default

[2020-11-25 12:46] pi0 commented on #8364
Hi. support added in [1.2.0](https://github.com/nuxt-contrib/rc9/blob/master/CHANGELOG.md#120-2020-11-25) you may use `npm up rc9` or `yarn upgrade rc9` to quickly get latest version .

[2020-11-25 12:46] #8364 closed

[2020-11-25 12:57] Timkor opened #8395 "Vue 3 support for Nuxt 2"
### Is your feature request related to a problem? Please describe.

Google suggests it will count pagespeed as an significant impact factor from 2021.

Since Vue 3 is significant faster than Vue 2 and they will release a Vue 2 API compatible build, this might be interesting to cooperate in Nuxt 2. So that migration to Nuxt 3 will not be mandatory in order to improve page speed.

### Describe the s

[2020-11-25 13:10] dalexhd commented on #8322
@farnabaz Okay. Does it happen the same with the host variable?

Also, does this really make sense? I mean, why the first port parameter doesn't have the `this.nuxt.options.server.port` optional value?

[2020-11-25 13:35] pi0 commented on #8395
Thanks for bringing it up. Actually not only vue-app but each core part of nuxt 2 is technically replaceable. This way we are already backporiting server from nuxt 3.

It might be matter of time until having release to investigate backport possibilities but:
- If possible, it will be with a community package for vue3
- There are no guarantees that it will be and optimized build as nuxt 3

[2020-11-25 13:44] farnabaz commented on #8322
Yes

It does the first argument's goal is to override the port when developers call `server.listen`. This is hos nuxt calculate port and host when you call the original `server.listen`
[code]

[2020-11-25 13:49] dalexhd commented on #8322
Okay. It does make sanse 👍

Thanks for support 😄

[2020-11-25 13:49] #8322 closed

[2020-11-25 14:19] #7717 closed

[2020-11-25 14:22] #8353 closed

[2020-11-25 20:56] eLvErDe opened #8397 "Prod bundle crashs with TypeError: Invalid scheme in IE11 while dev is running fine"
Hello,

I'm struggling with IE11 compat of a VueJS 2 project using Nuxt. The reason why I'm opening a bug is that the website is working fine when using `npm run dev` but crashes when using generated bundle using `npm run build` so I think it might actually be a bug somewhere

### Versions

- nuxt: 2.14.7
- node: 10.21.0

### Reproduction

Sadly I can't really provide an use case so I undersand it

[2020-11-26 02:21] weixiaoxi opened #8399 "nuxt怎么集成到qiankun微服务"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2020-11-26 04:02] transtone commented on #8399
建议您到qiankun项目下面去问。

[2020-11-26 05:11] LemonAppleMo opened #8400 "JSX file use `cssModule` not work in production (CSS flash)"
### Versions

- nuxt:  v2.14.7
- node: v12.19.0

### Reproduction

https://github.com/LemonAppleMo/nuxt-jsx-build

### Steps to reproduce

--- development ---
yarn dev

![image](https://user-images.githubusercontent.com/32638462/100310391-0eabf280-2fe8-11eb-92d4-94bc3374f331.png)

--- production ---
yarn build
yarn start

![image](https://user-images.githubusercontent.com/32638462/100310348-f20fba

[2020-11-26 06:07] Timures commented on #8114
Hello, have same problem too - Nuxt, and Safari on Iphone 7.
Have u test, without using nuxt-link, just pure - a href link ? Maybe help.
P.s. Sorry for my English

[2020-11-26 07:21] wlinglinux opened #8401 "postcss-px-to-viewport这个插件不能配置参数传入？"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2020-11-26 07:24] wlinglinux commented on #8401
postcss-px-to-viewport这个插件在vue中可以通过配置postcss.config.js文件中的
module.exports = ({ file }) => {
  const designWidth = file.dirname.includes(path.join('node_modules', 'vant')) ? 375 : 750;
  return {
    plugins: {
      autoprefixer: {},
      "postcss-px-to-viewport": {
        unitToConvert: "px",
        viewportWidth: designWidth,
}}将参数传入，但是nuxt中怎么配置？

[2020-11-26 07:26] danielroe commented on #8401
@wlinglinux You should normally configure postcss plugins within your nuxt configuration like this:

https://nuxtjs.org/faq/postcss-plugins/#recommended-method

Does that hello?

[2020-11-26 07:30] wlinglinux commented on #8401
![Uploading image.png…]()

[2020-11-26 07:31] wlinglinux commented on #8401
![git](https://user-images.githubusercontent.com/286261/100320678-7f5d0a00-2ffc-11eb-8826-1a27a63b145b.png)

[2020-11-26 07:36] wlinglinux commented on #8401
![git_](https://user-images.githubusercontent.com/286261/100320945-e8448200-2ffc-11eb-80c3-f2ac3dd9c5dc.png)
这样配置在nuxt中是不能正常执行的，我想知道在nuxt中应该如何配置可以将file这个参数传入，并能正确执行，谢谢！！

[2020-11-26 07:36] danielroe commented on #8401
@wlinglinux I do not know what the text in the image says. Could you write it in your comment?

[2020-11-26 07:39] danielroe commented on #8401
@wlinglinux You can import `path` into your nuxt config, and you can access the directory with `__dirname`

[2020-11-26 07:54] wlinglinux commented on #8401
**const designWidth = file.dirname.includes(path.join('node_modules', 'vant')) ? 375 : 750;**   这里的file.dirname是需要处理的css的文件，不是__dirname这个值；
这样配置   **viewportWidth: __dirname.includes(path.join('node_modules', 'vant')) ? 375 : 750**   得到的永远都是750；

[2020-11-26 09:34] #7861 closed

[2020-11-26 09:48] danielroe commented on #8401
@wlinglinux You should be able to pass a function as the config for the postcss loader - details [here](https://github.com/webpack-contrib/postcss-loader#function).

[2020-11-26 10:10] Justin1128 commented on #8341
Hi，
Is the problem solved?

[2020-11-26 10:35] danielroe commented on #8341
Could you provide a code reproduction?

[2020-11-26 11:22] Atinux opened #10972 "Handle `<slot>` in App.vue"
Related to https://github.com/nuxt/nuxt.js/issues/190

[2020-11-26 11:22] Atinux opened #10992 "Handle `<slot>` in App.vue"
Related to https://github.com/nuxt/nuxt.js/issues/190

[2020-11-26 11:22] Atinux opened #11143 "Handle `<slot>` in App.vue"

[2020-11-26 11:22] Atinux opened #11178 "Handle `<slot>` in App.vue"
Related to https://github.com/nuxt/nuxt.js/issues/190

[2020-11-26 11:22] Atinux opened #11330 "Handle `<slot>` in App.vue"
Related to https://github.com/nuxt/nuxt.js/issues/190

[2020-11-26 11:22] Atinux opened #11353 "Handle `<slot>` in App.vue"

[2020-11-26 11:22] Atinux opened #11400 "Handle `<slot>` in App.vue"

[2020-11-26 11:22] Atinux opened #11462 "Handle `<slot>` in App.vue"
Related to https://github.com/nuxt/nuxt.js/issues/190

[2020-11-26 11:22] Atinux opened #11580 "Handle `<slot>` in App.vue"

[2020-11-26 11:22] Atinux opened #11726 "Handle `<slot>` in App.vue"

[2020-11-26 11:23] #8371 closed

[2020-11-26 11:33] #8310 closed

[2020-11-26 12:28] UnderTheMoonspell opened #8402 "Styles get multiple copies of themselves making CSS development a pain"
# Versions

- nuxt: 2.14.0/2.10.0
- node: v11.15.0

### Reproduction
It only happens in the dev npm script (so with hot reloading enabled)

### Steps to reproduce
Load a page, inspect element, change any of the CSS properties/add new properties/remove properties

### What is Expected?
For the CSS Property to change

### What is actually happening?
The CSS property changes but the website becomes u

[2020-11-26 12:32] UnderTheMoonspell commented on #8402
@danielroe what type of code? This is a huge project and it happens everytime you change CSS, so theres not a specific code that fails

[2020-11-26 12:35] danielroe commented on #8402
@UnderTheMoonspell Ideally if you could replicate the error at https://template.nuxtjs.org. I'm particularly interested in your `nuxt.config`, whether you are using `@nuxtjs/style-resources` (and if so how you are configuring it) - and the CSS in a sample component that is triggering this issue.

[2020-11-26 12:50] UnderTheMoonspell commented on #8402
We are using @nuxtjs/style-resources yes but only including variables and mixins files like so:

`  nuxtStyleResources.scss = [`@/styles/platforms/${platform}/_style-resources.scss`]`

Also we have a main.scss file which we use in nuxt.config

`nuxtCss.push(`@/styles/platforms/${platform}/main.scss`)`

And this file will import all of the main scss files (so yes one of them being the deposit.scss

[2020-11-26 13:27] Komar12124 commented on #8341
@danielpost

Just create **store/index.js** and put any code to **nuxtServerInit**

[code]

[2020-11-26 13:40] UnderTheMoonspell commented on #8402
@danielroe why would nuxt config run again during runtime?

[2020-11-26 13:54] Komar12124 commented on #8341
@danielroe Maybe my bad, maybe bad explanation.

This issue happens while creating on local machine with vue devtools and opened chrome dev tools.
While dev mode `npm run dev`, in production mode everything works fine.

[2020-11-26 16:55] JohnMica commented on #8310
Thanks

The project is only SSR and no API calls happen in the front end (due to requirements).
Adding the TS following the documentation from typescript Nuxt  and adding the typescript config makes things stuck.
I’ll look into getting a smaller reproduction on codesandbox and let you know

Regards,

John Mica

[2020-11-26 17:00] danielroe commented on #8310
@JohnMica Great! Just drop it here when you do and I'll look at it 👍

[2020-11-26 22:13] #8122 closed

[2020-11-26 22:23] andrewharvey commented on #7855
@stale Yes I can still replicate, updated nuxt-edge to latest. However the workaround does seem to make a difference, so that might be helpful for anyone interested in looking at this.

[2020-11-27 10:20] thomasjwalsh commented on #8176
Would also like to request this

[2020-11-27 11:27] wlinglinux commented on #8401
如果在nuxt.config.js中配置postcss-loader的rules属性，console就提示 ### You did not set any plugins, parser, or stringifier. Right now, PostCSS does nothing. Pick plugins for your case on https://www.postcss.parts/ and use them in postcss.config.js. 但是nuxt不是不支持在单独的文件中配置postcss属性？

[2020-11-27 16:53] sts-ryan-holton opened #8403 "Nuxt JS statically built site reporting as "slow" by Google? / Nuxt JS performance tips"
### Versions

- nuxt: v2.14.4
- node: v12.18.3

### Reproduction

See the attached Config file for Nuxt JS

**nuxt.config.js**
[code]
### What is Expected?

A score better than the one reported by Google Page Speed insights since my Nuxt JS site is statically built and should be nice and speedy considering I'm using Cloudflare for caching and am using the `@nuxtjs/component-cache` module.

### Wha

[2020-11-27 19:02] msmsimondean opened #8404 "Support Components Discovery with Vue Test Utils"
### Is your feature request related to a problem? Please describe.

At the moment component discovery works great when serving a page but doesn't work at all when testing a component or page that uses component discovery.

### Describe the solution you'd like

For Vue Test Utils when added to a new codebase using `yarn create nuxt-app` etc. and adding Jest, should support Next.js's component disco

[2020-11-27 19:08] msmsimondean commented on #8247
Hi @ramsane, you can mock `$route` like this:

[code]

[2020-11-27 19:11] msmsimondean commented on #8247
@ramsane you can also mock `fetch()` or `asyncData()`.  See https://github.com/testing-library/vue-testing-library/issues/92#issuecomment-732078213 as a `fetch()` example

[2020-11-27 19:20] msmsimondean opened #8405 "Document production Docker setup"
### Is your feature request related to a problem? Please describe.

It's difficult to find an example of how to deploy a nuxt.js app as a Docker container.  It would be great if there was official documentation for this.

It might be worth highlighting in the documentation that hosting a nuxt.js app as a Docker container might not always be an ideal solution.  E.g. Blue/Green deployments can lead

[2020-11-27 20:37] pingustar commented on #8310
@danielroe I have the same issue, stuck at: `after chunk asset optimization (93%)` and my computer getting super hot.

Adding the following to `nuxt.config.js` fixes it. But I would like to learn more about what that is and what it does.

[code]

If you want, I can share my repo to reproduce. Let me know :)

Thank you, appreciate it.

[2020-11-27 22:49] danielroe commented on #8310
@pingustar Yes please. 👍

[2020-11-28 07:35] pingustar commented on #8310
@danielroe here we go: https://github.com/EOSNameService/ens-ui-v2/tree/error/buildFails

**Reproduce:**
- checkout branch `error/buildFails`
- run `yarn build`

[2020-11-28 11:54] pi0 commented on #8405
Hi. Actually there is a good example here: https://github.com/nuxt/nuxt.js/blob/dev/examples/docker-build/Dockerfile

Still some parts like package manager are dependent on deployment/project requirements.

Moving this issue to docs but still worth documenting there.

[2020-11-28 15:27] pmrotule opened #8406 "Can't access the cookies in middleware on first page load of static app"
I'm running a static app with Nuxt and I tried to use a middleware to check if the user is logged in or not. I use Apollo with `@nuxtjs/apollo` and I used the same middleware example provided in the [documentation](https://www.npmjs.com/package/@nuxtjs/apollo#gettoken). After trying it, I realized that getting the token from the cookies with `app.$apolloHelpers.getToken()` was not working on the f

[2020-11-28 17:46] c5n8 opened #8407 "Seamless and Almost Invisible App Update"
### Is your feature request related to a problem? Please describe.

Web app with only server side rendering has an advantage to update itself in real time, meaning that users always have the latest version of it, after every action, like opening pages and submitting form. This has been possible since the dawn of the web. One problem that web app with client side rendering is that sometimes users w

[2020-11-28 18:24] danielroe commented on #8407
I think this is probably a duplicate of #8368 - please feel free to add comments to that issue so we collect them in a single place :slightly_smiling_face:

[2020-11-28 18:24] #8407 closed

[2020-11-29 09:11] ramsane commented on #8247
Thank you so much. So, we can mock anything and everything that is not part of the component but, which is required or accessed in the component. Got it. Thanks once again.

[2020-11-29 10:53] danielroe commented on #8310
@pingustar Initially, I can't compile because of the following error:
[code]
(Note that you don't need to import `node-fetch` as nuxt polyfills fetch globally - and this would cause issues with your browser build in any case, as `node-fetch` is meant for a node environment not a browser one.)

When this issue is fixed the build succeeds with no problem.

[2020-11-29 10:58] danielroe commented on #8406
@pmrotule This is because in a static app, `req` will never be populated (first load or not) - see [docs](https://nuxtjs.org/docs/2.x/features/deployment-targets/#static-hosting). The `req` object is never available on client side in a Nuxt app - and it can't be accessed on server-side at runtime in a staticly rendered app - and it doesn't make sense to check a cookie at generate-time.

Note also

[2020-11-29 10:58] #8406 closed

[2020-11-29 11:24] danielroe commented on #8401
@wlinglinux Seems to be working fine for me:

https://codesandbox.io/s/wizardly-cdn-ts7sq?file=/pages/index.vue

[2020-11-29 11:25] #8235 closed

[2020-11-29 11:27] #8399 closed

[2020-11-29 11:32] danielroe commented on #7907
@hmmhmmhm If you want to avoid `vuex` being in the bundle, simply disable `features.store` and it won't be included.

[code]

More info at https://github.com/nuxt/nuxt.js/pull/6287

[2020-11-29 11:32] #7907 closed

[2020-11-29 11:35] danielroe commented on #7898
I'm closing this as I can't reproduce it, but please feel free to come back.

[2020-11-29 11:35] #7898 closed

[2020-11-29 11:38] #7848 closed

[2020-11-29 11:40] #7771 closed

[2020-11-29 11:45] #7730 closed

[2020-11-29 12:01] pingustar commented on #8310
@danielroe thanks! I appreciate the advice and you taking the time.

Now, 2 days later, I cannot reproduce the issue myself even. Not sure what changed or caused it.

Thank you!

[2020-11-29 12:33] #7729 closed

[2020-11-29 12:42] #8273 closed

[2020-11-29 12:44] #8374 closed

[2020-11-29 12:46] #8291 closed

[2020-11-29 12:49] #8301 closed

[2020-11-29 15:50] pmrotule commented on #8406
Yes, I'm aware of `req` being undefined for static site. That's what I was saying. With that in mind, how come a middleware is executed on the backend on the first page load for static apps? That's the issue I was raising, not the fact that `req` is undefined.

In my opinion, the fact that the middleware can't access the cookies nor the localeStorage doesn't make sense and if it was executed on th

[2020-11-29 20:06] clarkdo commented on #8061
Hi, this issue is from https://github.com/nuxt/nuxt.js/pull/5004, the reason is that `extract-css-chunks-webpack-plugin` doesn't work well with `thread-loader` because `thread-loader` will create separate context which can't accessed by `extract-css-chunks-webpack-plugin`.

The issue has been a while, I'll look into in again to see if `thread-loader` has changed anything.

[2020-11-29 20:07] clarkdo commented on #8048
This is duplicate of https://github.com/nuxt/nuxt.js/issues/8061. Please see my comment https://github.com/nuxt/nuxt.js/issues/8061#issuecomment-735446447

[2020-11-29 20:07] #8048 closed

[2020-11-29 20:29] #7680 closed

[2020-11-29 20:38] pi0 commented on #7680
(something coming soon 👀)

[2020-11-29 21:18] clarkdo commented on #8061
I just checked, looks `thread-loader` is still not working with `extract-css-chunks-webpack-plugin` and there has been an issue opened there https://github.com/webpack-contrib/thread-loader/issues/66, let's keep tracking that issue.

[2020-11-30 02:10] wlinglinux commented on #8401
![px_viewport_0](https://user-images.githubusercontent.com/286261/100561350-b03a8900-32f3-11eb-8c75-fc4894321901.png)
![px_viewport_1](https://user-images.githubusercontent.com/286261/100561359-b4ff3d00-32f3-11eb-9939-0c15f4cee437.png)
按照你给的配置显示的页面是第一个图，但是这个显示是不对的。

正确的显示如下图：
![px_viewport_2](https://user-images.githubusercontent.com/286261/100561420-d52efc00-32f3-11eb-9bcb-c39c9161eabf.png)
![px_

[2020-11-30 02:49] Snack-X commented on #8061
Yes, `parallel` and `extractCSS` does not work together, and it has already been addressed with linked PR. But is it really related with `cache` option?

If so, combination of `parallel` and `extractCSS` options can be disabled, just like #5004.

[2020-11-30 02:54] AliRezaBeitari opened #8410 "fetch causes to call watcher for object data"
### Versions

- nuxt: v2.14.7
- node: v12.19.0

### Reproduction
https://codesandbox.io/s/jolly-chaplygin-vkfps?file=/pages/index.vue

### What is Expected?
The `abc` watcher should not be called.

### What is actually happening?
The `abc` is called after the page is loaded.

[2020-11-30 03:42] ffx0s commented on #8321
+1 have the same problem

[2020-11-30 07:39] danielroe commented on #8410
@AliRezaBeitari The way `fetch` is currently implemented is that the *entire* state of the component is stringified and applied on client side, which is why watch is triggering here.

[2020-11-30 07:55] danielroe commented on #8401
@wlinglinux Would you provide a reproduction? Are you sure this is an issue with Nuxt?

[2020-11-30 09:24] realityfilter commented on #8107
We ran into the same problem. We are using fetch in our default layout component and nested in our page component. When navigating client side to such a route the nested page component is getting the wrong fetchKey because the fetch inside the layout component is not recognized anymore. This is in contrast to the sever side, where layout and page component had their fetch triggered.

I think for t

[2020-11-30 10:36] drewbaker commented on #8107
@realityfilter yeah I agree it seems we need to have control over the fetchKey.

Makes sense to me that fetch()'s return value should be the key. If no return value, then it can do the automatic one that it currently does. Or just have a `fetchKey` setting like `fetchOnServer`? But that should take a function as often times we'd want to generate that key based on prop values.

[2020-11-30 10:58] wanlixi opened #8411 "The page introduces the third-party component of JSX syntax, which makes the project unable to run"
It is no problem to write a page directly using JSX syntax, but a third-party component that references JSX syntax in the page will report an error

nuxt.config.js
[code]

[2020-11-30 10:59] wanlixi commented on #8411
mode: "universal"

[2020-11-30 11:02] wanlixi commented on #8411
notice
ssr: true

[2020-11-30 12:12] Xiamer opened #8412 "nuxt v2.14.7 , useing https on localhost in nuxt koa server"
### how to set https on localhost  in nuxt koa server ?

[code]
nuxt v2.14.7,  not nuxt v1.x https://mattshull.com/blog/https-on-localhost, thx.

[2020-11-30 12:55] Timkor commented on #8242
I think this is causing major performance issues because of the injected render blocking scripts (before document load). Any ETA when this will be released?

[2020-11-30 13:02] danielroe commented on #8242
@Timkor For now, you can simply use the workaround mentioned above within `nuxt.config`.

[2020-11-30 13:12] AliRezaBeitari commented on #8410
@danielroe Thanks for your helpful information. I didn't know that!
Well, in the watcher I actually change the query parameters by `this.$router.push({ query: abc })` and because `abc` is wrong, the query parameters will get the wrong values.

[2020-11-30 13:14] Timkor commented on #8242
@danielroe What about the scripts injected by those scripts?

[2020-11-30 13:22] danielroe commented on #8242
It replaces it at the HTML level so all scripts in the head should be affected.

[2020-11-30 13:26] Timkor commented on #8242
@danielroe True, but apparently, those scripts add more script tags to the head during execution, which do not have any async nor defer attributes:
![image](https://user-images.githubusercontent.com/6882876/100615455-edb10d80-3317-11eb-9c73-2c3c56fffbdf.png)

And this is injected before document load delaying FCP and LCP. Any idea's?

[2020-11-30 13:31] wlinglinux commented on #8401
https://codesandbox.io/s/runtime-wind-n31k1?file=/nuxt.config.js，你帮忙看看，我在nuxt.config.js注释掉的是传入file参数的配置，开启这个配置，页面转化的vw是不对的。

[2020-11-30 13:32] wlinglinux commented on #8401
[https://codesandbox.io/s/runtime-wind-n31k1?file=/nuxt.config.js](https://codesandbox.io/s/runtime-wind-n31k1?file=/nuxt.config.js)，你帮忙看看，我在nuxt.config.js注释掉的是传入file参数的配置，开启这个配置，页面转化的vw是不对的。

[2020-11-30 14:18] Hartaxfr opened #8413 "Redirection in middleware in static site"
### Versions

- nuxt: v2.14.0
- node: v10.19.0

### Reproduction

!!!!!!!! target: "static" !!!!!!!!!!!
minimal project with 3 pages, index.vue, account.vue, login.vue

index with nuxt-link to account

account empty page with anonymous middleware that redirect to "/login"

Not able to make codesandbox working sorry ...

### What is Expected?

redirect to "/login"

### What is actually happening?

[2020-11-30 14:57] #8350 closed

[2020-11-30 15:13] chrissyast opened #8414 "Build fails on code only used in development"
I have some code which I only use locally in development. I have content on a CMS and rather than calling the API every time to retrieve the content I store it locally on a file and retrieve it that way.

Even if I surround the code in `try/catch` AND `if(false)` the build still complains `Error: Can't resolve './translations/index.json'`. I don't really want to commit the json as it's only needed

[2020-11-30 15:44] rifton007 commented on #190
Thanks, but in my case I prefer to not use a additional package.

Finally, I use component like a layout, here a example :

**components/grid/default.vue**
[code]

**pages/index.vue**
[code]

[2020-11-30 17:51] danielroe commented on #8414
@chrissyast You should be able to get that to work with require rather than import.

[2020-11-30 18:01] chrissyast commented on #8414
@danielroe thanks!  `require` worked. I used `await import` based on some code I'd seen on another project, not quite sure why it was used and how it didn't fail but don't really care as this works for me!

[2020-11-30 18:06] #8414 closed

[2020-11-30 18:09] chrissyast commented on #8414
Actually no, it worked because I had the file present at the time 🤦

[2020-11-30 23:12] pi0 commented on #7879
Hi @kaldenswart actually it will be supported natively by nuxt3 for all auto scanned directories (see rfc: https://github.com/nuxt/nuxt.js/pull/5818/files)

Meanwhile you might use `this.addLayout` with a nuxt module or symlink from different directories.

[2020-11-30 23:12] #7879 closed

[2020-11-30 23:16] pi0 commented on #8145
Multi app will be natively supported with nuxt3. Please see https://github.com/nuxt/rfcs/issues/30 for context.

[2020-11-30 23:16] #8145 closed

[2020-12-01 01:51] Xiamer commented on #8401
Speak english as much as possible so that others can help you.

[2020-12-01 01:53] Xiamer commented on #8401
i think this is not nuxt problem O(∩_∩)O

[2020-12-01 02:07] wlinglinux commented on #8401
I just want to ask if NUXT doesn't support passing in parameters for postCSS-Px-to-Viewport? If not, can it be supported in the next release? Because the result of my test is that the parameters passed in are invalid, even if the configuration is correct.

[2020-12-01 02:10] wlinglinux commented on #8401
The result of my test is that configuration in postcss.config.js is passable in the vue environment, but not in nuxt how it should be configured to work.

[2020-12-01 02:21] 9-lives commented on #7753
like this

[code]

[2020-12-01 09:42] danielroe commented on #7724
@ThomasKientz You should be able to do this with Nuxt as-is. See https://codesandbox.io/s/wizardly-hermann-sl9my?file=/pages/index.vue for a minimal example.

[2020-12-01 09:46] arildm commented on #8321
Thanks @ferry77 for the pointer! The `no-prefetch` prop was a good solution in my case.

I'm leaving the issue open, as I still think it could make sense to automatically skip prefetching routes that are covered by `generate.exclude`.

[2020-12-01 11:10] #8242 closed

[2020-12-01 11:52] pi0 commented on #7823
This should be fixed in [v2.14.8](https://github.com/nuxt/nuxt.js/releases/tag/v2.14.8). Please reopen if not.

[2020-12-01 11:52] #7823 closed

[2020-12-01 11:52] pi0 commented on #8350
This should be fixed in [v2.14.8](https://github.com/nuxt/nuxt.js/releases/tag/v2.14.8). Please reopen if not.

[2020-12-01 11:52] pi0 commented on #8165
This should be fixed in [v2.14.8](https://github.com/nuxt/nuxt.js/releases/tag/v2.14.8). Please reopen if not.

[2020-12-01 11:52] #8165 closed

[2020-12-01 11:53] pi0 commented on #7923
This should be fixed in [v2.14.8](https://github.com/nuxt/nuxt.js/releases/tag/v2.14.8). Please reopen if not.

[2020-12-01 11:54] pi0 commented on #8353
This should be fixed in [v2.14.8](https://github.com/nuxt/nuxt.js/releases/tag/v2.14.8). Please reopen if not.

[2020-12-01 12:48] zabavnikov opened #8420 "Custom routes not working after upgrading to v2.14.8"
### Versions
nuxt: v2.14.8
node: v12.18.3

**Routes:**
![image](https://user-images.githubusercontent.com/8766240/100742768-e409d180-340d-11eb-8699-f9510996e167.png)

**Error:**
![image](https://user-images.githubusercontent.com/8766240/100742901-11ef1600-340e-11eb-8a0e-dc9bf668f8ee.png)

[2020-12-01 13:24] BeWe11 commented on #7717
I've had the same problems with 404 errors for payloads on dynamic pages. These all disappeared when using nuxt@2.14.8. Thank you!

[2020-12-01 13:51] rchl commented on #7823
There is still an issue with `trailingSlash: true` but I'll create a separate issue for that.

[2020-12-01 14:01] rchl opened #8422 "trailingSlash=true and child routes generates a VueRouter warning"
### Versions

- nuxt: 2.14.8
- node: v12.19.0

### Reproduction

[code]

Directory structure:
![Screenshot 2020-07-31 at 13 40 45](https://user-images.githubusercontent.com/153197/89031783-76507a80-d333-11ea-93ba-4ede0340b5b9.png)

Repo: https://codesandbox.io/s/nuxt-trailingslash-true-and-child-routes-zp5tt (best to download and try locally).

### Steps to reproduce

Visit the root route.

### Wh

[2020-12-01 14:01] rchl commented on #7823
New issue: #8422

[2020-12-01 15:18] pi0 commented on #8422
Thanks for clean repro @rchl. Trying to fix on #8423

[2020-12-01 16:00] mornir commented on #8165
I've just upgraded to v.2.14.8 and my nested routes are correctly generated!😃 Thanks everyone for the fix!👍

[2020-12-01 22:50] FrancoisDuprat commented on #7791
Exactly the same issue for me :/
- nuxt v2.14.7
- target is static
- all pages data is being loaded/set in fetch()
- pages are generated properly (with fetched data) and look as expected on initial load
- client-side navigation fetches payload (which contains fetched data) but renders page without data

But to be very accurate I have this issue only when I manually refresh the homepage "/" and the

[2020-12-02 06:03] stefanoschrs commented on #8403
Same issue here, really disappointed by the production performance!

[2020-12-02 07:36] stefanoschrs commented on #4681
- Company/Organization: **Skillfill**
- Product/Project: **Landing Page**
- Link: **https://skillfill.ai/**
- Impression/Suggestion:
  - Very good documentation
  - Really easy to use and develop, especially the part with the routing and middlewares
  - The main issue we are having is the static performance, it seems to have a big penalty from [PageSpeed](https://developers.google.com/speed/pagesp

[2020-12-02 07:40] alfligno opened #8425 "empty template is not allowed on build"
I don't know if its on Nuxt or from template loader, but I just want everybody know that I experienced an untraceable error on nuxt,

So in my code I have
[code]
this code is fine when running on dev,
but when building this for production it will raise an error, and note, that error does not have line report on which syntax or code of line has the error, its just a plane *Unexpected token (1:537)*

[2020-12-02 08:36] Radiergummi commented on #8303
Can second this, happens to me too. Not deterministic, it just occurs after running the development server for some time.

[2020-12-02 09:14] pratiktmg19 opened #8426 "Unexpected token export error in Production mode"
Unexpected token export                                                                               14:43:39

  export default function setupIcons(preset) {
  ^^^^^^

  SyntaxError: Unexpected token export
  at new Script (vm.js:83:7)
  at createScript (vm.js:277:10)
  at Object.runInThisContext (vm.js:329:10)
  at Module._compile (internal/modules/cjs/loader.js:712:26)
  at Object.Module._exten

[2020-12-02 09:16] pratiktmg19 opened #8427 "Unexpected token export error"
Unexpected token export                                                                               14:43:39

  export default function setupIcons(preset) {
  ^^^^^^

  SyntaxError: Unexpected token export
  at new Script (vm.js:83:7)
  at createScript (vm.js:277:10)
  at Object.runInThisContext (vm.js:329:10)
  at Module._compile (internal/modules/cjs/loader.js:712:26)
  at Object.Module._exten

[2020-12-02 09:30] danielroe commented on #8426
duplicate of #8427

[2020-12-02 09:30] #8426 closed

[2020-12-02 09:43] pratiktmg19 commented on #8427
Huh?
I didn't found the solution but it is working for now when i remove all the CDN present on presetCDN.
can you provide me any other solution.

[2020-12-02 09:48] danielroe commented on #8427
@pratiktmg19 I'd suggest you provide a bit more information - ideally a reproduction at https://template.nuxtjs.org/

But something about this looks like it might by solved by deleting `node_modules` or your package lockfile (or both) and reinstalling your packages.

[2020-12-02 10:13] pratiktmg19 commented on #8427
Yes, i have tried reinstalling both but it didn't worked out.
It only works  when i comment out those presets in icons.js of veutify

[2020-12-02 10:22] croftman commented on #8420
Same here

[2020-12-02 10:38] pi0 commented on #8420
Released as hotfix [v2.14.9](https://github.com/nuxt/nuxt.js/releases/tag/v2.14.9) (please reopen if still having issues)

[2020-12-02 10:38] #8420 closed

[2020-12-02 10:56] mellson commented on #7717
Can confirm that my problems has also been fixed in v2.14.8 - thanks so much 🙏

[2020-12-02 15:09] ydnar opened #8429 "Query string parameters are not URI-decoded in route.query"
### Versions

- nuxt: v2.14.8 and v2.14.9
- node: v15.3.0

### Reproduction

Since updating to nuxt v2.14.8, query string parameters with encoded characters are passed un-decoded in `route.query` in `context` to `asyncData`. The v2.14.9 hotfix did not fix this issue.

<details>
<summary>Additional Details</summary>

[code]
</details>

### Steps to reproduce

- Visit `/?t=coffee,food`
- In `asyncDa

[2020-12-02 16:54] Qvatra commented on #8402
hi there,
I'm coworker of @UnderTheMoonspell and after digging the git history of our project I discovered that the bug was introduced  by vuejs-clipper component that was registered in nuxt.config as a plugin.

so for the record the problem was in importig component as `import VuejsClipper from 'vuejs-clipper'` which contains sourse scss files that has to be compiled first by sass-loader (here I

[2020-12-02 16:58] pi0 commented on #8429
I tried to reproduce code above on codesandbox but seems query parameters are properly decoded: https://codesandbox.io/s/objective-bassi-5oxri

@ydnar  Is it happening for `nuxt dev` too or nuxt generate?

[2020-12-02 17:07] gulien commented on #8429
I'm encountering the same issue on nuxt v2.14.9 (`dev` script, i.e., `yarn dev`).

[2020-12-02 17:10] ydnar commented on #8429
@pi0 I don’t know how to get that sandbox to run modified code, but if you change the link to use URI-encoded commas, it should break:

`/?t=coffee%2Cfood%2C`

[2020-12-02 17:12] ydnar commented on #8429
https://codesandbox.io/s/objective-burnell-xd9z5?file=/pages/index.vue

[2020-12-02 17:17] pi0 commented on #8429
I see. This regression is also reproducible with `nuxt@2.14.7` and `vue-router@3.4.9` (latest). Investigating more for workaround...

[2020-12-02 17:20] ydnar commented on #8429
Whew. Glad it wasn’t our monkeypatching of the `vue-router` internals.

[2020-12-02 17:42] danielroe commented on #8402
@Qvatra Great to hear you found the issue 😊

[2020-12-02 17:42] #8402 closed

[2020-12-02 17:58] TroyDota opened #8431 "Errors in production"
### Versions

- nuxt: ^2.14.6
- node: v14.15.1

### Reproduction

might be related to this as the stack trace is #1214

[code]

### Steps to reproduce

No idea, when I am using SSR and when i reload the page uncaching it renders correctly, but then if I reload again after that it fails to mount. Production only, the development server does not produce this issue.

### What is Expected?

The vue ob

[2020-12-02 18:03] TroyDota commented on #8431
it seems that this causes the error
[code]

[2020-12-02 18:53] danielroe commented on #8431
@TroyDota As you say, it's a hydration error, often produced by mismatching client/server state or invalid html. Check out https://html-validator.nuxtjs.org/ and https://blog.lichter.io/posts/vue-hydration-error/

[2020-12-02 19:12] TroyDota commented on #8431
Strange thing, is that it only happens after the page was rendered client side, the page is reloaded without redirection (which means it gets rendered serverside) but if the page is rendered serverside without first being rendered client-side it doesnt not error.
I also tested by wrapping stuff in the client-only tag but it doesnt do anything to the outcome still throws an error. ALso to note this

[2020-12-02 19:24] TroyDota commented on #8431
debugged it down to passing parameters to a child component

[2020-12-02 19:44] TroyDota commented on #8431
It seems
```<comp></comp>```
is not
```<comp />```

[2020-12-02 20:03] danielroe commented on #8431
Likely they changed the HTML enough that Vue was unable to mount to it.

[2020-12-02 22:20] ccleve opened #8432 "@nuxtjs/markdownit security issue"
I'm getting security warnings because the @nuxtjs/markdownit community module uses an old version of highlight.js.

├─┬ @nuxtjs/markdownit@1.2.10
│ ├─┬ @nuxtjs/markdownit-loader@1.1.1
│ │ ├── highlight.js@9.18.5

Markdownit 1.2.10 is the latest version.

Github's dependabot is sending me this warning:

    Release v9.18.5

    Version 9 has reached end-of-support and will not receive future update

[2020-12-03 01:20] Ryan2018-js commented on #8401
the same questions，file.dirname  ineffectiveness

[2020-12-03 02:00] wlinglinux commented on #8401
Can this problem be fixed?

[2020-12-03 03:58] shioridotdev opened #8433 "nuxt-link small freeze beetween _slug and page"
Hello,

I got a small issue on my app.
When using nuxt-link everything work smoothly beetween page but whenever I go from a \_slug.vue page to the index for exemple I got a small freeze before page is loading.

Here is a link exemple on my navbar component .vue

[code]

here the link to a single post
[code]

my folder are like this
[code]

[2020-12-03 06:13] Zuckjet commented on #8353
Thanks. I have confirmed it was solved from v2.14.8

[2020-12-03 08:09] PaulBouisset commented on #7965
I have the same issue currently in my app (universal mode). The query object in empty for the router and context when I try to access it in the middleware. If I try to access the url query in "beforeRouteEnter" I can see it but if I try to do it in the middleware it's not working.

[2020-12-03 08:14] MilesWuCode opened #8435 "Nuxt config htmlAttr, not Working"
Nuxt config htmlAttrs, not Working

- nuxt: v2.14.7
- node: v15.2.1

[code]

[2020-12-03 08:20] danielroe commented on #8435
@MilesWuCode Check the docs link you posted for examples - it should be within`head`.

[2020-12-03 08:23] #8435 closed

[2020-12-03 08:25] danielroe commented on #8433
Would you provide a sample reproduction via https://template.nuxtjs.org ?

[2020-12-03 09:10] MilesWuCode commented on #8435
i found ...@nuxtjs/pwa

[code]
if i setting

[code]

will be working

[2020-12-03 09:13] shioridotdev commented on #8433
As you ask I done the codesandbox. But I past exactly the same code as mine (expect css), with my api and it work.
https://codesandbox.io/s/purple-haze-puztt

But on my site here: https://shiori.dev/reports/ you can see that there is a small freeze when you go from a report (https://shiori.dev/reports/5fc88339e12512e25f14a002) to another page.

[2020-12-03 09:15] danielroe commented on #8435
@MilesWuCode yes, that is another way to do it.

[2020-12-03 09:51] hycreeze opened #8437 "What puzzles me is that the value of axios hostname in nuxt is always 10809?"
### An unexpected bug, the following is my platform information and detailed description

### version
 - windows:  64-bit Professional
 - nuxt：v2.14.6
 - node：v14.15.1

### Reproduction
I have opened a django api service localhost, but I cannot access it correctly in nuxt.js. The following is the content of my files
-  pages/index.vue
[code]
- nuxt.config.js
[code]

### What actually happened?

ht

[2020-12-03 10:18] 15836673175 opened #8438 "nuxt环境中 引入jsencrypt 会报错 navigator is not defined"
### Versions

- nuxt: 2.14.6
- node: v14.14.0
   vue: 2.6+
  系统: osx 10.15
![image](https://user-images.githubusercontent.com/31263663/100996265-d1210980-3593-11eb-963b-b37253d0c8ac.png)

按照网上说加上 // global.navigator = {appName:'node.js'};
// global.window = {}; 之后 又会有 一些其他报错 而且莫名卡死 求求帮忙解决下

[2020-12-03 10:37] PaulBouisset opened #8439 "Context query is empty in router middleware"
I am not sure if I do something wrong but when using a router middleware I can't get the route query on the first page load. When switching page the context.query is correct but not on first page load.
I assume this is because on first load the process is "server" but I am not sure how to solve this.

### Versions

- nuxt: 2.14.5

mode: universal
target: static

### Steps to reproduce
[https://cod

[2020-12-03 12:42] shioridotdev commented on #8439
It as something to do with server side rendering.
With ssr set to true its working as you want.

For ssr I made it working by using serverMiddleware in nuxt config

`serverMiddleware: ["~/middleware/query"]`

Then I edit the query.js as follow
[code]
https://codesandbox.io/s/admiring-varahamihira-49
There is maybe a better way to access this without using parsedOriginalUrl etc...

[2020-12-03 13:09] shioridotdev commented on #8437
Can you try again with disabling explicitly the proxy on axios option
[code]

[2020-12-03 13:59] drewbaker commented on #8122
This is amazing. Nuxt has a global event bus?! I didn't know this, only been using Nuxt for 3 years...

[2020-12-03 15:58] danielroe commented on #8438
@15836673175 It looks like that dependency is not compatible with a node environment - you can follow the example here: https://nuxtjs.org/docs/2.x/directory-structure/plugins#client-or-server-side-only

[2020-12-03 16:08] #8438 closed

[2020-12-03 18:54] pi0 opened #8440 "[dev] DevMiddleware broken with router.base"
### Versions

- nuxt: 2.15.0-26782593.dad45906
- node:

### Reproduction

https://codesandbox.io/s/relaxed-spence-rjixb?file=/nuxt.config.js

(view frame source for 404s)

<details open>
<summary>Additional Details</summary>
<br>

</details>

### Steps to reproduce

### What is Expected?

### What is actually happening?

[2020-12-03 21:59] #8431 closed

[2020-12-03 21:59] TroyDota commented on #8431
nginx was modifying dom in google-pagefast.

[2020-12-04 02:22] hycreeze commented on #8437
Thank you. This option is false by default

[2020-12-04 08:48] pratiktmg19 commented on #8427
Okay solved it by updating nuxt to latest version and vuetify to stable version.

[2020-12-04 08:48] #8427 closed

[2020-12-04 12:29] chamburr opened #8442 "Routing with special characters broken"
Routing with special characters in the path is broken after a Nuxt upgrade from 2.14.7 to 2.14.9. Instead of properly displaying the page as it does in the previous version, a page not found error is returned.

I am unable to provide a code sandbox link because it does not accept special characters in file names.

### Versions

- nuxt: 2.14.9
- node: 15.3.0

### Steps to reproduce

1. Download the

[2020-12-04 14:39] zarub2k opened #8443 "Nuxt deploy doesn't work properly in github pages (Images + Js broken)"
### Versions

- nuxt: @nuxt/content@1.11.1
- node: v12.19.0

### Reproduction

### Steps to reproduce
npm run generate
npm run serve

This works fine and I am able to see all the resources (js + images loded properly)

### What is Expected?
Images and javascript should be loaded properly which are available inside my project

### What is actually happening?
npm run deploy

After the application is

[2020-12-04 14:43] danielroe commented on #8443
@zarub2k Have you followed the instructions on https://nuxtjs.org/faq/github-pages/ ?

[2020-12-05 05:12] #8148 closed

[2020-12-05 05:12] #8215 closed

[2020-12-05 05:12] #8017 closed

[2020-12-05 05:12] #8231 closed

[2020-12-05 06:43] klausXR opened #8445 "Vuex's registerModule only works server-side"
### Versions

- nuxt: v12.12.2
- node: 13.14.0

### Reproduction

https://codesandbox.io/s/wizardly-allen-xyc6f

<details open>
<summary>Additional Details</summary>
<br>

The method only works if it runs on the server. If it is called from one of the client-side hooks, it appears to work, but the module is not registered properly ( its value is `undefined` ).
</details>

### Steps to reproduce

[2020-12-05 08:08] #8236 closed

[2020-12-05 09:28] Hulkmaster commented on #8103
still there

[2020-12-05 11:42] #8341 closed

[2020-12-05 11:42] #8233 closed

[2020-12-05 11:43] #7724 closed

[2020-12-05 12:00] #7646 closed

[2020-12-05 13:00] #8287 closed

[2020-12-05 14:15] zarub2k commented on #8443
Yes I referred the mentioned page. Instead of `push-dir` module I have used `gh-pages` module to deploy. Other than that I just followed the steps mentioned.

My deployment is working fine and I am able to see my home page without any problem. When I click my blog link my blog content is also rendered but the image is not rendered. It is showing me 404 error message in my browser's developer conso

[2020-12-05 15:23] danielroe commented on #8443
@zarub2k Looks like you need a `.nojekyll` file - see https://github.blog/2009-12-29-bypassing-jekyll-on-github-pages/

Nuxt generates this file for you for exactly this purpose. With the `gh-pages` module you need to pass an option to enable this file to be pushed to the branch - see options: https://github.com/tschaub/gh-pages#optionsdotfiles

[2020-12-05 15:23] #8443 closed

[2020-12-05 16:28] zarub2k commented on #8443
@danielroe
Now I am able to see the images loaded and I have included with --dotfiles options in my gh-pages. But I am still seeing some Javascript loading error with 404 https://zarub2k.github.io/tham/_nuxt/a6c8b1b.js

I am not sure how to fix this?

[2020-12-05 16:37] danielroe commented on #8443
@zarub2k I am not experiencing any JS 404 errors on your page.

I'd suggest you join the Nuxt Discord server on https://discord.nuxtjs.org where there are lots of us who would be happy to help. (But this isn't an issue with Nuxt :slightly_smiling_face: )

[2020-12-05 22:00] atlesque opened #8446 "Infinite redirect loop on double forward slash when custom error layout is defined"
### Versions

- nuxt: v2.14.9
- node: v12.18.0

### Reproduction

Codesandbox (in browser): [https://codesandbox.io/s/fervent-galois-fwhqu](https://codesandbox.io/s/fervent-galois-fwhqu)

Repository (manual reproduction): [https://github.com/atlesque/nuxt-bug-custom-error-page](https://github.com/atlesque/nuxt-bug-custom-error-page)

#### Additional Details

This repository was created using `npx

[2020-12-05 22:37] #8103 closed

[2020-12-05 23:04] Hulkmaster commented on #8103
Will try, thanks!

[2020-12-05 23:11] atlesque commented on #8446
This is a workaround which fixes the problem:

- Create a middleware `middleware/remove-double-slash.js`:
[code]
- Define the middleware in `nuxt.config.js`, along with a custom 404 page:
[code]

Whenever there's a path that includes two subsequent forward slashes, the router will redirect to home.

Note you can also use a `layouts/404.vue` as defined in the documentation, but I personally find th

[2020-12-06 01:26] ccleve commented on #6467
I did a simple hello-world full-static site with yarn generate and target: "static". It had one page generated by the content module.

My /hellopage/index.html was 227k, despite having little content. It appears that the head section contains the entirely of Bootstrap CSS and Bootstrap Vue Custom CSS.

There is a script tag at the bottom that contains about 3k of json that serves an unknown purpos

[2020-12-06 08:05] FreekVR commented on #7799
Issue is still occurring with the latest versions, unfortunately.

On Sun, 6 Dec 2020, 06:54 stale[bot], <notifications@github.com> wrote:

[2020-12-06 09:00] danielroe commented on #8259
@foreinbug Could you provide a reproduction at https://template.nuxtjs.org ?

[2020-12-06 09:10] danielroe commented on #8271
@bacon-delight I appreciate the time you've taken to make this report. Is there any chance you could make it over at https://github.com/nuxt-community/firebase-module instead?

[2020-12-06 09:10] #8271 closed

[2020-12-07 02:11] iBobik opened #8448 "Support server side redirects in static mode"
Currently Nuxt static mode redirects client side what is not recommanded in a SEO, better would be 301 redirects on a server.

### Describe the solution you'd like

Many static site hostings support redirects, but they have to be configured somehow. AWS S3 can be configured by [object meta data](https://docs.aws.amazon.com/AmazonS3/latest/dev/how-to-page-redirect.html). Firebase can be configured

[2020-12-07 07:47] IlyaSemenov commented on #8274
1. The problem repeats on the latest nuxt-edge@2.15.0-26788356.847d4ae0
2. The steps to reproduce are outlined in the reproduction repository (https://github.com/IlyaSemenov/nuxt-css-invalid-filename-reproduction): `yarn && yarn nuxt build`

[2020-12-07 10:40] pi0 commented on #8429
Hi. Issue should be fixed by [2.14.10](https://github.com/nuxt/nuxt.js/releases/tag/v2.14.10)

---

@ydnar please also see foot-note in #8430 about `encodeURIComponent` you may improve your implementation :)

[2020-12-07 10:40] #8429 closed

[2020-12-07 10:40] pi0 commented on #8442
Hi. Issue should be fixed by [2.14.10](https://github.com/nuxt/nuxt.js/releases/tag/v2.14.10)

[2020-12-07 10:40] #8442 closed

[2020-12-07 13:30] sts-ryan-holton commented on #8403
@stefanoschrs any tips on how to improve site performance? Don't seem to be getting any answers as of yet here?

[2020-12-07 13:42] manniL commented on #8403
While Nuxt.js gives you pretty decent perf out of the box, it is your responsibility to ensure it "stay like that" while adding functionalities, dependencies, global components and so on. 😋

Every globally registered Vue plugin (for example) or component library has a price -- more JS and CSS that will be loaded.

[2020-12-07 14:18] jankal opened #8452 "v12.14.10 is breaking existing projects"
There seems to be problem with TypeScript & @nuxt/types.

### Versions

- nuxt: v12.14.10
- node: v12 / v14

### Reproduction

https://github.com/jankal/jankal.dev/pull/20

See different failing checks (building application) in the pull-request.

### Steps to reproduce
Upgrade TypeScript project from nuxt@12.14.9 to nuxt@12.14.10

### What is Expected?
Application builds like usual.

### What is a

[2020-12-07 14:23] pat-lego opened #8453 "$http in asyncData causes page to not be generated"
### Versions

-  "nuxt": "^2.14.9"
- node: v12.16.3

### Reproduction
https://github.com/pat-lego/io.github.vm.patlego.website/tree/feature/http
The generation of /profile/blogs fails since it cannot find $http within the asyncData function.

### Steps to reproduce
Run
cd io.github.vm.patlego.website/website/website.ui/src/main/resources/website.ui
npm install
npm run generate

### What is Expecte

[2020-12-07 14:29] jankal commented on #8452
TS errors:
[code]
[code]
[code]

[2020-12-07 14:42] #8452 closed

[2020-12-07 14:43] jankal commented on #8452
I don't know why... but my investigations showed that renovate did build a corrupted dependency tree.

[2020-12-07 15:21] pi0 commented on #8452
Hi. It was probably NPM cdn propagation.

[2020-12-07 15:30] danielroe commented on #8453
This is probably a question to raise at https://github.com/nuxt/http/issues instead. Just a note - your steps to reproduce don't work (missing files in your repo?) so I was unable to test.

[2020-12-07 15:30] #8453 closed

[2020-12-07 18:41] Perlover opened #8454 "The build.extend option doesn't extend all webpack options"
### Is your feature request related to a problem? Please describe.

Your [docs stands](https://nuxtjs.org/docs/2.x/configuration-glossary/configuration-build#extend) that I can extend `webpack` config through `build.extend` option. But I cannot change all options because later some from these are [rewritten by your here](https://github.com/nuxt/nuxt.js/blob/dev/packages/webpack/src/config/server.j

[2020-12-07 18:44] ydnar commented on #8442
Thanks!

[2020-12-07 22:32] lcanizzo opened #8455 "Fallback Routes do not evaluate @click bindings"
### Versions

- nuxt: 2.14.7
- node: 12.18.3

### Reproduction
clone [This Repo](https://github.com/lcanizzo/nuxt-starter__generate-fallback-issue)
Run:
[code]

### Steps to reproduce
Once viewing the generated example, go to the `/404` route and click the external link. Note the console log.
Navigate via the url to a route that does not exist, ex `/hey`. The 404 page is used as a fallback. Click

[2020-12-08 08:44] gulien commented on #8429
Problem solved on my app 🎉 thank you @pi0

[2020-12-08 11:21] climba03003 commented on #8455
You should use ```@click.native``` instead of ```@click.prevent```.
The main reason is that the event emited from ```<a>``` is a native event. ```@click.prevent``` will not work with the native event.

More info on [here](https://vuejs.org/v2/guide/components-custom-events.html#Binding-Native-Events-to-Components)

[2020-12-08 11:45] martijnsmitt opened #8456 "Missing BigInt support in nuxt.config.publicRuntimeConfig"
### Versions

- nuxt: v2.14.10
- node: v12.19.0

### Reproduction
Code sandbox: https://codesandbox.io/s/bigint-hdtjk

<details open>
<summary>No bigint support</summary>
<br>

I'm trying to retrieve an environment variable from a .env file and use it in a custom plugin. But everytime I use a big number the number gets altered and the plugin works different than expected. What is the correct way t

[2020-12-08 12:03] danielroe commented on #8456
See https://github.com/nuxt/nuxt.js/issues/8317#issuecomment-723557482 for a workaround.

[2020-12-08 14:42] lcanizzo commented on #8455
Using `@click.native` or `@click.native.prevent` results in failure to call the handler on the 404 page itself or the fallback version of the page.

I don't believe .native is necessary on a generic html element (non-component). My understanding is that .native means “apply to the element (a link) the component creates.”

[2020-12-08 19:50] sts-ryan-holton commented on #8403
@manniL I think most people understand that point, is there anything specific in Nuxt for improving performance?

[2020-12-08 20:16] case commented on #8429
Thank you @pi0! Much appreciated.

[2020-12-09 00:09] pperzyna commented on #8393
@pi0 Is this nuxt issue or vue-meta? It is kind of crucial because it worked before :sweat_smile:

[2020-12-09 07:20] stefanoschrs commented on #8403
@manniL I don't think it's related adding plugins etc because I've tested also a plain installation with multiple pages and it stacks up.

@sts-ryan-holton I haven't checked it properly yet but when opening the main page of [Skillfill](https://skillfill.ai) for example I can see that it's loading the styles and scripts of the other 4 pages (/evaluate, /enterprise, /data-facts, /about-us) as well w

[2020-12-09 08:25] xldsdr124 opened #8457 "V2.14.10, statically generated router.base root path error."
### Versions

- nuxt: v2.14.10
- node: v14.15.1

### Reproduction

<details open>
<summary>Additional Details</summary>
<br>

</details>

### Steps to reproduce
 this is part of my configuration:
`{
    ssr: false,
    router: {
        mode: "hash",
        base: "./"
    },
}`

Next execute "yarn run build"

### What is Expected?
The root path of the dist/index.html script should point to router

[2020-12-09 09:29] sHoskens commented on #6538
For anyone else encountering something similar:

I was attempting to copy a few node_modules packages for asynchronous fetching into the output folder, based on this tutorial: http://insightsoftwareconsortium.github.io/itk-js/examples/webpack.html

My first attempt looked like this:

[code]
The referenced environment-based config file is, for example:
[code]

I integrated this in a previous app ba

[2020-12-09 09:36] andorfermichael opened #8458 ""export 'normalizeURL' was not found in '@nuxt/ufo' [IE]"
### Versions

- nuxt: v2.14.10
- node: v14.15.0

</details>

### What is actually happening?

When running `nuxt` with the latest release 2.14.10, the following warning occurs:

`"export 'normalizeURL' was not found in '@nuxt/ufo'`

#### Command Line Output
[code]

#### Browser Console Output

[code]

Although it is defined as warning, it causes parts of the app not being rendered (correctly).

##

[2020-12-09 09:37] andorfermichael commented on #8458
This might be related to the recent changes in commit https://github.com/nuxt/nuxt.js/commit/fc51ca333062519d8376262eff93362e3a5739f9

[2020-12-09 10:33] JustinRvt commented on #7799
I'm so much following this as I'm experiencing the same issues.

For me, it appears that some variables are fetched, like {{article.name}} but if want to more in depth like {{article.image.formats.large.url}} I'll get a undefined on formats unless it as a parameter. Which works until I refresh and break everything to an apollo error 400.

Kind of annoying :/

[2020-12-09 11:18] snakemastr commented on #8458
I also have an issue regarding normalizeUrl in IE11, since version 2.14.10.

![image](https://user-images.githubusercontent.com/18302945/101623062-2d62ae00-3a18-11eb-8219-2413b11fcc55.png)

The text is in Dutch but means "Action is not supported by this object".

Took me a long time to find as this didnt happen locally, because we never commit package-lock.json (We'll start doing that as of now).

[2020-12-09 11:51] silvio-e opened #8459 "v2.14.10 relative nuxt-link goes always to root /"
### Versions

- nuxt: v2.14.10
- node: v12.19.1

### Steps to reproduce

Create a relative link on a sub page like `<nuxt-link to="test">To test page</nuxt-link>`

### What is Expected?

The link should go to `/subpage/test`

### What is actually happening?

it goes to `/`

I guess related to #8457

[2020-12-09 15:39] brandonaaskov opened #8461 "Disabling Strict Mode in Dev Does Not Work"
### Versions

- nuxt: latest
- node: LTS

### Reproduction

I have a basic store file, and an action mapped on the homepage. Here's the relevant snippets:

[code]

[code]

You can see the bug clear as day here: https://codesandbox.io/s/nuxt-strict-mode-bug-gzeqh?file=/store/index.js

<details open>
<summary>Additional Details</summary>
<br>

</details>

### Steps to reproduce
Follow the instructio

[2020-12-09 18:00] evanlegamer commented on #8459
same when we are on /subpage

 `<nuxt-link to="?page=1">To test page</nuxt-link>`

it goes to /?page=1 instead of /subpage/?page=1

however  this `<nuxt-link  :to="{ query: { page: 1 } }"> To test page</nuxt-link>`
**Works** as expected

[2020-12-09 18:29] brandonaaskov commented on #8461
@danielroe nowhere in the docs does it specify that you need to export each part of the store separately for that to work. I don't understand why that's the case either, but ideally that could be in the docs so some pour soul in the future doesn't have to find this issue response.

[2020-12-09 18:50] #8461 closed

[2020-12-09 19:52] pi0 commented on #8458
Thanks for report. Indeed it is related to recent change. I've noticed this error for IE11 (https://github.com/nuxt/nuxt.js/pull/8430#discussion_r536210643) seems something goes wrong with URL usage.

[2020-12-09 20:43] danielroe commented on #8461
@brandonaaskov PRs are welcome :heart:

[2020-12-09 23:24] pi0 commented on #8457
Hi. Thanks for report. This should be resolved with [v2.14.11](https://github.com/nuxt/nuxt.js/releases/tag/v2.14.11).

[2020-12-09 23:24] pi0 commented on #8459
Hi. Thanks for report. This should be resolved with [v2.14.11](https://github.com/nuxt/nuxt.js/releases/tag/v2.14.11).

[2020-12-09 23:24] #8459 closed

[2020-12-09 23:24] pi0 commented on #8458
This should be resolved with [v2.14.11](https://github.com/nuxt/nuxt.js/releases/tag/v2.14.11).

[2020-12-10 00:02] lcanizzo commented on #8455
**For Clarification**
The issue is that when running generate with `fallback: true`, the page instance is not binding event handlers _when it is an undefined route_ (as opposed to going directly to the `/404` page as mentioned in the description).

[2020-12-10 03:56] brandonaaskov commented on #8461
Lol I definitely saw that coming. I'm nearing the end of a long work day but I promise I'll do this soon. This shall remain a tab in Chrome until it's done (so many tabs).

[2020-12-10 05:27] andorfermichael commented on #8458
For me the error still persists in the command line as well as in Firefox 83.0 and Google Chrome 87.0.4280.88.

[2020-12-10 06:43] #8292 closed

[2020-12-10 09:40] pi0 commented on #8458
@andorfermichael Can you please try cleaning node_modules/lock file or possibly sharing project to investigate? issue i was referring to resolved was about ie support

[2020-12-10 10:40] #8440 closed

[2020-12-10 12:33] xldsdr124 commented on #8457
I confirm that this problem still exists in 2.14.11.

[2020-12-10 13:18] MilesWuCode opened #8464 "Custom API endpoint, Unable to build"
I followed the document to build

https://nuxtjs.org/docs/2.x/configuration-glossary/configuration-servermiddleware#custom-api-endpoint
"A server middleware can also extend Express. This allows the creation of REST endpoints."
Cannot use express,

![截圖 2020-12-10 下午9 19 00](https://user-images.githubusercontent.com/1192835/101777390-604a9600-3b2d-11eb-857a-edc3851ce1bc.png)

[2020-12-10 13:25] danielroe commented on #8464
@MilesWuCode Would you share your code? You can create a minimal reproduction at https://template.nuxtjs.org/

[2020-12-10 13:40] MilesWuCode commented on #8464
https://codesandbox.io/s/fancy-water-5nly6?file=/middleware/rest.js

![Uploading 截圖 2020-12-10 下午9.40.14.png…]()

[2020-12-10 14:02] danielroe opened #8465 "feat(vue-app): support custom `fetchKey` for full static generation"
### Is your feature request related to a problem? Please describe.

At the moment, fetch payloads are assigned to the components that need them through a sequential method. When a page changes, the payload array is loaded and a global `fetchKey` is initialised to `0`. As components are created and need data, this key increases and the relevant array item is injected into each component.

This pose

[2020-12-10 14:20] #6339 closed

[2020-12-10 14:29] #8464 closed

[2020-12-10 18:49] silvio-e commented on #8459
Can confirm that this IS resolved! Thanks! :)

[2020-12-10 19:22] rstormsf commented on #8229
bump :-(

[2020-12-11 01:14] radislaw opened #8467 "Bug in firefox 66"
### Versions

- nuxt: 2.14.11
- node: v10.12.0

### Reproduction

After updating nuxt from 2.14.7 to 2.14.11 there is an error in firefox 66 console

[code]

Sorry the project in private repository, and we temporary fix the bug in production by downgrading to nuxt 2.14.7, so I can't provide a link to reproduce the bug

[2020-12-11 07:43] activtel opened #8471 "Inconsistent issue with static site generation"
### Versions

- nuxt: 2.14.10, 2.14.11
- node: 12.16.0

### Reproduction

While using Static Site Generator execution generatin and then start sometimes (not always) may generate html with empty body on versions  2.4.10 and 2.4.11. On version 2.4.7 all works as intended.

package.json:

[code]

nuxt.config.js:

[code]

_slug.vue
[code]
</details>

### Steps to reproduce

npm run generate
npm run s

[2020-12-11 07:57] Jesus82 opened #8472 "Set redirects when trailingSlash:true"
### Is your feature request related to a problem? Please describe.

If I set `trailingSlash:true` in `mypage/` , that also means that `mypage` will not exist. It really frequent when somebody links to your page not to care much about trailing slashes. So if somebody links to `mypage` that page will not exist (and that really harms SEO).

### Describe the solution you'd like

An option in `nuxt.con

[2020-12-11 10:14] pi0 commented on #8472
We might introduce `trailingSlash: 'redirect'` alongside with #8423. For reference [here](https://github.com/nuxt/nuxt.js/pull/8423/files#diff-6e7f7fbcfacad474bd89e1880e10c724a46a90eec7b1949d7fa2176533b65fdfR31) is current behavior with `true`

[2020-12-11 14:33] Timkor commented on #8445
You will need to set the `preserveState` option correctly (while hydrating):
https://vuex.vuejs.org/api/#registermodule

[2020-12-11 17:20] Djules opened #8476 "trailingSlash:true corrupts payloads"
### Versions

- nuxt: 2.14.11
- node: 12.18.2

### Steps to reproduce

I'm using `generate` with `{ target: 'static' }` in my config to get a fully-static website.

I'm using `asyncData` to retrieve content from Prismic API.

And I'm using `{ router: { trailingSlash: true } }` in Nuxt config to add trailing slash all URLs.

### What is actually happening?

Problem is, the generated payload files d

[2020-12-11 18:53] #8151 closed

[2020-12-11 19:20] visini commented on #8476
Thank you for your insight, I faced the same issue without realizing that it's related to the trailing slash this whole afternoon... However, I can confirm that when setting `trailingSlash: false`, the issue now no longer seems to appear. Good job tracking down this issue, and looking forward to a fix.

[2020-12-11 21:35] maximilianschmid commented on #8457
Problem still exists in 2.14.11

[2020-12-12 12:34] kreba commented on #8321
Thank you for your suggestion. We provide payloads for all our pages with the ambition that the statically generated pages never have to ask our API for data, not even when navigating in the hydrated app. We do this by listing all routes (and their various internationalized variants) in `generate.routes`. At the same time we need to `generate.exclude` *everything* so nuxt does not generate duplica

[2020-12-12 12:43] Mitch-i opened #8481 "how can I config in nuxt.config.js such app.disable('x-powered-by') or other like this (app.use()) or require('some-middleware-which-need-to-call-with-app-param')(app);"
how can I fully configure express app in nuxt.config.js such moments like
app.disable('x-powered-by')
app.use()
or require('some-middleware-which-need-to-call-with-app-param')(app);

To be possible to fully config, import modules in nuxt.js.config file (all what we write in app.js of standard express for example app).

Fully config, import modules in nuxt.js.config file (all what we write in app.j

[2020-12-12 14:39] klausXR commented on #8445
As far as I can see, it doesn't work even with this option.

I'm not really sure what you mean by "Using Vuex modules this way".

My application provides additional functionalities to some of the users, which are build on top of Vuex. Lets say regular users can only read some of the data, they don't need the additional module. But the ones that can perform mutations on it, do require the additiona

[2020-12-12 15:20] Timkor commented on #8445
I can see why you would want to do this now. The preserveState option should fix it if set correctly.

The overhead to register an empty unused store is not that much IMO, just make sure not to fill and fetch the data when it won't be required. As for the blog post example, I wouldn't load then at all in the store (if you are able to fetch them using a capable API).

[2020-12-12 16:11] klausXR commented on #8445
The overhead comes not from dispatching actions prematurely, but by code being loaded at all. You might have a Vuex module with hundreds of lines of code. Repeat this a few time for larger applications and you'd be able to spot the problem.

These modules can depend on third-party libraries themselves, like lodash/moment or similar and it quickly gets out of hand. The modules that I can conditiona

[2020-12-12 20:49] #8172 closed

[2020-12-12 20:49] #8256 closed

[2020-12-12 20:50] #8198 closed

[2020-12-12 20:50] #8283 closed

[2020-12-12 20:50] #8279 closed

[2020-12-12 20:50] #8239 closed

[2020-12-12 20:50] #8285 closed

[2020-12-12 20:50] #8290 closed

[2020-12-12 20:50] #8293 closed

[2020-12-12 20:50] #8121 closed

[2020-12-12 20:50] #8297 closed

[2020-12-12 20:50] #8295 closed

[2020-12-12 20:50] #8299 closed

[2020-12-12 22:36] alexeybondarenko commented on #7960
@jess-ika I've configured newrelic in nuxtServerInit action, it works fine.

[code]

[2020-12-12 23:18] danielroe commented on #7960
Great 😊

[2020-12-12 23:18] #7960 closed

[2020-12-13 06:37] bissolli opened #8482 ".nuxt/client.js: Cannot find module 'core-js-compat/data' during build"
### Versions

- nuxt: 2.14.8
- node: v14.13.0

### Reproduction

I've been trying to upgrade my `nuxt` dependency from `2.14.7` to `2.14.8` and I am getting an error while building the project through `npm run build`.

**ERROR**

I tried many many things but I could not find the source of the issue, hopefully someone here might have an idea and help me out with that.

My `package.json`
[code]

Err

[2020-12-13 08:36] Timkor commented on #8445
@klausXR
You should set the preserveState like this:
[code]
This way it will work both on serverside render and client side navigation.

I can see where you are coming from when your store modules get that large. This will indeed be an option to make sure these chunks are loaded async, although personally I would try to lift the heavy work from the store to an (async) plugin or API.

[2020-12-13 09:04] Timkor commented on #8476
Any update on this one?

[2020-12-13 10:20] hassanpudineh67 opened #8483 "Dynamic show/hide a component based on the route"
Is there any setting in _nuxt.config.js_ to show/hide a component dynamically based on the router? In vuejs, I had to put a v-if on the component like this:

[code]
But I think there should be a better configuration for this in **nuxtjs**.

[2020-12-13 11:09] #8376 closed

[2020-12-13 12:02] #8483 closed

[2020-12-13 13:23] danielroe commented on #8481
@

[2020-12-13 13:23] #8481 closed

[2020-12-13 13:27] danielroe commented on #8437
@hycreeze Would you be able to provide a reproduction, and raise an issue at https://github.com/nuxt-community/axios-module/ ?

[2020-12-13 13:35] #8437 closed

[2020-12-13 13:43] fuxianwei commented on #8457
Problem still exists in 2.14.11

[2020-12-13 17:54] Geminii commented on #8413
Hi @Hartaxfr

Reproduction will really help to get the same state to avoid this behavior.
No code, and missing too many information about middleware.
Try to create a codesandbox, it's really quick to do ;)

[2020-12-13 20:55] radimmotycka opened #8484 "trouble generating dynamic routes while using nuxt content module"
### Versions

  Nuxt.js @ v2.14.7

 I started using nuxt content on aws and routing to blog pages is not working. I assume nuxt is not correctly creating routes for content pages using static generation.
If I go in local to localhost:3000/blog/my-first-blog-post works as expected on prod not. below.

<img width="818" alt="Screen Shot 2020-12-13 at 9 49 53 PM" src="https://user-images.githubusercon

[2020-12-13 21:53] Pacheco95 opened #8485 "Property '$form' does not exist on type 'Vue'"
### Versions

- nuxt: `^2.14.6`
- node: `v15.1.0`

### Reproduction

https://github.com/Pacheco95/nuxt-antd-ts-bug-report

<details open>
<summary>Additional Details</summary>
<br>

</details>

### Steps to reproduce
- Create a new Nuxt app with typescript and Ant Design options selected.
- Create a new page with a signin form example from [antdv docs](https://www.antdv.com/components/form/)
- Cha

[2020-12-13 22:36] #8485 closed

[2020-12-13 23:03] trollepierre commented on #8330
Maybe it does not look very important but I don't think this should be skipped

[2020-12-14 06:44] bissolli commented on #8482
That is it! Once again you saved my life 🥇

I tried deleting the `node_modules` before but it didn't work.
The problem was that the `package-lock.json` was locking the version of the `core-js-compat` for some mistake I did in the past probably =)

Thanks again @danielroe !

[2020-12-14 06:44] #8482 closed

[2020-12-14 06:47] danielroe commented on #8482
@bissolli Glad it's solved 😊

[2020-12-14 08:50] radimmotycka commented on #8484
thx I created this: https://codesandbox.io/s/wonderful-bouman-omul6?file=/pages/index.vue

[2020-12-14 09:52] #8445 closed

[2020-12-14 10:22] #8484 closed

[2020-12-14 11:08] #8367 closed

[2020-12-14 11:23] zwakheid commented on #8476
ETA for a fix?

[2020-12-14 13:57] danielroe opened #8488 "catchall routes with `trailingSlash: true` lead to 404s when generated"
### Reproduction

https://github.com/danielroe/trailingslash-payload-repro

### Steps to reproduce

`yarn generate`

### What is Expected?

`index.html` should be generated

### What is actually happening?

`ERROR   Error generating route "/": This page could not be found`

[2020-12-15 06:26] Dhruvi16 commented on #2223
I am not sure how to do this can you explain how I can implement this? Any help will be appreciated.
Thanks

[2020-12-15 08:19] lampofaladdin commented on #4681
Company/Organization: 42how
Product/Project: 42how website
Link: https://www.42how.com
Impression/Suggestion: Is any features to support vue 3.0?

[2020-12-15 10:02] simonbrent commented on #8006
This issue s still present with the latest version of nuxt-edge (2.15.0-26799875.1269773d)

[2020-12-15 10:59] wangyh-quuo opened #8490 "mode: universal。when i refresh the page , middleware can't be carryed out ?"
middleware/request-base.js
[code]
nuxt.config.js
[code]
nuxt 2.12

[2020-12-15 11:21] bahung1221 opened #8491 "both nuxtServerInit and asyncData was called twice"
Hi, I just realized that `asyncData` and `nuxtServerInit` was called twice (two time for asyncData and two time for nuxtServerInit).
I tried on nuxt v2.14.6 and nuxt 2.14.11 (latest) but no luck.
I was successful to reproduce this behaviour on new `create nuxt app` created by command `npx create-nuxt-app new-nuxt`.
You can check it on my reproduce repository below.

**Additional**: I tried both de

[2020-12-15 11:31] danielroe commented on #8491
@bahung1221 Thank you for putting the effort in to create a reproduction. However, I'm not able to reproduce what you describe: see https://codesandbox.io/s/github/bahung1221/nuxt-bug-reproduce?file=/pages/index.vue

[2020-12-15 11:47] bahung1221 commented on #8491
Hi @danielroe , thanks for your check, I don't know why it doesn't occur on sandbox, but it really occurred in my environment. Can you please help to clone my reproduce repository and check it again?
Additionally, I'm using macOs 11.0.1 with node v12.14.0 (nvm).

![Screen-Recording-2020-12-15-at-1](https://user-images.githubusercontent.com/27690861/102210950-724d7f80-3f05-11eb-90a3-0bf67972c555.gi

[2020-12-15 13:11] bahung1221 commented on #8491
I found that my `rss chrome extension` did that call with the same request URL, it even doesn't show any request log in network tab, just disable it and everything is ok now.

I'm so sorry for wasted your time,
Thanks.

[2020-12-15 13:11] #8491 closed

[2020-12-15 13:43] alaxcc opened #8492 "Is there only ssr mode and generate mode now? how can I just build and put the /dist to nginx?"
<!-- 💚 Thanks for your time to make Nuxt better with your feedbacks 💚

### Versions

- nuxt: 2.14.x
- node: 12.x

### Question

Is there only ssr mode and generate mode now? how can I just build and put the /dist to nginx? It's easy to use and dynamic route.

[2020-12-15 14:17] HerrBertling commented on #8107
I ran into this with using `asyncData` and `target: 'static'` – you can see this e.g. here:

https://www.virtualsupporttalks.de/impressum/

If you open that page directly, you can see the content is there because it's correctly rendered server side. But it's gone after a moment and the page is blank.

Also, I get this warning:

[code]

What I found strange when looking into the `payload.js` file:

[2020-12-15 17:59] #8492 closed

[2020-12-15 21:30] gkatsanos opened #8493 "Having "https:/" in my url causes internal NodeJS error"
Hey folks, whenever there's a `https:/` in my URL, I get this error (instead of my 404 page):
Invalid URL: /https:/

[code]

[2020-12-15 23:46] amritk commented on #8458
can confirm it still exists on chrome after clearing node_modules

![image](https://user-images.githubusercontent.com/2039539/102286040-4c67b100-3eec-11eb-8cb9-5d3016581f48.png)
![image](https://user-images.githubusercontent.com/2039539/102286049-52f62880-3eec-11eb-9df4-42bf5eef4f1a.png)

Although I do see normalizeURL exported from '@nuxt/ufo`

[2020-12-16 06:22] gkatsanos commented on #8493
Thank you @danielroe. I struggled thinking it's coming from our app but I realized it's something from core. By the way any part of the URL will have the same result, even as a part of a query (as redirect query for example)

[2020-12-16 08:42] pi0 commented on #8458
Hi @amritk Can you please share config and if using programmatic usage? Any way ro reproduce can help to fix issue 😊

[2020-12-16 09:22] #8006 closed

[2020-12-16 09:44] mfrascati opened #8497 "Failed to construct URL"
### Versions

- nuxt: 2.14.11 (but I suppose every version > 2.14.8 is affected)

### Reproduction

I have a return URL from Google oAuth redirect like the following:

`https://mydomain.com/oauth/google#state=RHo0uoakf_VDi&access_token=ya29.a-CUT-2E2wlw&token_type=Bearer&expires_in=3598&scope=email%20profile%20https://www.googleapis.com/auth/userinfo.profile%20https://www.googleapis.com/auth/useri

[2020-12-16 11:55] danielroe commented on #7855
@andrewharvey To add to the above, as far as I can tell the specific memory leak you've identified is caused by Vuetify rather than Nuxt (cc: @kevinmarrec). I haven't been able to confirm that in your case @AliasIO - if you can get in contact with an API key I'd be grateful.

If anyone in this thread who has encountered a memory leak like this and  is *not* using Vuetify I'd welcome a reproduction

[2020-12-16 12:33] danielroe commented on #8290
@ syntheticgoo This seems to be a shortcoming of the `serve-static` server we use for previewing a static distribution with `nuxt start`. You can confirm this by testing with a different server:
[code]

[2020-12-16 13:17] pi0 commented on #8497
Hi @mfrascati thanks for reporting. Would you please try [v2.14.12](https://github.com/nuxt/nuxt.js/releases/tag/v2.14.12)?

[2020-12-16 13:17] pi0 commented on #8493
Hi @gkatsanos thanks for reporting. Would you please try [v2.14.12](https://github.com/nuxt/nuxt.js/releases/tag/v2.14.12)?

[2020-12-16 13:17] pi0 commented on #8458
@amritk Would you please try [v2.14.12](https://github.com/nuxt/nuxt.js/releases/tag/v2.14.12)?

[2020-12-16 13:18] pi0 commented on #8457
Would you please try [v2.14.12](https://github.com/nuxt/nuxt.js/releases/tag/v2.14.12)?

[2020-12-16 13:39] #8493 closed

[2020-12-16 13:46] GerhardArya opened #8498 "FATAL Package subpath './package.json' is not defined by "exports" Error"
I suddenly start receiving this error starting several minutes ago while deploying on Openshift. Before, everything was perfectly fine. The only difference between the build that worked several minutes prior and current build are some minor layout changes and added two functions that had console.log in them, so I'm pretty sure it is not my fault but something with Nuxt, especially the ufo module.

[2020-12-16 13:49] GerhardArya commented on #8498
This is with Nuxt 2.14.12. Since I set my package.json to "^2.0.0"

[2020-12-16 13:56] andorfermichael commented on #8498
I can confirm this.

[2020-12-16 13:57] andorfermichael commented on #8458
v2.14.2 causes another error #8498

[2020-12-16 13:58] oiluis commented on #8498
Same here!!

[2020-12-16 14:18] #8498 closed

[2020-12-16 14:19] pi0 commented on #8498
`yarn upgrade nuxt` or `npm up nuxt` should fix regression.

[2020-12-16 14:26] GerhardArya commented on #8498
It's works now, thanks @pi0 and team!

[2020-12-16 14:28] ThibaultVlacich opened #8500 "[2.14.12] "Package subpath './package.json' is not defined by "exports" in @nuxt/ufo/package.json""
New release 2.14.12 seems to introduce a new bug when running `nuxt build`:
[code]

### Versions

- nuxt: 2.14.12
- node: 14.15.2

### What is Expected?

Nuxt is compiling.

### What is actually happening?

Nuxt does not compile.

[2020-12-16 14:29] ThibaultVlacich commented on #8500
My bad, there's already a closed issue ##8498

[2020-12-16 14:29] #8500 closed

[2020-12-16 14:30] simonbrent commented on #8006
Hmm ok, but I feel that this is a gotcha which should be documented somewhere...
(I note that it only applies to functions which are not used by Vue/Nuxt already, so, for example, using Object.entries exclusively in a template does not cause the error because presumably that's always being polyfilled by something internal to Vue/Nuxt)

[2020-12-16 14:35] andorfermichael commented on #8458
With the hotfix mentioned above and the fix for #8498 it works now.

Thank you for the quick fix.

[2020-12-16 14:35] #8458 closed

[2020-12-16 14:55] oiluis commented on #8498
Thanks guys !

[2020-12-16 15:02] mfrascati commented on #8497
@pi0 yep, now it works as expected, thanks!

[2020-12-16 15:02] #8497 closed

[2020-12-16 15:04] gkatsanos commented on #8493
Thanks guys! amazing speed !

[2020-12-16 15:15] simonbrent commented on #8006
Thanks

[2020-12-16 16:35] rotemrevivo91 commented on #8033
any luck? this is a bit ridiculous tbh. nuxt is perfect for development but trash for production

[2020-12-16 16:43] danielroe commented on #8033
I think this feature request is probably what you want: https://github.com/nuxt/nuxt.js/issues/8229

[2020-12-16 17:08] maximilianschmid commented on #8457
v2.14.12 works, all my tests green again. THX!

[2020-12-16 17:30] hecktarzuli opened #8501 "AsyncData isn't merged when triggered by watchQuery after HMR in Dev"
### Versions

- nuxt: locally 2.14.6 / codestandbox-2.14.12
- node: locally 10.21.0 / codesandbox-?

### Reproduction
https://codesandbox.io/s/asyncdatawatchqueryhmr-problem-8q3cl

### Steps to reproduce
Fork the sandbox, press the button to update the query string - works great

Trigger a hot module reload, press the button - notice the console log shows asyncData firing but the data on the scree

[2020-12-16 17:37] #8457 closed

[2020-12-16 18:33] amritk commented on #8458
@pi0 works great now thanks!

[2020-12-16 18:58] lwswnnscrm opened #8502 "Server HTML generate without style"
Hi, when i go to my website and look in network doc, i see html without style. Can i get there page with style?
Build config:
[code]
mode: universe.

### Versions

- nuxt: 2.14.11
- node: local - 14.15.1, server - 13.1, has this prooblem in booth env.

In index.ssr.html after build
[code]

Can i have in doc page with style?

[2020-12-16 19:48] AliasIO commented on #7855
@danielroe Thanks for looking into this. The endpoints are public so you should be able to generate the routes.

cc @johnleider

[2020-12-16 20:40] realityfilter commented on #8476
We ran into the same problem. But we have the default setting of `trailingSlash`, which is undefined. How is this valid case handled? Wouldn't it be possible to change the loader to ask for a chunkId with a trailing slash in this "mixed" mode as fallback?

[2020-12-16 20:58] jakubm95 opened #8503 "For other people : this is how i managed to use cachios :"
For other people : this is how i managed to use cachios :

1.  I created a local "/api" url with express. All my client http requests are requesting this local node api server.
2. This API is handled by a "proxy.js" file : it send back cache , or it requests wordpress api with the passed url if there is no local cache ( cachios do that for me )

Some code here :
https://gist.github.com/nyl-auster/

[2020-12-16 20:58] #8503 closed

[2020-12-16 21:00] danielroe commented on #7855
@AliasIO Thanks. FYI, for now you can add the following to your nuxt config to prevent the memory leak:
[code]

[2020-12-16 21:45] Skylercrane23 opened #8504 "FATAL A lock with id 'build' already exists on {{siteurl}}/.nuxt"
### Versions
nuxt- ^2.14.11
node -14.1.0

### Reproduction
Using Laravel forge as our deploy tool since we use Laravel as an api. Deploying recently has caused this error to appear. Looked into Nuxt docs and can't find anything, have tried deleting node modules and package.lock and redeploying. Still nothing. Have tried deleting the site and starting fresh and still same thing. Locally I can build

[2020-12-16 22:24] Skylercrane23 commented on #8504
Do you know what causes this issue?

[2020-12-16 22:53] danielroe commented on #8476
@realityfilter In #8489, we remove trailing slashes if `trailingSlash: false` but otherwise leave them as the route is rendered because there are some scenarios where `trailingSlash` should make a difference. For example, see [the docs](https://nuxtjs.org/docs/2.x/configuration-glossary/configuration-router#example-behaviour-with-child-routes) though note that behaviour won't match docs fully unti

[2020-12-16 23:21] jeerbl commented on #7717
I had the `payload.js`giving me an `Unexpected token '<'`. Since I updated Nuxt to v2.14.8, it's **`manifest.js`** that causes the error.

[code]

[2020-12-16 23:26] Skylercrane23 commented on #8504
Hmmm, yeah that looks like it wasn't the issue. Still running into the same thing. Looks like Laravel Forge is showing it being deployed 3 times in a row. @danielroe anything within nuxt that would cause a build to be triggered several times?

[2020-12-16 23:35] danielroe commented on #8504
@Skylercrane23  I would recommend reading through your deploy logs to find out why three are being triggered at once - that's not Nuxt's doing.

I think it is likely an issue with your deployment configuration (or Forge's). I'd recommend joining the Nuxt Discord at https://discord.nuxtjs.org - and ask in #deployments.

[2020-12-17 02:51] AliasIO commented on #7855
@danielroe Amazing, thanks. I can confirm that works.

[2020-12-17 07:52] gkatsanos opened #8507 "Changing log format to JSON"
### Is your feature request related to a problem? Please describe.
As many production grade nuxt apps use solutions like DATADOG and others to monitor their apps, json log formatting seems to be required to be able to parse logs correctly.

Would it be possible to change the consola configuration to switch to JSON logging?

### Describe the solution you'd like

### Describe alternatives you've con

[2020-12-17 09:48] lwswnnscrm commented on #8502
https://codesandbox.io/s/heuristic-waterfall-8ybke?file=/nuxt.config.js
Adn in github - https://github.com/lwswnnscrm/test-nuxt-style-bug
if you build this project and start you can see in network doc this:
![image](https://user-images.githubusercontent.com/22519996/102471269-13534c00-4066-11eb-91e9-3ff744dcabba.png) , but in browser it look goog https://monosnap.com/file/tOT1SMmSTONYUNCGEolxsLACe

[2020-12-17 10:24] lwswnnscrm commented on #8502
@Atinux

[2020-12-17 10:25] Atinux commented on #8502
Did you run nuxt generate with target: 'static'?

All the generated files will be in the dist/ directory

[2020-12-17 10:27] pi0 commented on #8507
Hi @gkatsanos. Yes actually it is possible changing consola reporters. One simple usage is within `nuxt.config`:

[code]

Example output:

[code]

**Remarks:**

- We should directly use `process.stdout` or `process.stderr` because nuxt uses consola wrapper to spy on all `console` calls. This way way watch everything
- It would be better if you can use `addReporter` to make a reporter to write logs

[2020-12-17 10:29] lwswnnscrm commented on #8502
Yes, i use nuxt generate with target: static: https://monosnap.com/file/SK9CJCOf1aqWrnNxg2UZh8aT6WKUeV . And with dynamic project have same problem.

[2020-12-17 10:32] lwswnnscrm commented on #8502
In my work project you can see same problem: https://ssfront-dev.ssyii.com/

[2020-12-17 10:38] gkatsanos commented on #8507
@pi0 thank you, one clarification I'd like: Can I use `consola`, `winston`, or simply `process.stdout`  (or other NodeJS loggers) inside the Vue components as well ?  (since Nuxt provides also the Node context)

[2020-12-17 10:42] lwswnnscrm commented on #8502
@Atinux update information, when i use lighthouse test in chrome, and start test 2g connect to site, i see page without style. Link to page: https://ssfront-dev.ssyii.com/

[2020-12-17 10:54] lwswnnscrm commented on #8502
@danielroe you mean i can't have separate css files and style in load doc in network, right?

[2020-12-17 10:57] #8502 closed

[2020-12-17 11:33] pi0 commented on #8507
Yes you can use winston as well [example integration](https://github.com/nuxt-contrib/consola/blob/master/src/reporters/winston.js)

Yes but it only workers for server-side errors. If you want a complete error logging solution, i would suggest using something like [sentry-module](https://github.com/nuxt-community/sentry-module) or a nuxt plugin to integrate with loggers.

[2020-12-17 11:51] #8476 closed

[2020-12-17 11:51] #8488 closed

[2020-12-17 11:56] danielroe commented on #8465
closed in #8466 - should be available soon on `nuxt-edge` and `2.15.0` release

[2020-12-17 11:56] #8465 closed

[2020-12-17 12:14] kreba commented on #8476
What a great improvement, thank you!

[2020-12-17 12:42] drewbaker opened #8508 "Build error with nuxt-edge 2.14.13 - Can't resolve a CSS @font-face url."
Using `"nuxt-edge": "^2.14.13-26803446.5318172",` my build fails with the below error. Was working fine with latest `nuxt` version previously.

My nuxt config has this:

[code]

[code]

It's my first time using `nuxt-edge` so I'm not sure if I'm doing it right, but here is my package dependencies if that helps:

[code]

[2020-12-17 13:00] rotemrevivo91 commented on #8229
joining on the request

[2020-12-17 13:04] pi0 commented on #8508
Hi @drewbaker. I think correctly installed nuxt-edge (to ensure can also remove `node_modules` and lock files) but this seems a regression with node10 dependency updates (#8346). /cc @clarkdo

[2020-12-17 13:08] drewbaker commented on #8508
OK, so just update my Node version? Will try that now.

[2020-12-17 13:10] clarkdo commented on #8508
I think so, it looks css loader doesn’t resolve the font file path, @drewbaker can you provide the font url in your css file and file path in you project?

[2020-12-17 13:12] danielroe commented on #8107
Closed in https://github.com/nuxt/nuxt.js/pull/8466. Would appreciate testing via `nuxt-edge` to confirm fix.

[2020-12-17 13:12] #8107 closed

[2020-12-17 13:12] danielroe commented on #7799
Closed in https://github.com/nuxt/nuxt.js/pull/8466. Would appreciate testing via `nuxt-edge` to confirm fix.

[2020-12-17 13:12] #7799 closed

[2020-12-17 13:13] danielroe commented on #7791
Closed in https://github.com/nuxt/nuxt.js/pull/8466. Would appreciate testing via `nuxt-edge` to confirm fix.

[2020-12-17 13:16] drewbaker commented on #8508
OK, so I just tried updated my node engine in my `package.json`:

[code]

Then deleted `package-lock.json` and my `node_modules` folder, and then `npm install`. Still getting same error.

`fonts.css` is at `~/styles/fonts.css` and font files live at `~/static/fonts/{filename}.{ext}`. This works fine with production `nuxt`.

Also see screenshot for folder and file paths.

<img width="1049" alt="Scr

[2020-12-17 13:17] drewbaker commented on #8508
FYI also tried changing font URL's to this `src: url("~/fonts/AVENIRNEXTLTPRO-CN.eot");` and same error.

[2020-12-17 13:19] drewbaker commented on #8508
OK, got it to work like this: `src: url("~/static/fonts/AVENIRNEXTLTPRO-CNIT.eot");`

That goes against what is described in docs though right? Or are you changing that so we should use `/static` now?

[2020-12-17 13:21] clarkdo commented on #8508
I think using relative path would be better, I’ll take a look if there’s anyway to cover this breaking change from css-loader.

[2020-12-17 13:24] memic84 commented on #5100
Doesn't this solve your problem?
https://nuxtjs.org/blog/moving-from-nuxtjs-dotenv-to-runtime-config
https://nuxtjs.org/docs/2.x/configuration-glossary/configuration-runtime-config

[2020-12-17 13:26] drewbaker commented on #8107
Thanks @danielroe this is so massive for us. Love this. Thank you for fixing!

Ran into some unrelated build errors over here https://github.com/nuxt/nuxt.js/issues/8508

Can confirm this works in`nuxt-edge`, so happy!

When do you think this will land in a core 2.x release?

[2020-12-17 13:30] rotemrevivo91 commented on #5100
No, unfortunately. The problem is that i have a single build (i.e 1 docker image) that is used on multiple environments. Each user should be able to specify their own router base as an .env variable and just run the container without the need to rebuild the image.
Nuxt resources are then can't be found (nuxt .js files).
I was able to use:
nuxt.config.js
[code]
plugins\cdn.js:
[code]
which replaces

[2020-12-17 13:34] #8422 closed

[2020-12-17 13:37] pi0 commented on #5100
@rotemrevivo91 Would you please open a feature request for supporting runtime baseURL?

[2020-12-17 13:40] rotemrevivo91 commented on #5100
@pi0 will do :)

[2020-12-17 13:40] gkatsanos commented on #8507
@pi0 Sorry just to come back to JSON logging, I see in https://github.com/nuxt-contrib/consola#reporters-1 that there's a built in JSON Reporter, can I use this one instead? How would I pass this in Nuxt.config?

[2020-12-17 13:41] clarkdo commented on #8508
As css-loader won’t resolve absolute path, so your original should work, I’ll check it, can you try if it works in prod mode with build and start?

[2020-12-17 13:43] drewbaker commented on #8508
OK going with aliases path is more consistent with the rest of Nuxt anyway. I will do that for all new sites.

Can't find the docs I was thinking about anymore. But it would be worth mentioning it here: https://nuxtjs.org/docs/2.x/directory-structure/static

Noticed that this says to put fonts into `assets`. That was not what I would have expected. Font file can be multiple megabytes, wouldn't thi

[2020-12-17 13:43] pi0 commented on #8507
Actually you can also use default JSON reporter but i'm afraid you might want to do some filtering/output aligning which is easier if do it yourself but can also use it like this:

[code]

[2020-12-17 13:48] clarkdo commented on #8508
Re the bundle size, font file will only be bundled if it’s smaller than a specific size which is good for reducing http requests amount for small files.

We’ll definitely keep improving the doc, thanks for the suggestion and issue report.

[2020-12-17 13:49] #8508 closed

[2020-12-17 13:52] rotemrevivo91 opened #8509 "supporting runtime baseURL/publicPath"
### Description

Nuxt doesn't allow the publicPath (CDN url) to be overridden at run time - it's baked into the manifest at
build time.  This hook intercepts the VueRenderer when it has loaded the manifest and updates the publicPath
to the current env value.

The problem is that i have a single build (i.e 1 docker image) that is used on multiple environments. Each user should be able to specify th

[2020-12-17 13:57] pi0 commented on #8509
Thanks for making issue @rotemrevivo91. It is indeed an important feature that we can have with runtimeConfig. Workaround seems good but it can be easily broken by internal changes of either vue or vue-bundle-renderer...

Still some modes like static target cannot support as we directly use inside templates.

[2020-12-17 13:58] pi0 commented on #8229
Thanks for making issue @rstormsf. It is indeed a must have feature. I'm closing in favor of #8509 to track.

[2020-12-17 13:58] #8229 closed

[2020-12-17 14:19] UngererFabien commented on #8410
Hello, the fact that `fetch` trigger a stringify will also create a call stack issue if anything is not able to be stringified in `data`. Could be interesting to add in a warning in the documentation.

[2020-12-17 14:35] paulogr opened #8510 "Can't manage keep-alive key per page"
The docs says I can add a key property on my page component to manage the router view key but it doesn't work.

https://nuxtjs.org/docs/2.x/features/nuxt-components#the-nuxt-component

I added a keep-alive on Nuxt component and trying to manage the key per page, because different pages has different keys.

[code]

Anyone can help me?
Thanks!

### Versions

- nuxt: v2.14.7
- node: v14.7.0

[2020-12-17 15:05] gkatsanos commented on #8507
what kind?

[2020-12-17 15:08] jeerbl opened #8511 "Full static mode 404 error manifest.js on first route change"
### Versions

- nuxt: v2.14.8
- node: v12.13.1

### Reproduction

Reproduction: https://www.trackinsight.com/en/, click any SPA link and Chrome console displays:
[code]

`manifest.js` doesn't exist and path returns a 404.

<details open>
<summary>Additional Details</summary>
<br>
Nuxt Config:

    const Fs = require('fs');
    const Path = require('path');
    const Util = require('util');

    co

[2020-12-17 15:43] pi0 commented on #8507
Like merging args array

[2020-12-17 19:09] markkarimov commented on #8274
I have a similar issue with loading a chunk, it tries to retrieve `_nuxt/vendors/pages/campaigns/_id/contributors/pages/campaigns/_id/index/pages/campaigns/_id/transactions//a030a1aa.3261ee4.js` (note the double forward slash before the js file), and that breaks the loading of the page.

[2020-12-17 19:29] rstormsf commented on #8509
here is how we got it:
1. write redirect.js file in `/static` folder and include it in `nuxt.config.js` in `head`
[code]
this will rewrite all script tags to load from different path

2. turn off chunks:
[code]
3. enable plugin
[code]

with this our app works fine in root domain + ipfs url
because
1. it finds the correct `_nuxt` path
2. rewrites js chunks with `__webpack_public_path__`
3. we had t

[2020-12-17 20:27] rotemrevivo91 commented on #8509
@rstormsf I can confirm that adding:
[code]
fixed the issue i had!
But all the other steps were not necessary as using nuxt hooks i was able to achieve the same goal, as long as nuxt ssr is set to true:
[code]
Now i can build the app once and change the the prefix through my .env file as i wish :)
One error that happens (only on page load) but has no real effect as far as i could see is:
[code]
it

[2020-12-17 21:06] refoxdev commented on #8498
"dependencies": {
    "@nuxt/content": "^1.9.0",
    "@nuxtjs/axios": "^5.12.2",
    "@nuxtjs/pwa": "^3.0.2",
    "core-js": "^3.6.5",
    "nuxt": "^2.14.12"
  },
  "devDependencies": {
    "@nuxtjs/tailwindcss": "^3.4.0"
  }

Getting this error!!

[2020-12-17 23:26] reslear commented on #8498
ping respected @pi0 look here please, thx)

[2020-12-18 09:08] christophstockinger opened #8512 "nuxt build generates .gitignore in the assets folder"
### Versions

- nuxt: 2.14.6
- node: v12.14.0

### Reproduction
Not possible, see *Steps to reproduce*.

### Steps to reproduce

1. create a nuxt application with `npx create-nuxt-app xxx
2. setup and create your components
3. run locally the command `npm run build`.
4. create `.gitignore` in the `assets` folder

### What is Expected?
That no `.gitignore` will be created in the assets folder.

###

[2020-12-18 09:37] alexcroox commented on #5100
Did anyone find a solution to supporting multiple environments? The Nuxt docs seem to assume that everyone is running production locally or at best only has dev + production. If you have local/sandbox/staging/production this runtime config doesn't seem suitable for large applications with multiple environments before production.

[2020-12-18 09:42] samtgarson commented on #5100
I've used it to run many dynamic environments (we ran a hand-rolled version of Vercel'a preview environments with a deployment for each branch as well as production).

I'd suggest you open a Discussion on the nuxt repo with your specific issues, as (apart from specific pieces of config like above) runtime config should allow you to have different config values per environment.

As mentioned above,

[2020-12-18 09:59] rotemrevivo91 commented on #5100
We opened a new feature request https://github.com/nuxt/nuxt.js/issues/8509#issuecomment-747453183
The nuxt team will work on way to make it easier but we also found a work around. If you need extra help don't hesitate to ask :)

[2020-12-18 10:27] Timkor commented on #8511
Looks like there is not manifest.js and the SPA fallback loads.

[2020-12-18 10:36] pi0 commented on #5100
Locking issue to avoid confusions. Runtime config for multiple envs is supported. Requested feature is for setting baseURL (router.base) after build.

[2020-12-18 10:39] pi0 commented on #8509
@rstormsf @rstormsf Thanks for sharing solutions. I had to hide them since even if working it is not suggested using workarounds. Thanks for patience 🙏

[2020-12-18 12:52] ikoshele opened #8513 "Component remounting and refetching data on client side in case of usage async components import"
### Versions

- v2.14.6

### Reproduction

https://codesandbox.io/s/crazy-browser-fw1wo?file=/components/ArchiveFetcher.vue

### Steps to reproduce

[code]

Async import component and try to use it with server-side data.

### What is Expected?
Expected the same behavior as default components import, without remounting\refetching on the client.

### What is actually happening?
When we use such cons

[2020-12-18 15:31] Atinux commented on #8511
@jeerbl can you confirm that a `manifest.js` is generated in your `dist/` directory?

[2020-12-18 16:01] gangsthub commented on #8510
My 2 cents: If the component had a `nuxtChildKey` prop, then the `option.key` is not reached, AFAICT:

https://github.com/nuxt/nuxt.js/blob/79440f3ce5b90b39fc1fa68fe1736cac6edae491/packages/vue-app/template/components/nuxt.js#L47-L70

[2020-12-18 16:06] jeerbl commented on #8511
@Atinux I can confirm that there is none. Just rebuilt and no `manifest.js` is in the `dist/` directory.

[2020-12-18 16:26] jeerbl commented on #8511
Just did, still no `manifest.js`. Before I was buildind using `nuxt build --target=static` which I believe did the same?

[2020-12-18 16:41] jeerbl commented on #8511
Actually, let me share my `build` npm goal: `nuxt build --target=static --standalone && nuxt generate --no-build`

[2020-12-18 16:50] andre-brdoch commented on #7742
Hey @Atinux , fantastic, it seems to work! Thanks a lot for taking the time to look into this, very much appreciated! 😄 👍

[2020-12-18 17:17] jbnv opened #8517 "Fatal error: Cannot find module 'vue-template-compiler/package.json'"
[code]

### Dependencies

"@fortawesome/fontawesome-svg-core": "^1.2.28",
"@fortawesome/free-regular-svg-icons": "^5.13.1",
"@fortawesome/free-solid-svg-icons": "^5.13.0",
"@fortawesome/vue-fontawesome": "^0.1.10",
"@nuxt/components": "^1.0.7",
"@nuxt/content": "^1.9",
"@nuxtjs/composition-api": "^0.12.1",
"@nuxtjs/proxy": "^2.0.0",
"@nuxtjs/pwa": "^3.0.0-0",
"@nuxtjs/separate-env": "0.0.1",
"@vue

[2020-12-18 18:15] jd1378 commented on #7698
is this in the docs ? I haven't seen this info before, maybe add them to docs ? they were really helpful to me, I wasn't aware of it

[2020-12-18 18:33] christophstockinger commented on #8512
@Atinux @danielroe
The gitignore contains a *, which ignores all files

You can clone this repo. There the phenomenon occurs. Maybe it is also due to one of the used NPM packages from the Nuxt.js community.

https://github.com/christophstockinger/test

[2020-12-18 18:50] #8512 closed

[2020-12-18 19:05] jeerbl commented on #8511
I did make the suggested changes and indeed, the error is not here anymore, no call to `manifest.js` is attempted. This is what we want, right? Or did we want a `manifest.js` generated instead?

[2020-12-18 23:58] AndreasKubasa opened #8519 "Classnames minify / mangle"
### Is your feature request related to a problem? Please describe.

The main problem is unnecessary performance cost. In our case we are using nuxt with vuetify @nuxt/vuetify
The classnames have a decent length, e.g. v-list-item__content with performance and traffic costs.

### Describe the solution you'd like

if there would be a mangling or minfying like . v-list-item__content is minified to .a

[2020-12-19 05:20] Besto opened #8521 "Nuxtjs faster response when preload font and extract css"
### Versions
- nuxt: v2.14.5
- node: v12

I try to load test nuxt SSR app(universal mode). I found that If I add nuxt config preload font and extract css It improve the throughput number. I'm not sure what NuxtJS do about font loading and css in SSR process when we request to the nuxt app.

### Result load test
<img width="1097" alt="Screen Shot 2563-12-22 at 13 18 42" src="https://user-images.git

[2020-12-19 07:21] #8178 closed

[2020-12-19 09:32] #8511 closed

[2020-12-19 09:47] #8519 closed

[2020-12-19 10:33] klausXR opened #8522 "Memory leak in development mode"
### Versions

- nuxt: v2.12.2
- node: v13.14.0

### Reproduction link

https://github.com/nnvgm/report-nuxt-memory-leak

### Steps to reproduce

The reproduction steps and the repo come from this issue #7412

Clone this repo , run `npm install` and `npm run dev` ( or yarn alternatives ) to set up the project.

Use ApacheBench or another similar tool to simulate traffic to the development server: `

[2020-12-19 11:35] klausXR commented on #8522
Thank you immensely for the quick work you have done, considering what day it is :)

After a lot of scavenger hunts I suspected that same line of code, eventually, but it was through the discoveries of other people. As I mentioned in my previous issue, there are quite some unanswered questions about discovering memory leaks in nuxt applications.

I don't believe any of you holds any responsibility

[2020-12-19 12:14] danielroe commented on #8234
This can be seen in https://github.com/nuxt/nuxt.js/blob/b4d3ebf472a8b51b3c8b3f0c0162891987105d8d/test%2Ffixtures%2Fspa-base

[2020-12-19 12:46] spesthecat opened #8524 "Dynamic routes not generating for full static generation [Crawler] [Dynamic Routes] [Full Static]"
- nuxt: 2.14.6
- node: 15.2.1

### Reproduction

[GitHub Repo](https://github.com/spesthecat/spesthecat.github.io/tree/nuxt-issue)

Nested dynamic page (`/category/id`)
- `projects/`
  - `_category/`
    - `_id.vue`

Using content module to dynamically retrieve markdown and other content from content/. Retrival is based on `category` and `id` and is done in `_id.vue` using `asyncData()`.

Links to

[2020-12-19 13:02] spesthecat commented on #8524
Oh, stupid me, how did I not think of that...

Worked like a charm, thanks!

[2020-12-19 13:02] #8524 closed

[2020-12-19 14:36] #8433 closed

[2020-12-19 18:00] #8196 closed

[2020-12-19 18:02] #8175 closed

[2020-12-19 18:17] stephenjason89 commented on #8175
Thank you

[2020-12-19 18:22] #8507 closed

[2020-12-19 18:28] #8335 closed

[2020-12-19 18:29] #8361 closed

[2020-12-19 19:11] klausXR commented on #8522
Oh, I will find it helpful for sure, but I'm not asking for myself. I'm asking for everybody that's working on a larger application and does not have extensive knowledge on the subject. You can't imagine the frustration of facing an issue in your everyday job and not being able to find relevant information out there. There are a lot of tutorials which show how do find leaks, but the examples are r

[2020-12-19 19:40] klausXR commented on #8521
When using the default configuration, the html file served from the server will include the globally available css and the scoped css for the components rendered on the requested page.

If you use the default config and inspect the source code of the page ( right click on a page and look for an `View page source` ), you will see everything that has been included.

Since this is being serialized by

[2020-12-19 23:18] #8356 closed

[2020-12-20 03:39] stephenjason89 commented on #8175
No worries ☺️ i appreciate you taking the time to reply

[2020-12-20 05:56] Besto commented on #8521
I created a simple app that has the below code.
<img width="333" alt="Screen Shot 2563-12-20 at 12 22 54" src="https://user-images.githubusercontent.com/1130177/102705862-a38bce00-42be-11eb-996a-454977b21378.png">

And look at the build result. Nuxtjs could take time to push a scoped css in every request as @klausXR said.
<img width="556" alt="Screen Shot 2563-12-20 at 12 23 03" src="https://user-

[2020-12-20 08:45] Zekfad commented on #7661
That was a little ago, as far as I can remember I was about to make a unite main site, and in private area mount admin panel into protected page, so no private client js code would be accessible from public.

[2020-12-20 11:21] #8522 closed

[2020-12-20 13:05] danielroe commented on #7661
Great - understood. We are planning to make multi app possible - see https://github.com/nuxt/rfcs/issues/30

I'll close this issue in favour of that 👍

[2020-12-20 13:05] #7661 closed

[2020-12-20 13:43] Zekfad commented on #7661
Sure, if this is related enough, as this issue (variables) are also addresses technology hiding, meant obfuscation and so on.

[2020-12-20 14:11] Besto commented on #8521
All things I talk about I run only nuxt start.

[2020-12-20 14:48] #8370 closed

[2020-12-20 15:24] trollepierre opened #8526 "A document must not include more than one “meta” element with a “charset” attribute."
### Versions

- nuxt: "nuxt": "2.14.12", => problem
- node: v12.20.0 -->

 "nuxt": "2.14.5", => no problem
### Reproduction

I think the minimum scenario to reproduce is:
- use last version of nuxt
- nuxt generate (reproduced in static generated app)
- inspect <meta charset='utf-8'> they should be 2 of them.

<img width="446" alt="Capture d’écran 2020-12-20 à 16 13 51" src="https://user-images.g

[2020-12-20 16:02] danielroe commented on #8372
@Jake13f I'm closing this but if you can produce a reproduction using https://template.nuxtjs.org I'll happily take a look.

[2020-12-20 16:03] #8372 closed

[2020-12-20 16:31] #8412 closed

[2020-12-20 16:54] trollepierre commented on #8526
ok! thanks you solved my issue!

[2020-12-20 16:54] #8526 closed

[2020-12-20 21:07] ibrahimBeladi commented on #8277
Remove stale.

[2020-12-21 06:25] MastinGood opened #8528 "EPERM: operation not permitted, lstat"
### Versions

- nuxt: 2.14.6
- node: 12.18.2

### Issue
when I try to run `npm run dev` or `npm run build` it throws this error. I already try to close my command line then open still doesn't work. I also try to run `npm cache clean`  after that I delete `package-lock.json` and `node_modules` then npm install again. I also try to restart my machine but still doesnt work.

### npm run build
![image

[2020-12-21 06:40] #8528 closed

[2020-12-21 08:54] Eygle commented on #8522
Thank you very much for the quick fix! This problem have been bugging me my team and I for quite some time now!
And thank you @klausXR for keeping this subject alive despite all the closed issues.

[2020-12-21 13:45] RainArro opened #8529 "Maximum call stack size exceeded in this.$store.app (possible memory leak)"
### Versions

- nuxt: 2.14.6

### Steps to reproduce
This bug can be reproduced in the default nuxt project with store enabled.
this.$store.app has an infinite loop inside it. It goes like this `this.$store.app.store.app.strore.app ` etc.

[code]

Could this cause a memory leak?

[2020-12-21 13:50] #8529 closed

[2020-12-21 17:25] manniL commented on #8472
I like the idea a lot! Though we'd need to have this as a separate option to enable both 'abc' -> 'abc/' and vice-versa.

[2020-12-21 20:59] pi0 opened #11021 "Support components without hydration"
A wrapper component like `<server-only>` or `<no-hydration>` or a way to instruct renderer skip render paths with specific attribute.

One challenge is probably avoid preloading components used in subpath

[2020-12-21 20:59] pi0 opened #11133 "Support components without hydration"

[2020-12-21 20:59] pi0 opened #11296 "Support components without hydration"
A wrapper component like `<server-only>` or `<no-hydration>` or a way to instruct renderer skip render paths with specific attribute.

One challenge is probably avoid preloading components used in subpath

[2020-12-21 20:59] pi0 opened #11439 "Support components without hydration"

[2020-12-21 20:59] pi0 opened #11487 "Support components without hydration"
A wrapper component like `<server-only>` or `<no-hydration>` or a way to instruct renderer skip render paths with specific attribute.

One challenge is probably avoid preloading components used in subpath

[2020-12-21 20:59] pi0 opened #11590 "Support components without hydration"
A wrapper component like `<server-only>` or `<no-hydration>` or a way to instruct renderer skip render paths with specific attribute.

One challenge is probably avoid preloading components used in subpath

[2020-12-22 11:03] lwswnnscrm opened #8533 "Don't load script when use optimization.splitChunks"
Hi.

### Versions

- nuxt: 2.14.11
- node: v14.15.3 and

 When i use optimization.splitChunks - scripts in client don't work.

My nuxt.config.js:

[code]

for see result you can go to - https://ssfront-dev.ssyii.com/ , in my local have same problem.

[2020-12-22 11:31] ThibautGrx opened #8534 "nuxt-svg: Unexpected '.svg' rule in the webpack configuration"
**Versions**

nuxt: v2.14.7
node: v12.16.1

**Reproduction**

**Additional Details**

{ mode: 'universal', target: 'static', modules: [ '@nuxtjs/svg' ] }

 **Steps to reproduce**
Run command nuxt dev or nuxt generate

 **What is Expected?**
Success

**What is actually happening?**

`ERROR nuxt-svg: Unexpected '.svg' rule in the webpack configuration`

[2020-12-22 11:31] #8534 closed

[2020-12-22 12:20] lwswnnscrm commented on #8533
@danielroe Hi, yes, but if you see to slider and other scripts int's dont work, just load script file but don't init this. Slider, bootstrap toggle menu, vue-router, etc. If you click to menu link you have full reload page, but i use <nuxt-link>.

[2020-12-22 12:55] danielroe commented on #8533
@lwswnnscrm Could you prepare a reproduction at https://template.nuxtjs.org?

[2020-12-22 14:01] zarub2k opened #8535 "config is not giving privateRuntimeConfig() with SSG"
### Versions

- "nuxt": "^2.14.6",
- node: v12.19.0

### Reproduction

I am referring https://nuxtjs.org/blog/moving-from-nuxtjs-dotenv-to-runtime-config to setup config (.env). All the configuration is working fine. My application is SSG (target: 'static'). When I run my application I am able to access the variables configured in publicRuntimeConfig() but privateRuntimeConfig() variables are not

[2020-12-22 14:05] danielroe commented on #8535
@zarub2k Would you be able to create a code reproduction?

[2020-12-22 14:11] zarub2k commented on #8535
@danielroe
nuxt.config.js:
export default {
  publicRuntimeConfig: {
    baseURL: ''
  },
  privateRuntimeConfig: {
    airtableKey: process.env.AIRTABLE_KEY
  },
}

In my vue component:
console.log('Private key: ' + this.$config.airtableKey)

You can refer the code in https://github.com/zarub2k/tham

[2020-12-22 14:16] danielroe commented on #8535
@zarub2k Looking at your code, you appear to be trying to use that key in client side code. But privateRuntimeConfig is only available on the server, by design.

[2020-12-22 14:21] zarub2k commented on #8535
@danielroe Thanks for the clarification. In such simple use-case for static web, how to safely share my API key? Is there any possibility in Nuxt framework?

[2020-12-22 14:22] danielroe commented on #8535
@zarub2k I would recommend a serverless endpoint for the most idiomatic approach.

[2020-12-22 14:22] #8535 closed

[2020-12-22 14:25] zarub2k commented on #8535
@danielroe Would you be little more specific? I believe you are suggesting me something like google cloud function. Would you share some more details? Thanks in advance?

[2020-12-22 14:28] danielroe commented on #8535
@zarub2k Here's a walkthrough: https://roe.dev/blog/serverless-functions-nuxt-zeit-now

Hope this helps 🙃

Feel free to check out https://discord.nuxtjs.org in #deployments for support.

[2020-12-22 17:16] #8509 closed

[2020-12-22 17:17] gsqrt2 opened #8536 "Multiline style string unescaped parsing"
### Versions

- nuxt: v2.14.12
- node: v12.19.0

### Reproduction Repository

https://github.com/gsqrt2/nuxt-multiline-style

<details open>
<summary>Additional Details</summary>
<br>
minimal nuxt installation
</details>

### Steps to reproduce

Index page contains 3 nested divs with the same multiline style attribute.

On ssr load, inspect the nested divs and notice how only the parent div's styl

[2020-12-22 19:35] aprilahijriyan opened #8539 "Can add prefix to static files"
Hi,

I'm looking for a way to add a prefix to each static file (e.g. js, img, etc) on the nuxtjs pages.

So, creating a static file on the page would be like this.

Before adding a prefix:

[code]

After adding the `/static` prefix:

[code]

Thank you in advance.

[2020-12-22 20:13] aprilahijriyan commented on #8539
Thank you!

[2020-12-22 20:13] #8539 closed

[2020-12-23 10:43] sjoerdloeve opened #8544 "Nuxt generate doubles the static files in separate folders"
### Versions

- nuxt: v2.14.12
- node: v12.1.0

### Steps to reproduce

1. Create a Nuxt.js project
2. Add a folder in the `/static` folder  and put some files in it
3. Run `nuxt generate`

### What is Expected?

All static folders (and files) **only** in the root of the `/dist` folder

### What is actually happening?

The files are **both** in the root of the `/dist` folder and in the `/dist/_nux

[2020-12-23 10:55] sjoerdloeve commented on #8544
@danielroe Thanks for your quick reply! Yes, I am requiring the static files within my application: `<img class="logo" src="../static/images/company-logo.svg" alt="Company logo">`

Is there a way to prevent everything being copied to the _nuxt folder? Or if not is it better to move all my files to the assets folder?

[2020-12-23 10:55] lwswnnscrm commented on #8533
@danielroe I'm sorry for the delay, https://codesandbox.io/s/sharp-sanderson-dm6zo?file=/middleware/user.js:70-101 - but i can't build this project and github project - https://github.com/lwswnnscrm/split-chuncks-nuxt

[2020-12-23 11:06] sjoerdloeve commented on #8544
@danielroe Alright, that's working indeed. What about dynamic image paths? I'm now rendering the path to the file like this: `<img :src="require('../static/images/features/'+trigger.image)" :alt="trigger.title">` because this ain't working: `<img :src="'/images/features/'+trigger.name" :alt="trigger.title">` But that results in a compiled file in the _nuxt directory.